// SIMAI Framework
// https://simai.io

// FONT SIZE

// @include layer-priority(utility,default) {
    @include breakpoint-media(xs) {
        $infix: breakpoint-infix(xs, $breakpoint-array);

        @each $size-range-name, $range-array in $size-array {
            @each $size-name, $size-value in $range-array {
                .#{$infix}text-#{$size-range-name}#{$size-name} {
                    font-size: var(--sf-#{$size-range-name}#{$size-name});
                    line-height: var(--sf-#{$size-range-name}#{$size-name}); 
                }
            }
        }
    }
// }