// SIMAI Framework
// https://simai.io

// Mask Position Array
$mask-position-array: (
	top: top,
	right: right,
	bottom: bottom,
	left: left,
	center: center,
	left-top: left top,
	left-bottom: left bottom,
	right-top: right top,
	right-bottom: right bottom	
);