@media (min-width: 540px) {
  .sm\:line-1\/4 {
    line-height: var(--sf-text--height-1\/4); }
  .sm\:line-1\/3 {
    line-height: var(--sf-text--height-1\/3); }
  .sm\:line-1\/2 {
    line-height: var(--sf-text--height-1\/2); }
  .sm\:line-1 {
    line-height: var(--sf-text--height-1); }
  .sm\:line-2 {
    line-height: var(--sf-text--height-2); }
  .sm\:line-3 {
    line-height: var(--sf-text--height-3); }
  .sm\:line-4 {
    line-height: var(--sf-text--height-4); }
  .sm\:line-5 {
    line-height: var(--sf-text--height-5); }
  .sm\:line-6 {
    line-height: var(--sf-text--height-6); }
  .sm\:line-7 {
    line-height: var(--sf-text--height-7); }
  .sm\:line-8 {
    line-height: var(--sf-text--height-8); }
  .sm\:line-9 {
    line-height: var(--sf-text--height-9); }
  .sm\:line-10 {
    line-height: var(--sf-text--height-10); }
  .sm\:line-11 {
    line-height: var(--sf-text--height-11); }
  .sm\:line-12 {
    line-height: var(--sf-text--height-12); }
  .sm\:line-tight {
    line-height: 1.25; }
  .sm\:line-snug {
    line-height: 1.375; }
  .sm\:line-relaxed {
    line-height: 1.625; }
  .sm\:line-loose {
    line-height: 2; }
  .sm\:line-none {
    line-height: 1; }
  .sm\:line-normal {
    line-height: 1.5; } }

