// SIMAI Framework
// https://simai.io

// PADDING
// @include layer-priority(utility,xl) {
    @include breakpoint-media(xl) {
        $infix: breakpoint-infix(xl, $breakpoint-array);
        
        // Padding size
        // For size use text size variables
        // Atention! Text variables have different size for mobile and destop devices
        @each $size-range-name, $range-array in $size-array {
            @each $size-name, $size-value in $range-array {

                // PADDING SETTINGS
                // for all sides
                .#{$infix}p-#{$size-range-name}#{$size-name} {
                    padding: var(--sf-#{$size-range-name}#{$size-name});
                }

                // for top sides
                .#{$infix}p-top-#{$size-range-name}#{$size-name} {
                    padding-top: var(--sf-#{$size-range-name}#{$size-name});
                }

                // for right sides
                .#{$infix}p-right-#{$size-range-name}#{$size-name} {
                    padding-right: var(--sf-#{$size-range-name}#{$size-name});
                }

                // for bottom sides
                .#{$infix}p-bottom-#{$size-range-name}#{$size-name} {
                    padding-bottom: var(--sf-#{$size-range-name}#{$size-name});
                }    
                
                // for left sides
                .#{$infix}p-left-#{$size-range-name}#{$size-name} {
                    padding-left: var(--sf-#{$size-range-name}#{$size-name});
                }
            }
        }
    }
// }