@media (min-width: 540px) {
  .sm\:self-main-auto {
    justify-self: auto; }
  .sm\:self-main-start {
    justify-self: start; }
  .sm\:self-main-end {
    justify-self: end; }
  .sm\:self-main-center {
    justify-self: center; }
  .sm\:self-main-stretch {
    justify-self: stretch; } }

