.color-inherit {
  color: var(--sf-inherit); }

.color-on-surface {
  color: var(--sf-on-surface); }

.color-on-surface-fixed {
  color: var(--sf-on-surface-fixed); }

.color-on-surface-variant {
  color: var(--sf-on-surface-variant); }

.color-on-surface-inverse {
  color: var(--sf-on-surface-inverse); }

.color-on-surface-inverse-fixed {
  color: var(--sf-on-surface-inverse-fixed); }

.color-disable {
  color: var(--sf-disable); }

.color-on-disable {
  color: var(--sf-on-disable); }

.color-primary {
  color: var(--sf-primary); }

.color-on-primary {
  color: var(--sf-on-primary); }

.color-on-primary-container {
  color: var(--sf-on-primary-container); }

.color-on-primary-container-graphic {
  color: var(--sf-on-primary-container-graphic); }

.color-secondary {
  color: var(--sf-secondary); }

.color-on-secondary {
  color: var(--sf-on-secondary); }

.color-on-secondary-container {
  color: var(--sf-on-secondary-container); }

.color-on-secondary-container-graphic {
  color: var(--sf-on-secondary-container-graphic); }

.color-tertiary {
  color: var(--sf-tertiary); }

.color-on-tertiary {
  color: var(--sf-on-tertiary); }

.color-on-tertiary-container {
  color: var(--sf-on-tertiary-container); }

.color-on-tertiary-container-graphic {
  color: var(--sf-on-tertiary-container-graphic); }

.color-error {
  color: var(--sf-error); }

.color-on-error {
  color: var(--sf-on-error); }

.color-on-error-container {
  color: var(--sf-on-error-container); }

.color-on-error-container-graphic {
  color: var(--sf-on-error-container-graphic); }

.color-warning {
  color: var(--sf-warning); }

.color-on-warning {
  color: var(--sf-on-warning); }

.color-on-warning-container {
  color: var(--sf-on-warning-container); }

.color-on-warning-container-graphic {
  color: var(--sf-on-warning-container-graphic); }

.color-success {
  color: var(--sf-success); }

.color-on-success {
  color: var(--sf-on-success); }

.color-on-success-container {
  color: var(--sf-on-success-container); }

.color-on-success-container-graphic {
  color: var(--sf-on-success-container-graphic); }

