@media (min-width: 1140px) {
  .xl\:order-1 {
    order: 1; }
  .xl\:order-2 {
    order: 2; }
  .xl\:order-3 {
    order: 3; }
  .xl\:order-4 {
    order: 4; }
  .xl\:order-5 {
    order: 5; }
  .xl\:order-6 {
    order: 6; }
  .xl\:order-7 {
    order: 7; }
  .xl\:order-8 {
    order: 8; }
  .xl\:order-9 {
    order: 9; }
  .xl\:order-10 {
    order: 10; }
  .xl\:order-11 {
    order: 11; }
  .xl\:order-12 {
    order: 12; }
  .xl\:order-first {
    order: -9999; }
  .xl\:order-last {
    order: 9999; }
  .xl\:order-none {
    order: 0; } }

