@media (min-width: 960px) {
  .lg\:flex-row {
    flex-direction: row; }
  .lg\:flex-col {
    flex-direction: column; }
  .lg\:flex-row-reverse {
    flex-direction: row-reverse; }
  .lg\:flex-col-reverse {
    flex-direction: column-reverse; } }

