// SIMAI Framework
// https://simai.io

// STRIPES

$infix: xl;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        // STRIPE SIZE
        // Size size from 1 to 9. Use SIMAI Framework Size System
        @each $size-name, $size-value in $stripe-size-array {
            .#{$infix}stripe-size-#{$size-name} {
                --sf-stripe--size: var(--sf-#{$size-value});
            }
        }
    }
// }