@media (min-width: 540px) {
  .sm\:object-contain {
    object-fit: contain; }
  .sm\:object-cover {
    object-fit: cover; }
  .sm\:object-fill {
    object-fit: fill; }
  .sm\:object-none {
    object-fit: none; }
  .sm\:object-scale-down {
    object-fit: scale-down; } }

