@media (min-width: 720px) {
  .md\:bg-origin-border {
    background-origin: border-box; }
  .md\:bg-origin-padding {
    background-origin: padding-box; }
  .md\:bg-origin-content {
    background-origin: content-box; } }

