// SIMAI Framework
// https://simai.io

// Mask Repeat Array
$mask-repeat-array: (
	repeat: repeat,
	repeat-none: no-repeat,
	repeat-x: repeat-x,
	repeat-y: repeat-y,
	repeat-round: round,
	repeat-space: space
);