@media (min-width: 1140px) {
  .xl\:start-start {
    justify-content: flex-start;
    align-items: flex-start; }
  .xl\:start-center {
    justify-content: flex-start;
    align-items: center; }
  .xl\:start-end {
    justify-content: flex-start;
    align-items: flex-end; }
  .xl\:center-start {
    justify-content: center;
    align-items: flex-start; }
  .xl\:center-center {
    justify-content: center;
    align-items: center; }
  .xl\:center-end {
    justify-content: center;
    align-items: flex-end; }
  .xl\:end-start {
    justify-content: flex-end;
    align-items: flex-start; }
  .xl\:end-center {
    justify-content: flex-end;
    align-items: center; }
  .xl\:end-end {
    justify-content: flex-end;
    align-items: flex-end; } }

