// SIMAI Framework
// https://simai.io

// TABLE

// Table

$table-color: var(--sf-color--text-primary);
$table-bg: inherit;
$table-border-color: var(--sf-outline-variant);
$table-accent-bg: #0000;

$table-stripe-color: var(--sf-color--text-primary);
$table-stripe-bg: var(--sf-surface-transparent-select);

$table-active-color: var(--sf-color--text-primary);
$table-active-bg: var(--sf-surface-transparent-select);

$table-hover-color: var(--sf-color--text-primary);
$table-hover-bg: var(--sf-surface-transparent-hover);

$table-cell-padding-y: .5rem;
$table-cell-padding-x: .5rem;
$table-cell-padding-y-sm: .25rem;
$table-cell-padding-x-sm: .25rem;

$table-array-layout: (
    auto: auto,
    fixed: fixed
);