@media (min-width: 720px) {
  .md\:self-auto {
    place-self: auto; }
  .md\:self-start {
    place-self: start; }
  .md\:self-end {
    place-self: end; }
  .md\:self-center {
    place-self: center; }
  .md\:self-stretch {
    place-self: stretch; } }

