@media (min-width: 960px) {
  .lg\:measure {
    max-width: var(--sf-text--measure); }
  .lg\:measure-wide {
    max-width: var(--sf-text--measure-wide); }
  .lg\:measure-narrow {
    max-width: var(--sf-text--measure-narrow); } }

