@media (min-width: 1140px) {
  .xl\:content-cross-start {
    align-content: flex-start; }
  .xl\:content-cross-end {
    align-content: flex-end; }
  .xl\:content-cross-center {
    align-content: center; }
  .xl\:content-cross-between {
    align-content: space-between; }
  .xl\:content-cross-around {
    align-content: space-around; }
  .xl\:content-cross-evenly {
    align-content: space-evenly; }
  .xl\:content-cross-stretch {
    align-content: stretch; } }

