// SIMAI Framework
// https://simai.io

// FONT WEIGHT

$infix: hover;

// @include layer-priority(utility,$infix) {
    
    // Font Weight Named
    @each $font-weight-named-name, $font-weight-named-value in $font-weight-named-array {
        .#{$infix}\:#{$font-weight-named-name}:#{$infix} {
            font-weight: #{$font-weight-named-value};
        }
    }

    // Font Weight
    @each $font-weight-name, $font-weight-value in $font-weight-array {
        .#{$infix}\:weight-#{$font-weight-name}:#{$infix} {
            font-weight: #{$font-weight-value};
        }
    }
// }