// SIMAI Framework
// https://simai.io

// OVERSCROLL

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        @each $overscroll-name,$overscroll-value in $overscroll-array {
            .#{$infix}scroll-over-#{$overscroll-name} {
                overscroll-behavior: #{$overscroll-value};
            }

            .#{$infix}scroll-over-x-#{$overscroll-name} {
                overscroll-behavior-x: #{$overscroll-value};
            }

            .#{$infix}scroll-over-y-#{$overscroll-name} {
                overscroll-behavior-y: #{$overscroll-value};
            }
        }
    }
// }