.hover\:ring-offset-gray-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-0r), var(--sf-gray-0g), var(--sf-gray-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-1r), var(--sf-gray-1g), var(--sf-gray-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-2r), var(--sf-gray-2g), var(--sf-gray-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-3r), var(--sf-gray-3g), var(--sf-gray-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-4r), var(--sf-gray-4g), var(--sf-gray-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-5r), var(--sf-gray-5g), var(--sf-gray-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-6r), var(--sf-gray-6g), var(--sf-gray-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-7r), var(--sf-gray-7g), var(--sf-gray-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-8r), var(--sf-gray-8g), var(--sf-gray-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-gray-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-gray-9r), var(--sf-gray-9g), var(--sf-gray-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-0r), var(--sf-red-0g), var(--sf-red-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-1r), var(--sf-red-1g), var(--sf-red-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-2r), var(--sf-red-2g), var(--sf-red-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-3r), var(--sf-red-3g), var(--sf-red-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-4r), var(--sf-red-4g), var(--sf-red-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-5r), var(--sf-red-5g), var(--sf-red-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-6r), var(--sf-red-6g), var(--sf-red-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-7r), var(--sf-red-7g), var(--sf-red-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-8r), var(--sf-red-8g), var(--sf-red-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-red-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-red-9r), var(--sf-red-9g), var(--sf-red-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-0r), var(--sf-orange-0g), var(--sf-orange-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-1r), var(--sf-orange-1g), var(--sf-orange-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-2r), var(--sf-orange-2g), var(--sf-orange-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-3r), var(--sf-orange-3g), var(--sf-orange-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-4r), var(--sf-orange-4g), var(--sf-orange-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-5r), var(--sf-orange-5g), var(--sf-orange-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-6r), var(--sf-orange-6g), var(--sf-orange-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-7r), var(--sf-orange-7g), var(--sf-orange-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-8r), var(--sf-orange-8g), var(--sf-orange-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-orange-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-orange-9r), var(--sf-orange-9g), var(--sf-orange-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-0r), var(--sf-yellow-0g), var(--sf-yellow-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-1r), var(--sf-yellow-1g), var(--sf-yellow-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-2r), var(--sf-yellow-2g), var(--sf-yellow-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-3r), var(--sf-yellow-3g), var(--sf-yellow-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-4r), var(--sf-yellow-4g), var(--sf-yellow-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-5r), var(--sf-yellow-5g), var(--sf-yellow-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-6r), var(--sf-yellow-6g), var(--sf-yellow-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-7r), var(--sf-yellow-7g), var(--sf-yellow-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-8r), var(--sf-yellow-8g), var(--sf-yellow-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-yellow-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-yellow-9r), var(--sf-yellow-9g), var(--sf-yellow-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-0r), var(--sf-green-0g), var(--sf-green-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-1r), var(--sf-green-1g), var(--sf-green-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-2r), var(--sf-green-2g), var(--sf-green-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-3r), var(--sf-green-3g), var(--sf-green-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-4r), var(--sf-green-4g), var(--sf-green-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-5r), var(--sf-green-5g), var(--sf-green-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-6r), var(--sf-green-6g), var(--sf-green-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-7r), var(--sf-green-7g), var(--sf-green-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-8r), var(--sf-green-8g), var(--sf-green-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-green-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-green-9r), var(--sf-green-9g), var(--sf-green-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-0r), var(--sf-blue-0g), var(--sf-blue-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-1r), var(--sf-blue-1g), var(--sf-blue-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-2r), var(--sf-blue-2g), var(--sf-blue-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-3r), var(--sf-blue-3g), var(--sf-blue-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-4r), var(--sf-blue-4g), var(--sf-blue-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-5r), var(--sf-blue-5g), var(--sf-blue-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-6r), var(--sf-blue-6g), var(--sf-blue-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-7r), var(--sf-blue-7g), var(--sf-blue-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-8r), var(--sf-blue-8g), var(--sf-blue-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-blue-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-blue-9r), var(--sf-blue-9g), var(--sf-blue-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-0r), var(--sf-purple-0g), var(--sf-purple-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-1r), var(--sf-purple-1g), var(--sf-purple-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-2r), var(--sf-purple-2g), var(--sf-purple-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-3r), var(--sf-purple-3g), var(--sf-purple-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-4r), var(--sf-purple-4g), var(--sf-purple-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-5r), var(--sf-purple-5g), var(--sf-purple-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-6r), var(--sf-purple-6g), var(--sf-purple-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-7r), var(--sf-purple-7g), var(--sf-purple-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-8r), var(--sf-purple-8g), var(--sf-purple-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-purple-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-purple-9r), var(--sf-purple-9g), var(--sf-purple-9b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-0:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-0r), var(--sf-pink-0g), var(--sf-pink-0b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-1:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-1r), var(--sf-pink-1g), var(--sf-pink-1b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-2:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-2r), var(--sf-pink-2g), var(--sf-pink-2b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-3:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-3r), var(--sf-pink-3g), var(--sf-pink-3b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-4:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-4r), var(--sf-pink-4g), var(--sf-pink-4b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-5:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-5r), var(--sf-pink-5g), var(--sf-pink-5b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-6:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-6r), var(--sf-pink-6g), var(--sf-pink-6b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-7:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-7r), var(--sf-pink-7g), var(--sf-pink-7b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-8:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-8r), var(--sf-pink-8g), var(--sf-pink-8b), var(--sf-ring--alfa));
}

.hover\:ring-offset-pink-9:hover {
  --sf-ring-offset-color: rgba(var(--sf-pink-9r), var(--sf-pink-9g), var(--sf-pink-9b), var(--sf-ring--alfa));
}
