// SIMAI Framework
// https://simai.io

// SHADOW

$drop-shadow-all: '';
$infix: breakpoint-infix(xs, $breakpoint-array);

@each $shadow-name, $shadow-value in $drop-shadow-color-array {
    $drop-shadow-all: '#{$drop-shadow-all}.#{$infix}drop-shadow-#{$shadow-name},';
}

$infix: xs;

// @include layer-priority(utility,default) {
  @include breakpoint-media($infix) {
      $infix: breakpoint-infix($infix, $breakpoint-array);

      #{$drop-shadow-all} {
          --sf-shadow: 0 0 #0000;
          --sf-shadow-colored: 0 0 #0000;
      }
      
      #{$drop-shadow-all} {
          filter: var(--sf-drop-shadow);
      }

    // Drop Shadow Color
    @each $drop-shadow-color-name, $drop-shadow-color-value in $drop-shadow-color-array {
      .#{$infix}drop-shadow-#{$drop-shadow-color-name} {
        --sf-drop-shadow-color: var(--sf-#{$drop-shadow-color-value});
      }
    }
  }
// }