// SIMAI Framework
// https://simai.io

// SHADOW
$mobile: xs;

// @include layer-priority(utility,default) {
  @include breakpoint-media($mobile) {
    $infix: breakpoint-infix($mobile, $breakpoint-array);

    // Box Shadow Color
    @each $box-shadow-color-name, $box-shadow-color-value in $box-shadow-color-array {
      .#{$infix}shadow-#{$box-shadow-color-name} {
        --sf-shadow-color: var(--sf-#{$box-shadow-color-value});
      }
    }
  }
// }