@media (min-width: 960px) {
  .lg\:static {
    position: static; }
  .lg\:fixed {
    position: fixed; }
  .lg\:absolute {
    position: absolute; }
  .lg\:relative {
    position: relative; }
  .lg\:sticky {
    position: sticky; } }

