@media (min-width: 1140px) {
  .xl\:bg-origin-border {
    background-origin: border-box; }
  .xl\:bg-origin-padding {
    background-origin: padding-box; }
  .xl\:bg-origin-content {
    background-origin: content-box; } }

