// SIMAI Framework
// https://simai.io

// INTERACTIVITY

$infix: xs;

// @include layer-priority(utility,default) {
	@include breakpoint-media($infix) {
		$infix: breakpoint-infix($infix, $breakpoint-array);

		// Will Change
		@each $will-change-name, $will-change-value in $will-change-array {
			.#{$infix}will-change-#{$will-change-name} {
				will-change: #{$will-change-value};
			}
		}
	}
// }