@media (min-width: 992px) {
  .lg\:saturate-1, .lg\:saturate-2, .lg\:saturate-3, .lg\:saturate-4, .lg\:saturate-0 {
    --sf-blur: ;
    --sf-brightness: ;
    --sf-contrast: ;
    --sf-grayscale: ;
    --sf-hue-rotate: ;
    --sf-invert: ;
    --sf-saturate: ;
    --sf-sepia: ;
    --sf-drop-shadow: ;
    filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
  }
  .lg\:saturate-1 {
    --sf-saturate: saturate(0.5);
  }
  .lg\:saturate-2 {
    --sf-saturate: saturate(1);
  }
  .lg\:saturate-3 {
    --sf-saturate: saturate(1.5);
  }
  .lg\:saturate-4 {
    --sf-saturate: saturate(2);
  }
  .lg\:saturate-0 {
    --sf-saturate: saturate(0);
  }
}
