.ring-offset-1 {
  --sf-ring-offset-width: var(--sf-px);
}

.ring-offset-2 {
  --sf-ring-offset-width: var(--sf-a2);
}

.ring-offset-3 {
  --sf-ring-offset-width: var(--sf-a3);
}

.ring-offset-4 {
  --sf-ring-offset-width: var(--sf-a4);
}

.ring-offset-0 {
  --sf-ring-offset-width: var(--sf-0);
}
