.scroll-bg-transparent {
  --sf-scroll-bg-track: var(--sf-transparent); }

.scroll-bg-current {
  --sf-scroll-bg-track: var(--sf-current); }

.scroll-bg-surface {
  --sf-scroll-bg-track: var(--sf-surface-transparent-overlay); }

.scroll-bg-primary {
  --sf-scroll-bg-track: var(--sf-primary-transparent-overlay); }

.scroll-bg-secondary {
  --sf-scroll-bg-track: var(--sf-secondary-transparent-overlay); }

.scroll-bg-tertiary {
  --sf-scroll-bg-track: var(--sf-tertiary-transparent-overlay); }

