.active\:decoration-inherit:active {
  text-decoration-color: var(--sf-inherit); }

.active\:decoration-current:active {
  text-decoration-color: var(--sf-currentColor); }

.active\:decoration-transparent:active {
  text-decoration-color: var(--sf-transparent); }

.active\:decoration-primary:active {
  text-decoration-color: var(--sf-outline-primary); }

.active\:decoration-secondary:active {
  text-decoration-color: var(--sf-outline-secondary); }

.active\:decoration-tertiary:active {
  text-decoration-color: var(--sf-outline-tertiary); }

.active\:decoration-error:active {
  text-decoration-color: var(--sf-outline-error); }

.active\:decoration-warning:active {
  text-decoration-color: var(--sf-outline-warning); }

.active\:decoration-success:active {
  text-decoration-color: var(--sf-outline-success); }

