// SIMAI Framework
// https://simai.io

// TYPOFRAPHY

// Text Transform
$text-transform-array: (
    lowercase: lowercase,
    uppercase: uppercase,
    capitalize: capitalize,
    normalcase: none
);