@media (min-width: 960px) {
  .lg\:stroke-1 {
    stroke-width: var(--sf-a1); }
  .lg\:stroke-2 {
    stroke-width: var(--sf-a2); }
  .lg\:stroke-3 {
    stroke-width: var(--sf-a3); }
  .lg\:stroke-4 {
    stroke-width: var(--sf-a4); }
  .lg\:stroke-5 {
    stroke-width: var(--sf-a5); }
  .lg\:stroke-6 {
    stroke-width: var(--sf-a6); }
  .lg\:stroke-7 {
    stroke-width: var(--sf-a7); }
  .lg\:stroke-8 {
    stroke-width: var(--sf-a8); }
  .lg\:stroke-9 {
    stroke-width: var(--sf-a9); }
  .lg\:stroke-10 {
    stroke-width: var(--sf-b0); }
  .lg\:stroke-0 {
    stroke-width: var(--sf-0); } }

