// SIMAI Framework
// https://simai.io

// ASPECT RATIO

$infix: xl;

// @include layer-priority(utility,$infix) {
	@include breakpoint-media($infix) {
		$infix: breakpoint-infix($infix, $breakpoint-array);

		@each $aspect-ratio-name, $aspect-ratio-value in $aspect-ratio-array {
			.#{$infix}aspect-#{$aspect-ratio-name} {
				aspect-ratio:#{$aspect-ratio-value};
			}
		}
	}
// }