.hover\:decoration-inherit:hover {
  text-decoration-color: var(--sf-inherit); }

.hover\:decoration-current:hover {
  text-decoration-color: var(--sf-currentColor); }

.hover\:decoration-transparent:hover {
  text-decoration-color: var(--sf-transparent); }

.hover\:decoration-primary:hover {
  text-decoration-color: var(--sf-outline-primary); }

.hover\:decoration-secondary:hover {
  text-decoration-color: var(--sf-outline-secondary); }

.hover\:decoration-tertiary:hover {
  text-decoration-color: var(--sf-outline-tertiary); }

.hover\:decoration-error:hover {
  text-decoration-color: var(--sf-outline-error); }

.hover\:decoration-warning:hover {
  text-decoration-color: var(--sf-outline-warning); }

.hover\:decoration-success:hover {
  text-decoration-color: var(--sf-outline-success); }

