.hover\:bg-fb:hover {
  background-color: #2B74E1; }

.hover\:bg-fb-messenger:hover {
  background-color: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%); }

.hover\:bg-youtube:hover {
  background-color: #F60D00; }

.hover\:bg-whatsapp:hover {
  background-color: #30B944; }

.hover\:bg-instagram:hover {
  background-color: #d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); }

.hover\:bg-wechat:hover {
  background-color: #2CAD19; }

.hover\:bg-tiktok:hover {
  background-color: #000000; }

.hover\:bg-sinaweibo:hover {
  background-color: #E32429; }

.hover\:bg-qq:hover {
  background-color: #000000; }

.hover\:bg-telegram:hover {
  background-color: #36A7E7; }

.hover\:bg-snapchat:hover {
  background-color: #FDFC02; }

.hover\:bg-kuaishou:hover {
  background-color: #F74908; }

.hover\:bg-qzone:hover {
  background-color: #FACE00; }

.hover\:bg-pinterest:hover {
  background-color: #CD0900; }

.hover\:bg-twitter:hover {
  background-color: #349AEF; }

.hover\:bg-reddit:hover {
  background-color: #F74502; }

.hover\:bg-quora:hover {
  background-color: #B92C26; }

.hover\:bg-skype:hover {
  background-color: #00aff0; background: linear-gradient(#88d9f8, #00aff0); }

.hover\:bg-msteams:hover {
  background-color: #2C3794; }

.hover\:bg-linkedin:hover {
  background-color: #2466C2; }

.hover\:bg-vk:hover {
  background-color: #0077FF; }

.hover\:bg-viber:hover {
  background-color: #7360F2; }

.hover\:bg-vimeo:hover {
  background-color: #1AB7EA; }

.hover\:bg-ok:hover {
  background-color: #EE8208; }

.hover\:bg-tumblr:hover {
  background-color: #001935; }

.hover\:bg-behance:hover {
  background-color: #0057FF; }

.hover\:bg-soundcloud:hover {
  background-color: #FF5500; }

