@media (min-width: 720px) {
  .md\:stripe-size-1 {
    --sf-stripe--size: var(--sf-a2); }
  .md\:stripe-size-2 {
    --sf-stripe--size: var(--sf-a3); }
  .md\:stripe-size-3 {
    --sf-stripe--size: var(--sf-a4); }
  .md\:stripe-size-4 {
    --sf-stripe--size: var(--sf-a5); } }

