// SIMAI Framework
// https://simai.io

// FLOAT

$infix: lg;

// @include layer-priority(utility,$infix) {
  @include breakpoint-media($infix) {
    $infix: breakpoint-infix($infix, $breakpoint-array);
        
    // Utilities for controlling the wrapping of content around an element
    .#{$infix}float-right   { float: right; }
    .#{$infix}float-left    { float: left; }
    .#{$infix}float-none    { float: none; }
  }
// }