.scroll-bg-1 {
  --sf-scroll-bg-width: var(--sf-a1); }

.scroll-bg-2 {
  --sf-scroll-bg-width: var(--sf-a2); }

.scroll-bg-3 {
  --sf-scroll-bg-width: var(--sf-a3); }

.scroll-bg-4 {
  --sf-scroll-bg-width: var(--sf-a4); }

