.top-a0 {
  top: var(--sf-a0); }

.-top-a0 {
  top: calc(0rem - var(--sf-a0)); }

.right-a0 {
  right: var(--sf-a0); }

.-right-a0 {
  right: calc(0rem - var(--sf-a0)); }

.bottom-a0 {
  bottom: var(--sf-a0); }

.-bottom-a0 {
  bottom: calc(0rem - var(--sf-a0)); }

.left-a0 {
  left: var(--sf-a0); }

.-left-a0 {
  left: calc(0rem - var(--sf-a0)); }

.top-a1 {
  top: var(--sf-a1); }

.-top-a1 {
  top: calc(0rem - var(--sf-a1)); }

.right-a1 {
  right: var(--sf-a1); }

.-right-a1 {
  right: calc(0rem - var(--sf-a1)); }

.bottom-a1 {
  bottom: var(--sf-a1); }

.-bottom-a1 {
  bottom: calc(0rem - var(--sf-a1)); }

.left-a1 {
  left: var(--sf-a1); }

.-left-a1 {
  left: calc(0rem - var(--sf-a1)); }

.top-a2 {
  top: var(--sf-a2); }

.-top-a2 {
  top: calc(0rem - var(--sf-a2)); }

.right-a2 {
  right: var(--sf-a2); }

.-right-a2 {
  right: calc(0rem - var(--sf-a2)); }

.bottom-a2 {
  bottom: var(--sf-a2); }

.-bottom-a2 {
  bottom: calc(0rem - var(--sf-a2)); }

.left-a2 {
  left: var(--sf-a2); }

.-left-a2 {
  left: calc(0rem - var(--sf-a2)); }

.top-a3 {
  top: var(--sf-a3); }

.-top-a3 {
  top: calc(0rem - var(--sf-a3)); }

.right-a3 {
  right: var(--sf-a3); }

.-right-a3 {
  right: calc(0rem - var(--sf-a3)); }

.bottom-a3 {
  bottom: var(--sf-a3); }

.-bottom-a3 {
  bottom: calc(0rem - var(--sf-a3)); }

.left-a3 {
  left: var(--sf-a3); }

.-left-a3 {
  left: calc(0rem - var(--sf-a3)); }

.top-a4 {
  top: var(--sf-a4); }

.-top-a4 {
  top: calc(0rem - var(--sf-a4)); }

.right-a4 {
  right: var(--sf-a4); }

.-right-a4 {
  right: calc(0rem - var(--sf-a4)); }

.bottom-a4 {
  bottom: var(--sf-a4); }

.-bottom-a4 {
  bottom: calc(0rem - var(--sf-a4)); }

.left-a4 {
  left: var(--sf-a4); }

.-left-a4 {
  left: calc(0rem - var(--sf-a4)); }

.top-a5 {
  top: var(--sf-a5); }

.-top-a5 {
  top: calc(0rem - var(--sf-a5)); }

.right-a5 {
  right: var(--sf-a5); }

.-right-a5 {
  right: calc(0rem - var(--sf-a5)); }

.bottom-a5 {
  bottom: var(--sf-a5); }

.-bottom-a5 {
  bottom: calc(0rem - var(--sf-a5)); }

.left-a5 {
  left: var(--sf-a5); }

.-left-a5 {
  left: calc(0rem - var(--sf-a5)); }

.top-a6 {
  top: var(--sf-a6); }

.-top-a6 {
  top: calc(0rem - var(--sf-a6)); }

.right-a6 {
  right: var(--sf-a6); }

.-right-a6 {
  right: calc(0rem - var(--sf-a6)); }

.bottom-a6 {
  bottom: var(--sf-a6); }

.-bottom-a6 {
  bottom: calc(0rem - var(--sf-a6)); }

.left-a6 {
  left: var(--sf-a6); }

.-left-a6 {
  left: calc(0rem - var(--sf-a6)); }

.top-a7 {
  top: var(--sf-a7); }

.-top-a7 {
  top: calc(0rem - var(--sf-a7)); }

.right-a7 {
  right: var(--sf-a7); }

.-right-a7 {
  right: calc(0rem - var(--sf-a7)); }

.bottom-a7 {
  bottom: var(--sf-a7); }

.-bottom-a7 {
  bottom: calc(0rem - var(--sf-a7)); }

.left-a7 {
  left: var(--sf-a7); }

.-left-a7 {
  left: calc(0rem - var(--sf-a7)); }

.top-a8 {
  top: var(--sf-a8); }

.-top-a8 {
  top: calc(0rem - var(--sf-a8)); }

.right-a8 {
  right: var(--sf-a8); }

.-right-a8 {
  right: calc(0rem - var(--sf-a8)); }

.bottom-a8 {
  bottom: var(--sf-a8); }

.-bottom-a8 {
  bottom: calc(0rem - var(--sf-a8)); }

.left-a8 {
  left: var(--sf-a8); }

.-left-a8 {
  left: calc(0rem - var(--sf-a8)); }

.top-a9 {
  top: var(--sf-a9); }

.-top-a9 {
  top: calc(0rem - var(--sf-a9)); }

.right-a9 {
  right: var(--sf-a9); }

.-right-a9 {
  right: calc(0rem - var(--sf-a9)); }

.bottom-a9 {
  bottom: var(--sf-a9); }

.-bottom-a9 {
  bottom: calc(0rem - var(--sf-a9)); }

.left-a9 {
  left: var(--sf-a9); }

.-left-a9 {
  left: calc(0rem - var(--sf-a9)); }

.top-b0 {
  top: var(--sf-b0); }

.-top-b0 {
  top: calc(0rem - var(--sf-b0)); }

.right-b0 {
  right: var(--sf-b0); }

.-right-b0 {
  right: calc(0rem - var(--sf-b0)); }

.bottom-b0 {
  bottom: var(--sf-b0); }

.-bottom-b0 {
  bottom: calc(0rem - var(--sf-b0)); }

.left-b0 {
  left: var(--sf-b0); }

.-left-b0 {
  left: calc(0rem - var(--sf-b0)); }

.top-b1 {
  top: var(--sf-b1); }

.-top-b1 {
  top: calc(0rem - var(--sf-b1)); }

.right-b1 {
  right: var(--sf-b1); }

.-right-b1 {
  right: calc(0rem - var(--sf-b1)); }

.bottom-b1 {
  bottom: var(--sf-b1); }

.-bottom-b1 {
  bottom: calc(0rem - var(--sf-b1)); }

.left-b1 {
  left: var(--sf-b1); }

.-left-b1 {
  left: calc(0rem - var(--sf-b1)); }

.top-b2 {
  top: var(--sf-b2); }

.-top-b2 {
  top: calc(0rem - var(--sf-b2)); }

.right-b2 {
  right: var(--sf-b2); }

.-right-b2 {
  right: calc(0rem - var(--sf-b2)); }

.bottom-b2 {
  bottom: var(--sf-b2); }

.-bottom-b2 {
  bottom: calc(0rem - var(--sf-b2)); }

.left-b2 {
  left: var(--sf-b2); }

.-left-b2 {
  left: calc(0rem - var(--sf-b2)); }

.top-b3 {
  top: var(--sf-b3); }

.-top-b3 {
  top: calc(0rem - var(--sf-b3)); }

.right-b3 {
  right: var(--sf-b3); }

.-right-b3 {
  right: calc(0rem - var(--sf-b3)); }

.bottom-b3 {
  bottom: var(--sf-b3); }

.-bottom-b3 {
  bottom: calc(0rem - var(--sf-b3)); }

.left-b3 {
  left: var(--sf-b3); }

.-left-b3 {
  left: calc(0rem - var(--sf-b3)); }

.top-b4 {
  top: var(--sf-b4); }

.-top-b4 {
  top: calc(0rem - var(--sf-b4)); }

.right-b4 {
  right: var(--sf-b4); }

.-right-b4 {
  right: calc(0rem - var(--sf-b4)); }

.bottom-b4 {
  bottom: var(--sf-b4); }

.-bottom-b4 {
  bottom: calc(0rem - var(--sf-b4)); }

.left-b4 {
  left: var(--sf-b4); }

.-left-b4 {
  left: calc(0rem - var(--sf-b4)); }

.top-b5 {
  top: var(--sf-b5); }

.-top-b5 {
  top: calc(0rem - var(--sf-b5)); }

.right-b5 {
  right: var(--sf-b5); }

.-right-b5 {
  right: calc(0rem - var(--sf-b5)); }

.bottom-b5 {
  bottom: var(--sf-b5); }

.-bottom-b5 {
  bottom: calc(0rem - var(--sf-b5)); }

.left-b5 {
  left: var(--sf-b5); }

.-left-b5 {
  left: calc(0rem - var(--sf-b5)); }

.top-b6 {
  top: var(--sf-b6); }

.-top-b6 {
  top: calc(0rem - var(--sf-b6)); }

.right-b6 {
  right: var(--sf-b6); }

.-right-b6 {
  right: calc(0rem - var(--sf-b6)); }

.bottom-b6 {
  bottom: var(--sf-b6); }

.-bottom-b6 {
  bottom: calc(0rem - var(--sf-b6)); }

.left-b6 {
  left: var(--sf-b6); }

.-left-b6 {
  left: calc(0rem - var(--sf-b6)); }

.top-b7 {
  top: var(--sf-b7); }

.-top-b7 {
  top: calc(0rem - var(--sf-b7)); }

.right-b7 {
  right: var(--sf-b7); }

.-right-b7 {
  right: calc(0rem - var(--sf-b7)); }

.bottom-b7 {
  bottom: var(--sf-b7); }

.-bottom-b7 {
  bottom: calc(0rem - var(--sf-b7)); }

.left-b7 {
  left: var(--sf-b7); }

.-left-b7 {
  left: calc(0rem - var(--sf-b7)); }

.top-b8 {
  top: var(--sf-b8); }

.-top-b8 {
  top: calc(0rem - var(--sf-b8)); }

.right-b8 {
  right: var(--sf-b8); }

.-right-b8 {
  right: calc(0rem - var(--sf-b8)); }

.bottom-b8 {
  bottom: var(--sf-b8); }

.-bottom-b8 {
  bottom: calc(0rem - var(--sf-b8)); }

.left-b8 {
  left: var(--sf-b8); }

.-left-b8 {
  left: calc(0rem - var(--sf-b8)); }

.top-b9 {
  top: var(--sf-b9); }

.-top-b9 {
  top: calc(0rem - var(--sf-b9)); }

.right-b9 {
  right: var(--sf-b9); }

.-right-b9 {
  right: calc(0rem - var(--sf-b9)); }

.bottom-b9 {
  bottom: var(--sf-b9); }

.-bottom-b9 {
  bottom: calc(0rem - var(--sf-b9)); }

.left-b9 {
  left: var(--sf-b9); }

.-left-b9 {
  left: calc(0rem - var(--sf-b9)); }

.top-c0 {
  top: var(--sf-c0); }

.-top-c0 {
  top: calc(0rem - var(--sf-c0)); }

.right-c0 {
  right: var(--sf-c0); }

.-right-c0 {
  right: calc(0rem - var(--sf-c0)); }

.bottom-c0 {
  bottom: var(--sf-c0); }

.-bottom-c0 {
  bottom: calc(0rem - var(--sf-c0)); }

.left-c0 {
  left: var(--sf-c0); }

.-left-c0 {
  left: calc(0rem - var(--sf-c0)); }

.top-c1 {
  top: var(--sf-c1); }

.-top-c1 {
  top: calc(0rem - var(--sf-c1)); }

.right-c1 {
  right: var(--sf-c1); }

.-right-c1 {
  right: calc(0rem - var(--sf-c1)); }

.bottom-c1 {
  bottom: var(--sf-c1); }

.-bottom-c1 {
  bottom: calc(0rem - var(--sf-c1)); }

.left-c1 {
  left: var(--sf-c1); }

.-left-c1 {
  left: calc(0rem - var(--sf-c1)); }

.top-c2 {
  top: var(--sf-c2); }

.-top-c2 {
  top: calc(0rem - var(--sf-c2)); }

.right-c2 {
  right: var(--sf-c2); }

.-right-c2 {
  right: calc(0rem - var(--sf-c2)); }

.bottom-c2 {
  bottom: var(--sf-c2); }

.-bottom-c2 {
  bottom: calc(0rem - var(--sf-c2)); }

.left-c2 {
  left: var(--sf-c2); }

.-left-c2 {
  left: calc(0rem - var(--sf-c2)); }

.top-c3 {
  top: var(--sf-c3); }

.-top-c3 {
  top: calc(0rem - var(--sf-c3)); }

.right-c3 {
  right: var(--sf-c3); }

.-right-c3 {
  right: calc(0rem - var(--sf-c3)); }

.bottom-c3 {
  bottom: var(--sf-c3); }

.-bottom-c3 {
  bottom: calc(0rem - var(--sf-c3)); }

.left-c3 {
  left: var(--sf-c3); }

.-left-c3 {
  left: calc(0rem - var(--sf-c3)); }

.top-c4 {
  top: var(--sf-c4); }

.-top-c4 {
  top: calc(0rem - var(--sf-c4)); }

.right-c4 {
  right: var(--sf-c4); }

.-right-c4 {
  right: calc(0rem - var(--sf-c4)); }

.bottom-c4 {
  bottom: var(--sf-c4); }

.-bottom-c4 {
  bottom: calc(0rem - var(--sf-c4)); }

.left-c4 {
  left: var(--sf-c4); }

.-left-c4 {
  left: calc(0rem - var(--sf-c4)); }

.top-c5 {
  top: var(--sf-c5); }

.-top-c5 {
  top: calc(0rem - var(--sf-c5)); }

.right-c5 {
  right: var(--sf-c5); }

.-right-c5 {
  right: calc(0rem - var(--sf-c5)); }

.bottom-c5 {
  bottom: var(--sf-c5); }

.-bottom-c5 {
  bottom: calc(0rem - var(--sf-c5)); }

.left-c5 {
  left: var(--sf-c5); }

.-left-c5 {
  left: calc(0rem - var(--sf-c5)); }

.top-c6 {
  top: var(--sf-c6); }

.-top-c6 {
  top: calc(0rem - var(--sf-c6)); }

.right-c6 {
  right: var(--sf-c6); }

.-right-c6 {
  right: calc(0rem - var(--sf-c6)); }

.bottom-c6 {
  bottom: var(--sf-c6); }

.-bottom-c6 {
  bottom: calc(0rem - var(--sf-c6)); }

.left-c6 {
  left: var(--sf-c6); }

.-left-c6 {
  left: calc(0rem - var(--sf-c6)); }

.top-c7 {
  top: var(--sf-c7); }

.-top-c7 {
  top: calc(0rem - var(--sf-c7)); }

.right-c7 {
  right: var(--sf-c7); }

.-right-c7 {
  right: calc(0rem - var(--sf-c7)); }

.bottom-c7 {
  bottom: var(--sf-c7); }

.-bottom-c7 {
  bottom: calc(0rem - var(--sf-c7)); }

.left-c7 {
  left: var(--sf-c7); }

.-left-c7 {
  left: calc(0rem - var(--sf-c7)); }

.top-c8 {
  top: var(--sf-c8); }

.-top-c8 {
  top: calc(0rem - var(--sf-c8)); }

.right-c8 {
  right: var(--sf-c8); }

.-right-c8 {
  right: calc(0rem - var(--sf-c8)); }

.bottom-c8 {
  bottom: var(--sf-c8); }

.-bottom-c8 {
  bottom: calc(0rem - var(--sf-c8)); }

.left-c8 {
  left: var(--sf-c8); }

.-left-c8 {
  left: calc(0rem - var(--sf-c8)); }

.top-c9 {
  top: var(--sf-c9); }

.-top-c9 {
  top: calc(0rem - var(--sf-c9)); }

.right-c9 {
  right: var(--sf-c9); }

.-right-c9 {
  right: calc(0rem - var(--sf-c9)); }

.bottom-c9 {
  bottom: var(--sf-c9); }

.-bottom-c9 {
  bottom: calc(0rem - var(--sf-c9)); }

.left-c9 {
  left: var(--sf-c9); }

.-left-c9 {
  left: calc(0rem - var(--sf-c9)); }

.top-d0 {
  top: var(--sf-d0); }

.-top-d0 {
  top: calc(0rem - var(--sf-d0)); }

.right-d0 {
  right: var(--sf-d0); }

.-right-d0 {
  right: calc(0rem - var(--sf-d0)); }

.bottom-d0 {
  bottom: var(--sf-d0); }

.-bottom-d0 {
  bottom: calc(0rem - var(--sf-d0)); }

.left-d0 {
  left: var(--sf-d0); }

.-left-d0 {
  left: calc(0rem - var(--sf-d0)); }

.top-d1 {
  top: var(--sf-d1); }

.-top-d1 {
  top: calc(0rem - var(--sf-d1)); }

.right-d1 {
  right: var(--sf-d1); }

.-right-d1 {
  right: calc(0rem - var(--sf-d1)); }

.bottom-d1 {
  bottom: var(--sf-d1); }

.-bottom-d1 {
  bottom: calc(0rem - var(--sf-d1)); }

.left-d1 {
  left: var(--sf-d1); }

.-left-d1 {
  left: calc(0rem - var(--sf-d1)); }

.top-d2 {
  top: var(--sf-d2); }

.-top-d2 {
  top: calc(0rem - var(--sf-d2)); }

.right-d2 {
  right: var(--sf-d2); }

.-right-d2 {
  right: calc(0rem - var(--sf-d2)); }

.bottom-d2 {
  bottom: var(--sf-d2); }

.-bottom-d2 {
  bottom: calc(0rem - var(--sf-d2)); }

.left-d2 {
  left: var(--sf-d2); }

.-left-d2 {
  left: calc(0rem - var(--sf-d2)); }

.top-d3 {
  top: var(--sf-d3); }

.-top-d3 {
  top: calc(0rem - var(--sf-d3)); }

.right-d3 {
  right: var(--sf-d3); }

.-right-d3 {
  right: calc(0rem - var(--sf-d3)); }

.bottom-d3 {
  bottom: var(--sf-d3); }

.-bottom-d3 {
  bottom: calc(0rem - var(--sf-d3)); }

.left-d3 {
  left: var(--sf-d3); }

.-left-d3 {
  left: calc(0rem - var(--sf-d3)); }

.top-d4 {
  top: var(--sf-d4); }

.-top-d4 {
  top: calc(0rem - var(--sf-d4)); }

.right-d4 {
  right: var(--sf-d4); }

.-right-d4 {
  right: calc(0rem - var(--sf-d4)); }

.bottom-d4 {
  bottom: var(--sf-d4); }

.-bottom-d4 {
  bottom: calc(0rem - var(--sf-d4)); }

.left-d4 {
  left: var(--sf-d4); }

.-left-d4 {
  left: calc(0rem - var(--sf-d4)); }

.top-d5 {
  top: var(--sf-d5); }

.-top-d5 {
  top: calc(0rem - var(--sf-d5)); }

.right-d5 {
  right: var(--sf-d5); }

.-right-d5 {
  right: calc(0rem - var(--sf-d5)); }

.bottom-d5 {
  bottom: var(--sf-d5); }

.-bottom-d5 {
  bottom: calc(0rem - var(--sf-d5)); }

.left-d5 {
  left: var(--sf-d5); }

.-left-d5 {
  left: calc(0rem - var(--sf-d5)); }

.top-d6 {
  top: var(--sf-d6); }

.-top-d6 {
  top: calc(0rem - var(--sf-d6)); }

.right-d6 {
  right: var(--sf-d6); }

.-right-d6 {
  right: calc(0rem - var(--sf-d6)); }

.bottom-d6 {
  bottom: var(--sf-d6); }

.-bottom-d6 {
  bottom: calc(0rem - var(--sf-d6)); }

.left-d6 {
  left: var(--sf-d6); }

.-left-d6 {
  left: calc(0rem - var(--sf-d6)); }

.top-d7 {
  top: var(--sf-d7); }

.-top-d7 {
  top: calc(0rem - var(--sf-d7)); }

.right-d7 {
  right: var(--sf-d7); }

.-right-d7 {
  right: calc(0rem - var(--sf-d7)); }

.bottom-d7 {
  bottom: var(--sf-d7); }

.-bottom-d7 {
  bottom: calc(0rem - var(--sf-d7)); }

.left-d7 {
  left: var(--sf-d7); }

.-left-d7 {
  left: calc(0rem - var(--sf-d7)); }

.top-d8 {
  top: var(--sf-d8); }

.-top-d8 {
  top: calc(0rem - var(--sf-d8)); }

.right-d8 {
  right: var(--sf-d8); }

.-right-d8 {
  right: calc(0rem - var(--sf-d8)); }

.bottom-d8 {
  bottom: var(--sf-d8); }

.-bottom-d8 {
  bottom: calc(0rem - var(--sf-d8)); }

.left-d8 {
  left: var(--sf-d8); }

.-left-d8 {
  left: calc(0rem - var(--sf-d8)); }

.top-d9 {
  top: var(--sf-d9); }

.-top-d9 {
  top: calc(0rem - var(--sf-d9)); }

.right-d9 {
  right: var(--sf-d9); }

.-right-d9 {
  right: calc(0rem - var(--sf-d9)); }

.bottom-d9 {
  bottom: var(--sf-d9); }

.-bottom-d9 {
  bottom: calc(0rem - var(--sf-d9)); }

.left-d9 {
  left: var(--sf-d9); }

.-left-d9 {
  left: calc(0rem - var(--sf-d9)); }

.top-e0 {
  top: var(--sf-e0); }

.-top-e0 {
  top: calc(0rem - var(--sf-e0)); }

.right-e0 {
  right: var(--sf-e0); }

.-right-e0 {
  right: calc(0rem - var(--sf-e0)); }

.bottom-e0 {
  bottom: var(--sf-e0); }

.-bottom-e0 {
  bottom: calc(0rem - var(--sf-e0)); }

.left-e0 {
  left: var(--sf-e0); }

.-left-e0 {
  left: calc(0rem - var(--sf-e0)); }

.top-e1 {
  top: var(--sf-e1); }

.-top-e1 {
  top: calc(0rem - var(--sf-e1)); }

.right-e1 {
  right: var(--sf-e1); }

.-right-e1 {
  right: calc(0rem - var(--sf-e1)); }

.bottom-e1 {
  bottom: var(--sf-e1); }

.-bottom-e1 {
  bottom: calc(0rem - var(--sf-e1)); }

.left-e1 {
  left: var(--sf-e1); }

.-left-e1 {
  left: calc(0rem - var(--sf-e1)); }

.top-e2 {
  top: var(--sf-e2); }

.-top-e2 {
  top: calc(0rem - var(--sf-e2)); }

.right-e2 {
  right: var(--sf-e2); }

.-right-e2 {
  right: calc(0rem - var(--sf-e2)); }

.bottom-e2 {
  bottom: var(--sf-e2); }

.-bottom-e2 {
  bottom: calc(0rem - var(--sf-e2)); }

.left-e2 {
  left: var(--sf-e2); }

.-left-e2 {
  left: calc(0rem - var(--sf-e2)); }

.top-e3 {
  top: var(--sf-e3); }

.-top-e3 {
  top: calc(0rem - var(--sf-e3)); }

.right-e3 {
  right: var(--sf-e3); }

.-right-e3 {
  right: calc(0rem - var(--sf-e3)); }

.bottom-e3 {
  bottom: var(--sf-e3); }

.-bottom-e3 {
  bottom: calc(0rem - var(--sf-e3)); }

.left-e3 {
  left: var(--sf-e3); }

.-left-e3 {
  left: calc(0rem - var(--sf-e3)); }

.top-e4 {
  top: var(--sf-e4); }

.-top-e4 {
  top: calc(0rem - var(--sf-e4)); }

.right-e4 {
  right: var(--sf-e4); }

.-right-e4 {
  right: calc(0rem - var(--sf-e4)); }

.bottom-e4 {
  bottom: var(--sf-e4); }

.-bottom-e4 {
  bottom: calc(0rem - var(--sf-e4)); }

.left-e4 {
  left: var(--sf-e4); }

.-left-e4 {
  left: calc(0rem - var(--sf-e4)); }

.top-e5 {
  top: var(--sf-e5); }

.-top-e5 {
  top: calc(0rem - var(--sf-e5)); }

.right-e5 {
  right: var(--sf-e5); }

.-right-e5 {
  right: calc(0rem - var(--sf-e5)); }

.bottom-e5 {
  bottom: var(--sf-e5); }

.-bottom-e5 {
  bottom: calc(0rem - var(--sf-e5)); }

.left-e5 {
  left: var(--sf-e5); }

.-left-e5 {
  left: calc(0rem - var(--sf-e5)); }

.top-e6 {
  top: var(--sf-e6); }

.-top-e6 {
  top: calc(0rem - var(--sf-e6)); }

.right-e6 {
  right: var(--sf-e6); }

.-right-e6 {
  right: calc(0rem - var(--sf-e6)); }

.bottom-e6 {
  bottom: var(--sf-e6); }

.-bottom-e6 {
  bottom: calc(0rem - var(--sf-e6)); }

.left-e6 {
  left: var(--sf-e6); }

.-left-e6 {
  left: calc(0rem - var(--sf-e6)); }

.top-e7 {
  top: var(--sf-e7); }

.-top-e7 {
  top: calc(0rem - var(--sf-e7)); }

.right-e7 {
  right: var(--sf-e7); }

.-right-e7 {
  right: calc(0rem - var(--sf-e7)); }

.bottom-e7 {
  bottom: var(--sf-e7); }

.-bottom-e7 {
  bottom: calc(0rem - var(--sf-e7)); }

.left-e7 {
  left: var(--sf-e7); }

.-left-e7 {
  left: calc(0rem - var(--sf-e7)); }

.top-e8 {
  top: var(--sf-e8); }

.-top-e8 {
  top: calc(0rem - var(--sf-e8)); }

.right-e8 {
  right: var(--sf-e8); }

.-right-e8 {
  right: calc(0rem - var(--sf-e8)); }

.bottom-e8 {
  bottom: var(--sf-e8); }

.-bottom-e8 {
  bottom: calc(0rem - var(--sf-e8)); }

.left-e8 {
  left: var(--sf-e8); }

.-left-e8 {
  left: calc(0rem - var(--sf-e8)); }

.top-e9 {
  top: var(--sf-e9); }

.-top-e9 {
  top: calc(0rem - var(--sf-e9)); }

.right-e9 {
  right: var(--sf-e9); }

.-right-e9 {
  right: calc(0rem - var(--sf-e9)); }

.bottom-e9 {
  bottom: var(--sf-e9); }

.-bottom-e9 {
  bottom: calc(0rem - var(--sf-e9)); }

.left-e9 {
  left: var(--sf-e9); }

.-left-e9 {
  left: calc(0rem - var(--sf-e9)); }

.top-f0 {
  top: var(--sf-f0); }

.-top-f0 {
  top: calc(0rem - var(--sf-f0)); }

.right-f0 {
  right: var(--sf-f0); }

.-right-f0 {
  right: calc(0rem - var(--sf-f0)); }

.bottom-f0 {
  bottom: var(--sf-f0); }

.-bottom-f0 {
  bottom: calc(0rem - var(--sf-f0)); }

.left-f0 {
  left: var(--sf-f0); }

.-left-f0 {
  left: calc(0rem - var(--sf-f0)); }

.top-f1 {
  top: var(--sf-f1); }

.-top-f1 {
  top: calc(0rem - var(--sf-f1)); }

.right-f1 {
  right: var(--sf-f1); }

.-right-f1 {
  right: calc(0rem - var(--sf-f1)); }

.bottom-f1 {
  bottom: var(--sf-f1); }

.-bottom-f1 {
  bottom: calc(0rem - var(--sf-f1)); }

.left-f1 {
  left: var(--sf-f1); }

.-left-f1 {
  left: calc(0rem - var(--sf-f1)); }

.top-f2 {
  top: var(--sf-f2); }

.-top-f2 {
  top: calc(0rem - var(--sf-f2)); }

.right-f2 {
  right: var(--sf-f2); }

.-right-f2 {
  right: calc(0rem - var(--sf-f2)); }

.bottom-f2 {
  bottom: var(--sf-f2); }

.-bottom-f2 {
  bottom: calc(0rem - var(--sf-f2)); }

.left-f2 {
  left: var(--sf-f2); }

.-left-f2 {
  left: calc(0rem - var(--sf-f2)); }

.top-f3 {
  top: var(--sf-f3); }

.-top-f3 {
  top: calc(0rem - var(--sf-f3)); }

.right-f3 {
  right: var(--sf-f3); }

.-right-f3 {
  right: calc(0rem - var(--sf-f3)); }

.bottom-f3 {
  bottom: var(--sf-f3); }

.-bottom-f3 {
  bottom: calc(0rem - var(--sf-f3)); }

.left-f3 {
  left: var(--sf-f3); }

.-left-f3 {
  left: calc(0rem - var(--sf-f3)); }

.top-f4 {
  top: var(--sf-f4); }

.-top-f4 {
  top: calc(0rem - var(--sf-f4)); }

.right-f4 {
  right: var(--sf-f4); }

.-right-f4 {
  right: calc(0rem - var(--sf-f4)); }

.bottom-f4 {
  bottom: var(--sf-f4); }

.-bottom-f4 {
  bottom: calc(0rem - var(--sf-f4)); }

.left-f4 {
  left: var(--sf-f4); }

.-left-f4 {
  left: calc(0rem - var(--sf-f4)); }

.top-f5 {
  top: var(--sf-f5); }

.-top-f5 {
  top: calc(0rem - var(--sf-f5)); }

.right-f5 {
  right: var(--sf-f5); }

.-right-f5 {
  right: calc(0rem - var(--sf-f5)); }

.bottom-f5 {
  bottom: var(--sf-f5); }

.-bottom-f5 {
  bottom: calc(0rem - var(--sf-f5)); }

.left-f5 {
  left: var(--sf-f5); }

.-left-f5 {
  left: calc(0rem - var(--sf-f5)); }

.top-f6 {
  top: var(--sf-f6); }

.-top-f6 {
  top: calc(0rem - var(--sf-f6)); }

.right-f6 {
  right: var(--sf-f6); }

.-right-f6 {
  right: calc(0rem - var(--sf-f6)); }

.bottom-f6 {
  bottom: var(--sf-f6); }

.-bottom-f6 {
  bottom: calc(0rem - var(--sf-f6)); }

.left-f6 {
  left: var(--sf-f6); }

.-left-f6 {
  left: calc(0rem - var(--sf-f6)); }

.top-f7 {
  top: var(--sf-f7); }

.-top-f7 {
  top: calc(0rem - var(--sf-f7)); }

.right-f7 {
  right: var(--sf-f7); }

.-right-f7 {
  right: calc(0rem - var(--sf-f7)); }

.bottom-f7 {
  bottom: var(--sf-f7); }

.-bottom-f7 {
  bottom: calc(0rem - var(--sf-f7)); }

.left-f7 {
  left: var(--sf-f7); }

.-left-f7 {
  left: calc(0rem - var(--sf-f7)); }

.top-f8 {
  top: var(--sf-f8); }

.-top-f8 {
  top: calc(0rem - var(--sf-f8)); }

.right-f8 {
  right: var(--sf-f8); }

.-right-f8 {
  right: calc(0rem - var(--sf-f8)); }

.bottom-f8 {
  bottom: var(--sf-f8); }

.-bottom-f8 {
  bottom: calc(0rem - var(--sf-f8)); }

.left-f8 {
  left: var(--sf-f8); }

.-left-f8 {
  left: calc(0rem - var(--sf-f8)); }

.top-f9 {
  top: var(--sf-f9); }

.-top-f9 {
  top: calc(0rem - var(--sf-f9)); }

.right-f9 {
  right: var(--sf-f9); }

.-right-f9 {
  right: calc(0rem - var(--sf-f9)); }

.bottom-f9 {
  bottom: var(--sf-f9); }

.-bottom-f9 {
  bottom: calc(0rem - var(--sf-f9)); }

.left-f9 {
  left: var(--sf-f9); }

.-left-f9 {
  left: calc(0rem - var(--sf-f9)); }

.top-g0 {
  top: var(--sf-g0); }

.-top-g0 {
  top: calc(0rem - var(--sf-g0)); }

.right-g0 {
  right: var(--sf-g0); }

.-right-g0 {
  right: calc(0rem - var(--sf-g0)); }

.bottom-g0 {
  bottom: var(--sf-g0); }

.-bottom-g0 {
  bottom: calc(0rem - var(--sf-g0)); }

.left-g0 {
  left: var(--sf-g0); }

.-left-g0 {
  left: calc(0rem - var(--sf-g0)); }

.top-g1 {
  top: var(--sf-g1); }

.-top-g1 {
  top: calc(0rem - var(--sf-g1)); }

.right-g1 {
  right: var(--sf-g1); }

.-right-g1 {
  right: calc(0rem - var(--sf-g1)); }

.bottom-g1 {
  bottom: var(--sf-g1); }

.-bottom-g1 {
  bottom: calc(0rem - var(--sf-g1)); }

.left-g1 {
  left: var(--sf-g1); }

.-left-g1 {
  left: calc(0rem - var(--sf-g1)); }

.top-g2 {
  top: var(--sf-g2); }

.-top-g2 {
  top: calc(0rem - var(--sf-g2)); }

.right-g2 {
  right: var(--sf-g2); }

.-right-g2 {
  right: calc(0rem - var(--sf-g2)); }

.bottom-g2 {
  bottom: var(--sf-g2); }

.-bottom-g2 {
  bottom: calc(0rem - var(--sf-g2)); }

.left-g2 {
  left: var(--sf-g2); }

.-left-g2 {
  left: calc(0rem - var(--sf-g2)); }

.top-g3 {
  top: var(--sf-g3); }

.-top-g3 {
  top: calc(0rem - var(--sf-g3)); }

.right-g3 {
  right: var(--sf-g3); }

.-right-g3 {
  right: calc(0rem - var(--sf-g3)); }

.bottom-g3 {
  bottom: var(--sf-g3); }

.-bottom-g3 {
  bottom: calc(0rem - var(--sf-g3)); }

.left-g3 {
  left: var(--sf-g3); }

.-left-g3 {
  left: calc(0rem - var(--sf-g3)); }

.top-g4 {
  top: var(--sf-g4); }

.-top-g4 {
  top: calc(0rem - var(--sf-g4)); }

.right-g4 {
  right: var(--sf-g4); }

.-right-g4 {
  right: calc(0rem - var(--sf-g4)); }

.bottom-g4 {
  bottom: var(--sf-g4); }

.-bottom-g4 {
  bottom: calc(0rem - var(--sf-g4)); }

.left-g4 {
  left: var(--sf-g4); }

.-left-g4 {
  left: calc(0rem - var(--sf-g4)); }

.top-g5 {
  top: var(--sf-g5); }

.-top-g5 {
  top: calc(0rem - var(--sf-g5)); }

.right-g5 {
  right: var(--sf-g5); }

.-right-g5 {
  right: calc(0rem - var(--sf-g5)); }

.bottom-g5 {
  bottom: var(--sf-g5); }

.-bottom-g5 {
  bottom: calc(0rem - var(--sf-g5)); }

.left-g5 {
  left: var(--sf-g5); }

.-left-g5 {
  left: calc(0rem - var(--sf-g5)); }

.top-g6 {
  top: var(--sf-g6); }

.-top-g6 {
  top: calc(0rem - var(--sf-g6)); }

.right-g6 {
  right: var(--sf-g6); }

.-right-g6 {
  right: calc(0rem - var(--sf-g6)); }

.bottom-g6 {
  bottom: var(--sf-g6); }

.-bottom-g6 {
  bottom: calc(0rem - var(--sf-g6)); }

.left-g6 {
  left: var(--sf-g6); }

.-left-g6 {
  left: calc(0rem - var(--sf-g6)); }

.top-g7 {
  top: var(--sf-g7); }

.-top-g7 {
  top: calc(0rem - var(--sf-g7)); }

.right-g7 {
  right: var(--sf-g7); }

.-right-g7 {
  right: calc(0rem - var(--sf-g7)); }

.bottom-g7 {
  bottom: var(--sf-g7); }

.-bottom-g7 {
  bottom: calc(0rem - var(--sf-g7)); }

.left-g7 {
  left: var(--sf-g7); }

.-left-g7 {
  left: calc(0rem - var(--sf-g7)); }

.top-g8 {
  top: var(--sf-g8); }

.-top-g8 {
  top: calc(0rem - var(--sf-g8)); }

.right-g8 {
  right: var(--sf-g8); }

.-right-g8 {
  right: calc(0rem - var(--sf-g8)); }

.bottom-g8 {
  bottom: var(--sf-g8); }

.-bottom-g8 {
  bottom: calc(0rem - var(--sf-g8)); }

.left-g8 {
  left: var(--sf-g8); }

.-left-g8 {
  left: calc(0rem - var(--sf-g8)); }

.top-g9 {
  top: var(--sf-g9); }

.-top-g9 {
  top: calc(0rem - var(--sf-g9)); }

.right-g9 {
  right: var(--sf-g9); }

.-right-g9 {
  right: calc(0rem - var(--sf-g9)); }

.bottom-g9 {
  bottom: var(--sf-g9); }

.-bottom-g9 {
  bottom: calc(0rem - var(--sf-g9)); }

.left-g9 {
  left: var(--sf-g9); }

.-left-g9 {
  left: calc(0rem - var(--sf-g9)); }

.top-h0 {
  top: var(--sf-h0); }

.-top-h0 {
  top: calc(0rem - var(--sf-h0)); }

.right-h0 {
  right: var(--sf-h0); }

.-right-h0 {
  right: calc(0rem - var(--sf-h0)); }

.bottom-h0 {
  bottom: var(--sf-h0); }

.-bottom-h0 {
  bottom: calc(0rem - var(--sf-h0)); }

.left-h0 {
  left: var(--sf-h0); }

.-left-h0 {
  left: calc(0rem - var(--sf-h0)); }

.top-h1 {
  top: var(--sf-h1); }

.-top-h1 {
  top: calc(0rem - var(--sf-h1)); }

.right-h1 {
  right: var(--sf-h1); }

.-right-h1 {
  right: calc(0rem - var(--sf-h1)); }

.bottom-h1 {
  bottom: var(--sf-h1); }

.-bottom-h1 {
  bottom: calc(0rem - var(--sf-h1)); }

.left-h1 {
  left: var(--sf-h1); }

.-left-h1 {
  left: calc(0rem - var(--sf-h1)); }

.top-h2 {
  top: var(--sf-h2); }

.-top-h2 {
  top: calc(0rem - var(--sf-h2)); }

.right-h2 {
  right: var(--sf-h2); }

.-right-h2 {
  right: calc(0rem - var(--sf-h2)); }

.bottom-h2 {
  bottom: var(--sf-h2); }

.-bottom-h2 {
  bottom: calc(0rem - var(--sf-h2)); }

.left-h2 {
  left: var(--sf-h2); }

.-left-h2 {
  left: calc(0rem - var(--sf-h2)); }

.top-h3 {
  top: var(--sf-h3); }

.-top-h3 {
  top: calc(0rem - var(--sf-h3)); }

.right-h3 {
  right: var(--sf-h3); }

.-right-h3 {
  right: calc(0rem - var(--sf-h3)); }

.bottom-h3 {
  bottom: var(--sf-h3); }

.-bottom-h3 {
  bottom: calc(0rem - var(--sf-h3)); }

.left-h3 {
  left: var(--sf-h3); }

.-left-h3 {
  left: calc(0rem - var(--sf-h3)); }

.top-h4 {
  top: var(--sf-h4); }

.-top-h4 {
  top: calc(0rem - var(--sf-h4)); }

.right-h4 {
  right: var(--sf-h4); }

.-right-h4 {
  right: calc(0rem - var(--sf-h4)); }

.bottom-h4 {
  bottom: var(--sf-h4); }

.-bottom-h4 {
  bottom: calc(0rem - var(--sf-h4)); }

.left-h4 {
  left: var(--sf-h4); }

.-left-h4 {
  left: calc(0rem - var(--sf-h4)); }

.top-h5 {
  top: var(--sf-h5); }

.-top-h5 {
  top: calc(0rem - var(--sf-h5)); }

.right-h5 {
  right: var(--sf-h5); }

.-right-h5 {
  right: calc(0rem - var(--sf-h5)); }

.bottom-h5 {
  bottom: var(--sf-h5); }

.-bottom-h5 {
  bottom: calc(0rem - var(--sf-h5)); }

.left-h5 {
  left: var(--sf-h5); }

.-left-h5 {
  left: calc(0rem - var(--sf-h5)); }

.top-h6 {
  top: var(--sf-h6); }

.-top-h6 {
  top: calc(0rem - var(--sf-h6)); }

.right-h6 {
  right: var(--sf-h6); }

.-right-h6 {
  right: calc(0rem - var(--sf-h6)); }

.bottom-h6 {
  bottom: var(--sf-h6); }

.-bottom-h6 {
  bottom: calc(0rem - var(--sf-h6)); }

.left-h6 {
  left: var(--sf-h6); }

.-left-h6 {
  left: calc(0rem - var(--sf-h6)); }

.top-h7 {
  top: var(--sf-h7); }

.-top-h7 {
  top: calc(0rem - var(--sf-h7)); }

.right-h7 {
  right: var(--sf-h7); }

.-right-h7 {
  right: calc(0rem - var(--sf-h7)); }

.bottom-h7 {
  bottom: var(--sf-h7); }

.-bottom-h7 {
  bottom: calc(0rem - var(--sf-h7)); }

.left-h7 {
  left: var(--sf-h7); }

.-left-h7 {
  left: calc(0rem - var(--sf-h7)); }

.top-h8 {
  top: var(--sf-h8); }

.-top-h8 {
  top: calc(0rem - var(--sf-h8)); }

.right-h8 {
  right: var(--sf-h8); }

.-right-h8 {
  right: calc(0rem - var(--sf-h8)); }

.bottom-h8 {
  bottom: var(--sf-h8); }

.-bottom-h8 {
  bottom: calc(0rem - var(--sf-h8)); }

.left-h8 {
  left: var(--sf-h8); }

.-left-h8 {
  left: calc(0rem - var(--sf-h8)); }

.top-h9 {
  top: var(--sf-h9); }

.-top-h9 {
  top: calc(0rem - var(--sf-h9)); }

.right-h9 {
  right: var(--sf-h9); }

.-right-h9 {
  right: calc(0rem - var(--sf-h9)); }

.bottom-h9 {
  bottom: var(--sf-h9); }

.-bottom-h9 {
  bottom: calc(0rem - var(--sf-h9)); }

.left-h9 {
  left: var(--sf-h9); }

.-left-h9 {
  left: calc(0rem - var(--sf-h9)); }

.top-i0 {
  top: var(--sf-i0); }

.-top-i0 {
  top: calc(0rem - var(--sf-i0)); }

.right-i0 {
  right: var(--sf-i0); }

.-right-i0 {
  right: calc(0rem - var(--sf-i0)); }

.bottom-i0 {
  bottom: var(--sf-i0); }

.-bottom-i0 {
  bottom: calc(0rem - var(--sf-i0)); }

.left-i0 {
  left: var(--sf-i0); }

.-left-i0 {
  left: calc(0rem - var(--sf-i0)); }

.top-i1 {
  top: var(--sf-i1); }

.-top-i1 {
  top: calc(0rem - var(--sf-i1)); }

.right-i1 {
  right: var(--sf-i1); }

.-right-i1 {
  right: calc(0rem - var(--sf-i1)); }

.bottom-i1 {
  bottom: var(--sf-i1); }

.-bottom-i1 {
  bottom: calc(0rem - var(--sf-i1)); }

.left-i1 {
  left: var(--sf-i1); }

.-left-i1 {
  left: calc(0rem - var(--sf-i1)); }

.top-i2 {
  top: var(--sf-i2); }

.-top-i2 {
  top: calc(0rem - var(--sf-i2)); }

.right-i2 {
  right: var(--sf-i2); }

.-right-i2 {
  right: calc(0rem - var(--sf-i2)); }

.bottom-i2 {
  bottom: var(--sf-i2); }

.-bottom-i2 {
  bottom: calc(0rem - var(--sf-i2)); }

.left-i2 {
  left: var(--sf-i2); }

.-left-i2 {
  left: calc(0rem - var(--sf-i2)); }

.top-i3 {
  top: var(--sf-i3); }

.-top-i3 {
  top: calc(0rem - var(--sf-i3)); }

.right-i3 {
  right: var(--sf-i3); }

.-right-i3 {
  right: calc(0rem - var(--sf-i3)); }

.bottom-i3 {
  bottom: var(--sf-i3); }

.-bottom-i3 {
  bottom: calc(0rem - var(--sf-i3)); }

.left-i3 {
  left: var(--sf-i3); }

.-left-i3 {
  left: calc(0rem - var(--sf-i3)); }

.top-i4 {
  top: var(--sf-i4); }

.-top-i4 {
  top: calc(0rem - var(--sf-i4)); }

.right-i4 {
  right: var(--sf-i4); }

.-right-i4 {
  right: calc(0rem - var(--sf-i4)); }

.bottom-i4 {
  bottom: var(--sf-i4); }

.-bottom-i4 {
  bottom: calc(0rem - var(--sf-i4)); }

.left-i4 {
  left: var(--sf-i4); }

.-left-i4 {
  left: calc(0rem - var(--sf-i4)); }

.top-i5 {
  top: var(--sf-i5); }

.-top-i5 {
  top: calc(0rem - var(--sf-i5)); }

.right-i5 {
  right: var(--sf-i5); }

.-right-i5 {
  right: calc(0rem - var(--sf-i5)); }

.bottom-i5 {
  bottom: var(--sf-i5); }

.-bottom-i5 {
  bottom: calc(0rem - var(--sf-i5)); }

.left-i5 {
  left: var(--sf-i5); }

.-left-i5 {
  left: calc(0rem - var(--sf-i5)); }

.top-i6 {
  top: var(--sf-i6); }

.-top-i6 {
  top: calc(0rem - var(--sf-i6)); }

.right-i6 {
  right: var(--sf-i6); }

.-right-i6 {
  right: calc(0rem - var(--sf-i6)); }

.bottom-i6 {
  bottom: var(--sf-i6); }

.-bottom-i6 {
  bottom: calc(0rem - var(--sf-i6)); }

.left-i6 {
  left: var(--sf-i6); }

.-left-i6 {
  left: calc(0rem - var(--sf-i6)); }

.top-i7 {
  top: var(--sf-i7); }

.-top-i7 {
  top: calc(0rem - var(--sf-i7)); }

.right-i7 {
  right: var(--sf-i7); }

.-right-i7 {
  right: calc(0rem - var(--sf-i7)); }

.bottom-i7 {
  bottom: var(--sf-i7); }

.-bottom-i7 {
  bottom: calc(0rem - var(--sf-i7)); }

.left-i7 {
  left: var(--sf-i7); }

.-left-i7 {
  left: calc(0rem - var(--sf-i7)); }

.top-i8 {
  top: var(--sf-i8); }

.-top-i8 {
  top: calc(0rem - var(--sf-i8)); }

.right-i8 {
  right: var(--sf-i8); }

.-right-i8 {
  right: calc(0rem - var(--sf-i8)); }

.bottom-i8 {
  bottom: var(--sf-i8); }

.-bottom-i8 {
  bottom: calc(0rem - var(--sf-i8)); }

.left-i8 {
  left: var(--sf-i8); }

.-left-i8 {
  left: calc(0rem - var(--sf-i8)); }

.top-i9 {
  top: var(--sf-i9); }

.-top-i9 {
  top: calc(0rem - var(--sf-i9)); }

.right-i9 {
  right: var(--sf-i9); }

.-right-i9 {
  right: calc(0rem - var(--sf-i9)); }

.bottom-i9 {
  bottom: var(--sf-i9); }

.-bottom-i9 {
  bottom: calc(0rem - var(--sf-i9)); }

.left-i9 {
  left: var(--sf-i9); }

.-left-i9 {
  left: calc(0rem - var(--sf-i9)); }

