@media (min-width: 960px) {
  .lg\:object-bottom {
    object-position: bottom; }
  .lg\:object-center {
    object-position: center; }
  .lg\:object-left {
    object-position: left; }
  .lg\:object-left-bottom {
    object-position: left bottom; }
  .lg\:object-left-top {
    object-position: left top; }
  .lg\:object-right {
    object-position: right; }
  .lg\:object-right-bottom {
    object-position: right bottom; }
  .lg\:object-right-top {
    object-position: right top; }
  .lg\:object-top {
    object-position: top; } }

