@media (min-width: 540px) {
  .sm\:bg-origin-border {
    background-origin: border-box; }
  .sm\:bg-origin-padding {
    background-origin: padding-box; }
  .sm\:bg-origin-content {
    background-origin: content-box; } }

