.stripe-transparent {
  --sf-stripe--color: var(--sf-transparent); }

.stripe-current {
  --sf-stripe--color: var(--sf-current); }

.stripe-inherit {
  --sf-stripe--color: var(--sf-inherit); }

.stripe-surface-transparent-overlay {
  --sf-stripe--color: var(--sf-surface-transparent-overlay); }

.stripe-on-surface {
  --sf-stripe--color: var(--sf-on-surface); }

.stripe-primary {
  --sf-stripe--color: var(--sf-primary); }

.stripe-primary-container {
  --sf-stripe--color: var(--sf-primary-container); }

.stripe-secondary {
  --sf-stripe--color: var(--sf-secondary); }

.stripe-secondary-container {
  --sf-stripe--color: var(--sf-secondary-container); }

.stripe-tertiary {
  --sf-stripe--color: var(--sf-tertiary); }

.stripe-tertiary-container {
  --sf-stripe--color: var(--sf-tertiary-container); }

