// SIMAI Framework
// https://simai.io

// COURSOR CSS

$cursor-array: (
    auto: auto,
    default: default,
    pointer: pointer,
    wait: wait,
    text: text,
    move: move,
    help: help,
    grap: grap,
    not-allowed: not-allowed,
    progress: progress,
    w-resize: w-resize
);