.outline-1 {
  outline-width: var(--sf-a1); }

.outline-2 {
  outline-width: var(--sf-a2); }

.outline-3 {
  outline-width: var(--sf-a3); }

.outline-4 {
  outline-width: var(--sf-a4); }

.outline-0 {
  outline-width: var(--sf-0); }

