.outline-transparent {
  outline-color: var(--sf-transparent); }

.outline-current {
  outline-color: var(--sf-current); }

.outline-outline {
  outline-color: var(--sf-outline); }

.outline-outline-variant {
  outline-color: var(--sf-outline-variant); }

.outline-primary {
  outline-color: var(--sf-outline-primary); }

.outline-secondary {
  outline-color: var(--sf-outline-secondary); }

.outline-tertiary {
  outline-color: var(--sf-outline-tertiary); }

.outline-error {
  outline-color: var(--sf-outline-error); }

.outline-warning {
  outline-color: var(--sf-outline-warning); }

.outline-success {
  outline-color: var(--sf-outline-success); }

