.scroll-radius-1::-webkit-scrollbar-thumb {
  border-radius: var(--sf-a1); }

.scroll-radius-2::-webkit-scrollbar-thumb {
  border-radius: var(--sf-a2); }

.scroll-radius-3::-webkit-scrollbar-thumb {
  border-radius: var(--sf-a3); }

.scroll-radius-4::-webkit-scrollbar-thumb {
  border-radius: var(--sf-a4); }

