// SIMAI Framework
// https://simai.io

// TEXT DECORATION

// Text Decoration Thicknees
$text-decoration-style-array:(
    solid : solid,
    double : double,
    dotted : dotted,
    dashed : dashed,
    wavy : wavy,
);