@media (min-width: 960px) {
  .lg\:col-end-1 {
    grid-column-end: 1; }
  .lg\:col-end-2 {
    grid-column-end: 2; }
  .lg\:col-end-3 {
    grid-column-end: 3; }
  .lg\:col-end-4 {
    grid-column-end: 4; }
  .lg\:col-end-5 {
    grid-column-end: 5; }
  .lg\:col-end-6 {
    grid-column-end: 6; }
  .lg\:col-end-7 {
    grid-column-end: 7; }
  .lg\:col-end-8 {
    grid-column-end: 8; }
  .lg\:col-end-9 {
    grid-column-end: 9; }
  .lg\:col-end-10 {
    grid-column-end: 10; }
  .lg\:col-end-11 {
    grid-column-end: 11; }
  .lg\:col-end-12 {
    grid-column-end: 12; }
  .lg\:col-end-13 {
    grid-column-end: 13; }
  .lg\:col-end-auto {
    grid-column-end: auto; } }

