// SIMAI Framework
// https://simai.io

// TYPOFRAPHY

// Font Variant Numeric

$font-variant-numeric-array: (
    ordinal: ordinal,
    slashed-zero: slashed-zero,
    lining: lining-nums,
    oldstyle: oldstyle-nums,
    proportional: proportional-nums,
    tabular: tabular-nums,
    diagonal: diagonal-fractions,
    stacked-fractions: stacked-fractions,
    normal: normal
);