// SIMAI Framework
// https://simai.io

// OBJECT

$infix: lg;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);
        
        // Object Position
        // Utilities for controlling how a replaced element's content should be positioned within its container.
        @each $object-position-name, $object-position-value in $object-position-array {
            .#{$infix}object-#{$object-position-name} {
                object-position: #{$object-position-value};
            }
        }
    }
// }