// SIMAI Framework
// https://simai.io

// TYPOFRAPHY

$vertical-align-array: (
    baseline: baseline,
    top:      top,
    middle:   middle,
    bottom:   bottom,
    sup:      super,
    sub:      sub
);