@media (min-width: 1200px) {
  .xl\:contrast-1, .xl\:contrast-2, .xl\:contrast-3, .xl\:contrast-4, .xl\:contrast-5, .xl\:contrast-6, .xl\:contrast-0 {
    --sf-blur: ;
    --sf-brightness: ;
    --sf-contrast: ;
    --sf-grayscale: ;
    --sf-hue-rotate: ;
    --sf-invert: ;
    --sf-saturate: ;
    --sf-sepia: ;
    --sf-drop-shadow: ;
    filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
  }
  .xl\:contrast-1 {
    --sf-contrast: contrast(0.5);
  }
  .xl\:contrast-2 {
    --sf-contrast: contrast(0.75);
  }
  .xl\:contrast-3 {
    --sf-contrast: contrast(1);
  }
  .xl\:contrast-4 {
    --sf-contrast: contrast(1.25);
  }
  .xl\:contrast-5 {
    --sf-contrast: contrast(1.5);
  }
  .xl\:contrast-6 {
    --sf-contrast: contrast(1.75);
  }
  .xl\:contrast-0 {
    --sf-contrast: contrast(0);
  }
}
