.active\:outline-transparent:active {
  outline-color: var(--sf-transparent); }

.active\:outline-current:active {
  outline-color: var(--sf-current); }

.active\:outline-outline:active {
  outline-color: var(--sf-outline); }

.active\:outline-outline-variant:active {
  outline-color: var(--sf-outline-variant); }

.active\:outline-primary:active {
  outline-color: var(--sf-outline-primary); }

.active\:outline-secondary:active {
  outline-color: var(--sf-outline-secondary); }

.active\:outline-tertiary:active {
  outline-color: var(--sf-outline-tertiary); }

.active\:outline-error:active {
  outline-color: var(--sf-outline-error); }

.active\:outline-warning:active {
  outline-color: var(--sf-outline-warning); }

.active\:outline-success:active {
  outline-color: var(--sf-outline-success); }

