@media (min-width: 1200px) {
  .xl\:opacity-1 {
    filter: opacity(0.1);
  }
  .xl\:opacity-2 {
    filter: opacity(0.2);
  }
  .xl\:opacity-3 {
    filter: opacity(0.3);
  }
  .xl\:opacity-4 {
    filter: opacity(0.4);
  }
  .xl\:opacity-5 {
    filter: opacity(0.5);
  }
  .xl\:opacity-6 {
    filter: opacity(0.6);
  }
  .xl\:opacity-7 {
    filter: opacity(0.7);
  }
  .xl\:opacity-8 {
    filter: opacity(0.8);
  }
  .xl\:opacity-9 {
    filter: opacity(0.9);
  }
  .xl\:opacity-0 {
    filter: opacity(0);
  }
  .xl\:opacity-full {
    filter: opacity(1);
  }
}
