.gr1-transparent {
  --sf-gradient--color-1: var(--sf-transparent); }

.gr1-current {
  --sf-gradient--color-1: var(--sf-current); }

.gr1-inherit {
  --sf-gradient--color-1: var(--sf-inherit); }

.gr1-surface-0 {
  --sf-gradient--color-1: var(--sf-surface-0); }

.gr1-surface-1 {
  --sf-gradient--color-1: var(--sf-surface-1); }

.gr1-surface-2 {
  --sf-gradient--color-1: var(--sf-surface-2); }

.gr1-on-surface {
  --sf-gradient--color-1: var(--sf-on-surface); }

.gr1-primary {
  --sf-gradient--color-1: var(--sf-primary); }

.gr1-primary-container {
  --sf-gradient--color-1: var(--sf-primary-container); }

.gr1-secondary {
  --sf-gradient--color-1: var(--sf-secondary); }

.gr1-secondary-container {
  --sf-gradient--color-1: var(--sf-secondary-container); }

.gr1-tertiary {
  --sf-gradient--color-1: var(--sf-tertiary); }

.gr1-tertiary-container {
  --sf-gradient--color-1: var(--sf-tertiary-container); }

.gr2-transparent {
  --sf-gradient--color-2: var(--sf-transparent); }

.gr2-current {
  --sf-gradient--color-2: var(--sf-current); }

.gr2-inherit {
  --sf-gradient--color-2: var(--sf-inherit); }

.gr2-surface-0 {
  --sf-gradient--color-2: var(--sf-surface-0); }

.gr2-surface-1 {
  --sf-gradient--color-2: var(--sf-surface-1); }

.gr2-surface-2 {
  --sf-gradient--color-2: var(--sf-surface-2); }

.gr2-on-surface {
  --sf-gradient--color-2: var(--sf-on-surface); }

.gr2-primary {
  --sf-gradient--color-2: var(--sf-primary); }

.gr2-primary-container {
  --sf-gradient--color-2: var(--sf-primary-container); }

.gr2-secondary {
  --sf-gradient--color-2: var(--sf-secondary); }

.gr2-secondary-container {
  --sf-gradient--color-2: var(--sf-secondary-container); }

.gr2-tertiary {
  --sf-gradient--color-2: var(--sf-tertiary); }

.gr2-tertiary-container {
  --sf-gradient--color-2: var(--sf-tertiary-container); }

.gr3-transparent {
  --sf-gradient--color-3: var(--sf-transparent); }

.gr3-current {
  --sf-gradient--color-3: var(--sf-current); }

.gr3-inherit {
  --sf-gradient--color-3: var(--sf-inherit); }

.gr3-surface-0 {
  --sf-gradient--color-3: var(--sf-surface-0); }

.gr3-surface-1 {
  --sf-gradient--color-3: var(--sf-surface-1); }

.gr3-surface-2 {
  --sf-gradient--color-3: var(--sf-surface-2); }

.gr3-on-surface {
  --sf-gradient--color-3: var(--sf-on-surface); }

.gr3-primary {
  --sf-gradient--color-3: var(--sf-primary); }

.gr3-primary-container {
  --sf-gradient--color-3: var(--sf-primary-container); }

.gr3-secondary {
  --sf-gradient--color-3: var(--sf-secondary); }

.gr3-secondary-container {
  --sf-gradient--color-3: var(--sf-secondary-container); }

.gr3-tertiary {
  --sf-gradient--color-3: var(--sf-tertiary); }

.gr3-tertiary-container {
  --sf-gradient--color-3: var(--sf-tertiary-container); }

