// SIMAI Framework
// https://simai.io

// BACKGROUND

$infix: sm;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        @each $bg-repeat-name, $bg-repeat-value in $bg-repeat-array {
            .#{$infix}bg-#{$bg-repeat-name} {
                background-repeat: #{$bg-repeat-value};
            }
        }
    }
// }