@media (min-width: 720px) {
  .md\:content-center {
    place-content: center; }
  .md\:content-start {
    place-content: start; }
  .md\:content-end {
    place-content: end; }
  .md\:content-between {
    place-content: space-between; }
  .md\:content-around {
    place-content: space-around; }
  .md\:content-evenly {
    place-content: space-evenly; }
  .md\:content-stretch {
    place-content: stretch; } }

