@media (min-width: 540px) {
  .sm\:flex-row {
    flex-direction: row; }
  .sm\:flex-col {
    flex-direction: column; }
  .sm\:flex-row-reverse {
    flex-direction: row-reverse; }
  .sm\:flex-col-reverse {
    flex-direction: column-reverse; } }

