.print-block {
  display: none; }
  @media print {
    .print-block {
      display: block; } }

.print-inline-block {
  display: none; }
  @media print {
    .print-inline-block {
      display: inline-block; } }

.print-inline {
  display: none; }
  @media print {
    .print-inline {
      display: inline; } }

.print-flex {
  display: none; }
  @media print {
    .print-flex {
      display: flex; } }

.print-inline-flex {
  display: none; }
  @media print {
    .print-inline-flex {
      display: inline-flex; } }

.print-table {
  display: none; }
  @media print {
    .print-table {
      display: table; } }

.print-hidden {
  display: none; }
  @media print {
    .print-hidden {
      display: none; } }

