// SIMAI Framework
// https://simai.io

// CONTAINER

// A component for fixing an element's width to the current breakpoint.

.container {
    width: var(--sf-breakpoint-sm);
    padding-left: var(--sf-space-2);
    padding-right: var(--sf-space-2);
}
// @include layer-priority(utility,sm) {
    // @each $breakpoint-key, $breakpoint-value in $breakpoint-array {
    //     @include breakpoint-media(sm) {
    //         $infix: breakpoint-infix(sm, $breakpoint-array);
            
    //         // Adaptive container
    //         .#{$infix}container {
    //             width: 100%;
    //             max-width: map-get($breakpoint-array, sm);
    //         }
    //     }
    // }
// }