@media (min-width: 720px) {
  .md\:text-a0 {
    font-size: var(--sf-a0);
    line-height: var(--sf-a0); }
  .md\:text-a1 {
    font-size: var(--sf-a1);
    line-height: var(--sf-a1); }
  .md\:text-a2 {
    font-size: var(--sf-a2);
    line-height: var(--sf-a2); }
  .md\:text-a3 {
    font-size: var(--sf-a3);
    line-height: var(--sf-a3); }
  .md\:text-a4 {
    font-size: var(--sf-a4);
    line-height: var(--sf-a4); }
  .md\:text-a5 {
    font-size: var(--sf-a5);
    line-height: var(--sf-a5); }
  .md\:text-a6 {
    font-size: var(--sf-a6);
    line-height: var(--sf-a6); }
  .md\:text-a7 {
    font-size: var(--sf-a7);
    line-height: var(--sf-a7); }
  .md\:text-a8 {
    font-size: var(--sf-a8);
    line-height: var(--sf-a8); }
  .md\:text-a9 {
    font-size: var(--sf-a9);
    line-height: var(--sf-a9); }
  .md\:text-b0 {
    font-size: var(--sf-b0);
    line-height: var(--sf-b0); }
  .md\:text-b1 {
    font-size: var(--sf-b1);
    line-height: var(--sf-b1); }
  .md\:text-b2 {
    font-size: var(--sf-b2);
    line-height: var(--sf-b2); }
  .md\:text-b3 {
    font-size: var(--sf-b3);
    line-height: var(--sf-b3); }
  .md\:text-b4 {
    font-size: var(--sf-b4);
    line-height: var(--sf-b4); }
  .md\:text-b5 {
    font-size: var(--sf-b5);
    line-height: var(--sf-b5); }
  .md\:text-b6 {
    font-size: var(--sf-b6);
    line-height: var(--sf-b6); }
  .md\:text-b7 {
    font-size: var(--sf-b7);
    line-height: var(--sf-b7); }
  .md\:text-b8 {
    font-size: var(--sf-b8);
    line-height: var(--sf-b8); }
  .md\:text-b9 {
    font-size: var(--sf-b9);
    line-height: var(--sf-b9); }
  .md\:text-c0 {
    font-size: var(--sf-c0);
    line-height: var(--sf-c0); }
  .md\:text-c1 {
    font-size: var(--sf-c1);
    line-height: var(--sf-c1); }
  .md\:text-c2 {
    font-size: var(--sf-c2);
    line-height: var(--sf-c2); }
  .md\:text-c3 {
    font-size: var(--sf-c3);
    line-height: var(--sf-c3); }
  .md\:text-c4 {
    font-size: var(--sf-c4);
    line-height: var(--sf-c4); }
  .md\:text-c5 {
    font-size: var(--sf-c5);
    line-height: var(--sf-c5); }
  .md\:text-c6 {
    font-size: var(--sf-c6);
    line-height: var(--sf-c6); }
  .md\:text-c7 {
    font-size: var(--sf-c7);
    line-height: var(--sf-c7); }
  .md\:text-c8 {
    font-size: var(--sf-c8);
    line-height: var(--sf-c8); }
  .md\:text-c9 {
    font-size: var(--sf-c9);
    line-height: var(--sf-c9); }
  .md\:text-d0 {
    font-size: var(--sf-d0);
    line-height: var(--sf-d0); }
  .md\:text-d1 {
    font-size: var(--sf-d1);
    line-height: var(--sf-d1); }
  .md\:text-d2 {
    font-size: var(--sf-d2);
    line-height: var(--sf-d2); }
  .md\:text-d3 {
    font-size: var(--sf-d3);
    line-height: var(--sf-d3); }
  .md\:text-d4 {
    font-size: var(--sf-d4);
    line-height: var(--sf-d4); }
  .md\:text-d5 {
    font-size: var(--sf-d5);
    line-height: var(--sf-d5); }
  .md\:text-d6 {
    font-size: var(--sf-d6);
    line-height: var(--sf-d6); }
  .md\:text-d7 {
    font-size: var(--sf-d7);
    line-height: var(--sf-d7); }
  .md\:text-d8 {
    font-size: var(--sf-d8);
    line-height: var(--sf-d8); }
  .md\:text-d9 {
    font-size: var(--sf-d9);
    line-height: var(--sf-d9); }
  .md\:text-e0 {
    font-size: var(--sf-e0);
    line-height: var(--sf-e0); }
  .md\:text-e1 {
    font-size: var(--sf-e1);
    line-height: var(--sf-e1); }
  .md\:text-e2 {
    font-size: var(--sf-e2);
    line-height: var(--sf-e2); }
  .md\:text-e3 {
    font-size: var(--sf-e3);
    line-height: var(--sf-e3); }
  .md\:text-e4 {
    font-size: var(--sf-e4);
    line-height: var(--sf-e4); }
  .md\:text-e5 {
    font-size: var(--sf-e5);
    line-height: var(--sf-e5); }
  .md\:text-e6 {
    font-size: var(--sf-e6);
    line-height: var(--sf-e6); }
  .md\:text-e7 {
    font-size: var(--sf-e7);
    line-height: var(--sf-e7); }
  .md\:text-e8 {
    font-size: var(--sf-e8);
    line-height: var(--sf-e8); }
  .md\:text-e9 {
    font-size: var(--sf-e9);
    line-height: var(--sf-e9); }
  .md\:text-f0 {
    font-size: var(--sf-f0);
    line-height: var(--sf-f0); }
  .md\:text-f1 {
    font-size: var(--sf-f1);
    line-height: var(--sf-f1); }
  .md\:text-f2 {
    font-size: var(--sf-f2);
    line-height: var(--sf-f2); }
  .md\:text-f3 {
    font-size: var(--sf-f3);
    line-height: var(--sf-f3); }
  .md\:text-f4 {
    font-size: var(--sf-f4);
    line-height: var(--sf-f4); }
  .md\:text-f5 {
    font-size: var(--sf-f5);
    line-height: var(--sf-f5); }
  .md\:text-f6 {
    font-size: var(--sf-f6);
    line-height: var(--sf-f6); }
  .md\:text-f7 {
    font-size: var(--sf-f7);
    line-height: var(--sf-f7); }
  .md\:text-f8 {
    font-size: var(--sf-f8);
    line-height: var(--sf-f8); }
  .md\:text-f9 {
    font-size: var(--sf-f9);
    line-height: var(--sf-f9); }
  .md\:text-g0 {
    font-size: var(--sf-g0);
    line-height: var(--sf-g0); }
  .md\:text-g1 {
    font-size: var(--sf-g1);
    line-height: var(--sf-g1); }
  .md\:text-g2 {
    font-size: var(--sf-g2);
    line-height: var(--sf-g2); }
  .md\:text-g3 {
    font-size: var(--sf-g3);
    line-height: var(--sf-g3); }
  .md\:text-g4 {
    font-size: var(--sf-g4);
    line-height: var(--sf-g4); }
  .md\:text-g5 {
    font-size: var(--sf-g5);
    line-height: var(--sf-g5); }
  .md\:text-g6 {
    font-size: var(--sf-g6);
    line-height: var(--sf-g6); }
  .md\:text-g7 {
    font-size: var(--sf-g7);
    line-height: var(--sf-g7); }
  .md\:text-g8 {
    font-size: var(--sf-g8);
    line-height: var(--sf-g8); }
  .md\:text-g9 {
    font-size: var(--sf-g9);
    line-height: var(--sf-g9); }
  .md\:text-h0 {
    font-size: var(--sf-h0);
    line-height: var(--sf-h0); }
  .md\:text-h1 {
    font-size: var(--sf-h1);
    line-height: var(--sf-h1); }
  .md\:text-h2 {
    font-size: var(--sf-h2);
    line-height: var(--sf-h2); }
  .md\:text-h3 {
    font-size: var(--sf-h3);
    line-height: var(--sf-h3); }
  .md\:text-h4 {
    font-size: var(--sf-h4);
    line-height: var(--sf-h4); }
  .md\:text-h5 {
    font-size: var(--sf-h5);
    line-height: var(--sf-h5); }
  .md\:text-h6 {
    font-size: var(--sf-h6);
    line-height: var(--sf-h6); }
  .md\:text-h7 {
    font-size: var(--sf-h7);
    line-height: var(--sf-h7); }
  .md\:text-h8 {
    font-size: var(--sf-h8);
    line-height: var(--sf-h8); }
  .md\:text-h9 {
    font-size: var(--sf-h9);
    line-height: var(--sf-h9); }
  .md\:text-i0 {
    font-size: var(--sf-i0);
    line-height: var(--sf-i0); }
  .md\:text-i1 {
    font-size: var(--sf-i1);
    line-height: var(--sf-i1); }
  .md\:text-i2 {
    font-size: var(--sf-i2);
    line-height: var(--sf-i2); }
  .md\:text-i3 {
    font-size: var(--sf-i3);
    line-height: var(--sf-i3); }
  .md\:text-i4 {
    font-size: var(--sf-i4);
    line-height: var(--sf-i4); }
  .md\:text-i5 {
    font-size: var(--sf-i5);
    line-height: var(--sf-i5); }
  .md\:text-i6 {
    font-size: var(--sf-i6);
    line-height: var(--sf-i6); }
  .md\:text-i7 {
    font-size: var(--sf-i7);
    line-height: var(--sf-i7); }
  .md\:text-i8 {
    font-size: var(--sf-i8);
    line-height: var(--sf-i8); }
  .md\:text-i9 {
    font-size: var(--sf-i9);
    line-height: var(--sf-i9); } }

