.ring-main {
  --sf-ring-color: rgba(var(--sf-gray-9r), var(--sf-gray-9g), var(--sf-gray-9b), var(--sf-ring--alfa));
}

.ring-spare {
  --sf-ring-color: rgba(var(--sf-gray-6r), var(--sf-gray-6g), var(--sf-gray-6b), var(--sf-ring--alfa));
}

.ring-extra {
  --sf-ring-color: rgba(var(--sf-gray-5r), var(--sf-gray-5g), var(--sf-gray-5b), var(--sf-ring--alfa));
}

.ring-placeholder {
  --sf-ring-color: rgba(var(--sf-gray-5r), var(--sf-gray-5g), var(--sf-gray-5b), var(--sf-ring--alfa));
}

.ring-disabled {
  --sf-ring-color: rgba(var(--sf-gray-4r), var(--sf-gray-4g), var(--sf-gray-4b), var(--sf-ring--alfa));
}

.ring-inverse {
  --sf-ring-color: rgba(var(--sf-white-r), var(--sf-white-g), var(--sf-white-b), var(--sf-ring--alfa));
}

.ring-info {
  --sf-ring-color: rgba(var(--sf-blue-5r), var(--sf-blue-5g), var(--sf-blue-5b), var(--sf-ring--alfa));
}

.ring-success {
  --sf-ring-color: rgba(var(--sf-green-6r), var(--sf-green-6g), var(--sf-green-6b), var(--sf-ring--alfa));
}

.ring-warning {
  --sf-ring-color: rgba(var(--sf-yellow-8r), var(--sf-yellow-8g), var(--sf-yellow-8b), var(--sf-ring--alfa));
}

.ring-danger {
  --sf-ring-color: rgba(var(--sf-red-6r), var(--sf-red-6g), var(--sf-red-6b), var(--sf-ring--alfa));
}

.ring-white {
  --sf-ring-color: rgba(var(--sf-white-default), var(--sf-white-default), var(--sf-white-default), var(--sf-ring--alfa));
}

.ring-black {
  --sf-ring-color: rgba(var(--sf-black-default), var(--sf-black-default), var(--sf-black-default), var(--sf-ring--alfa));
}

.ring-inherit {
  --sf-ring-color: inherit;
}

.ring-transparent {
  --sf-ring-color: var(--sf-transparent);
}

.ring-current {
  --sf-ring-color: currentColor;
}
