@media (min-width: 720px) {
  .md\:max-h-full {
    max-height: 100%; }
  .md\:max-h-screen {
    max-height: 100vh; }
  .md\:max-h-min {
    max-height: min-content; }
  .md\:max-h-max {
    max-height: max-content; }
  .md\:max-h-fit {
    max-height: fit-content; }
  .md\:max-h-px {
    max-height: 1px; }
  .md\:max-h-0 {
    max-height: 0; } }

