// SIMAI Framework
// https://simai.io

// FILL BRAND

$fill-brand-array:(
    fb: #2B74E1,
    //fb-messenger: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%),
    youtube: #F60D00,
    whatsapp: #30B944,
    //instagram: '#d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)',
    wechat: #2CAD19,
    tiktok: #000000,
    sinaweibo: #E32429,
    qq: #000000,
    telegram: #36A7E7,
    snapchat: #FDFC02,
    kuaishou: #F74908,
    qzone: #FACE00,
    pinterest: #CD0900,
    twitter: #349AEF,
    reddit: #F74502,
    quora: #B92C26,
    //skype: '#00aff0; background: linear-gradient(#88d9f8, #00aff0)',
    msteams: #2C3794,
    linkedin: #2466C2,
    vk: #0077FF,
    viber: #7360F2,
    vimeo: #1AB7EA,
    ok: #EE8208,
    tumblr: #001935,
    behance: #0057FF,
    soundcloud: #FF5500
);