@media (min-width: 540px) {
  .sm\:self-auto {
    place-self: auto; }
  .sm\:self-start {
    place-self: start; }
  .sm\:self-end {
    place-self: end; }
  .sm\:self-center {
    place-self: center; }
  .sm\:self-stretch {
    place-self: stretch; } }

