.mask-content {
  -webkit-mask-clip: content-box;
          mask-clip: content-box; }

.mask-padding {
  -webkit-mask-clip: padding-box;
          mask-clip: padding-box; }

.mask-margin {
  -webkit-mask-clip: margin-box;
          mask-clip: margin-box; }

.mask-border {
  -webkit-mask-clip: border-box;
          mask-clip: border-box; }

.mask-fill {
  -webkit-mask-clip: fill-box;
          mask-clip: fill-box; }

.mask-stroke {
  -webkit-mask-clip: stroke-box;
          mask-clip: stroke-box; }

.mask-view {
  -webkit-mask-clip: view-box;
          mask-clip: view-box; }

.mask-text {
  -webkit-mask-clip: text;
          mask-clip: text;
  -webkit-text-fill-color: transparent; }

.mask-none {
  -webkit-mask-clip: no-clip;
          mask-clip: no-clip; }

