// SIMAI Framework
// https://simai.io

// SIZE

// @include layer-priority(utility,xl) {
    @include breakpoint-media(xl) {
        $infix: breakpoint-infix(xl, $breakpoint-array);

        // Fixed Width Utilities: Use Size System 
        @each $size-range-name, $range-array in $size-array {
            @each $size-name, $size-value in $range-array {
                .#{$infix}w-#{$size-range-name}#{$size-name}{
                    width: var(--sf-#{$size-range-name}#{$size-name});
                }              
            }
        }

        @for $k from 1 through 99 {
            .#{$infix}w-#{$k} {
                width: $k * 1%;
            }
        }
    }
// }