@media (min-width: 960px) {
  .lg\:aspect-1x1 {
    aspect-ratio: 1 / 1; }
  .lg\:aspect-1x2 {
    aspect-ratio: 1 / 2; }
  .lg\:aspect-2x1 {
    aspect-ratio: 2 / 1; }
  .lg\:aspect-2x3 {
    aspect-ratio: 2 / 3; }
  .lg\:aspect-3x1 {
    aspect-ratio: 3 / 1; }
  .lg\:aspect-3x2 {
    aspect-ratio: 3 / 2; }
  .lg\:aspect-3x4 {
    aspect-ratio: 3 / 4; }
  .lg\:aspect-4x1 {
    aspect-ratio: 4 / 1; }
  .lg\:aspect-4x3 {
    aspect-ratio: 4 / 3; }
  .lg\:aspect-16x9 {
    aspect-ratio: 16 / 9; }
  .lg\:aspect-9x16 {
    aspect-ratio: 9 / 16; } }

