// SIMAI Framework
// https://simai.io

// TYPOFRAPHY

// White Space
$white-space-array:(
    nowrap: nowrap,
    pre: pre,
    pre-line: pre-line,
    pre-wrap: pre-wrap,
    whitespace-normal: normal,
    wrap-none:none
);