// SIMAI Framework
// https://simai.io

// BREAK

// Break After
$break-after-array: (
	auto: auto,
	avoid: avoid,
	all: all,
	avoid-page: avoid-page,
	page: page,
	left: left,
	right: right,
	column: column,
);