@media (min-width: 1140px) {
  .xl\:column-1 {
    column-count: 1; }
  .xl\:column-2 {
    column-count: 2; }
  .xl\:column-3 {
    column-count: 3; }
  .xl\:column-4 {
    column-count: 4; }
  .xl\:column-5 {
    column-count: 5; }
  .xl\:column-6 {
    column-count: 6; }
  .xl\:column-7 {
    column-count: 7; }
  .xl\:column-8 {
    column-count: 8; }
  .xl\:column-9 {
    column-count: 9; }
  .xl\:column-10 {
    column-count: 10; }
  .xl\:column-11 {
    column-count: 11; }
  .xl\:column-12 {
    column-count: 12; }
  .xl\:column-auto {
    column-count: auto; } }

