// SIMAI Framework
// https://simai.io

// Mask Clip Array
$mask-clip-array: (
	content: content-box,
	padding: padding-box,
	margin: margin-box,
	border: border-box,
	fill: fill-box,
	stroke: stroke-box,
	view: view-box,
	text: text,
	none: no-clip, 
);