// SIMAI Framework
// https://simai.io

// SIZE

// @include layer-priority(utility,default) {
    @include breakpoint-media(xs) {
        $infix: breakpoint-infix(xs, $breakpoint-array);	

        // Mask Clip Utilities
        @each $mask-clip-name, $mask-clip-value in $mask-clip-array {
            .#{$infix}mask-#{$mask-clip-name} {
                mask-clip: #{$mask-clip-value};

                @if $mask-clip-value == text {
                    -webkit-text-fill-color: transparent
                }
            }
        }
    }
// }