.hover\:accent-transparent:hover {
  accent-color: var(--sf-transparent); }

.hover\:accent-current:hover {
  accent-color: var(--sf-current); }

.hover\:accent-on-surface:hover {
  accent-color: var(--sf-on-surface); }

.hover\:accent-primary:hover {
  accent-color: var(--sf-primary); }

.hover\:accent-secondary:hover {
  accent-color: var(--sf-secondary); }

.hover\:accent-tertiary:hover {
  accent-color: var(--sf-tertiary); }

.hover\:accent-error:hover {
  accent-color: var(--sf-error); }

.hover\:accent-warning:hover {
  accent-color: var(--sf-warning); }

.hover\:accent-success:hover {
  accent-color: var(--sf-success); }

