// SIMAI Framework
// https://simai.io

// TRANSFORM

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        // Transform Rotate
        @each $transform-rotate-name, $transform-rotate-value in $transform-rotate-array {
            .#{$infix}rotate-#{$transform-rotate-name} {
                transform: rotate(#{$transform-rotate-value}deg);
            }
        }
    }
// }