@media (min-width: 720px) {
  .md\:m-a0 {
    margin: var(--sf-a0); }
  .-md\:m-a0 {
    margin: calc(0rem - var(--sf-a0)); }
  .md\:m-top-a0 {
    margin-top: var(--sf-a0); }
  .-md\:m-top-a0 {
    margin-top: calc(0rem - var(--sf-a0)); }
  .md\:m-right-a0 {
    margin-right: var(--sf-a0); }
  .-md\:m-right-a0 {
    margin-right: calc(0rem - var(--sf-a0)); }
  .md\:m-bottom-a0 {
    margin-bottom: var(--sf-a0); }
  .-md\:m-bottom-a0 {
    margin-bottom: calc(0rem - var(--sf-a0)); }
  .md\:m-left-a0 {
    margin-left: var(--sf-a0); }
  .-md\:m-left-a0 {
    margin-left: calc(0rem - var(--sf-a0)); }
  .md\:m-a1 {
    margin: var(--sf-a1); }
  .-md\:m-a1 {
    margin: calc(0rem - var(--sf-a1)); }
  .md\:m-top-a1 {
    margin-top: var(--sf-a1); }
  .-md\:m-top-a1 {
    margin-top: calc(0rem - var(--sf-a1)); }
  .md\:m-right-a1 {
    margin-right: var(--sf-a1); }
  .-md\:m-right-a1 {
    margin-right: calc(0rem - var(--sf-a1)); }
  .md\:m-bottom-a1 {
    margin-bottom: var(--sf-a1); }
  .-md\:m-bottom-a1 {
    margin-bottom: calc(0rem - var(--sf-a1)); }
  .md\:m-left-a1 {
    margin-left: var(--sf-a1); }
  .-md\:m-left-a1 {
    margin-left: calc(0rem - var(--sf-a1)); }
  .md\:m-a2 {
    margin: var(--sf-a2); }
  .-md\:m-a2 {
    margin: calc(0rem - var(--sf-a2)); }
  .md\:m-top-a2 {
    margin-top: var(--sf-a2); }
  .-md\:m-top-a2 {
    margin-top: calc(0rem - var(--sf-a2)); }
  .md\:m-right-a2 {
    margin-right: var(--sf-a2); }
  .-md\:m-right-a2 {
    margin-right: calc(0rem - var(--sf-a2)); }
  .md\:m-bottom-a2 {
    margin-bottom: var(--sf-a2); }
  .-md\:m-bottom-a2 {
    margin-bottom: calc(0rem - var(--sf-a2)); }
  .md\:m-left-a2 {
    margin-left: var(--sf-a2); }
  .-md\:m-left-a2 {
    margin-left: calc(0rem - var(--sf-a2)); }
  .md\:m-a3 {
    margin: var(--sf-a3); }
  .-md\:m-a3 {
    margin: calc(0rem - var(--sf-a3)); }
  .md\:m-top-a3 {
    margin-top: var(--sf-a3); }
  .-md\:m-top-a3 {
    margin-top: calc(0rem - var(--sf-a3)); }
  .md\:m-right-a3 {
    margin-right: var(--sf-a3); }
  .-md\:m-right-a3 {
    margin-right: calc(0rem - var(--sf-a3)); }
  .md\:m-bottom-a3 {
    margin-bottom: var(--sf-a3); }
  .-md\:m-bottom-a3 {
    margin-bottom: calc(0rem - var(--sf-a3)); }
  .md\:m-left-a3 {
    margin-left: var(--sf-a3); }
  .-md\:m-left-a3 {
    margin-left: calc(0rem - var(--sf-a3)); }
  .md\:m-a4 {
    margin: var(--sf-a4); }
  .-md\:m-a4 {
    margin: calc(0rem - var(--sf-a4)); }
  .md\:m-top-a4 {
    margin-top: var(--sf-a4); }
  .-md\:m-top-a4 {
    margin-top: calc(0rem - var(--sf-a4)); }
  .md\:m-right-a4 {
    margin-right: var(--sf-a4); }
  .-md\:m-right-a4 {
    margin-right: calc(0rem - var(--sf-a4)); }
  .md\:m-bottom-a4 {
    margin-bottom: var(--sf-a4); }
  .-md\:m-bottom-a4 {
    margin-bottom: calc(0rem - var(--sf-a4)); }
  .md\:m-left-a4 {
    margin-left: var(--sf-a4); }
  .-md\:m-left-a4 {
    margin-left: calc(0rem - var(--sf-a4)); }
  .md\:m-a5 {
    margin: var(--sf-a5); }
  .-md\:m-a5 {
    margin: calc(0rem - var(--sf-a5)); }
  .md\:m-top-a5 {
    margin-top: var(--sf-a5); }
  .-md\:m-top-a5 {
    margin-top: calc(0rem - var(--sf-a5)); }
  .md\:m-right-a5 {
    margin-right: var(--sf-a5); }
  .-md\:m-right-a5 {
    margin-right: calc(0rem - var(--sf-a5)); }
  .md\:m-bottom-a5 {
    margin-bottom: var(--sf-a5); }
  .-md\:m-bottom-a5 {
    margin-bottom: calc(0rem - var(--sf-a5)); }
  .md\:m-left-a5 {
    margin-left: var(--sf-a5); }
  .-md\:m-left-a5 {
    margin-left: calc(0rem - var(--sf-a5)); }
  .md\:m-a6 {
    margin: var(--sf-a6); }
  .-md\:m-a6 {
    margin: calc(0rem - var(--sf-a6)); }
  .md\:m-top-a6 {
    margin-top: var(--sf-a6); }
  .-md\:m-top-a6 {
    margin-top: calc(0rem - var(--sf-a6)); }
  .md\:m-right-a6 {
    margin-right: var(--sf-a6); }
  .-md\:m-right-a6 {
    margin-right: calc(0rem - var(--sf-a6)); }
  .md\:m-bottom-a6 {
    margin-bottom: var(--sf-a6); }
  .-md\:m-bottom-a6 {
    margin-bottom: calc(0rem - var(--sf-a6)); }
  .md\:m-left-a6 {
    margin-left: var(--sf-a6); }
  .-md\:m-left-a6 {
    margin-left: calc(0rem - var(--sf-a6)); }
  .md\:m-a7 {
    margin: var(--sf-a7); }
  .-md\:m-a7 {
    margin: calc(0rem - var(--sf-a7)); }
  .md\:m-top-a7 {
    margin-top: var(--sf-a7); }
  .-md\:m-top-a7 {
    margin-top: calc(0rem - var(--sf-a7)); }
  .md\:m-right-a7 {
    margin-right: var(--sf-a7); }
  .-md\:m-right-a7 {
    margin-right: calc(0rem - var(--sf-a7)); }
  .md\:m-bottom-a7 {
    margin-bottom: var(--sf-a7); }
  .-md\:m-bottom-a7 {
    margin-bottom: calc(0rem - var(--sf-a7)); }
  .md\:m-left-a7 {
    margin-left: var(--sf-a7); }
  .-md\:m-left-a7 {
    margin-left: calc(0rem - var(--sf-a7)); }
  .md\:m-a8 {
    margin: var(--sf-a8); }
  .-md\:m-a8 {
    margin: calc(0rem - var(--sf-a8)); }
  .md\:m-top-a8 {
    margin-top: var(--sf-a8); }
  .-md\:m-top-a8 {
    margin-top: calc(0rem - var(--sf-a8)); }
  .md\:m-right-a8 {
    margin-right: var(--sf-a8); }
  .-md\:m-right-a8 {
    margin-right: calc(0rem - var(--sf-a8)); }
  .md\:m-bottom-a8 {
    margin-bottom: var(--sf-a8); }
  .-md\:m-bottom-a8 {
    margin-bottom: calc(0rem - var(--sf-a8)); }
  .md\:m-left-a8 {
    margin-left: var(--sf-a8); }
  .-md\:m-left-a8 {
    margin-left: calc(0rem - var(--sf-a8)); }
  .md\:m-a9 {
    margin: var(--sf-a9); }
  .-md\:m-a9 {
    margin: calc(0rem - var(--sf-a9)); }
  .md\:m-top-a9 {
    margin-top: var(--sf-a9); }
  .-md\:m-top-a9 {
    margin-top: calc(0rem - var(--sf-a9)); }
  .md\:m-right-a9 {
    margin-right: var(--sf-a9); }
  .-md\:m-right-a9 {
    margin-right: calc(0rem - var(--sf-a9)); }
  .md\:m-bottom-a9 {
    margin-bottom: var(--sf-a9); }
  .-md\:m-bottom-a9 {
    margin-bottom: calc(0rem - var(--sf-a9)); }
  .md\:m-left-a9 {
    margin-left: var(--sf-a9); }
  .-md\:m-left-a9 {
    margin-left: calc(0rem - var(--sf-a9)); }
  .md\:m-b0 {
    margin: var(--sf-b0); }
  .-md\:m-b0 {
    margin: calc(0rem - var(--sf-b0)); }
  .md\:m-top-b0 {
    margin-top: var(--sf-b0); }
  .-md\:m-top-b0 {
    margin-top: calc(0rem - var(--sf-b0)); }
  .md\:m-right-b0 {
    margin-right: var(--sf-b0); }
  .-md\:m-right-b0 {
    margin-right: calc(0rem - var(--sf-b0)); }
  .md\:m-bottom-b0 {
    margin-bottom: var(--sf-b0); }
  .-md\:m-bottom-b0 {
    margin-bottom: calc(0rem - var(--sf-b0)); }
  .md\:m-left-b0 {
    margin-left: var(--sf-b0); }
  .-md\:m-left-b0 {
    margin-left: calc(0rem - var(--sf-b0)); }
  .md\:m-b1 {
    margin: var(--sf-b1); }
  .-md\:m-b1 {
    margin: calc(0rem - var(--sf-b1)); }
  .md\:m-top-b1 {
    margin-top: var(--sf-b1); }
  .-md\:m-top-b1 {
    margin-top: calc(0rem - var(--sf-b1)); }
  .md\:m-right-b1 {
    margin-right: var(--sf-b1); }
  .-md\:m-right-b1 {
    margin-right: calc(0rem - var(--sf-b1)); }
  .md\:m-bottom-b1 {
    margin-bottom: var(--sf-b1); }
  .-md\:m-bottom-b1 {
    margin-bottom: calc(0rem - var(--sf-b1)); }
  .md\:m-left-b1 {
    margin-left: var(--sf-b1); }
  .-md\:m-left-b1 {
    margin-left: calc(0rem - var(--sf-b1)); }
  .md\:m-b2 {
    margin: var(--sf-b2); }
  .-md\:m-b2 {
    margin: calc(0rem - var(--sf-b2)); }
  .md\:m-top-b2 {
    margin-top: var(--sf-b2); }
  .-md\:m-top-b2 {
    margin-top: calc(0rem - var(--sf-b2)); }
  .md\:m-right-b2 {
    margin-right: var(--sf-b2); }
  .-md\:m-right-b2 {
    margin-right: calc(0rem - var(--sf-b2)); }
  .md\:m-bottom-b2 {
    margin-bottom: var(--sf-b2); }
  .-md\:m-bottom-b2 {
    margin-bottom: calc(0rem - var(--sf-b2)); }
  .md\:m-left-b2 {
    margin-left: var(--sf-b2); }
  .-md\:m-left-b2 {
    margin-left: calc(0rem - var(--sf-b2)); }
  .md\:m-b3 {
    margin: var(--sf-b3); }
  .-md\:m-b3 {
    margin: calc(0rem - var(--sf-b3)); }
  .md\:m-top-b3 {
    margin-top: var(--sf-b3); }
  .-md\:m-top-b3 {
    margin-top: calc(0rem - var(--sf-b3)); }
  .md\:m-right-b3 {
    margin-right: var(--sf-b3); }
  .-md\:m-right-b3 {
    margin-right: calc(0rem - var(--sf-b3)); }
  .md\:m-bottom-b3 {
    margin-bottom: var(--sf-b3); }
  .-md\:m-bottom-b3 {
    margin-bottom: calc(0rem - var(--sf-b3)); }
  .md\:m-left-b3 {
    margin-left: var(--sf-b3); }
  .-md\:m-left-b3 {
    margin-left: calc(0rem - var(--sf-b3)); }
  .md\:m-b4 {
    margin: var(--sf-b4); }
  .-md\:m-b4 {
    margin: calc(0rem - var(--sf-b4)); }
  .md\:m-top-b4 {
    margin-top: var(--sf-b4); }
  .-md\:m-top-b4 {
    margin-top: calc(0rem - var(--sf-b4)); }
  .md\:m-right-b4 {
    margin-right: var(--sf-b4); }
  .-md\:m-right-b4 {
    margin-right: calc(0rem - var(--sf-b4)); }
  .md\:m-bottom-b4 {
    margin-bottom: var(--sf-b4); }
  .-md\:m-bottom-b4 {
    margin-bottom: calc(0rem - var(--sf-b4)); }
  .md\:m-left-b4 {
    margin-left: var(--sf-b4); }
  .-md\:m-left-b4 {
    margin-left: calc(0rem - var(--sf-b4)); }
  .md\:m-b5 {
    margin: var(--sf-b5); }
  .-md\:m-b5 {
    margin: calc(0rem - var(--sf-b5)); }
  .md\:m-top-b5 {
    margin-top: var(--sf-b5); }
  .-md\:m-top-b5 {
    margin-top: calc(0rem - var(--sf-b5)); }
  .md\:m-right-b5 {
    margin-right: var(--sf-b5); }
  .-md\:m-right-b5 {
    margin-right: calc(0rem - var(--sf-b5)); }
  .md\:m-bottom-b5 {
    margin-bottom: var(--sf-b5); }
  .-md\:m-bottom-b5 {
    margin-bottom: calc(0rem - var(--sf-b5)); }
  .md\:m-left-b5 {
    margin-left: var(--sf-b5); }
  .-md\:m-left-b5 {
    margin-left: calc(0rem - var(--sf-b5)); }
  .md\:m-b6 {
    margin: var(--sf-b6); }
  .-md\:m-b6 {
    margin: calc(0rem - var(--sf-b6)); }
  .md\:m-top-b6 {
    margin-top: var(--sf-b6); }
  .-md\:m-top-b6 {
    margin-top: calc(0rem - var(--sf-b6)); }
  .md\:m-right-b6 {
    margin-right: var(--sf-b6); }
  .-md\:m-right-b6 {
    margin-right: calc(0rem - var(--sf-b6)); }
  .md\:m-bottom-b6 {
    margin-bottom: var(--sf-b6); }
  .-md\:m-bottom-b6 {
    margin-bottom: calc(0rem - var(--sf-b6)); }
  .md\:m-left-b6 {
    margin-left: var(--sf-b6); }
  .-md\:m-left-b6 {
    margin-left: calc(0rem - var(--sf-b6)); }
  .md\:m-b7 {
    margin: var(--sf-b7); }
  .-md\:m-b7 {
    margin: calc(0rem - var(--sf-b7)); }
  .md\:m-top-b7 {
    margin-top: var(--sf-b7); }
  .-md\:m-top-b7 {
    margin-top: calc(0rem - var(--sf-b7)); }
  .md\:m-right-b7 {
    margin-right: var(--sf-b7); }
  .-md\:m-right-b7 {
    margin-right: calc(0rem - var(--sf-b7)); }
  .md\:m-bottom-b7 {
    margin-bottom: var(--sf-b7); }
  .-md\:m-bottom-b7 {
    margin-bottom: calc(0rem - var(--sf-b7)); }
  .md\:m-left-b7 {
    margin-left: var(--sf-b7); }
  .-md\:m-left-b7 {
    margin-left: calc(0rem - var(--sf-b7)); }
  .md\:m-b8 {
    margin: var(--sf-b8); }
  .-md\:m-b8 {
    margin: calc(0rem - var(--sf-b8)); }
  .md\:m-top-b8 {
    margin-top: var(--sf-b8); }
  .-md\:m-top-b8 {
    margin-top: calc(0rem - var(--sf-b8)); }
  .md\:m-right-b8 {
    margin-right: var(--sf-b8); }
  .-md\:m-right-b8 {
    margin-right: calc(0rem - var(--sf-b8)); }
  .md\:m-bottom-b8 {
    margin-bottom: var(--sf-b8); }
  .-md\:m-bottom-b8 {
    margin-bottom: calc(0rem - var(--sf-b8)); }
  .md\:m-left-b8 {
    margin-left: var(--sf-b8); }
  .-md\:m-left-b8 {
    margin-left: calc(0rem - var(--sf-b8)); }
  .md\:m-b9 {
    margin: var(--sf-b9); }
  .-md\:m-b9 {
    margin: calc(0rem - var(--sf-b9)); }
  .md\:m-top-b9 {
    margin-top: var(--sf-b9); }
  .-md\:m-top-b9 {
    margin-top: calc(0rem - var(--sf-b9)); }
  .md\:m-right-b9 {
    margin-right: var(--sf-b9); }
  .-md\:m-right-b9 {
    margin-right: calc(0rem - var(--sf-b9)); }
  .md\:m-bottom-b9 {
    margin-bottom: var(--sf-b9); }
  .-md\:m-bottom-b9 {
    margin-bottom: calc(0rem - var(--sf-b9)); }
  .md\:m-left-b9 {
    margin-left: var(--sf-b9); }
  .-md\:m-left-b9 {
    margin-left: calc(0rem - var(--sf-b9)); }
  .md\:m-c0 {
    margin: var(--sf-c0); }
  .-md\:m-c0 {
    margin: calc(0rem - var(--sf-c0)); }
  .md\:m-top-c0 {
    margin-top: var(--sf-c0); }
  .-md\:m-top-c0 {
    margin-top: calc(0rem - var(--sf-c0)); }
  .md\:m-right-c0 {
    margin-right: var(--sf-c0); }
  .-md\:m-right-c0 {
    margin-right: calc(0rem - var(--sf-c0)); }
  .md\:m-bottom-c0 {
    margin-bottom: var(--sf-c0); }
  .-md\:m-bottom-c0 {
    margin-bottom: calc(0rem - var(--sf-c0)); }
  .md\:m-left-c0 {
    margin-left: var(--sf-c0); }
  .-md\:m-left-c0 {
    margin-left: calc(0rem - var(--sf-c0)); }
  .md\:m-c1 {
    margin: var(--sf-c1); }
  .-md\:m-c1 {
    margin: calc(0rem - var(--sf-c1)); }
  .md\:m-top-c1 {
    margin-top: var(--sf-c1); }
  .-md\:m-top-c1 {
    margin-top: calc(0rem - var(--sf-c1)); }
  .md\:m-right-c1 {
    margin-right: var(--sf-c1); }
  .-md\:m-right-c1 {
    margin-right: calc(0rem - var(--sf-c1)); }
  .md\:m-bottom-c1 {
    margin-bottom: var(--sf-c1); }
  .-md\:m-bottom-c1 {
    margin-bottom: calc(0rem - var(--sf-c1)); }
  .md\:m-left-c1 {
    margin-left: var(--sf-c1); }
  .-md\:m-left-c1 {
    margin-left: calc(0rem - var(--sf-c1)); }
  .md\:m-c2 {
    margin: var(--sf-c2); }
  .-md\:m-c2 {
    margin: calc(0rem - var(--sf-c2)); }
  .md\:m-top-c2 {
    margin-top: var(--sf-c2); }
  .-md\:m-top-c2 {
    margin-top: calc(0rem - var(--sf-c2)); }
  .md\:m-right-c2 {
    margin-right: var(--sf-c2); }
  .-md\:m-right-c2 {
    margin-right: calc(0rem - var(--sf-c2)); }
  .md\:m-bottom-c2 {
    margin-bottom: var(--sf-c2); }
  .-md\:m-bottom-c2 {
    margin-bottom: calc(0rem - var(--sf-c2)); }
  .md\:m-left-c2 {
    margin-left: var(--sf-c2); }
  .-md\:m-left-c2 {
    margin-left: calc(0rem - var(--sf-c2)); }
  .md\:m-c3 {
    margin: var(--sf-c3); }
  .-md\:m-c3 {
    margin: calc(0rem - var(--sf-c3)); }
  .md\:m-top-c3 {
    margin-top: var(--sf-c3); }
  .-md\:m-top-c3 {
    margin-top: calc(0rem - var(--sf-c3)); }
  .md\:m-right-c3 {
    margin-right: var(--sf-c3); }
  .-md\:m-right-c3 {
    margin-right: calc(0rem - var(--sf-c3)); }
  .md\:m-bottom-c3 {
    margin-bottom: var(--sf-c3); }
  .-md\:m-bottom-c3 {
    margin-bottom: calc(0rem - var(--sf-c3)); }
  .md\:m-left-c3 {
    margin-left: var(--sf-c3); }
  .-md\:m-left-c3 {
    margin-left: calc(0rem - var(--sf-c3)); }
  .md\:m-c4 {
    margin: var(--sf-c4); }
  .-md\:m-c4 {
    margin: calc(0rem - var(--sf-c4)); }
  .md\:m-top-c4 {
    margin-top: var(--sf-c4); }
  .-md\:m-top-c4 {
    margin-top: calc(0rem - var(--sf-c4)); }
  .md\:m-right-c4 {
    margin-right: var(--sf-c4); }
  .-md\:m-right-c4 {
    margin-right: calc(0rem - var(--sf-c4)); }
  .md\:m-bottom-c4 {
    margin-bottom: var(--sf-c4); }
  .-md\:m-bottom-c4 {
    margin-bottom: calc(0rem - var(--sf-c4)); }
  .md\:m-left-c4 {
    margin-left: var(--sf-c4); }
  .-md\:m-left-c4 {
    margin-left: calc(0rem - var(--sf-c4)); }
  .md\:m-c5 {
    margin: var(--sf-c5); }
  .-md\:m-c5 {
    margin: calc(0rem - var(--sf-c5)); }
  .md\:m-top-c5 {
    margin-top: var(--sf-c5); }
  .-md\:m-top-c5 {
    margin-top: calc(0rem - var(--sf-c5)); }
  .md\:m-right-c5 {
    margin-right: var(--sf-c5); }
  .-md\:m-right-c5 {
    margin-right: calc(0rem - var(--sf-c5)); }
  .md\:m-bottom-c5 {
    margin-bottom: var(--sf-c5); }
  .-md\:m-bottom-c5 {
    margin-bottom: calc(0rem - var(--sf-c5)); }
  .md\:m-left-c5 {
    margin-left: var(--sf-c5); }
  .-md\:m-left-c5 {
    margin-left: calc(0rem - var(--sf-c5)); }
  .md\:m-c6 {
    margin: var(--sf-c6); }
  .-md\:m-c6 {
    margin: calc(0rem - var(--sf-c6)); }
  .md\:m-top-c6 {
    margin-top: var(--sf-c6); }
  .-md\:m-top-c6 {
    margin-top: calc(0rem - var(--sf-c6)); }
  .md\:m-right-c6 {
    margin-right: var(--sf-c6); }
  .-md\:m-right-c6 {
    margin-right: calc(0rem - var(--sf-c6)); }
  .md\:m-bottom-c6 {
    margin-bottom: var(--sf-c6); }
  .-md\:m-bottom-c6 {
    margin-bottom: calc(0rem - var(--sf-c6)); }
  .md\:m-left-c6 {
    margin-left: var(--sf-c6); }
  .-md\:m-left-c6 {
    margin-left: calc(0rem - var(--sf-c6)); }
  .md\:m-c7 {
    margin: var(--sf-c7); }
  .-md\:m-c7 {
    margin: calc(0rem - var(--sf-c7)); }
  .md\:m-top-c7 {
    margin-top: var(--sf-c7); }
  .-md\:m-top-c7 {
    margin-top: calc(0rem - var(--sf-c7)); }
  .md\:m-right-c7 {
    margin-right: var(--sf-c7); }
  .-md\:m-right-c7 {
    margin-right: calc(0rem - var(--sf-c7)); }
  .md\:m-bottom-c7 {
    margin-bottom: var(--sf-c7); }
  .-md\:m-bottom-c7 {
    margin-bottom: calc(0rem - var(--sf-c7)); }
  .md\:m-left-c7 {
    margin-left: var(--sf-c7); }
  .-md\:m-left-c7 {
    margin-left: calc(0rem - var(--sf-c7)); }
  .md\:m-c8 {
    margin: var(--sf-c8); }
  .-md\:m-c8 {
    margin: calc(0rem - var(--sf-c8)); }
  .md\:m-top-c8 {
    margin-top: var(--sf-c8); }
  .-md\:m-top-c8 {
    margin-top: calc(0rem - var(--sf-c8)); }
  .md\:m-right-c8 {
    margin-right: var(--sf-c8); }
  .-md\:m-right-c8 {
    margin-right: calc(0rem - var(--sf-c8)); }
  .md\:m-bottom-c8 {
    margin-bottom: var(--sf-c8); }
  .-md\:m-bottom-c8 {
    margin-bottom: calc(0rem - var(--sf-c8)); }
  .md\:m-left-c8 {
    margin-left: var(--sf-c8); }
  .-md\:m-left-c8 {
    margin-left: calc(0rem - var(--sf-c8)); }
  .md\:m-c9 {
    margin: var(--sf-c9); }
  .-md\:m-c9 {
    margin: calc(0rem - var(--sf-c9)); }
  .md\:m-top-c9 {
    margin-top: var(--sf-c9); }
  .-md\:m-top-c9 {
    margin-top: calc(0rem - var(--sf-c9)); }
  .md\:m-right-c9 {
    margin-right: var(--sf-c9); }
  .-md\:m-right-c9 {
    margin-right: calc(0rem - var(--sf-c9)); }
  .md\:m-bottom-c9 {
    margin-bottom: var(--sf-c9); }
  .-md\:m-bottom-c9 {
    margin-bottom: calc(0rem - var(--sf-c9)); }
  .md\:m-left-c9 {
    margin-left: var(--sf-c9); }
  .-md\:m-left-c9 {
    margin-left: calc(0rem - var(--sf-c9)); }
  .md\:m-d0 {
    margin: var(--sf-d0); }
  .-md\:m-d0 {
    margin: calc(0rem - var(--sf-d0)); }
  .md\:m-top-d0 {
    margin-top: var(--sf-d0); }
  .-md\:m-top-d0 {
    margin-top: calc(0rem - var(--sf-d0)); }
  .md\:m-right-d0 {
    margin-right: var(--sf-d0); }
  .-md\:m-right-d0 {
    margin-right: calc(0rem - var(--sf-d0)); }
  .md\:m-bottom-d0 {
    margin-bottom: var(--sf-d0); }
  .-md\:m-bottom-d0 {
    margin-bottom: calc(0rem - var(--sf-d0)); }
  .md\:m-left-d0 {
    margin-left: var(--sf-d0); }
  .-md\:m-left-d0 {
    margin-left: calc(0rem - var(--sf-d0)); }
  .md\:m-d1 {
    margin: var(--sf-d1); }
  .-md\:m-d1 {
    margin: calc(0rem - var(--sf-d1)); }
  .md\:m-top-d1 {
    margin-top: var(--sf-d1); }
  .-md\:m-top-d1 {
    margin-top: calc(0rem - var(--sf-d1)); }
  .md\:m-right-d1 {
    margin-right: var(--sf-d1); }
  .-md\:m-right-d1 {
    margin-right: calc(0rem - var(--sf-d1)); }
  .md\:m-bottom-d1 {
    margin-bottom: var(--sf-d1); }
  .-md\:m-bottom-d1 {
    margin-bottom: calc(0rem - var(--sf-d1)); }
  .md\:m-left-d1 {
    margin-left: var(--sf-d1); }
  .-md\:m-left-d1 {
    margin-left: calc(0rem - var(--sf-d1)); }
  .md\:m-d2 {
    margin: var(--sf-d2); }
  .-md\:m-d2 {
    margin: calc(0rem - var(--sf-d2)); }
  .md\:m-top-d2 {
    margin-top: var(--sf-d2); }
  .-md\:m-top-d2 {
    margin-top: calc(0rem - var(--sf-d2)); }
  .md\:m-right-d2 {
    margin-right: var(--sf-d2); }
  .-md\:m-right-d2 {
    margin-right: calc(0rem - var(--sf-d2)); }
  .md\:m-bottom-d2 {
    margin-bottom: var(--sf-d2); }
  .-md\:m-bottom-d2 {
    margin-bottom: calc(0rem - var(--sf-d2)); }
  .md\:m-left-d2 {
    margin-left: var(--sf-d2); }
  .-md\:m-left-d2 {
    margin-left: calc(0rem - var(--sf-d2)); }
  .md\:m-d3 {
    margin: var(--sf-d3); }
  .-md\:m-d3 {
    margin: calc(0rem - var(--sf-d3)); }
  .md\:m-top-d3 {
    margin-top: var(--sf-d3); }
  .-md\:m-top-d3 {
    margin-top: calc(0rem - var(--sf-d3)); }
  .md\:m-right-d3 {
    margin-right: var(--sf-d3); }
  .-md\:m-right-d3 {
    margin-right: calc(0rem - var(--sf-d3)); }
  .md\:m-bottom-d3 {
    margin-bottom: var(--sf-d3); }
  .-md\:m-bottom-d3 {
    margin-bottom: calc(0rem - var(--sf-d3)); }
  .md\:m-left-d3 {
    margin-left: var(--sf-d3); }
  .-md\:m-left-d3 {
    margin-left: calc(0rem - var(--sf-d3)); }
  .md\:m-d4 {
    margin: var(--sf-d4); }
  .-md\:m-d4 {
    margin: calc(0rem - var(--sf-d4)); }
  .md\:m-top-d4 {
    margin-top: var(--sf-d4); }
  .-md\:m-top-d4 {
    margin-top: calc(0rem - var(--sf-d4)); }
  .md\:m-right-d4 {
    margin-right: var(--sf-d4); }
  .-md\:m-right-d4 {
    margin-right: calc(0rem - var(--sf-d4)); }
  .md\:m-bottom-d4 {
    margin-bottom: var(--sf-d4); }
  .-md\:m-bottom-d4 {
    margin-bottom: calc(0rem - var(--sf-d4)); }
  .md\:m-left-d4 {
    margin-left: var(--sf-d4); }
  .-md\:m-left-d4 {
    margin-left: calc(0rem - var(--sf-d4)); }
  .md\:m-d5 {
    margin: var(--sf-d5); }
  .-md\:m-d5 {
    margin: calc(0rem - var(--sf-d5)); }
  .md\:m-top-d5 {
    margin-top: var(--sf-d5); }
  .-md\:m-top-d5 {
    margin-top: calc(0rem - var(--sf-d5)); }
  .md\:m-right-d5 {
    margin-right: var(--sf-d5); }
  .-md\:m-right-d5 {
    margin-right: calc(0rem - var(--sf-d5)); }
  .md\:m-bottom-d5 {
    margin-bottom: var(--sf-d5); }
  .-md\:m-bottom-d5 {
    margin-bottom: calc(0rem - var(--sf-d5)); }
  .md\:m-left-d5 {
    margin-left: var(--sf-d5); }
  .-md\:m-left-d5 {
    margin-left: calc(0rem - var(--sf-d5)); }
  .md\:m-d6 {
    margin: var(--sf-d6); }
  .-md\:m-d6 {
    margin: calc(0rem - var(--sf-d6)); }
  .md\:m-top-d6 {
    margin-top: var(--sf-d6); }
  .-md\:m-top-d6 {
    margin-top: calc(0rem - var(--sf-d6)); }
  .md\:m-right-d6 {
    margin-right: var(--sf-d6); }
  .-md\:m-right-d6 {
    margin-right: calc(0rem - var(--sf-d6)); }
  .md\:m-bottom-d6 {
    margin-bottom: var(--sf-d6); }
  .-md\:m-bottom-d6 {
    margin-bottom: calc(0rem - var(--sf-d6)); }
  .md\:m-left-d6 {
    margin-left: var(--sf-d6); }
  .-md\:m-left-d6 {
    margin-left: calc(0rem - var(--sf-d6)); }
  .md\:m-d7 {
    margin: var(--sf-d7); }
  .-md\:m-d7 {
    margin: calc(0rem - var(--sf-d7)); }
  .md\:m-top-d7 {
    margin-top: var(--sf-d7); }
  .-md\:m-top-d7 {
    margin-top: calc(0rem - var(--sf-d7)); }
  .md\:m-right-d7 {
    margin-right: var(--sf-d7); }
  .-md\:m-right-d7 {
    margin-right: calc(0rem - var(--sf-d7)); }
  .md\:m-bottom-d7 {
    margin-bottom: var(--sf-d7); }
  .-md\:m-bottom-d7 {
    margin-bottom: calc(0rem - var(--sf-d7)); }
  .md\:m-left-d7 {
    margin-left: var(--sf-d7); }
  .-md\:m-left-d7 {
    margin-left: calc(0rem - var(--sf-d7)); }
  .md\:m-d8 {
    margin: var(--sf-d8); }
  .-md\:m-d8 {
    margin: calc(0rem - var(--sf-d8)); }
  .md\:m-top-d8 {
    margin-top: var(--sf-d8); }
  .-md\:m-top-d8 {
    margin-top: calc(0rem - var(--sf-d8)); }
  .md\:m-right-d8 {
    margin-right: var(--sf-d8); }
  .-md\:m-right-d8 {
    margin-right: calc(0rem - var(--sf-d8)); }
  .md\:m-bottom-d8 {
    margin-bottom: var(--sf-d8); }
  .-md\:m-bottom-d8 {
    margin-bottom: calc(0rem - var(--sf-d8)); }
  .md\:m-left-d8 {
    margin-left: var(--sf-d8); }
  .-md\:m-left-d8 {
    margin-left: calc(0rem - var(--sf-d8)); }
  .md\:m-d9 {
    margin: var(--sf-d9); }
  .-md\:m-d9 {
    margin: calc(0rem - var(--sf-d9)); }
  .md\:m-top-d9 {
    margin-top: var(--sf-d9); }
  .-md\:m-top-d9 {
    margin-top: calc(0rem - var(--sf-d9)); }
  .md\:m-right-d9 {
    margin-right: var(--sf-d9); }
  .-md\:m-right-d9 {
    margin-right: calc(0rem - var(--sf-d9)); }
  .md\:m-bottom-d9 {
    margin-bottom: var(--sf-d9); }
  .-md\:m-bottom-d9 {
    margin-bottom: calc(0rem - var(--sf-d9)); }
  .md\:m-left-d9 {
    margin-left: var(--sf-d9); }
  .-md\:m-left-d9 {
    margin-left: calc(0rem - var(--sf-d9)); }
  .md\:m-e0 {
    margin: var(--sf-e0); }
  .-md\:m-e0 {
    margin: calc(0rem - var(--sf-e0)); }
  .md\:m-top-e0 {
    margin-top: var(--sf-e0); }
  .-md\:m-top-e0 {
    margin-top: calc(0rem - var(--sf-e0)); }
  .md\:m-right-e0 {
    margin-right: var(--sf-e0); }
  .-md\:m-right-e0 {
    margin-right: calc(0rem - var(--sf-e0)); }
  .md\:m-bottom-e0 {
    margin-bottom: var(--sf-e0); }
  .-md\:m-bottom-e0 {
    margin-bottom: calc(0rem - var(--sf-e0)); }
  .md\:m-left-e0 {
    margin-left: var(--sf-e0); }
  .-md\:m-left-e0 {
    margin-left: calc(0rem - var(--sf-e0)); }
  .md\:m-e1 {
    margin: var(--sf-e1); }
  .-md\:m-e1 {
    margin: calc(0rem - var(--sf-e1)); }
  .md\:m-top-e1 {
    margin-top: var(--sf-e1); }
  .-md\:m-top-e1 {
    margin-top: calc(0rem - var(--sf-e1)); }
  .md\:m-right-e1 {
    margin-right: var(--sf-e1); }
  .-md\:m-right-e1 {
    margin-right: calc(0rem - var(--sf-e1)); }
  .md\:m-bottom-e1 {
    margin-bottom: var(--sf-e1); }
  .-md\:m-bottom-e1 {
    margin-bottom: calc(0rem - var(--sf-e1)); }
  .md\:m-left-e1 {
    margin-left: var(--sf-e1); }
  .-md\:m-left-e1 {
    margin-left: calc(0rem - var(--sf-e1)); }
  .md\:m-e2 {
    margin: var(--sf-e2); }
  .-md\:m-e2 {
    margin: calc(0rem - var(--sf-e2)); }
  .md\:m-top-e2 {
    margin-top: var(--sf-e2); }
  .-md\:m-top-e2 {
    margin-top: calc(0rem - var(--sf-e2)); }
  .md\:m-right-e2 {
    margin-right: var(--sf-e2); }
  .-md\:m-right-e2 {
    margin-right: calc(0rem - var(--sf-e2)); }
  .md\:m-bottom-e2 {
    margin-bottom: var(--sf-e2); }
  .-md\:m-bottom-e2 {
    margin-bottom: calc(0rem - var(--sf-e2)); }
  .md\:m-left-e2 {
    margin-left: var(--sf-e2); }
  .-md\:m-left-e2 {
    margin-left: calc(0rem - var(--sf-e2)); }
  .md\:m-e3 {
    margin: var(--sf-e3); }
  .-md\:m-e3 {
    margin: calc(0rem - var(--sf-e3)); }
  .md\:m-top-e3 {
    margin-top: var(--sf-e3); }
  .-md\:m-top-e3 {
    margin-top: calc(0rem - var(--sf-e3)); }
  .md\:m-right-e3 {
    margin-right: var(--sf-e3); }
  .-md\:m-right-e3 {
    margin-right: calc(0rem - var(--sf-e3)); }
  .md\:m-bottom-e3 {
    margin-bottom: var(--sf-e3); }
  .-md\:m-bottom-e3 {
    margin-bottom: calc(0rem - var(--sf-e3)); }
  .md\:m-left-e3 {
    margin-left: var(--sf-e3); }
  .-md\:m-left-e3 {
    margin-left: calc(0rem - var(--sf-e3)); }
  .md\:m-e4 {
    margin: var(--sf-e4); }
  .-md\:m-e4 {
    margin: calc(0rem - var(--sf-e4)); }
  .md\:m-top-e4 {
    margin-top: var(--sf-e4); }
  .-md\:m-top-e4 {
    margin-top: calc(0rem - var(--sf-e4)); }
  .md\:m-right-e4 {
    margin-right: var(--sf-e4); }
  .-md\:m-right-e4 {
    margin-right: calc(0rem - var(--sf-e4)); }
  .md\:m-bottom-e4 {
    margin-bottom: var(--sf-e4); }
  .-md\:m-bottom-e4 {
    margin-bottom: calc(0rem - var(--sf-e4)); }
  .md\:m-left-e4 {
    margin-left: var(--sf-e4); }
  .-md\:m-left-e4 {
    margin-left: calc(0rem - var(--sf-e4)); }
  .md\:m-e5 {
    margin: var(--sf-e5); }
  .-md\:m-e5 {
    margin: calc(0rem - var(--sf-e5)); }
  .md\:m-top-e5 {
    margin-top: var(--sf-e5); }
  .-md\:m-top-e5 {
    margin-top: calc(0rem - var(--sf-e5)); }
  .md\:m-right-e5 {
    margin-right: var(--sf-e5); }
  .-md\:m-right-e5 {
    margin-right: calc(0rem - var(--sf-e5)); }
  .md\:m-bottom-e5 {
    margin-bottom: var(--sf-e5); }
  .-md\:m-bottom-e5 {
    margin-bottom: calc(0rem - var(--sf-e5)); }
  .md\:m-left-e5 {
    margin-left: var(--sf-e5); }
  .-md\:m-left-e5 {
    margin-left: calc(0rem - var(--sf-e5)); }
  .md\:m-e6 {
    margin: var(--sf-e6); }
  .-md\:m-e6 {
    margin: calc(0rem - var(--sf-e6)); }
  .md\:m-top-e6 {
    margin-top: var(--sf-e6); }
  .-md\:m-top-e6 {
    margin-top: calc(0rem - var(--sf-e6)); }
  .md\:m-right-e6 {
    margin-right: var(--sf-e6); }
  .-md\:m-right-e6 {
    margin-right: calc(0rem - var(--sf-e6)); }
  .md\:m-bottom-e6 {
    margin-bottom: var(--sf-e6); }
  .-md\:m-bottom-e6 {
    margin-bottom: calc(0rem - var(--sf-e6)); }
  .md\:m-left-e6 {
    margin-left: var(--sf-e6); }
  .-md\:m-left-e6 {
    margin-left: calc(0rem - var(--sf-e6)); }
  .md\:m-e7 {
    margin: var(--sf-e7); }
  .-md\:m-e7 {
    margin: calc(0rem - var(--sf-e7)); }
  .md\:m-top-e7 {
    margin-top: var(--sf-e7); }
  .-md\:m-top-e7 {
    margin-top: calc(0rem - var(--sf-e7)); }
  .md\:m-right-e7 {
    margin-right: var(--sf-e7); }
  .-md\:m-right-e7 {
    margin-right: calc(0rem - var(--sf-e7)); }
  .md\:m-bottom-e7 {
    margin-bottom: var(--sf-e7); }
  .-md\:m-bottom-e7 {
    margin-bottom: calc(0rem - var(--sf-e7)); }
  .md\:m-left-e7 {
    margin-left: var(--sf-e7); }
  .-md\:m-left-e7 {
    margin-left: calc(0rem - var(--sf-e7)); }
  .md\:m-e8 {
    margin: var(--sf-e8); }
  .-md\:m-e8 {
    margin: calc(0rem - var(--sf-e8)); }
  .md\:m-top-e8 {
    margin-top: var(--sf-e8); }
  .-md\:m-top-e8 {
    margin-top: calc(0rem - var(--sf-e8)); }
  .md\:m-right-e8 {
    margin-right: var(--sf-e8); }
  .-md\:m-right-e8 {
    margin-right: calc(0rem - var(--sf-e8)); }
  .md\:m-bottom-e8 {
    margin-bottom: var(--sf-e8); }
  .-md\:m-bottom-e8 {
    margin-bottom: calc(0rem - var(--sf-e8)); }
  .md\:m-left-e8 {
    margin-left: var(--sf-e8); }
  .-md\:m-left-e8 {
    margin-left: calc(0rem - var(--sf-e8)); }
  .md\:m-e9 {
    margin: var(--sf-e9); }
  .-md\:m-e9 {
    margin: calc(0rem - var(--sf-e9)); }
  .md\:m-top-e9 {
    margin-top: var(--sf-e9); }
  .-md\:m-top-e9 {
    margin-top: calc(0rem - var(--sf-e9)); }
  .md\:m-right-e9 {
    margin-right: var(--sf-e9); }
  .-md\:m-right-e9 {
    margin-right: calc(0rem - var(--sf-e9)); }
  .md\:m-bottom-e9 {
    margin-bottom: var(--sf-e9); }
  .-md\:m-bottom-e9 {
    margin-bottom: calc(0rem - var(--sf-e9)); }
  .md\:m-left-e9 {
    margin-left: var(--sf-e9); }
  .-md\:m-left-e9 {
    margin-left: calc(0rem - var(--sf-e9)); }
  .md\:m-f0 {
    margin: var(--sf-f0); }
  .-md\:m-f0 {
    margin: calc(0rem - var(--sf-f0)); }
  .md\:m-top-f0 {
    margin-top: var(--sf-f0); }
  .-md\:m-top-f0 {
    margin-top: calc(0rem - var(--sf-f0)); }
  .md\:m-right-f0 {
    margin-right: var(--sf-f0); }
  .-md\:m-right-f0 {
    margin-right: calc(0rem - var(--sf-f0)); }
  .md\:m-bottom-f0 {
    margin-bottom: var(--sf-f0); }
  .-md\:m-bottom-f0 {
    margin-bottom: calc(0rem - var(--sf-f0)); }
  .md\:m-left-f0 {
    margin-left: var(--sf-f0); }
  .-md\:m-left-f0 {
    margin-left: calc(0rem - var(--sf-f0)); }
  .md\:m-f1 {
    margin: var(--sf-f1); }
  .-md\:m-f1 {
    margin: calc(0rem - var(--sf-f1)); }
  .md\:m-top-f1 {
    margin-top: var(--sf-f1); }
  .-md\:m-top-f1 {
    margin-top: calc(0rem - var(--sf-f1)); }
  .md\:m-right-f1 {
    margin-right: var(--sf-f1); }
  .-md\:m-right-f1 {
    margin-right: calc(0rem - var(--sf-f1)); }
  .md\:m-bottom-f1 {
    margin-bottom: var(--sf-f1); }
  .-md\:m-bottom-f1 {
    margin-bottom: calc(0rem - var(--sf-f1)); }
  .md\:m-left-f1 {
    margin-left: var(--sf-f1); }
  .-md\:m-left-f1 {
    margin-left: calc(0rem - var(--sf-f1)); }
  .md\:m-f2 {
    margin: var(--sf-f2); }
  .-md\:m-f2 {
    margin: calc(0rem - var(--sf-f2)); }
  .md\:m-top-f2 {
    margin-top: var(--sf-f2); }
  .-md\:m-top-f2 {
    margin-top: calc(0rem - var(--sf-f2)); }
  .md\:m-right-f2 {
    margin-right: var(--sf-f2); }
  .-md\:m-right-f2 {
    margin-right: calc(0rem - var(--sf-f2)); }
  .md\:m-bottom-f2 {
    margin-bottom: var(--sf-f2); }
  .-md\:m-bottom-f2 {
    margin-bottom: calc(0rem - var(--sf-f2)); }
  .md\:m-left-f2 {
    margin-left: var(--sf-f2); }
  .-md\:m-left-f2 {
    margin-left: calc(0rem - var(--sf-f2)); }
  .md\:m-f3 {
    margin: var(--sf-f3); }
  .-md\:m-f3 {
    margin: calc(0rem - var(--sf-f3)); }
  .md\:m-top-f3 {
    margin-top: var(--sf-f3); }
  .-md\:m-top-f3 {
    margin-top: calc(0rem - var(--sf-f3)); }
  .md\:m-right-f3 {
    margin-right: var(--sf-f3); }
  .-md\:m-right-f3 {
    margin-right: calc(0rem - var(--sf-f3)); }
  .md\:m-bottom-f3 {
    margin-bottom: var(--sf-f3); }
  .-md\:m-bottom-f3 {
    margin-bottom: calc(0rem - var(--sf-f3)); }
  .md\:m-left-f3 {
    margin-left: var(--sf-f3); }
  .-md\:m-left-f3 {
    margin-left: calc(0rem - var(--sf-f3)); }
  .md\:m-f4 {
    margin: var(--sf-f4); }
  .-md\:m-f4 {
    margin: calc(0rem - var(--sf-f4)); }
  .md\:m-top-f4 {
    margin-top: var(--sf-f4); }
  .-md\:m-top-f4 {
    margin-top: calc(0rem - var(--sf-f4)); }
  .md\:m-right-f4 {
    margin-right: var(--sf-f4); }
  .-md\:m-right-f4 {
    margin-right: calc(0rem - var(--sf-f4)); }
  .md\:m-bottom-f4 {
    margin-bottom: var(--sf-f4); }
  .-md\:m-bottom-f4 {
    margin-bottom: calc(0rem - var(--sf-f4)); }
  .md\:m-left-f4 {
    margin-left: var(--sf-f4); }
  .-md\:m-left-f4 {
    margin-left: calc(0rem - var(--sf-f4)); }
  .md\:m-f5 {
    margin: var(--sf-f5); }
  .-md\:m-f5 {
    margin: calc(0rem - var(--sf-f5)); }
  .md\:m-top-f5 {
    margin-top: var(--sf-f5); }
  .-md\:m-top-f5 {
    margin-top: calc(0rem - var(--sf-f5)); }
  .md\:m-right-f5 {
    margin-right: var(--sf-f5); }
  .-md\:m-right-f5 {
    margin-right: calc(0rem - var(--sf-f5)); }
  .md\:m-bottom-f5 {
    margin-bottom: var(--sf-f5); }
  .-md\:m-bottom-f5 {
    margin-bottom: calc(0rem - var(--sf-f5)); }
  .md\:m-left-f5 {
    margin-left: var(--sf-f5); }
  .-md\:m-left-f5 {
    margin-left: calc(0rem - var(--sf-f5)); }
  .md\:m-f6 {
    margin: var(--sf-f6); }
  .-md\:m-f6 {
    margin: calc(0rem - var(--sf-f6)); }
  .md\:m-top-f6 {
    margin-top: var(--sf-f6); }
  .-md\:m-top-f6 {
    margin-top: calc(0rem - var(--sf-f6)); }
  .md\:m-right-f6 {
    margin-right: var(--sf-f6); }
  .-md\:m-right-f6 {
    margin-right: calc(0rem - var(--sf-f6)); }
  .md\:m-bottom-f6 {
    margin-bottom: var(--sf-f6); }
  .-md\:m-bottom-f6 {
    margin-bottom: calc(0rem - var(--sf-f6)); }
  .md\:m-left-f6 {
    margin-left: var(--sf-f6); }
  .-md\:m-left-f6 {
    margin-left: calc(0rem - var(--sf-f6)); }
  .md\:m-f7 {
    margin: var(--sf-f7); }
  .-md\:m-f7 {
    margin: calc(0rem - var(--sf-f7)); }
  .md\:m-top-f7 {
    margin-top: var(--sf-f7); }
  .-md\:m-top-f7 {
    margin-top: calc(0rem - var(--sf-f7)); }
  .md\:m-right-f7 {
    margin-right: var(--sf-f7); }
  .-md\:m-right-f7 {
    margin-right: calc(0rem - var(--sf-f7)); }
  .md\:m-bottom-f7 {
    margin-bottom: var(--sf-f7); }
  .-md\:m-bottom-f7 {
    margin-bottom: calc(0rem - var(--sf-f7)); }
  .md\:m-left-f7 {
    margin-left: var(--sf-f7); }
  .-md\:m-left-f7 {
    margin-left: calc(0rem - var(--sf-f7)); }
  .md\:m-f8 {
    margin: var(--sf-f8); }
  .-md\:m-f8 {
    margin: calc(0rem - var(--sf-f8)); }
  .md\:m-top-f8 {
    margin-top: var(--sf-f8); }
  .-md\:m-top-f8 {
    margin-top: calc(0rem - var(--sf-f8)); }
  .md\:m-right-f8 {
    margin-right: var(--sf-f8); }
  .-md\:m-right-f8 {
    margin-right: calc(0rem - var(--sf-f8)); }
  .md\:m-bottom-f8 {
    margin-bottom: var(--sf-f8); }
  .-md\:m-bottom-f8 {
    margin-bottom: calc(0rem - var(--sf-f8)); }
  .md\:m-left-f8 {
    margin-left: var(--sf-f8); }
  .-md\:m-left-f8 {
    margin-left: calc(0rem - var(--sf-f8)); }
  .md\:m-f9 {
    margin: var(--sf-f9); }
  .-md\:m-f9 {
    margin: calc(0rem - var(--sf-f9)); }
  .md\:m-top-f9 {
    margin-top: var(--sf-f9); }
  .-md\:m-top-f9 {
    margin-top: calc(0rem - var(--sf-f9)); }
  .md\:m-right-f9 {
    margin-right: var(--sf-f9); }
  .-md\:m-right-f9 {
    margin-right: calc(0rem - var(--sf-f9)); }
  .md\:m-bottom-f9 {
    margin-bottom: var(--sf-f9); }
  .-md\:m-bottom-f9 {
    margin-bottom: calc(0rem - var(--sf-f9)); }
  .md\:m-left-f9 {
    margin-left: var(--sf-f9); }
  .-md\:m-left-f9 {
    margin-left: calc(0rem - var(--sf-f9)); }
  .md\:m-g0 {
    margin: var(--sf-g0); }
  .-md\:m-g0 {
    margin: calc(0rem - var(--sf-g0)); }
  .md\:m-top-g0 {
    margin-top: var(--sf-g0); }
  .-md\:m-top-g0 {
    margin-top: calc(0rem - var(--sf-g0)); }
  .md\:m-right-g0 {
    margin-right: var(--sf-g0); }
  .-md\:m-right-g0 {
    margin-right: calc(0rem - var(--sf-g0)); }
  .md\:m-bottom-g0 {
    margin-bottom: var(--sf-g0); }
  .-md\:m-bottom-g0 {
    margin-bottom: calc(0rem - var(--sf-g0)); }
  .md\:m-left-g0 {
    margin-left: var(--sf-g0); }
  .-md\:m-left-g0 {
    margin-left: calc(0rem - var(--sf-g0)); }
  .md\:m-g1 {
    margin: var(--sf-g1); }
  .-md\:m-g1 {
    margin: calc(0rem - var(--sf-g1)); }
  .md\:m-top-g1 {
    margin-top: var(--sf-g1); }
  .-md\:m-top-g1 {
    margin-top: calc(0rem - var(--sf-g1)); }
  .md\:m-right-g1 {
    margin-right: var(--sf-g1); }
  .-md\:m-right-g1 {
    margin-right: calc(0rem - var(--sf-g1)); }
  .md\:m-bottom-g1 {
    margin-bottom: var(--sf-g1); }
  .-md\:m-bottom-g1 {
    margin-bottom: calc(0rem - var(--sf-g1)); }
  .md\:m-left-g1 {
    margin-left: var(--sf-g1); }
  .-md\:m-left-g1 {
    margin-left: calc(0rem - var(--sf-g1)); }
  .md\:m-g2 {
    margin: var(--sf-g2); }
  .-md\:m-g2 {
    margin: calc(0rem - var(--sf-g2)); }
  .md\:m-top-g2 {
    margin-top: var(--sf-g2); }
  .-md\:m-top-g2 {
    margin-top: calc(0rem - var(--sf-g2)); }
  .md\:m-right-g2 {
    margin-right: var(--sf-g2); }
  .-md\:m-right-g2 {
    margin-right: calc(0rem - var(--sf-g2)); }
  .md\:m-bottom-g2 {
    margin-bottom: var(--sf-g2); }
  .-md\:m-bottom-g2 {
    margin-bottom: calc(0rem - var(--sf-g2)); }
  .md\:m-left-g2 {
    margin-left: var(--sf-g2); }
  .-md\:m-left-g2 {
    margin-left: calc(0rem - var(--sf-g2)); }
  .md\:m-g3 {
    margin: var(--sf-g3); }
  .-md\:m-g3 {
    margin: calc(0rem - var(--sf-g3)); }
  .md\:m-top-g3 {
    margin-top: var(--sf-g3); }
  .-md\:m-top-g3 {
    margin-top: calc(0rem - var(--sf-g3)); }
  .md\:m-right-g3 {
    margin-right: var(--sf-g3); }
  .-md\:m-right-g3 {
    margin-right: calc(0rem - var(--sf-g3)); }
  .md\:m-bottom-g3 {
    margin-bottom: var(--sf-g3); }
  .-md\:m-bottom-g3 {
    margin-bottom: calc(0rem - var(--sf-g3)); }
  .md\:m-left-g3 {
    margin-left: var(--sf-g3); }
  .-md\:m-left-g3 {
    margin-left: calc(0rem - var(--sf-g3)); }
  .md\:m-g4 {
    margin: var(--sf-g4); }
  .-md\:m-g4 {
    margin: calc(0rem - var(--sf-g4)); }
  .md\:m-top-g4 {
    margin-top: var(--sf-g4); }
  .-md\:m-top-g4 {
    margin-top: calc(0rem - var(--sf-g4)); }
  .md\:m-right-g4 {
    margin-right: var(--sf-g4); }
  .-md\:m-right-g4 {
    margin-right: calc(0rem - var(--sf-g4)); }
  .md\:m-bottom-g4 {
    margin-bottom: var(--sf-g4); }
  .-md\:m-bottom-g4 {
    margin-bottom: calc(0rem - var(--sf-g4)); }
  .md\:m-left-g4 {
    margin-left: var(--sf-g4); }
  .-md\:m-left-g4 {
    margin-left: calc(0rem - var(--sf-g4)); }
  .md\:m-g5 {
    margin: var(--sf-g5); }
  .-md\:m-g5 {
    margin: calc(0rem - var(--sf-g5)); }
  .md\:m-top-g5 {
    margin-top: var(--sf-g5); }
  .-md\:m-top-g5 {
    margin-top: calc(0rem - var(--sf-g5)); }
  .md\:m-right-g5 {
    margin-right: var(--sf-g5); }
  .-md\:m-right-g5 {
    margin-right: calc(0rem - var(--sf-g5)); }
  .md\:m-bottom-g5 {
    margin-bottom: var(--sf-g5); }
  .-md\:m-bottom-g5 {
    margin-bottom: calc(0rem - var(--sf-g5)); }
  .md\:m-left-g5 {
    margin-left: var(--sf-g5); }
  .-md\:m-left-g5 {
    margin-left: calc(0rem - var(--sf-g5)); }
  .md\:m-g6 {
    margin: var(--sf-g6); }
  .-md\:m-g6 {
    margin: calc(0rem - var(--sf-g6)); }
  .md\:m-top-g6 {
    margin-top: var(--sf-g6); }
  .-md\:m-top-g6 {
    margin-top: calc(0rem - var(--sf-g6)); }
  .md\:m-right-g6 {
    margin-right: var(--sf-g6); }
  .-md\:m-right-g6 {
    margin-right: calc(0rem - var(--sf-g6)); }
  .md\:m-bottom-g6 {
    margin-bottom: var(--sf-g6); }
  .-md\:m-bottom-g6 {
    margin-bottom: calc(0rem - var(--sf-g6)); }
  .md\:m-left-g6 {
    margin-left: var(--sf-g6); }
  .-md\:m-left-g6 {
    margin-left: calc(0rem - var(--sf-g6)); }
  .md\:m-g7 {
    margin: var(--sf-g7); }
  .-md\:m-g7 {
    margin: calc(0rem - var(--sf-g7)); }
  .md\:m-top-g7 {
    margin-top: var(--sf-g7); }
  .-md\:m-top-g7 {
    margin-top: calc(0rem - var(--sf-g7)); }
  .md\:m-right-g7 {
    margin-right: var(--sf-g7); }
  .-md\:m-right-g7 {
    margin-right: calc(0rem - var(--sf-g7)); }
  .md\:m-bottom-g7 {
    margin-bottom: var(--sf-g7); }
  .-md\:m-bottom-g7 {
    margin-bottom: calc(0rem - var(--sf-g7)); }
  .md\:m-left-g7 {
    margin-left: var(--sf-g7); }
  .-md\:m-left-g7 {
    margin-left: calc(0rem - var(--sf-g7)); }
  .md\:m-g8 {
    margin: var(--sf-g8); }
  .-md\:m-g8 {
    margin: calc(0rem - var(--sf-g8)); }
  .md\:m-top-g8 {
    margin-top: var(--sf-g8); }
  .-md\:m-top-g8 {
    margin-top: calc(0rem - var(--sf-g8)); }
  .md\:m-right-g8 {
    margin-right: var(--sf-g8); }
  .-md\:m-right-g8 {
    margin-right: calc(0rem - var(--sf-g8)); }
  .md\:m-bottom-g8 {
    margin-bottom: var(--sf-g8); }
  .-md\:m-bottom-g8 {
    margin-bottom: calc(0rem - var(--sf-g8)); }
  .md\:m-left-g8 {
    margin-left: var(--sf-g8); }
  .-md\:m-left-g8 {
    margin-left: calc(0rem - var(--sf-g8)); }
  .md\:m-g9 {
    margin: var(--sf-g9); }
  .-md\:m-g9 {
    margin: calc(0rem - var(--sf-g9)); }
  .md\:m-top-g9 {
    margin-top: var(--sf-g9); }
  .-md\:m-top-g9 {
    margin-top: calc(0rem - var(--sf-g9)); }
  .md\:m-right-g9 {
    margin-right: var(--sf-g9); }
  .-md\:m-right-g9 {
    margin-right: calc(0rem - var(--sf-g9)); }
  .md\:m-bottom-g9 {
    margin-bottom: var(--sf-g9); }
  .-md\:m-bottom-g9 {
    margin-bottom: calc(0rem - var(--sf-g9)); }
  .md\:m-left-g9 {
    margin-left: var(--sf-g9); }
  .-md\:m-left-g9 {
    margin-left: calc(0rem - var(--sf-g9)); }
  .md\:m-h0 {
    margin: var(--sf-h0); }
  .-md\:m-h0 {
    margin: calc(0rem - var(--sf-h0)); }
  .md\:m-top-h0 {
    margin-top: var(--sf-h0); }
  .-md\:m-top-h0 {
    margin-top: calc(0rem - var(--sf-h0)); }
  .md\:m-right-h0 {
    margin-right: var(--sf-h0); }
  .-md\:m-right-h0 {
    margin-right: calc(0rem - var(--sf-h0)); }
  .md\:m-bottom-h0 {
    margin-bottom: var(--sf-h0); }
  .-md\:m-bottom-h0 {
    margin-bottom: calc(0rem - var(--sf-h0)); }
  .md\:m-left-h0 {
    margin-left: var(--sf-h0); }
  .-md\:m-left-h0 {
    margin-left: calc(0rem - var(--sf-h0)); }
  .md\:m-h1 {
    margin: var(--sf-h1); }
  .-md\:m-h1 {
    margin: calc(0rem - var(--sf-h1)); }
  .md\:m-top-h1 {
    margin-top: var(--sf-h1); }
  .-md\:m-top-h1 {
    margin-top: calc(0rem - var(--sf-h1)); }
  .md\:m-right-h1 {
    margin-right: var(--sf-h1); }
  .-md\:m-right-h1 {
    margin-right: calc(0rem - var(--sf-h1)); }
  .md\:m-bottom-h1 {
    margin-bottom: var(--sf-h1); }
  .-md\:m-bottom-h1 {
    margin-bottom: calc(0rem - var(--sf-h1)); }
  .md\:m-left-h1 {
    margin-left: var(--sf-h1); }
  .-md\:m-left-h1 {
    margin-left: calc(0rem - var(--sf-h1)); }
  .md\:m-h2 {
    margin: var(--sf-h2); }
  .-md\:m-h2 {
    margin: calc(0rem - var(--sf-h2)); }
  .md\:m-top-h2 {
    margin-top: var(--sf-h2); }
  .-md\:m-top-h2 {
    margin-top: calc(0rem - var(--sf-h2)); }
  .md\:m-right-h2 {
    margin-right: var(--sf-h2); }
  .-md\:m-right-h2 {
    margin-right: calc(0rem - var(--sf-h2)); }
  .md\:m-bottom-h2 {
    margin-bottom: var(--sf-h2); }
  .-md\:m-bottom-h2 {
    margin-bottom: calc(0rem - var(--sf-h2)); }
  .md\:m-left-h2 {
    margin-left: var(--sf-h2); }
  .-md\:m-left-h2 {
    margin-left: calc(0rem - var(--sf-h2)); }
  .md\:m-h3 {
    margin: var(--sf-h3); }
  .-md\:m-h3 {
    margin: calc(0rem - var(--sf-h3)); }
  .md\:m-top-h3 {
    margin-top: var(--sf-h3); }
  .-md\:m-top-h3 {
    margin-top: calc(0rem - var(--sf-h3)); }
  .md\:m-right-h3 {
    margin-right: var(--sf-h3); }
  .-md\:m-right-h3 {
    margin-right: calc(0rem - var(--sf-h3)); }
  .md\:m-bottom-h3 {
    margin-bottom: var(--sf-h3); }
  .-md\:m-bottom-h3 {
    margin-bottom: calc(0rem - var(--sf-h3)); }
  .md\:m-left-h3 {
    margin-left: var(--sf-h3); }
  .-md\:m-left-h3 {
    margin-left: calc(0rem - var(--sf-h3)); }
  .md\:m-h4 {
    margin: var(--sf-h4); }
  .-md\:m-h4 {
    margin: calc(0rem - var(--sf-h4)); }
  .md\:m-top-h4 {
    margin-top: var(--sf-h4); }
  .-md\:m-top-h4 {
    margin-top: calc(0rem - var(--sf-h4)); }
  .md\:m-right-h4 {
    margin-right: var(--sf-h4); }
  .-md\:m-right-h4 {
    margin-right: calc(0rem - var(--sf-h4)); }
  .md\:m-bottom-h4 {
    margin-bottom: var(--sf-h4); }
  .-md\:m-bottom-h4 {
    margin-bottom: calc(0rem - var(--sf-h4)); }
  .md\:m-left-h4 {
    margin-left: var(--sf-h4); }
  .-md\:m-left-h4 {
    margin-left: calc(0rem - var(--sf-h4)); }
  .md\:m-h5 {
    margin: var(--sf-h5); }
  .-md\:m-h5 {
    margin: calc(0rem - var(--sf-h5)); }
  .md\:m-top-h5 {
    margin-top: var(--sf-h5); }
  .-md\:m-top-h5 {
    margin-top: calc(0rem - var(--sf-h5)); }
  .md\:m-right-h5 {
    margin-right: var(--sf-h5); }
  .-md\:m-right-h5 {
    margin-right: calc(0rem - var(--sf-h5)); }
  .md\:m-bottom-h5 {
    margin-bottom: var(--sf-h5); }
  .-md\:m-bottom-h5 {
    margin-bottom: calc(0rem - var(--sf-h5)); }
  .md\:m-left-h5 {
    margin-left: var(--sf-h5); }
  .-md\:m-left-h5 {
    margin-left: calc(0rem - var(--sf-h5)); }
  .md\:m-h6 {
    margin: var(--sf-h6); }
  .-md\:m-h6 {
    margin: calc(0rem - var(--sf-h6)); }
  .md\:m-top-h6 {
    margin-top: var(--sf-h6); }
  .-md\:m-top-h6 {
    margin-top: calc(0rem - var(--sf-h6)); }
  .md\:m-right-h6 {
    margin-right: var(--sf-h6); }
  .-md\:m-right-h6 {
    margin-right: calc(0rem - var(--sf-h6)); }
  .md\:m-bottom-h6 {
    margin-bottom: var(--sf-h6); }
  .-md\:m-bottom-h6 {
    margin-bottom: calc(0rem - var(--sf-h6)); }
  .md\:m-left-h6 {
    margin-left: var(--sf-h6); }
  .-md\:m-left-h6 {
    margin-left: calc(0rem - var(--sf-h6)); }
  .md\:m-h7 {
    margin: var(--sf-h7); }
  .-md\:m-h7 {
    margin: calc(0rem - var(--sf-h7)); }
  .md\:m-top-h7 {
    margin-top: var(--sf-h7); }
  .-md\:m-top-h7 {
    margin-top: calc(0rem - var(--sf-h7)); }
  .md\:m-right-h7 {
    margin-right: var(--sf-h7); }
  .-md\:m-right-h7 {
    margin-right: calc(0rem - var(--sf-h7)); }
  .md\:m-bottom-h7 {
    margin-bottom: var(--sf-h7); }
  .-md\:m-bottom-h7 {
    margin-bottom: calc(0rem - var(--sf-h7)); }
  .md\:m-left-h7 {
    margin-left: var(--sf-h7); }
  .-md\:m-left-h7 {
    margin-left: calc(0rem - var(--sf-h7)); }
  .md\:m-h8 {
    margin: var(--sf-h8); }
  .-md\:m-h8 {
    margin: calc(0rem - var(--sf-h8)); }
  .md\:m-top-h8 {
    margin-top: var(--sf-h8); }
  .-md\:m-top-h8 {
    margin-top: calc(0rem - var(--sf-h8)); }
  .md\:m-right-h8 {
    margin-right: var(--sf-h8); }
  .-md\:m-right-h8 {
    margin-right: calc(0rem - var(--sf-h8)); }
  .md\:m-bottom-h8 {
    margin-bottom: var(--sf-h8); }
  .-md\:m-bottom-h8 {
    margin-bottom: calc(0rem - var(--sf-h8)); }
  .md\:m-left-h8 {
    margin-left: var(--sf-h8); }
  .-md\:m-left-h8 {
    margin-left: calc(0rem - var(--sf-h8)); }
  .md\:m-h9 {
    margin: var(--sf-h9); }
  .-md\:m-h9 {
    margin: calc(0rem - var(--sf-h9)); }
  .md\:m-top-h9 {
    margin-top: var(--sf-h9); }
  .-md\:m-top-h9 {
    margin-top: calc(0rem - var(--sf-h9)); }
  .md\:m-right-h9 {
    margin-right: var(--sf-h9); }
  .-md\:m-right-h9 {
    margin-right: calc(0rem - var(--sf-h9)); }
  .md\:m-bottom-h9 {
    margin-bottom: var(--sf-h9); }
  .-md\:m-bottom-h9 {
    margin-bottom: calc(0rem - var(--sf-h9)); }
  .md\:m-left-h9 {
    margin-left: var(--sf-h9); }
  .-md\:m-left-h9 {
    margin-left: calc(0rem - var(--sf-h9)); }
  .md\:m-i0 {
    margin: var(--sf-i0); }
  .-md\:m-i0 {
    margin: calc(0rem - var(--sf-i0)); }
  .md\:m-top-i0 {
    margin-top: var(--sf-i0); }
  .-md\:m-top-i0 {
    margin-top: calc(0rem - var(--sf-i0)); }
  .md\:m-right-i0 {
    margin-right: var(--sf-i0); }
  .-md\:m-right-i0 {
    margin-right: calc(0rem - var(--sf-i0)); }
  .md\:m-bottom-i0 {
    margin-bottom: var(--sf-i0); }
  .-md\:m-bottom-i0 {
    margin-bottom: calc(0rem - var(--sf-i0)); }
  .md\:m-left-i0 {
    margin-left: var(--sf-i0); }
  .-md\:m-left-i0 {
    margin-left: calc(0rem - var(--sf-i0)); }
  .md\:m-i1 {
    margin: var(--sf-i1); }
  .-md\:m-i1 {
    margin: calc(0rem - var(--sf-i1)); }
  .md\:m-top-i1 {
    margin-top: var(--sf-i1); }
  .-md\:m-top-i1 {
    margin-top: calc(0rem - var(--sf-i1)); }
  .md\:m-right-i1 {
    margin-right: var(--sf-i1); }
  .-md\:m-right-i1 {
    margin-right: calc(0rem - var(--sf-i1)); }
  .md\:m-bottom-i1 {
    margin-bottom: var(--sf-i1); }
  .-md\:m-bottom-i1 {
    margin-bottom: calc(0rem - var(--sf-i1)); }
  .md\:m-left-i1 {
    margin-left: var(--sf-i1); }
  .-md\:m-left-i1 {
    margin-left: calc(0rem - var(--sf-i1)); }
  .md\:m-i2 {
    margin: var(--sf-i2); }
  .-md\:m-i2 {
    margin: calc(0rem - var(--sf-i2)); }
  .md\:m-top-i2 {
    margin-top: var(--sf-i2); }
  .-md\:m-top-i2 {
    margin-top: calc(0rem - var(--sf-i2)); }
  .md\:m-right-i2 {
    margin-right: var(--sf-i2); }
  .-md\:m-right-i2 {
    margin-right: calc(0rem - var(--sf-i2)); }
  .md\:m-bottom-i2 {
    margin-bottom: var(--sf-i2); }
  .-md\:m-bottom-i2 {
    margin-bottom: calc(0rem - var(--sf-i2)); }
  .md\:m-left-i2 {
    margin-left: var(--sf-i2); }
  .-md\:m-left-i2 {
    margin-left: calc(0rem - var(--sf-i2)); }
  .md\:m-i3 {
    margin: var(--sf-i3); }
  .-md\:m-i3 {
    margin: calc(0rem - var(--sf-i3)); }
  .md\:m-top-i3 {
    margin-top: var(--sf-i3); }
  .-md\:m-top-i3 {
    margin-top: calc(0rem - var(--sf-i3)); }
  .md\:m-right-i3 {
    margin-right: var(--sf-i3); }
  .-md\:m-right-i3 {
    margin-right: calc(0rem - var(--sf-i3)); }
  .md\:m-bottom-i3 {
    margin-bottom: var(--sf-i3); }
  .-md\:m-bottom-i3 {
    margin-bottom: calc(0rem - var(--sf-i3)); }
  .md\:m-left-i3 {
    margin-left: var(--sf-i3); }
  .-md\:m-left-i3 {
    margin-left: calc(0rem - var(--sf-i3)); }
  .md\:m-i4 {
    margin: var(--sf-i4); }
  .-md\:m-i4 {
    margin: calc(0rem - var(--sf-i4)); }
  .md\:m-top-i4 {
    margin-top: var(--sf-i4); }
  .-md\:m-top-i4 {
    margin-top: calc(0rem - var(--sf-i4)); }
  .md\:m-right-i4 {
    margin-right: var(--sf-i4); }
  .-md\:m-right-i4 {
    margin-right: calc(0rem - var(--sf-i4)); }
  .md\:m-bottom-i4 {
    margin-bottom: var(--sf-i4); }
  .-md\:m-bottom-i4 {
    margin-bottom: calc(0rem - var(--sf-i4)); }
  .md\:m-left-i4 {
    margin-left: var(--sf-i4); }
  .-md\:m-left-i4 {
    margin-left: calc(0rem - var(--sf-i4)); }
  .md\:m-i5 {
    margin: var(--sf-i5); }
  .-md\:m-i5 {
    margin: calc(0rem - var(--sf-i5)); }
  .md\:m-top-i5 {
    margin-top: var(--sf-i5); }
  .-md\:m-top-i5 {
    margin-top: calc(0rem - var(--sf-i5)); }
  .md\:m-right-i5 {
    margin-right: var(--sf-i5); }
  .-md\:m-right-i5 {
    margin-right: calc(0rem - var(--sf-i5)); }
  .md\:m-bottom-i5 {
    margin-bottom: var(--sf-i5); }
  .-md\:m-bottom-i5 {
    margin-bottom: calc(0rem - var(--sf-i5)); }
  .md\:m-left-i5 {
    margin-left: var(--sf-i5); }
  .-md\:m-left-i5 {
    margin-left: calc(0rem - var(--sf-i5)); }
  .md\:m-i6 {
    margin: var(--sf-i6); }
  .-md\:m-i6 {
    margin: calc(0rem - var(--sf-i6)); }
  .md\:m-top-i6 {
    margin-top: var(--sf-i6); }
  .-md\:m-top-i6 {
    margin-top: calc(0rem - var(--sf-i6)); }
  .md\:m-right-i6 {
    margin-right: var(--sf-i6); }
  .-md\:m-right-i6 {
    margin-right: calc(0rem - var(--sf-i6)); }
  .md\:m-bottom-i6 {
    margin-bottom: var(--sf-i6); }
  .-md\:m-bottom-i6 {
    margin-bottom: calc(0rem - var(--sf-i6)); }
  .md\:m-left-i6 {
    margin-left: var(--sf-i6); }
  .-md\:m-left-i6 {
    margin-left: calc(0rem - var(--sf-i6)); }
  .md\:m-i7 {
    margin: var(--sf-i7); }
  .-md\:m-i7 {
    margin: calc(0rem - var(--sf-i7)); }
  .md\:m-top-i7 {
    margin-top: var(--sf-i7); }
  .-md\:m-top-i7 {
    margin-top: calc(0rem - var(--sf-i7)); }
  .md\:m-right-i7 {
    margin-right: var(--sf-i7); }
  .-md\:m-right-i7 {
    margin-right: calc(0rem - var(--sf-i7)); }
  .md\:m-bottom-i7 {
    margin-bottom: var(--sf-i7); }
  .-md\:m-bottom-i7 {
    margin-bottom: calc(0rem - var(--sf-i7)); }
  .md\:m-left-i7 {
    margin-left: var(--sf-i7); }
  .-md\:m-left-i7 {
    margin-left: calc(0rem - var(--sf-i7)); }
  .md\:m-i8 {
    margin: var(--sf-i8); }
  .-md\:m-i8 {
    margin: calc(0rem - var(--sf-i8)); }
  .md\:m-top-i8 {
    margin-top: var(--sf-i8); }
  .-md\:m-top-i8 {
    margin-top: calc(0rem - var(--sf-i8)); }
  .md\:m-right-i8 {
    margin-right: var(--sf-i8); }
  .-md\:m-right-i8 {
    margin-right: calc(0rem - var(--sf-i8)); }
  .md\:m-bottom-i8 {
    margin-bottom: var(--sf-i8); }
  .-md\:m-bottom-i8 {
    margin-bottom: calc(0rem - var(--sf-i8)); }
  .md\:m-left-i8 {
    margin-left: var(--sf-i8); }
  .-md\:m-left-i8 {
    margin-left: calc(0rem - var(--sf-i8)); }
  .md\:m-i9 {
    margin: var(--sf-i9); }
  .-md\:m-i9 {
    margin: calc(0rem - var(--sf-i9)); }
  .md\:m-top-i9 {
    margin-top: var(--sf-i9); }
  .-md\:m-top-i9 {
    margin-top: calc(0rem - var(--sf-i9)); }
  .md\:m-right-i9 {
    margin-right: var(--sf-i9); }
  .-md\:m-right-i9 {
    margin-right: calc(0rem - var(--sf-i9)); }
  .md\:m-bottom-i9 {
    margin-bottom: var(--sf-i9); }
  .-md\:m-bottom-i9 {
    margin-bottom: calc(0rem - var(--sf-i9)); }
  .md\:m-left-i9 {
    margin-left: var(--sf-i9); }
  .-md\:m-left-i9 {
    margin-left: calc(0rem - var(--sf-i9)); } }

