// SIMAI Framework
// https://simai.io

// FILTER

$infix: xs;
$event: hover;

// @include layer-priority(utility,hover) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        // Opacity
        @each $opacity-name, $opacity-value in $filter-opacity-array {
            .#{$infix}#{$event}\:opacity-#{$opacity-name}:#{$event} {
                $value: 'opacity(#{$opacity-value})';
                filter: #{$value};
            }
        }
    }
// }