.border-1 {
  border-width: var(--sf-a1); }

.border-2 {
  border-width: var(--sf-a2); }

.border-3 {
  border-width: var(--sf-a3); }

.border-4 {
  border-width: var(--sf-a4); }

.border-5 {
  border-width: var(--sf-a5); }

.border-6 {
  border-width: var(--sf-a6); }

.border-7 {
  border-width: var(--sf-a7); }

.border-8 {
  border-width: var(--sf-a8); }

.border-9 {
  border-width: var(--sf-a9); }

.border-10 {
  border-width: var(--sf-b0); }

.border-0 {
  border-width: var(--sf-0); }

.border-top-1 {
  border-top-width: var(--sf-a1); }

.border-top-2 {
  border-top-width: var(--sf-a2); }

.border-top-3 {
  border-top-width: var(--sf-a3); }

.border-top-4 {
  border-top-width: var(--sf-a4); }

.border-top-5 {
  border-top-width: var(--sf-a5); }

.border-top-6 {
  border-top-width: var(--sf-a6); }

.border-top-7 {
  border-top-width: var(--sf-a7); }

.border-top-8 {
  border-top-width: var(--sf-a8); }

.border-top-9 {
  border-top-width: var(--sf-a9); }

.border-top-10 {
  border-top-width: var(--sf-b0); }

.border-top-0 {
  border-top-width: var(--sf-0); }

.border-right-1 {
  border-right-width: var(--sf-a1); }

.border-right-2 {
  border-right-width: var(--sf-a2); }

.border-right-3 {
  border-right-width: var(--sf-a3); }

.border-right-4 {
  border-right-width: var(--sf-a4); }

.border-right-5 {
  border-right-width: var(--sf-a5); }

.border-right-6 {
  border-right-width: var(--sf-a6); }

.border-right-7 {
  border-right-width: var(--sf-a7); }

.border-right-8 {
  border-right-width: var(--sf-a8); }

.border-right-9 {
  border-right-width: var(--sf-a9); }

.border-right-10 {
  border-right-width: var(--sf-b0); }

.border-right-0 {
  border-right-width: var(--sf-0); }

.border-bottom-1 {
  border-bottom-width: var(--sf-a1); }

.border-bottom-2 {
  border-bottom-width: var(--sf-a2); }

.border-bottom-3 {
  border-bottom-width: var(--sf-a3); }

.border-bottom-4 {
  border-bottom-width: var(--sf-a4); }

.border-bottom-5 {
  border-bottom-width: var(--sf-a5); }

.border-bottom-6 {
  border-bottom-width: var(--sf-a6); }

.border-bottom-7 {
  border-bottom-width: var(--sf-a7); }

.border-bottom-8 {
  border-bottom-width: var(--sf-a8); }

.border-bottom-9 {
  border-bottom-width: var(--sf-a9); }

.border-bottom-10 {
  border-bottom-width: var(--sf-b0); }

.border-bottom-0 {
  border-bottom-width: var(--sf-0); }

.border-left-1 {
  border-left-width: var(--sf-a1); }

.border-left-2 {
  border-left-width: var(--sf-a2); }

.border-left-3 {
  border-left-width: var(--sf-a3); }

.border-left-4 {
  border-left-width: var(--sf-a4); }

.border-left-5 {
  border-left-width: var(--sf-a5); }

.border-left-6 {
  border-left-width: var(--sf-a6); }

.border-left-7 {
  border-left-width: var(--sf-a7); }

.border-left-8 {
  border-left-width: var(--sf-a8); }

.border-left-9 {
  border-left-width: var(--sf-a9); }

.border-left-10 {
  border-left-width: var(--sf-b0); }

.border-left-0 {
  border-left-width: var(--sf-0); }

.border-x-1 {
  border-right-width: var(--sf-a1);
  border-left-width: var(--sf-a1); }

.border-x-2 {
  border-right-width: var(--sf-a2);
  border-left-width: var(--sf-a2); }

.border-x-3 {
  border-right-width: var(--sf-a3);
  border-left-width: var(--sf-a3); }

.border-x-4 {
  border-right-width: var(--sf-a4);
  border-left-width: var(--sf-a4); }

.border-x-5 {
  border-right-width: var(--sf-a5);
  border-left-width: var(--sf-a5); }

.border-x-6 {
  border-right-width: var(--sf-a6);
  border-left-width: var(--sf-a6); }

.border-x-7 {
  border-right-width: var(--sf-a7);
  border-left-width: var(--sf-a7); }

.border-x-8 {
  border-right-width: var(--sf-a8);
  border-left-width: var(--sf-a8); }

.border-x-9 {
  border-right-width: var(--sf-a9);
  border-left-width: var(--sf-a9); }

.border-x-10 {
  border-right-width: var(--sf-b0);
  border-left-width: var(--sf-b0); }

.border-x-0 {
  border-right-width: var(--sf-0);
  border-left-width: var(--sf-0); }

.border-y-1 {
  border-top-width: var(--sf-a1);
  border-bottom-width: var(--sf-a1); }

.border-y-2 {
  border-top-width: var(--sf-a2);
  border-bottom-width: var(--sf-a2); }

.border-y-3 {
  border-top-width: var(--sf-a3);
  border-bottom-width: var(--sf-a3); }

.border-y-4 {
  border-top-width: var(--sf-a4);
  border-bottom-width: var(--sf-a4); }

.border-y-5 {
  border-top-width: var(--sf-a5);
  border-bottom-width: var(--sf-a5); }

.border-y-6 {
  border-top-width: var(--sf-a6);
  border-bottom-width: var(--sf-a6); }

.border-y-7 {
  border-top-width: var(--sf-a7);
  border-bottom-width: var(--sf-a7); }

.border-y-8 {
  border-top-width: var(--sf-a8);
  border-bottom-width: var(--sf-a8); }

.border-y-9 {
  border-top-width: var(--sf-a9);
  border-bottom-width: var(--sf-a9); }

.border-y-10 {
  border-top-width: var(--sf-b0);
  border-bottom-width: var(--sf-b0); }

.border-y-0 {
  border-top-width: var(--sf-0);
  border-bottom-width: var(--sf-0); }

