@media (min-width: 540px) {
  .sm\:shadow-surface-highest {
    --sf-shadow-color:var(--sf-color--surface-highest); }
  .sm\:shadow-surface-high {
    --sf-shadow-color:var(--sf-color--surface-high); }
  .sm\:shadow-surface-default {
    --sf-shadow-color:var(--sf-color--surface-default); }
  .sm\:shadow-surface-low {
    --sf-shadow-color:var(--sf-color--surface-low); }
  .sm\:shadow-surface-lowest {
    --sf-shadow-color:var(--sf-color--surface-lowest); }
  .sm\:shadow-surface-inverse {
    --sf-shadow-color:var(--sf-color--surface-inverse); }
  .sm\:shadow-surface-variant {
    --sf-shadow-color:var(--sf-color--surface-variant); }
  .sm\:shadow-primary-default {
    --sf-shadow-color:var(--sf-color--primary-default); }
  .sm\:shadow-primary-tonal {
    --sf-shadow-color:var(--sf-color--primary-tonal); }
  .sm\:shadow-primary-inverse {
    --sf-shadow-color:var(--sf-color--primary-inverse); }
  .sm\:shadow-primary-contrast {
    --sf-shadow-color:var(--sf-color--primary-text); }
  .sm\:shadow-secondary-default {
    --sf-shadow-color:var(--sf-color--secondary-default); }
  .sm\:shadow-secondary-tonal {
    --sf-shadow-color:var(--sf-color--secondary-tonal); }
  .sm\:shadow-secondary-inverse {
    --sf-shadow-color:var(--sf-color--secondary-inverse); }
  .sm\:shadow-secondary-contrast {
    --sf-shadow-color:var(--sf-color--secondary-text); }
  .sm\:shadow-tertiary-default {
    --sf-shadow-color:var(--sf-color--tertiary-default); }
  .sm\:shadow-tertiary-tonal {
    --sf-shadow-color:var(--sf-color--tertiary-tonal); }
  .sm\:shadow-tertiary-inverse {
    --sf-shadow-color:var(--sf-color--tertiary-inverse); }
  .sm\:shadow-tertiary-contrast {
    --sf-shadow-color:var(--sf-color--tertiary-text); }
  .sm\:shadow-info-default {
    --sf-shadow-color:var(--sf-color--info-primary); }
  .sm\:shadow-info-tonal {
    --sf-shadow-color:var(--sf-color--info-tonal); }
  .sm\:shadow-info-inverse {
    --sf-shadow-color:var(--sf-color--info-inverse); }
  .sm\:shadow-info-contrast {
    --sf-shadow-color:var(--sf-color--info-text); }
  .sm\:shadow-success-default {
    --sf-shadow-color:var(--sf-color--success-primary); }
  .sm\:shadow-success-tonal {
    --sf-shadow-color:var(--sf-color--success-tonal); }
  .sm\:shadow-success-inverse {
    --sf-shadow-color:var(--sf-color--success-inverse); }
  .sm\:shadow-success-contrast {
    --sf-shadow-color:var(--sf-color--success-text); }
  .sm\:shadow-warning-default {
    --sf-shadow-color:var(--sf-color--warning-primary); }
  .sm\:shadow-warning-tonal {
    --sf-shadow-color:var(--sf-color--warning-tonal); }
  .sm\:shadow-warning-inverse {
    --sf-shadow-color:var(--sf-color--warning-inverse); }
  .sm\:shadow-warning-contrast {
    --sf-shadow-color:var(--sf-color--warning-text); }
  .sm\:shadow-danger-default {
    --sf-shadow-color:var(--sf-color--danger-primary); }
  .sm\:shadow-danger-tonal {
    --sf-shadow-color:var(--sf-color--danger-tonal); }
  .sm\:shadow-danger-inverse {
    --sf-shadow-color:var(--sf-color--danger-inverse); }
  .sm\:shadow-danger-contrast {
    --sf-shadow-color:var(--sf-color--danger-text); }
  .sm\:shadow-transparent {
    --sf-shadow-color:var(--sf-transparent);
  }
  .sm\:shadow-current {
    --sf-shadow-color:var(--sf-current); }
  .sm\:shadow-inherit {
    --sf-shadow-color:var(--sf-inherit); } }

