// SIMAI Framework
// https://simai.io

// FILTER

$filter-all: '';
$infix: breakpoint-infix(xs, $breakpoint-array);

// Brightness
@each $brightness-name, $brightness-value in $filter-brightness-array {
    $filter-all: '#{$filter-all}.#{$infix}brightness-#{$brightness-name},';
}

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        #{$filter-all} {
            --sf-blur: ;
            --sf-brightness: ;
            --sf-contrast: ;
            --sf-grayscale: ;
            --sf-hue-rotate: ;
            --sf-invert: ;
            --sf-saturate: ;
            --sf-sepia: ;
            --sf-drop-shadow: ;
            filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
        }

        // Brightness
        @each $brightness-name, $brightness-value in $filter-brightness-array {
            .#{$infix}brightness-#{$brightness-name} {
                --sf-brightness: brightness(#{$brightness-value});
            }
        }
    }
// }