// SIMAI Framework
// https://simai.io

// BORDER

// @include layer-priority(utility,default) {
    @include breakpoint-media(xs) {
        $infix: breakpoint-infix(xs, $breakpoint-array);

        // All Border Sides Property
        // Border Width
        @each $width-name, $width-value in $border-width-array {
            .#{$infix}border-#{$width-name} {
                border-width: var(--sf-#{$width-value});
            }
        }

        // Border Sides Property
        @each $side-name in $border-side-array {
            @each $width-name, $width-value in $border-width-array {
                // Horizontal Borders Property
                @if ($side-name == top) or ($side-name == right) or ($side-name == bottom) or ($side-name == left) {
                    // Border Width
                    .#{$infix}border-#{$side-name}-#{$width-name} {
                        border-#{$side-name}-width: var(--sf-#{$width-value});
                    }		
                }

                @if $side-name == x {
                    .#{$infix}border-#{$side-name}-#{$width-name} {
                        border-right-width: var(--sf-#{$width-value});
                        border-left-width: var(--sf-#{$width-value});
                    }
                }

                @if $side-name == y {
                    .#{$infix}border-#{$side-name}-#{$width-name} {
                        border-top-width: var(--sf-#{$width-value});
                        border-bottom-width: var(--sf-#{$width-value});
                    }
                }
            }
        }
    }
// }