.active\:underline:active {
  text-decoration-line: underline; }

.active\:overline:active {
  text-decoration-line: overline; }

.active\:line-through:active {
  text-decoration-line: line-through; }

.active\:decoration-none:active {
  text-decoration-line: none; }

