.scroll-1 {
  --sf-scroll-thumb-width: var(--sf-a2); }

.scroll-2 {
  --sf-scroll-thumb-width: var(--sf-a4); }

.scroll-3 {
  --sf-scroll-thumb-width: var(--sf-a6); }

.scroll-4 {
  --sf-scroll-thumb-width: var(--sf-a8); }

