.indent-0 {
  text-indent: var(--sf-0); }

.indent-1 {
  text-indent: var(--sf-space-1); }

.indent-2 {
  text-indent: var(--sf-space-2); }

.indent-3 {
  text-indent: var(--sf-space-3); }

.indent-4 {
  text-indent: var(--sf-space-4); }

.indent-5 {
  text-indent: var(--sf-space-5); }

