.gr-line-2 {
  background-image: linear-gradient(var(--sf-gradient--angle), var(--sf-gradient--color-1), var(--sf-gradient--color-2)); }

.gr-line-3 {
  background-image: linear-gradient(var(--sf-gradient--angle), var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3)); }

.gr-radial-2 {
  background-image: radial-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2)); }

.gr-radial-3 {
  background-image: radial-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3)); }

.gr-conic-2 {
  background-image: conic-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2)); }

.gr-conic-3 {
  background-image: conic-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3)); }

