@media (min-width: 540px) {
  .sm\:block {
    display: block; }
  .sm\:inline-block {
    display: inline-block; }
  .sm\:inline {
    display: inline; }
  .sm\:flex {
    display: flex; }
  .sm\:inline-flex {
    display: inline-flex; }
  .sm\:table {
    display: table; }
  .sm\:inline-table {
    display: inline-table; }
  .sm\:table-caption {
    display: table-caption; }
  .sm\:table-cell {
    display: table-cell; }
  .sm\:table-column {
    display: table-column; }
  .sm\:table-column-group {
    display: table-column-group; }
  .sm\:table-footer-group {
    display: table-footer-group; }
  .sm\:table-header-group {
    display: table-header-group; }
  .sm\:table-row-group {
    display: table-row-group; }
  .sm\:table-row {
    display: table-row; }
  .sm\:flow-root {
    display: flow-root; }
  .sm\:grid {
    display: grid; }
  .sm\:inline-grid {
    display: inline-grid; }
  .sm\:content {
    display: contents; }
  .sm\:list-item {
    display: list-item; }
  .sm\:hidden {
    display: none; } }

