@media (min-width: 720px) {
  .md\:flex-row {
    flex-direction: row; }
  .md\:flex-col {
    flex-direction: column; }
  .md\:flex-row-reverse {
    flex-direction: row-reverse; }
  .md\:flex-col-reverse {
    flex-direction: column-reverse; } }

