// SIMAI Framework
// https://simai.io

// LINE HEIGHT

// @include layer-priority(utility,md) {
    @include breakpoint-media(md) {
        $infix: breakpoint-infix(md, $breakpoint-array);

        // Text line height
        // Fixed line height
        @each $size in $font-size-array {
            .#{$infix}line-#{$size} {
                line-height: var(--sf-text--height-#{$size}); 
            }
        }

        // Relative line height
        @each $line-height-name, $line-height-value in $line-height-array {
            .#{$infix}line-#{$line-height-name} {
                line-height: #{$line-height-value};
            }
        }
    }
// }