// SIMAI Framework
// https://simai.io

// MIX-BLEND-MODE

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        @each $mix-blend-mode-name, $mix-blend-mode-value in $mix-blend-mode-array {
            .#{$infix}mix-blend-#{$mix-blend-mode-name} {
                mix-blend-mode: #{$mix-blend-mode-value};
            }
        }
    }
// }