// SIMAI Framework
// https://simai.io

// TEXT DECORATION

// Text Decoration Line
$text-decoration-line-array:(
    underline : underline,
    overline : overline,
    line-through : line-through,
    decoration-none : none
);