@media (min-width: 540px) {
  .sm\:gr-line-2 {
    background-image: linear-gradient(var(--sf-gradient--angle), var(--sf-gradient--color-1), var(--sf-gradient--color-2)); }
  .sm\:gr-line-3 {
    background-image: linear-gradient(var(--sf-gradient--angle), var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3)); }
  .sm\:gr-radial-2 {
    background-image: radial-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2)); }
  .sm\:gr-radial-3 {
    background-image: radial-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3)); }
  .sm\:gr-conic-2 {
    background-image: conic-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2)); }
  .sm\:gr-conic-3 {
    background-image: conic-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3)); } }

