@media (min-width: 1140px) {
  .xl\:content-center {
    place-content: center; }
  .xl\:content-start {
    place-content: start; }
  .xl\:content-end {
    place-content: end; }
  .xl\:content-between {
    place-content: space-between; }
  .xl\:content-around {
    place-content: space-around; }
  .xl\:content-evenly {
    place-content: space-evenly; }
  .xl\:content-stretch {
    place-content: stretch; } }

