@media (min-width: 540px) {
  .sm\:min-w-min {
    min-width: min-content; }
  .sm\:min-w-max {
    min-width: max-content; }
  .sm\:min-w-fit {
    min-width: fit-content; }
  .sm\:min-w-full {
    min-width: 100%; }
  .sm\:min-w-0 {
    min-width: 0; } }

