.hover\:translate-x-a0:hover {
  transform: translateX(var(--sf-a0)); }

.hover\:translate-y-a0:hover {
  transform: translateY(var(--sf-a0)); }

.-hover\:translate-x-a0:hover {
  transform: translateX(calc(0rem - var(--sf-a0))); }

.-hover\:translate-y-a0:hover {
  transform: translateY(calc(0rem - var(--sf-a0))); }

.hover\:translate-x-a1:hover {
  transform: translateX(var(--sf-a1)); }

.hover\:translate-y-a1:hover {
  transform: translateY(var(--sf-a1)); }

.-hover\:translate-x-a1:hover {
  transform: translateX(calc(0rem - var(--sf-a1))); }

.-hover\:translate-y-a1:hover {
  transform: translateY(calc(0rem - var(--sf-a1))); }

.hover\:translate-x-a2:hover {
  transform: translateX(var(--sf-a2)); }

.hover\:translate-y-a2:hover {
  transform: translateY(var(--sf-a2)); }

.-hover\:translate-x-a2:hover {
  transform: translateX(calc(0rem - var(--sf-a2))); }

.-hover\:translate-y-a2:hover {
  transform: translateY(calc(0rem - var(--sf-a2))); }

.hover\:translate-x-a3:hover {
  transform: translateX(var(--sf-a3)); }

.hover\:translate-y-a3:hover {
  transform: translateY(var(--sf-a3)); }

.-hover\:translate-x-a3:hover {
  transform: translateX(calc(0rem - var(--sf-a3))); }

.-hover\:translate-y-a3:hover {
  transform: translateY(calc(0rem - var(--sf-a3))); }

.hover\:translate-x-a4:hover {
  transform: translateX(var(--sf-a4)); }

.hover\:translate-y-a4:hover {
  transform: translateY(var(--sf-a4)); }

.-hover\:translate-x-a4:hover {
  transform: translateX(calc(0rem - var(--sf-a4))); }

.-hover\:translate-y-a4:hover {
  transform: translateY(calc(0rem - var(--sf-a4))); }

.hover\:translate-x-a5:hover {
  transform: translateX(var(--sf-a5)); }

.hover\:translate-y-a5:hover {
  transform: translateY(var(--sf-a5)); }

.-hover\:translate-x-a5:hover {
  transform: translateX(calc(0rem - var(--sf-a5))); }

.-hover\:translate-y-a5:hover {
  transform: translateY(calc(0rem - var(--sf-a5))); }

.hover\:translate-x-a6:hover {
  transform: translateX(var(--sf-a6)); }

.hover\:translate-y-a6:hover {
  transform: translateY(var(--sf-a6)); }

.-hover\:translate-x-a6:hover {
  transform: translateX(calc(0rem - var(--sf-a6))); }

.-hover\:translate-y-a6:hover {
  transform: translateY(calc(0rem - var(--sf-a6))); }

.hover\:translate-x-a7:hover {
  transform: translateX(var(--sf-a7)); }

.hover\:translate-y-a7:hover {
  transform: translateY(var(--sf-a7)); }

.-hover\:translate-x-a7:hover {
  transform: translateX(calc(0rem - var(--sf-a7))); }

.-hover\:translate-y-a7:hover {
  transform: translateY(calc(0rem - var(--sf-a7))); }

.hover\:translate-x-a8:hover {
  transform: translateX(var(--sf-a8)); }

.hover\:translate-y-a8:hover {
  transform: translateY(var(--sf-a8)); }

.-hover\:translate-x-a8:hover {
  transform: translateX(calc(0rem - var(--sf-a8))); }

.-hover\:translate-y-a8:hover {
  transform: translateY(calc(0rem - var(--sf-a8))); }

.hover\:translate-x-a9:hover {
  transform: translateX(var(--sf-a9)); }

.hover\:translate-y-a9:hover {
  transform: translateY(var(--sf-a9)); }

.-hover\:translate-x-a9:hover {
  transform: translateX(calc(0rem - var(--sf-a9))); }

.-hover\:translate-y-a9:hover {
  transform: translateY(calc(0rem - var(--sf-a9))); }

.hover\:translate-x-b0:hover {
  transform: translateX(var(--sf-b0)); }

.hover\:translate-y-b0:hover {
  transform: translateY(var(--sf-b0)); }

.-hover\:translate-x-b0:hover {
  transform: translateX(calc(0rem - var(--sf-b0))); }

.-hover\:translate-y-b0:hover {
  transform: translateY(calc(0rem - var(--sf-b0))); }

.hover\:translate-x-b1:hover {
  transform: translateX(var(--sf-b1)); }

.hover\:translate-y-b1:hover {
  transform: translateY(var(--sf-b1)); }

.-hover\:translate-x-b1:hover {
  transform: translateX(calc(0rem - var(--sf-b1))); }

.-hover\:translate-y-b1:hover {
  transform: translateY(calc(0rem - var(--sf-b1))); }

.hover\:translate-x-b2:hover {
  transform: translateX(var(--sf-b2)); }

.hover\:translate-y-b2:hover {
  transform: translateY(var(--sf-b2)); }

.-hover\:translate-x-b2:hover {
  transform: translateX(calc(0rem - var(--sf-b2))); }

.-hover\:translate-y-b2:hover {
  transform: translateY(calc(0rem - var(--sf-b2))); }

.hover\:translate-x-b3:hover {
  transform: translateX(var(--sf-b3)); }

.hover\:translate-y-b3:hover {
  transform: translateY(var(--sf-b3)); }

.-hover\:translate-x-b3:hover {
  transform: translateX(calc(0rem - var(--sf-b3))); }

.-hover\:translate-y-b3:hover {
  transform: translateY(calc(0rem - var(--sf-b3))); }

.hover\:translate-x-b4:hover {
  transform: translateX(var(--sf-b4)); }

.hover\:translate-y-b4:hover {
  transform: translateY(var(--sf-b4)); }

.-hover\:translate-x-b4:hover {
  transform: translateX(calc(0rem - var(--sf-b4))); }

.-hover\:translate-y-b4:hover {
  transform: translateY(calc(0rem - var(--sf-b4))); }

.hover\:translate-x-b5:hover {
  transform: translateX(var(--sf-b5)); }

.hover\:translate-y-b5:hover {
  transform: translateY(var(--sf-b5)); }

.-hover\:translate-x-b5:hover {
  transform: translateX(calc(0rem - var(--sf-b5))); }

.-hover\:translate-y-b5:hover {
  transform: translateY(calc(0rem - var(--sf-b5))); }

.hover\:translate-x-b6:hover {
  transform: translateX(var(--sf-b6)); }

.hover\:translate-y-b6:hover {
  transform: translateY(var(--sf-b6)); }

.-hover\:translate-x-b6:hover {
  transform: translateX(calc(0rem - var(--sf-b6))); }

.-hover\:translate-y-b6:hover {
  transform: translateY(calc(0rem - var(--sf-b6))); }

.hover\:translate-x-b7:hover {
  transform: translateX(var(--sf-b7)); }

.hover\:translate-y-b7:hover {
  transform: translateY(var(--sf-b7)); }

.-hover\:translate-x-b7:hover {
  transform: translateX(calc(0rem - var(--sf-b7))); }

.-hover\:translate-y-b7:hover {
  transform: translateY(calc(0rem - var(--sf-b7))); }

.hover\:translate-x-b8:hover {
  transform: translateX(var(--sf-b8)); }

.hover\:translate-y-b8:hover {
  transform: translateY(var(--sf-b8)); }

.-hover\:translate-x-b8:hover {
  transform: translateX(calc(0rem - var(--sf-b8))); }

.-hover\:translate-y-b8:hover {
  transform: translateY(calc(0rem - var(--sf-b8))); }

.hover\:translate-x-b9:hover {
  transform: translateX(var(--sf-b9)); }

.hover\:translate-y-b9:hover {
  transform: translateY(var(--sf-b9)); }

.-hover\:translate-x-b9:hover {
  transform: translateX(calc(0rem - var(--sf-b9))); }

.-hover\:translate-y-b9:hover {
  transform: translateY(calc(0rem - var(--sf-b9))); }

.hover\:translate-x-c0:hover {
  transform: translateX(var(--sf-c0)); }

.hover\:translate-y-c0:hover {
  transform: translateY(var(--sf-c0)); }

.-hover\:translate-x-c0:hover {
  transform: translateX(calc(0rem - var(--sf-c0))); }

.-hover\:translate-y-c0:hover {
  transform: translateY(calc(0rem - var(--sf-c0))); }

.hover\:translate-x-c1:hover {
  transform: translateX(var(--sf-c1)); }

.hover\:translate-y-c1:hover {
  transform: translateY(var(--sf-c1)); }

.-hover\:translate-x-c1:hover {
  transform: translateX(calc(0rem - var(--sf-c1))); }

.-hover\:translate-y-c1:hover {
  transform: translateY(calc(0rem - var(--sf-c1))); }

.hover\:translate-x-c2:hover {
  transform: translateX(var(--sf-c2)); }

.hover\:translate-y-c2:hover {
  transform: translateY(var(--sf-c2)); }

.-hover\:translate-x-c2:hover {
  transform: translateX(calc(0rem - var(--sf-c2))); }

.-hover\:translate-y-c2:hover {
  transform: translateY(calc(0rem - var(--sf-c2))); }

.hover\:translate-x-c3:hover {
  transform: translateX(var(--sf-c3)); }

.hover\:translate-y-c3:hover {
  transform: translateY(var(--sf-c3)); }

.-hover\:translate-x-c3:hover {
  transform: translateX(calc(0rem - var(--sf-c3))); }

.-hover\:translate-y-c3:hover {
  transform: translateY(calc(0rem - var(--sf-c3))); }

.hover\:translate-x-c4:hover {
  transform: translateX(var(--sf-c4)); }

.hover\:translate-y-c4:hover {
  transform: translateY(var(--sf-c4)); }

.-hover\:translate-x-c4:hover {
  transform: translateX(calc(0rem - var(--sf-c4))); }

.-hover\:translate-y-c4:hover {
  transform: translateY(calc(0rem - var(--sf-c4))); }

.hover\:translate-x-c5:hover {
  transform: translateX(var(--sf-c5)); }

.hover\:translate-y-c5:hover {
  transform: translateY(var(--sf-c5)); }

.-hover\:translate-x-c5:hover {
  transform: translateX(calc(0rem - var(--sf-c5))); }

.-hover\:translate-y-c5:hover {
  transform: translateY(calc(0rem - var(--sf-c5))); }

.hover\:translate-x-c6:hover {
  transform: translateX(var(--sf-c6)); }

.hover\:translate-y-c6:hover {
  transform: translateY(var(--sf-c6)); }

.-hover\:translate-x-c6:hover {
  transform: translateX(calc(0rem - var(--sf-c6))); }

.-hover\:translate-y-c6:hover {
  transform: translateY(calc(0rem - var(--sf-c6))); }

.hover\:translate-x-c7:hover {
  transform: translateX(var(--sf-c7)); }

.hover\:translate-y-c7:hover {
  transform: translateY(var(--sf-c7)); }

.-hover\:translate-x-c7:hover {
  transform: translateX(calc(0rem - var(--sf-c7))); }

.-hover\:translate-y-c7:hover {
  transform: translateY(calc(0rem - var(--sf-c7))); }

.hover\:translate-x-c8:hover {
  transform: translateX(var(--sf-c8)); }

.hover\:translate-y-c8:hover {
  transform: translateY(var(--sf-c8)); }

.-hover\:translate-x-c8:hover {
  transform: translateX(calc(0rem - var(--sf-c8))); }

.-hover\:translate-y-c8:hover {
  transform: translateY(calc(0rem - var(--sf-c8))); }

.hover\:translate-x-c9:hover {
  transform: translateX(var(--sf-c9)); }

.hover\:translate-y-c9:hover {
  transform: translateY(var(--sf-c9)); }

.-hover\:translate-x-c9:hover {
  transform: translateX(calc(0rem - var(--sf-c9))); }

.-hover\:translate-y-c9:hover {
  transform: translateY(calc(0rem - var(--sf-c9))); }

.hover\:translate-x-d0:hover {
  transform: translateX(var(--sf-d0)); }

.hover\:translate-y-d0:hover {
  transform: translateY(var(--sf-d0)); }

.-hover\:translate-x-d0:hover {
  transform: translateX(calc(0rem - var(--sf-d0))); }

.-hover\:translate-y-d0:hover {
  transform: translateY(calc(0rem - var(--sf-d0))); }

.hover\:translate-x-d1:hover {
  transform: translateX(var(--sf-d1)); }

.hover\:translate-y-d1:hover {
  transform: translateY(var(--sf-d1)); }

.-hover\:translate-x-d1:hover {
  transform: translateX(calc(0rem - var(--sf-d1))); }

.-hover\:translate-y-d1:hover {
  transform: translateY(calc(0rem - var(--sf-d1))); }

.hover\:translate-x-d2:hover {
  transform: translateX(var(--sf-d2)); }

.hover\:translate-y-d2:hover {
  transform: translateY(var(--sf-d2)); }

.-hover\:translate-x-d2:hover {
  transform: translateX(calc(0rem - var(--sf-d2))); }

.-hover\:translate-y-d2:hover {
  transform: translateY(calc(0rem - var(--sf-d2))); }

.hover\:translate-x-d3:hover {
  transform: translateX(var(--sf-d3)); }

.hover\:translate-y-d3:hover {
  transform: translateY(var(--sf-d3)); }

.-hover\:translate-x-d3:hover {
  transform: translateX(calc(0rem - var(--sf-d3))); }

.-hover\:translate-y-d3:hover {
  transform: translateY(calc(0rem - var(--sf-d3))); }

.hover\:translate-x-d4:hover {
  transform: translateX(var(--sf-d4)); }

.hover\:translate-y-d4:hover {
  transform: translateY(var(--sf-d4)); }

.-hover\:translate-x-d4:hover {
  transform: translateX(calc(0rem - var(--sf-d4))); }

.-hover\:translate-y-d4:hover {
  transform: translateY(calc(0rem - var(--sf-d4))); }

.hover\:translate-x-d5:hover {
  transform: translateX(var(--sf-d5)); }

.hover\:translate-y-d5:hover {
  transform: translateY(var(--sf-d5)); }

.-hover\:translate-x-d5:hover {
  transform: translateX(calc(0rem - var(--sf-d5))); }

.-hover\:translate-y-d5:hover {
  transform: translateY(calc(0rem - var(--sf-d5))); }

.hover\:translate-x-d6:hover {
  transform: translateX(var(--sf-d6)); }

.hover\:translate-y-d6:hover {
  transform: translateY(var(--sf-d6)); }

.-hover\:translate-x-d6:hover {
  transform: translateX(calc(0rem - var(--sf-d6))); }

.-hover\:translate-y-d6:hover {
  transform: translateY(calc(0rem - var(--sf-d6))); }

.hover\:translate-x-d7:hover {
  transform: translateX(var(--sf-d7)); }

.hover\:translate-y-d7:hover {
  transform: translateY(var(--sf-d7)); }

.-hover\:translate-x-d7:hover {
  transform: translateX(calc(0rem - var(--sf-d7))); }

.-hover\:translate-y-d7:hover {
  transform: translateY(calc(0rem - var(--sf-d7))); }

.hover\:translate-x-d8:hover {
  transform: translateX(var(--sf-d8)); }

.hover\:translate-y-d8:hover {
  transform: translateY(var(--sf-d8)); }

.-hover\:translate-x-d8:hover {
  transform: translateX(calc(0rem - var(--sf-d8))); }

.-hover\:translate-y-d8:hover {
  transform: translateY(calc(0rem - var(--sf-d8))); }

.hover\:translate-x-d9:hover {
  transform: translateX(var(--sf-d9)); }

.hover\:translate-y-d9:hover {
  transform: translateY(var(--sf-d9)); }

.-hover\:translate-x-d9:hover {
  transform: translateX(calc(0rem - var(--sf-d9))); }

.-hover\:translate-y-d9:hover {
  transform: translateY(calc(0rem - var(--sf-d9))); }

.hover\:translate-x-e0:hover {
  transform: translateX(var(--sf-e0)); }

.hover\:translate-y-e0:hover {
  transform: translateY(var(--sf-e0)); }

.-hover\:translate-x-e0:hover {
  transform: translateX(calc(0rem - var(--sf-e0))); }

.-hover\:translate-y-e0:hover {
  transform: translateY(calc(0rem - var(--sf-e0))); }

.hover\:translate-x-e1:hover {
  transform: translateX(var(--sf-e1)); }

.hover\:translate-y-e1:hover {
  transform: translateY(var(--sf-e1)); }

.-hover\:translate-x-e1:hover {
  transform: translateX(calc(0rem - var(--sf-e1))); }

.-hover\:translate-y-e1:hover {
  transform: translateY(calc(0rem - var(--sf-e1))); }

.hover\:translate-x-e2:hover {
  transform: translateX(var(--sf-e2)); }

.hover\:translate-y-e2:hover {
  transform: translateY(var(--sf-e2)); }

.-hover\:translate-x-e2:hover {
  transform: translateX(calc(0rem - var(--sf-e2))); }

.-hover\:translate-y-e2:hover {
  transform: translateY(calc(0rem - var(--sf-e2))); }

.hover\:translate-x-e3:hover {
  transform: translateX(var(--sf-e3)); }

.hover\:translate-y-e3:hover {
  transform: translateY(var(--sf-e3)); }

.-hover\:translate-x-e3:hover {
  transform: translateX(calc(0rem - var(--sf-e3))); }

.-hover\:translate-y-e3:hover {
  transform: translateY(calc(0rem - var(--sf-e3))); }

.hover\:translate-x-e4:hover {
  transform: translateX(var(--sf-e4)); }

.hover\:translate-y-e4:hover {
  transform: translateY(var(--sf-e4)); }

.-hover\:translate-x-e4:hover {
  transform: translateX(calc(0rem - var(--sf-e4))); }

.-hover\:translate-y-e4:hover {
  transform: translateY(calc(0rem - var(--sf-e4))); }

.hover\:translate-x-e5:hover {
  transform: translateX(var(--sf-e5)); }

.hover\:translate-y-e5:hover {
  transform: translateY(var(--sf-e5)); }

.-hover\:translate-x-e5:hover {
  transform: translateX(calc(0rem - var(--sf-e5))); }

.-hover\:translate-y-e5:hover {
  transform: translateY(calc(0rem - var(--sf-e5))); }

.hover\:translate-x-e6:hover {
  transform: translateX(var(--sf-e6)); }

.hover\:translate-y-e6:hover {
  transform: translateY(var(--sf-e6)); }

.-hover\:translate-x-e6:hover {
  transform: translateX(calc(0rem - var(--sf-e6))); }

.-hover\:translate-y-e6:hover {
  transform: translateY(calc(0rem - var(--sf-e6))); }

.hover\:translate-x-e7:hover {
  transform: translateX(var(--sf-e7)); }

.hover\:translate-y-e7:hover {
  transform: translateY(var(--sf-e7)); }

.-hover\:translate-x-e7:hover {
  transform: translateX(calc(0rem - var(--sf-e7))); }

.-hover\:translate-y-e7:hover {
  transform: translateY(calc(0rem - var(--sf-e7))); }

.hover\:translate-x-e8:hover {
  transform: translateX(var(--sf-e8)); }

.hover\:translate-y-e8:hover {
  transform: translateY(var(--sf-e8)); }

.-hover\:translate-x-e8:hover {
  transform: translateX(calc(0rem - var(--sf-e8))); }

.-hover\:translate-y-e8:hover {
  transform: translateY(calc(0rem - var(--sf-e8))); }

.hover\:translate-x-e9:hover {
  transform: translateX(var(--sf-e9)); }

.hover\:translate-y-e9:hover {
  transform: translateY(var(--sf-e9)); }

.-hover\:translate-x-e9:hover {
  transform: translateX(calc(0rem - var(--sf-e9))); }

.-hover\:translate-y-e9:hover {
  transform: translateY(calc(0rem - var(--sf-e9))); }

.hover\:translate-x-f0:hover {
  transform: translateX(var(--sf-f0)); }

.hover\:translate-y-f0:hover {
  transform: translateY(var(--sf-f0)); }

.-hover\:translate-x-f0:hover {
  transform: translateX(calc(0rem - var(--sf-f0))); }

.-hover\:translate-y-f0:hover {
  transform: translateY(calc(0rem - var(--sf-f0))); }

.hover\:translate-x-f1:hover {
  transform: translateX(var(--sf-f1)); }

.hover\:translate-y-f1:hover {
  transform: translateY(var(--sf-f1)); }

.-hover\:translate-x-f1:hover {
  transform: translateX(calc(0rem - var(--sf-f1))); }

.-hover\:translate-y-f1:hover {
  transform: translateY(calc(0rem - var(--sf-f1))); }

.hover\:translate-x-f2:hover {
  transform: translateX(var(--sf-f2)); }

.hover\:translate-y-f2:hover {
  transform: translateY(var(--sf-f2)); }

.-hover\:translate-x-f2:hover {
  transform: translateX(calc(0rem - var(--sf-f2))); }

.-hover\:translate-y-f2:hover {
  transform: translateY(calc(0rem - var(--sf-f2))); }

.hover\:translate-x-f3:hover {
  transform: translateX(var(--sf-f3)); }

.hover\:translate-y-f3:hover {
  transform: translateY(var(--sf-f3)); }

.-hover\:translate-x-f3:hover {
  transform: translateX(calc(0rem - var(--sf-f3))); }

.-hover\:translate-y-f3:hover {
  transform: translateY(calc(0rem - var(--sf-f3))); }

.hover\:translate-x-f4:hover {
  transform: translateX(var(--sf-f4)); }

.hover\:translate-y-f4:hover {
  transform: translateY(var(--sf-f4)); }

.-hover\:translate-x-f4:hover {
  transform: translateX(calc(0rem - var(--sf-f4))); }

.-hover\:translate-y-f4:hover {
  transform: translateY(calc(0rem - var(--sf-f4))); }

.hover\:translate-x-f5:hover {
  transform: translateX(var(--sf-f5)); }

.hover\:translate-y-f5:hover {
  transform: translateY(var(--sf-f5)); }

.-hover\:translate-x-f5:hover {
  transform: translateX(calc(0rem - var(--sf-f5))); }

.-hover\:translate-y-f5:hover {
  transform: translateY(calc(0rem - var(--sf-f5))); }

.hover\:translate-x-f6:hover {
  transform: translateX(var(--sf-f6)); }

.hover\:translate-y-f6:hover {
  transform: translateY(var(--sf-f6)); }

.-hover\:translate-x-f6:hover {
  transform: translateX(calc(0rem - var(--sf-f6))); }

.-hover\:translate-y-f6:hover {
  transform: translateY(calc(0rem - var(--sf-f6))); }

.hover\:translate-x-f7:hover {
  transform: translateX(var(--sf-f7)); }

.hover\:translate-y-f7:hover {
  transform: translateY(var(--sf-f7)); }

.-hover\:translate-x-f7:hover {
  transform: translateX(calc(0rem - var(--sf-f7))); }

.-hover\:translate-y-f7:hover {
  transform: translateY(calc(0rem - var(--sf-f7))); }

.hover\:translate-x-f8:hover {
  transform: translateX(var(--sf-f8)); }

.hover\:translate-y-f8:hover {
  transform: translateY(var(--sf-f8)); }

.-hover\:translate-x-f8:hover {
  transform: translateX(calc(0rem - var(--sf-f8))); }

.-hover\:translate-y-f8:hover {
  transform: translateY(calc(0rem - var(--sf-f8))); }

.hover\:translate-x-f9:hover {
  transform: translateX(var(--sf-f9)); }

.hover\:translate-y-f9:hover {
  transform: translateY(var(--sf-f9)); }

.-hover\:translate-x-f9:hover {
  transform: translateX(calc(0rem - var(--sf-f9))); }

.-hover\:translate-y-f9:hover {
  transform: translateY(calc(0rem - var(--sf-f9))); }

.hover\:translate-x-g0:hover {
  transform: translateX(var(--sf-g0)); }

.hover\:translate-y-g0:hover {
  transform: translateY(var(--sf-g0)); }

.-hover\:translate-x-g0:hover {
  transform: translateX(calc(0rem - var(--sf-g0))); }

.-hover\:translate-y-g0:hover {
  transform: translateY(calc(0rem - var(--sf-g0))); }

.hover\:translate-x-g1:hover {
  transform: translateX(var(--sf-g1)); }

.hover\:translate-y-g1:hover {
  transform: translateY(var(--sf-g1)); }

.-hover\:translate-x-g1:hover {
  transform: translateX(calc(0rem - var(--sf-g1))); }

.-hover\:translate-y-g1:hover {
  transform: translateY(calc(0rem - var(--sf-g1))); }

.hover\:translate-x-g2:hover {
  transform: translateX(var(--sf-g2)); }

.hover\:translate-y-g2:hover {
  transform: translateY(var(--sf-g2)); }

.-hover\:translate-x-g2:hover {
  transform: translateX(calc(0rem - var(--sf-g2))); }

.-hover\:translate-y-g2:hover {
  transform: translateY(calc(0rem - var(--sf-g2))); }

.hover\:translate-x-g3:hover {
  transform: translateX(var(--sf-g3)); }

.hover\:translate-y-g3:hover {
  transform: translateY(var(--sf-g3)); }

.-hover\:translate-x-g3:hover {
  transform: translateX(calc(0rem - var(--sf-g3))); }

.-hover\:translate-y-g3:hover {
  transform: translateY(calc(0rem - var(--sf-g3))); }

.hover\:translate-x-g4:hover {
  transform: translateX(var(--sf-g4)); }

.hover\:translate-y-g4:hover {
  transform: translateY(var(--sf-g4)); }

.-hover\:translate-x-g4:hover {
  transform: translateX(calc(0rem - var(--sf-g4))); }

.-hover\:translate-y-g4:hover {
  transform: translateY(calc(0rem - var(--sf-g4))); }

.hover\:translate-x-g5:hover {
  transform: translateX(var(--sf-g5)); }

.hover\:translate-y-g5:hover {
  transform: translateY(var(--sf-g5)); }

.-hover\:translate-x-g5:hover {
  transform: translateX(calc(0rem - var(--sf-g5))); }

.-hover\:translate-y-g5:hover {
  transform: translateY(calc(0rem - var(--sf-g5))); }

.hover\:translate-x-g6:hover {
  transform: translateX(var(--sf-g6)); }

.hover\:translate-y-g6:hover {
  transform: translateY(var(--sf-g6)); }

.-hover\:translate-x-g6:hover {
  transform: translateX(calc(0rem - var(--sf-g6))); }

.-hover\:translate-y-g6:hover {
  transform: translateY(calc(0rem - var(--sf-g6))); }

.hover\:translate-x-g7:hover {
  transform: translateX(var(--sf-g7)); }

.hover\:translate-y-g7:hover {
  transform: translateY(var(--sf-g7)); }

.-hover\:translate-x-g7:hover {
  transform: translateX(calc(0rem - var(--sf-g7))); }

.-hover\:translate-y-g7:hover {
  transform: translateY(calc(0rem - var(--sf-g7))); }

.hover\:translate-x-g8:hover {
  transform: translateX(var(--sf-g8)); }

.hover\:translate-y-g8:hover {
  transform: translateY(var(--sf-g8)); }

.-hover\:translate-x-g8:hover {
  transform: translateX(calc(0rem - var(--sf-g8))); }

.-hover\:translate-y-g8:hover {
  transform: translateY(calc(0rem - var(--sf-g8))); }

.hover\:translate-x-g9:hover {
  transform: translateX(var(--sf-g9)); }

.hover\:translate-y-g9:hover {
  transform: translateY(var(--sf-g9)); }

.-hover\:translate-x-g9:hover {
  transform: translateX(calc(0rem - var(--sf-g9))); }

.-hover\:translate-y-g9:hover {
  transform: translateY(calc(0rem - var(--sf-g9))); }

.hover\:translate-x-h0:hover {
  transform: translateX(var(--sf-h0)); }

.hover\:translate-y-h0:hover {
  transform: translateY(var(--sf-h0)); }

.-hover\:translate-x-h0:hover {
  transform: translateX(calc(0rem - var(--sf-h0))); }

.-hover\:translate-y-h0:hover {
  transform: translateY(calc(0rem - var(--sf-h0))); }

.hover\:translate-x-h1:hover {
  transform: translateX(var(--sf-h1)); }

.hover\:translate-y-h1:hover {
  transform: translateY(var(--sf-h1)); }

.-hover\:translate-x-h1:hover {
  transform: translateX(calc(0rem - var(--sf-h1))); }

.-hover\:translate-y-h1:hover {
  transform: translateY(calc(0rem - var(--sf-h1))); }

.hover\:translate-x-h2:hover {
  transform: translateX(var(--sf-h2)); }

.hover\:translate-y-h2:hover {
  transform: translateY(var(--sf-h2)); }

.-hover\:translate-x-h2:hover {
  transform: translateX(calc(0rem - var(--sf-h2))); }

.-hover\:translate-y-h2:hover {
  transform: translateY(calc(0rem - var(--sf-h2))); }

.hover\:translate-x-h3:hover {
  transform: translateX(var(--sf-h3)); }

.hover\:translate-y-h3:hover {
  transform: translateY(var(--sf-h3)); }

.-hover\:translate-x-h3:hover {
  transform: translateX(calc(0rem - var(--sf-h3))); }

.-hover\:translate-y-h3:hover {
  transform: translateY(calc(0rem - var(--sf-h3))); }

.hover\:translate-x-h4:hover {
  transform: translateX(var(--sf-h4)); }

.hover\:translate-y-h4:hover {
  transform: translateY(var(--sf-h4)); }

.-hover\:translate-x-h4:hover {
  transform: translateX(calc(0rem - var(--sf-h4))); }

.-hover\:translate-y-h4:hover {
  transform: translateY(calc(0rem - var(--sf-h4))); }

.hover\:translate-x-h5:hover {
  transform: translateX(var(--sf-h5)); }

.hover\:translate-y-h5:hover {
  transform: translateY(var(--sf-h5)); }

.-hover\:translate-x-h5:hover {
  transform: translateX(calc(0rem - var(--sf-h5))); }

.-hover\:translate-y-h5:hover {
  transform: translateY(calc(0rem - var(--sf-h5))); }

.hover\:translate-x-h6:hover {
  transform: translateX(var(--sf-h6)); }

.hover\:translate-y-h6:hover {
  transform: translateY(var(--sf-h6)); }

.-hover\:translate-x-h6:hover {
  transform: translateX(calc(0rem - var(--sf-h6))); }

.-hover\:translate-y-h6:hover {
  transform: translateY(calc(0rem - var(--sf-h6))); }

.hover\:translate-x-h7:hover {
  transform: translateX(var(--sf-h7)); }

.hover\:translate-y-h7:hover {
  transform: translateY(var(--sf-h7)); }

.-hover\:translate-x-h7:hover {
  transform: translateX(calc(0rem - var(--sf-h7))); }

.-hover\:translate-y-h7:hover {
  transform: translateY(calc(0rem - var(--sf-h7))); }

.hover\:translate-x-h8:hover {
  transform: translateX(var(--sf-h8)); }

.hover\:translate-y-h8:hover {
  transform: translateY(var(--sf-h8)); }

.-hover\:translate-x-h8:hover {
  transform: translateX(calc(0rem - var(--sf-h8))); }

.-hover\:translate-y-h8:hover {
  transform: translateY(calc(0rem - var(--sf-h8))); }

.hover\:translate-x-h9:hover {
  transform: translateX(var(--sf-h9)); }

.hover\:translate-y-h9:hover {
  transform: translateY(var(--sf-h9)); }

.-hover\:translate-x-h9:hover {
  transform: translateX(calc(0rem - var(--sf-h9))); }

.-hover\:translate-y-h9:hover {
  transform: translateY(calc(0rem - var(--sf-h9))); }

.hover\:translate-x-i0:hover {
  transform: translateX(var(--sf-i0)); }

.hover\:translate-y-i0:hover {
  transform: translateY(var(--sf-i0)); }

.-hover\:translate-x-i0:hover {
  transform: translateX(calc(0rem - var(--sf-i0))); }

.-hover\:translate-y-i0:hover {
  transform: translateY(calc(0rem - var(--sf-i0))); }

.hover\:translate-x-i1:hover {
  transform: translateX(var(--sf-i1)); }

.hover\:translate-y-i1:hover {
  transform: translateY(var(--sf-i1)); }

.-hover\:translate-x-i1:hover {
  transform: translateX(calc(0rem - var(--sf-i1))); }

.-hover\:translate-y-i1:hover {
  transform: translateY(calc(0rem - var(--sf-i1))); }

.hover\:translate-x-i2:hover {
  transform: translateX(var(--sf-i2)); }

.hover\:translate-y-i2:hover {
  transform: translateY(var(--sf-i2)); }

.-hover\:translate-x-i2:hover {
  transform: translateX(calc(0rem - var(--sf-i2))); }

.-hover\:translate-y-i2:hover {
  transform: translateY(calc(0rem - var(--sf-i2))); }

.hover\:translate-x-i3:hover {
  transform: translateX(var(--sf-i3)); }

.hover\:translate-y-i3:hover {
  transform: translateY(var(--sf-i3)); }

.-hover\:translate-x-i3:hover {
  transform: translateX(calc(0rem - var(--sf-i3))); }

.-hover\:translate-y-i3:hover {
  transform: translateY(calc(0rem - var(--sf-i3))); }

.hover\:translate-x-i4:hover {
  transform: translateX(var(--sf-i4)); }

.hover\:translate-y-i4:hover {
  transform: translateY(var(--sf-i4)); }

.-hover\:translate-x-i4:hover {
  transform: translateX(calc(0rem - var(--sf-i4))); }

.-hover\:translate-y-i4:hover {
  transform: translateY(calc(0rem - var(--sf-i4))); }

.hover\:translate-x-i5:hover {
  transform: translateX(var(--sf-i5)); }

.hover\:translate-y-i5:hover {
  transform: translateY(var(--sf-i5)); }

.-hover\:translate-x-i5:hover {
  transform: translateX(calc(0rem - var(--sf-i5))); }

.-hover\:translate-y-i5:hover {
  transform: translateY(calc(0rem - var(--sf-i5))); }

.hover\:translate-x-i6:hover {
  transform: translateX(var(--sf-i6)); }

.hover\:translate-y-i6:hover {
  transform: translateY(var(--sf-i6)); }

.-hover\:translate-x-i6:hover {
  transform: translateX(calc(0rem - var(--sf-i6))); }

.-hover\:translate-y-i6:hover {
  transform: translateY(calc(0rem - var(--sf-i6))); }

.hover\:translate-x-i7:hover {
  transform: translateX(var(--sf-i7)); }

.hover\:translate-y-i7:hover {
  transform: translateY(var(--sf-i7)); }

.-hover\:translate-x-i7:hover {
  transform: translateX(calc(0rem - var(--sf-i7))); }

.-hover\:translate-y-i7:hover {
  transform: translateY(calc(0rem - var(--sf-i7))); }

.hover\:translate-x-i8:hover {
  transform: translateX(var(--sf-i8)); }

.hover\:translate-y-i8:hover {
  transform: translateY(var(--sf-i8)); }

.-hover\:translate-x-i8:hover {
  transform: translateX(calc(0rem - var(--sf-i8))); }

.-hover\:translate-y-i8:hover {
  transform: translateY(calc(0rem - var(--sf-i8))); }

.hover\:translate-x-i9:hover {
  transform: translateX(var(--sf-i9)); }

.hover\:translate-y-i9:hover {
  transform: translateY(var(--sf-i9)); }

.-hover\:translate-x-i9:hover {
  transform: translateX(calc(0rem - var(--sf-i9))); }

.-hover\:translate-y-i9:hover {
  transform: translateY(calc(0rem - var(--sf-i9))); }

