// SIMAI Framework
// https://simai.io

// OVERFLOW

$overflow-array: (
    auto:auto,
    hidden:hidden,
    visible:visible,
    scroll:scroll,
    x-auto:auto,
    y-auto:auto,
    x-hidden:hidden,
    y-hidden:hidden,
    x-visible:visible,
    y-visible:visible,
    x-scroll:scroll,
    y-scroll:scroll
);