.focus\:accent-main:focus {
  accent-color: rgba(var(--sf-gray-9r), var(--sf-gray-9g), var(--sf-gray-9b), var(--sf-accent--alfa));
}

.focus\:accent-spare:focus {
  accent-color: rgba(var(--sf-gray-6r), var(--sf-gray-6g), var(--sf-gray-6b), var(--sf-accent--alfa));
}

.focus\:accent-extra:focus {
  accent-color: rgba(var(--sf-gray-5r), var(--sf-gray-5g), var(--sf-gray-5b), var(--sf-accent--alfa));
}

.focus\:accent-placeholder:focus {
  accent-color: rgba(var(--sf-gray-5r), var(--sf-gray-5g), var(--sf-gray-5b), var(--sf-accent--alfa));
}

.focus\:accent-disabled:focus {
  accent-color: rgba(var(--sf-gray-4r), var(--sf-gray-4g), var(--sf-gray-4b), var(--sf-accent--alfa));
}

.focus\:accent-inverse:focus {
  accent-color: rgba(var(--sf-white-r), var(--sf-white-g), var(--sf-white-b), var(--sf-accent--alfa));
}

.focus\:accent-info:focus {
  accent-color: rgba(var(--sf-blue-5r), var(--sf-blue-5g), var(--sf-blue-5b), var(--sf-accent--alfa));
}

.focus\:accent-success:focus {
  accent-color: rgba(var(--sf-green-6r), var(--sf-green-6g), var(--sf-green-6b), var(--sf-accent--alfa));
}

.focus\:accent-warning:focus {
  accent-color: rgba(var(--sf-yellow-8r), var(--sf-yellow-8g), var(--sf-yellow-8b), var(--sf-accent--alfa));
}

.focus\:accent-danger:focus {
  accent-color: rgba(var(--sf-red-6r), var(--sf-red-6g), var(--sf-red-6b), var(--sf-accent--alfa));
}

.focus\:accent-white:focus {
  accent-color: rgba(var(--sf-white-default), var(--sf-white-default), var(--sf-white-default), var(--sf-accent--alfa));
}

.focus\:accent-black:focus {
  accent-color: rgba(var(--sf-black-default), var(--sf-black-default), var(--sf-black-default), var(--sf-accent--alfa));
}

.focus\:accent-inherit:focus {
  accent-color: inherit;
}

.focus\:accent-transparent:focus {
  accent-color: var(--sf-transparent);
}

.focus\:accent-current:focus {
  accent-color: currentColor;
}
