// SIMAI Framework
// https://simai.io

// TYPOFRAPHY

$mobile: md;

// @include layer-priority(utility,$mobile) {
    @include breakpoint-media($mobile) {
        $infix: breakpoint-infix($mobile, $breakpoint-array);

        // Text measure utilities
        @each $measure-name, $measure-value in $text-measure-array {
            .#{$infix}measure#{$measure-name} {
                max-width: var(--sf-text--measure#{$measure-name});
            }
        }
    }
// }