.scroll-p-a0 {
  scroll-padding: var(--sf-a0); }

.-scroll-p-a0 {
  scroll-padding: calc(0rem - var(--sf-a0)); }

.scroll-pt-a0 {
  scroll-padding-top: var(--sf-a0); }

.-scroll-pt-a0 {
  scroll-padding-top: calc(0rem - var(--sf-a0)); }

.scroll-pr-a0 {
  scroll-padding-right: var(--sf-a0); }

.-scroll-pr-a0 {
  scroll-padding-right: calc(0rem - var(--sf-a0)); }

.scroll-pb-a0 {
  scroll-padding-bottom: var(--sf-a0); }

.-scroll-pb-a0 {
  scroll-padding-bottom: calc(0rem - var(--sf-a0)); }

.scroll-pl-a0 {
  scroll-padding-left: var(--sf-a0); }

.-scroll-pl-a0 {
  scroll-padding-left: calc(0rem - var(--sf-a0)); }

.scroll-p-a1 {
  scroll-padding: var(--sf-a1); }

.-scroll-p-a1 {
  scroll-padding: calc(0rem - var(--sf-a1)); }

.scroll-pt-a1 {
  scroll-padding-top: var(--sf-a1); }

.-scroll-pt-a1 {
  scroll-padding-top: calc(0rem - var(--sf-a1)); }

.scroll-pr-a1 {
  scroll-padding-right: var(--sf-a1); }

.-scroll-pr-a1 {
  scroll-padding-right: calc(0rem - var(--sf-a1)); }

.scroll-pb-a1 {
  scroll-padding-bottom: var(--sf-a1); }

.-scroll-pb-a1 {
  scroll-padding-bottom: calc(0rem - var(--sf-a1)); }

.scroll-pl-a1 {
  scroll-padding-left: var(--sf-a1); }

.-scroll-pl-a1 {
  scroll-padding-left: calc(0rem - var(--sf-a1)); }

.scroll-p-a2 {
  scroll-padding: var(--sf-a2); }

.-scroll-p-a2 {
  scroll-padding: calc(0rem - var(--sf-a2)); }

.scroll-pt-a2 {
  scroll-padding-top: var(--sf-a2); }

.-scroll-pt-a2 {
  scroll-padding-top: calc(0rem - var(--sf-a2)); }

.scroll-pr-a2 {
  scroll-padding-right: var(--sf-a2); }

.-scroll-pr-a2 {
  scroll-padding-right: calc(0rem - var(--sf-a2)); }

.scroll-pb-a2 {
  scroll-padding-bottom: var(--sf-a2); }

.-scroll-pb-a2 {
  scroll-padding-bottom: calc(0rem - var(--sf-a2)); }

.scroll-pl-a2 {
  scroll-padding-left: var(--sf-a2); }

.-scroll-pl-a2 {
  scroll-padding-left: calc(0rem - var(--sf-a2)); }

.scroll-p-a3 {
  scroll-padding: var(--sf-a3); }

.-scroll-p-a3 {
  scroll-padding: calc(0rem - var(--sf-a3)); }

.scroll-pt-a3 {
  scroll-padding-top: var(--sf-a3); }

.-scroll-pt-a3 {
  scroll-padding-top: calc(0rem - var(--sf-a3)); }

.scroll-pr-a3 {
  scroll-padding-right: var(--sf-a3); }

.-scroll-pr-a3 {
  scroll-padding-right: calc(0rem - var(--sf-a3)); }

.scroll-pb-a3 {
  scroll-padding-bottom: var(--sf-a3); }

.-scroll-pb-a3 {
  scroll-padding-bottom: calc(0rem - var(--sf-a3)); }

.scroll-pl-a3 {
  scroll-padding-left: var(--sf-a3); }

.-scroll-pl-a3 {
  scroll-padding-left: calc(0rem - var(--sf-a3)); }

.scroll-p-a4 {
  scroll-padding: var(--sf-a4); }

.-scroll-p-a4 {
  scroll-padding: calc(0rem - var(--sf-a4)); }

.scroll-pt-a4 {
  scroll-padding-top: var(--sf-a4); }

.-scroll-pt-a4 {
  scroll-padding-top: calc(0rem - var(--sf-a4)); }

.scroll-pr-a4 {
  scroll-padding-right: var(--sf-a4); }

.-scroll-pr-a4 {
  scroll-padding-right: calc(0rem - var(--sf-a4)); }

.scroll-pb-a4 {
  scroll-padding-bottom: var(--sf-a4); }

.-scroll-pb-a4 {
  scroll-padding-bottom: calc(0rem - var(--sf-a4)); }

.scroll-pl-a4 {
  scroll-padding-left: var(--sf-a4); }

.-scroll-pl-a4 {
  scroll-padding-left: calc(0rem - var(--sf-a4)); }

.scroll-p-a5 {
  scroll-padding: var(--sf-a5); }

.-scroll-p-a5 {
  scroll-padding: calc(0rem - var(--sf-a5)); }

.scroll-pt-a5 {
  scroll-padding-top: var(--sf-a5); }

.-scroll-pt-a5 {
  scroll-padding-top: calc(0rem - var(--sf-a5)); }

.scroll-pr-a5 {
  scroll-padding-right: var(--sf-a5); }

.-scroll-pr-a5 {
  scroll-padding-right: calc(0rem - var(--sf-a5)); }

.scroll-pb-a5 {
  scroll-padding-bottom: var(--sf-a5); }

.-scroll-pb-a5 {
  scroll-padding-bottom: calc(0rem - var(--sf-a5)); }

.scroll-pl-a5 {
  scroll-padding-left: var(--sf-a5); }

.-scroll-pl-a5 {
  scroll-padding-left: calc(0rem - var(--sf-a5)); }

.scroll-p-a6 {
  scroll-padding: var(--sf-a6); }

.-scroll-p-a6 {
  scroll-padding: calc(0rem - var(--sf-a6)); }

.scroll-pt-a6 {
  scroll-padding-top: var(--sf-a6); }

.-scroll-pt-a6 {
  scroll-padding-top: calc(0rem - var(--sf-a6)); }

.scroll-pr-a6 {
  scroll-padding-right: var(--sf-a6); }

.-scroll-pr-a6 {
  scroll-padding-right: calc(0rem - var(--sf-a6)); }

.scroll-pb-a6 {
  scroll-padding-bottom: var(--sf-a6); }

.-scroll-pb-a6 {
  scroll-padding-bottom: calc(0rem - var(--sf-a6)); }

.scroll-pl-a6 {
  scroll-padding-left: var(--sf-a6); }

.-scroll-pl-a6 {
  scroll-padding-left: calc(0rem - var(--sf-a6)); }

.scroll-p-a7 {
  scroll-padding: var(--sf-a7); }

.-scroll-p-a7 {
  scroll-padding: calc(0rem - var(--sf-a7)); }

.scroll-pt-a7 {
  scroll-padding-top: var(--sf-a7); }

.-scroll-pt-a7 {
  scroll-padding-top: calc(0rem - var(--sf-a7)); }

.scroll-pr-a7 {
  scroll-padding-right: var(--sf-a7); }

.-scroll-pr-a7 {
  scroll-padding-right: calc(0rem - var(--sf-a7)); }

.scroll-pb-a7 {
  scroll-padding-bottom: var(--sf-a7); }

.-scroll-pb-a7 {
  scroll-padding-bottom: calc(0rem - var(--sf-a7)); }

.scroll-pl-a7 {
  scroll-padding-left: var(--sf-a7); }

.-scroll-pl-a7 {
  scroll-padding-left: calc(0rem - var(--sf-a7)); }

.scroll-p-a8 {
  scroll-padding: var(--sf-a8); }

.-scroll-p-a8 {
  scroll-padding: calc(0rem - var(--sf-a8)); }

.scroll-pt-a8 {
  scroll-padding-top: var(--sf-a8); }

.-scroll-pt-a8 {
  scroll-padding-top: calc(0rem - var(--sf-a8)); }

.scroll-pr-a8 {
  scroll-padding-right: var(--sf-a8); }

.-scroll-pr-a8 {
  scroll-padding-right: calc(0rem - var(--sf-a8)); }

.scroll-pb-a8 {
  scroll-padding-bottom: var(--sf-a8); }

.-scroll-pb-a8 {
  scroll-padding-bottom: calc(0rem - var(--sf-a8)); }

.scroll-pl-a8 {
  scroll-padding-left: var(--sf-a8); }

.-scroll-pl-a8 {
  scroll-padding-left: calc(0rem - var(--sf-a8)); }

.scroll-p-a9 {
  scroll-padding: var(--sf-a9); }

.-scroll-p-a9 {
  scroll-padding: calc(0rem - var(--sf-a9)); }

.scroll-pt-a9 {
  scroll-padding-top: var(--sf-a9); }

.-scroll-pt-a9 {
  scroll-padding-top: calc(0rem - var(--sf-a9)); }

.scroll-pr-a9 {
  scroll-padding-right: var(--sf-a9); }

.-scroll-pr-a9 {
  scroll-padding-right: calc(0rem - var(--sf-a9)); }

.scroll-pb-a9 {
  scroll-padding-bottom: var(--sf-a9); }

.-scroll-pb-a9 {
  scroll-padding-bottom: calc(0rem - var(--sf-a9)); }

.scroll-pl-a9 {
  scroll-padding-left: var(--sf-a9); }

.-scroll-pl-a9 {
  scroll-padding-left: calc(0rem - var(--sf-a9)); }

.scroll-p-b0 {
  scroll-padding: var(--sf-b0); }

.-scroll-p-b0 {
  scroll-padding: calc(0rem - var(--sf-b0)); }

.scroll-pt-b0 {
  scroll-padding-top: var(--sf-b0); }

.-scroll-pt-b0 {
  scroll-padding-top: calc(0rem - var(--sf-b0)); }

.scroll-pr-b0 {
  scroll-padding-right: var(--sf-b0); }

.-scroll-pr-b0 {
  scroll-padding-right: calc(0rem - var(--sf-b0)); }

.scroll-pb-b0 {
  scroll-padding-bottom: var(--sf-b0); }

.-scroll-pb-b0 {
  scroll-padding-bottom: calc(0rem - var(--sf-b0)); }

.scroll-pl-b0 {
  scroll-padding-left: var(--sf-b0); }

.-scroll-pl-b0 {
  scroll-padding-left: calc(0rem - var(--sf-b0)); }

.scroll-p-b1 {
  scroll-padding: var(--sf-b1); }

.-scroll-p-b1 {
  scroll-padding: calc(0rem - var(--sf-b1)); }

.scroll-pt-b1 {
  scroll-padding-top: var(--sf-b1); }

.-scroll-pt-b1 {
  scroll-padding-top: calc(0rem - var(--sf-b1)); }

.scroll-pr-b1 {
  scroll-padding-right: var(--sf-b1); }

.-scroll-pr-b1 {
  scroll-padding-right: calc(0rem - var(--sf-b1)); }

.scroll-pb-b1 {
  scroll-padding-bottom: var(--sf-b1); }

.-scroll-pb-b1 {
  scroll-padding-bottom: calc(0rem - var(--sf-b1)); }

.scroll-pl-b1 {
  scroll-padding-left: var(--sf-b1); }

.-scroll-pl-b1 {
  scroll-padding-left: calc(0rem - var(--sf-b1)); }

.scroll-p-b2 {
  scroll-padding: var(--sf-b2); }

.-scroll-p-b2 {
  scroll-padding: calc(0rem - var(--sf-b2)); }

.scroll-pt-b2 {
  scroll-padding-top: var(--sf-b2); }

.-scroll-pt-b2 {
  scroll-padding-top: calc(0rem - var(--sf-b2)); }

.scroll-pr-b2 {
  scroll-padding-right: var(--sf-b2); }

.-scroll-pr-b2 {
  scroll-padding-right: calc(0rem - var(--sf-b2)); }

.scroll-pb-b2 {
  scroll-padding-bottom: var(--sf-b2); }

.-scroll-pb-b2 {
  scroll-padding-bottom: calc(0rem - var(--sf-b2)); }

.scroll-pl-b2 {
  scroll-padding-left: var(--sf-b2); }

.-scroll-pl-b2 {
  scroll-padding-left: calc(0rem - var(--sf-b2)); }

.scroll-p-b3 {
  scroll-padding: var(--sf-b3); }

.-scroll-p-b3 {
  scroll-padding: calc(0rem - var(--sf-b3)); }

.scroll-pt-b3 {
  scroll-padding-top: var(--sf-b3); }

.-scroll-pt-b3 {
  scroll-padding-top: calc(0rem - var(--sf-b3)); }

.scroll-pr-b3 {
  scroll-padding-right: var(--sf-b3); }

.-scroll-pr-b3 {
  scroll-padding-right: calc(0rem - var(--sf-b3)); }

.scroll-pb-b3 {
  scroll-padding-bottom: var(--sf-b3); }

.-scroll-pb-b3 {
  scroll-padding-bottom: calc(0rem - var(--sf-b3)); }

.scroll-pl-b3 {
  scroll-padding-left: var(--sf-b3); }

.-scroll-pl-b3 {
  scroll-padding-left: calc(0rem - var(--sf-b3)); }

.scroll-p-b4 {
  scroll-padding: var(--sf-b4); }

.-scroll-p-b4 {
  scroll-padding: calc(0rem - var(--sf-b4)); }

.scroll-pt-b4 {
  scroll-padding-top: var(--sf-b4); }

.-scroll-pt-b4 {
  scroll-padding-top: calc(0rem - var(--sf-b4)); }

.scroll-pr-b4 {
  scroll-padding-right: var(--sf-b4); }

.-scroll-pr-b4 {
  scroll-padding-right: calc(0rem - var(--sf-b4)); }

.scroll-pb-b4 {
  scroll-padding-bottom: var(--sf-b4); }

.-scroll-pb-b4 {
  scroll-padding-bottom: calc(0rem - var(--sf-b4)); }

.scroll-pl-b4 {
  scroll-padding-left: var(--sf-b4); }

.-scroll-pl-b4 {
  scroll-padding-left: calc(0rem - var(--sf-b4)); }

.scroll-p-b5 {
  scroll-padding: var(--sf-b5); }

.-scroll-p-b5 {
  scroll-padding: calc(0rem - var(--sf-b5)); }

.scroll-pt-b5 {
  scroll-padding-top: var(--sf-b5); }

.-scroll-pt-b5 {
  scroll-padding-top: calc(0rem - var(--sf-b5)); }

.scroll-pr-b5 {
  scroll-padding-right: var(--sf-b5); }

.-scroll-pr-b5 {
  scroll-padding-right: calc(0rem - var(--sf-b5)); }

.scroll-pb-b5 {
  scroll-padding-bottom: var(--sf-b5); }

.-scroll-pb-b5 {
  scroll-padding-bottom: calc(0rem - var(--sf-b5)); }

.scroll-pl-b5 {
  scroll-padding-left: var(--sf-b5); }

.-scroll-pl-b5 {
  scroll-padding-left: calc(0rem - var(--sf-b5)); }

.scroll-p-b6 {
  scroll-padding: var(--sf-b6); }

.-scroll-p-b6 {
  scroll-padding: calc(0rem - var(--sf-b6)); }

.scroll-pt-b6 {
  scroll-padding-top: var(--sf-b6); }

.-scroll-pt-b6 {
  scroll-padding-top: calc(0rem - var(--sf-b6)); }

.scroll-pr-b6 {
  scroll-padding-right: var(--sf-b6); }

.-scroll-pr-b6 {
  scroll-padding-right: calc(0rem - var(--sf-b6)); }

.scroll-pb-b6 {
  scroll-padding-bottom: var(--sf-b6); }

.-scroll-pb-b6 {
  scroll-padding-bottom: calc(0rem - var(--sf-b6)); }

.scroll-pl-b6 {
  scroll-padding-left: var(--sf-b6); }

.-scroll-pl-b6 {
  scroll-padding-left: calc(0rem - var(--sf-b6)); }

.scroll-p-b7 {
  scroll-padding: var(--sf-b7); }

.-scroll-p-b7 {
  scroll-padding: calc(0rem - var(--sf-b7)); }

.scroll-pt-b7 {
  scroll-padding-top: var(--sf-b7); }

.-scroll-pt-b7 {
  scroll-padding-top: calc(0rem - var(--sf-b7)); }

.scroll-pr-b7 {
  scroll-padding-right: var(--sf-b7); }

.-scroll-pr-b7 {
  scroll-padding-right: calc(0rem - var(--sf-b7)); }

.scroll-pb-b7 {
  scroll-padding-bottom: var(--sf-b7); }

.-scroll-pb-b7 {
  scroll-padding-bottom: calc(0rem - var(--sf-b7)); }

.scroll-pl-b7 {
  scroll-padding-left: var(--sf-b7); }

.-scroll-pl-b7 {
  scroll-padding-left: calc(0rem - var(--sf-b7)); }

.scroll-p-b8 {
  scroll-padding: var(--sf-b8); }

.-scroll-p-b8 {
  scroll-padding: calc(0rem - var(--sf-b8)); }

.scroll-pt-b8 {
  scroll-padding-top: var(--sf-b8); }

.-scroll-pt-b8 {
  scroll-padding-top: calc(0rem - var(--sf-b8)); }

.scroll-pr-b8 {
  scroll-padding-right: var(--sf-b8); }

.-scroll-pr-b8 {
  scroll-padding-right: calc(0rem - var(--sf-b8)); }

.scroll-pb-b8 {
  scroll-padding-bottom: var(--sf-b8); }

.-scroll-pb-b8 {
  scroll-padding-bottom: calc(0rem - var(--sf-b8)); }

.scroll-pl-b8 {
  scroll-padding-left: var(--sf-b8); }

.-scroll-pl-b8 {
  scroll-padding-left: calc(0rem - var(--sf-b8)); }

.scroll-p-b9 {
  scroll-padding: var(--sf-b9); }

.-scroll-p-b9 {
  scroll-padding: calc(0rem - var(--sf-b9)); }

.scroll-pt-b9 {
  scroll-padding-top: var(--sf-b9); }

.-scroll-pt-b9 {
  scroll-padding-top: calc(0rem - var(--sf-b9)); }

.scroll-pr-b9 {
  scroll-padding-right: var(--sf-b9); }

.-scroll-pr-b9 {
  scroll-padding-right: calc(0rem - var(--sf-b9)); }

.scroll-pb-b9 {
  scroll-padding-bottom: var(--sf-b9); }

.-scroll-pb-b9 {
  scroll-padding-bottom: calc(0rem - var(--sf-b9)); }

.scroll-pl-b9 {
  scroll-padding-left: var(--sf-b9); }

.-scroll-pl-b9 {
  scroll-padding-left: calc(0rem - var(--sf-b9)); }

.scroll-p-c0 {
  scroll-padding: var(--sf-c0); }

.-scroll-p-c0 {
  scroll-padding: calc(0rem - var(--sf-c0)); }

.scroll-pt-c0 {
  scroll-padding-top: var(--sf-c0); }

.-scroll-pt-c0 {
  scroll-padding-top: calc(0rem - var(--sf-c0)); }

.scroll-pr-c0 {
  scroll-padding-right: var(--sf-c0); }

.-scroll-pr-c0 {
  scroll-padding-right: calc(0rem - var(--sf-c0)); }

.scroll-pb-c0 {
  scroll-padding-bottom: var(--sf-c0); }

.-scroll-pb-c0 {
  scroll-padding-bottom: calc(0rem - var(--sf-c0)); }

.scroll-pl-c0 {
  scroll-padding-left: var(--sf-c0); }

.-scroll-pl-c0 {
  scroll-padding-left: calc(0rem - var(--sf-c0)); }

.scroll-p-c1 {
  scroll-padding: var(--sf-c1); }

.-scroll-p-c1 {
  scroll-padding: calc(0rem - var(--sf-c1)); }

.scroll-pt-c1 {
  scroll-padding-top: var(--sf-c1); }

.-scroll-pt-c1 {
  scroll-padding-top: calc(0rem - var(--sf-c1)); }

.scroll-pr-c1 {
  scroll-padding-right: var(--sf-c1); }

.-scroll-pr-c1 {
  scroll-padding-right: calc(0rem - var(--sf-c1)); }

.scroll-pb-c1 {
  scroll-padding-bottom: var(--sf-c1); }

.-scroll-pb-c1 {
  scroll-padding-bottom: calc(0rem - var(--sf-c1)); }

.scroll-pl-c1 {
  scroll-padding-left: var(--sf-c1); }

.-scroll-pl-c1 {
  scroll-padding-left: calc(0rem - var(--sf-c1)); }

.scroll-p-c2 {
  scroll-padding: var(--sf-c2); }

.-scroll-p-c2 {
  scroll-padding: calc(0rem - var(--sf-c2)); }

.scroll-pt-c2 {
  scroll-padding-top: var(--sf-c2); }

.-scroll-pt-c2 {
  scroll-padding-top: calc(0rem - var(--sf-c2)); }

.scroll-pr-c2 {
  scroll-padding-right: var(--sf-c2); }

.-scroll-pr-c2 {
  scroll-padding-right: calc(0rem - var(--sf-c2)); }

.scroll-pb-c2 {
  scroll-padding-bottom: var(--sf-c2); }

.-scroll-pb-c2 {
  scroll-padding-bottom: calc(0rem - var(--sf-c2)); }

.scroll-pl-c2 {
  scroll-padding-left: var(--sf-c2); }

.-scroll-pl-c2 {
  scroll-padding-left: calc(0rem - var(--sf-c2)); }

.scroll-p-c3 {
  scroll-padding: var(--sf-c3); }

.-scroll-p-c3 {
  scroll-padding: calc(0rem - var(--sf-c3)); }

.scroll-pt-c3 {
  scroll-padding-top: var(--sf-c3); }

.-scroll-pt-c3 {
  scroll-padding-top: calc(0rem - var(--sf-c3)); }

.scroll-pr-c3 {
  scroll-padding-right: var(--sf-c3); }

.-scroll-pr-c3 {
  scroll-padding-right: calc(0rem - var(--sf-c3)); }

.scroll-pb-c3 {
  scroll-padding-bottom: var(--sf-c3); }

.-scroll-pb-c3 {
  scroll-padding-bottom: calc(0rem - var(--sf-c3)); }

.scroll-pl-c3 {
  scroll-padding-left: var(--sf-c3); }

.-scroll-pl-c3 {
  scroll-padding-left: calc(0rem - var(--sf-c3)); }

.scroll-p-c4 {
  scroll-padding: var(--sf-c4); }

.-scroll-p-c4 {
  scroll-padding: calc(0rem - var(--sf-c4)); }

.scroll-pt-c4 {
  scroll-padding-top: var(--sf-c4); }

.-scroll-pt-c4 {
  scroll-padding-top: calc(0rem - var(--sf-c4)); }

.scroll-pr-c4 {
  scroll-padding-right: var(--sf-c4); }

.-scroll-pr-c4 {
  scroll-padding-right: calc(0rem - var(--sf-c4)); }

.scroll-pb-c4 {
  scroll-padding-bottom: var(--sf-c4); }

.-scroll-pb-c4 {
  scroll-padding-bottom: calc(0rem - var(--sf-c4)); }

.scroll-pl-c4 {
  scroll-padding-left: var(--sf-c4); }

.-scroll-pl-c4 {
  scroll-padding-left: calc(0rem - var(--sf-c4)); }

.scroll-p-c5 {
  scroll-padding: var(--sf-c5); }

.-scroll-p-c5 {
  scroll-padding: calc(0rem - var(--sf-c5)); }

.scroll-pt-c5 {
  scroll-padding-top: var(--sf-c5); }

.-scroll-pt-c5 {
  scroll-padding-top: calc(0rem - var(--sf-c5)); }

.scroll-pr-c5 {
  scroll-padding-right: var(--sf-c5); }

.-scroll-pr-c5 {
  scroll-padding-right: calc(0rem - var(--sf-c5)); }

.scroll-pb-c5 {
  scroll-padding-bottom: var(--sf-c5); }

.-scroll-pb-c5 {
  scroll-padding-bottom: calc(0rem - var(--sf-c5)); }

.scroll-pl-c5 {
  scroll-padding-left: var(--sf-c5); }

.-scroll-pl-c5 {
  scroll-padding-left: calc(0rem - var(--sf-c5)); }

.scroll-p-c6 {
  scroll-padding: var(--sf-c6); }

.-scroll-p-c6 {
  scroll-padding: calc(0rem - var(--sf-c6)); }

.scroll-pt-c6 {
  scroll-padding-top: var(--sf-c6); }

.-scroll-pt-c6 {
  scroll-padding-top: calc(0rem - var(--sf-c6)); }

.scroll-pr-c6 {
  scroll-padding-right: var(--sf-c6); }

.-scroll-pr-c6 {
  scroll-padding-right: calc(0rem - var(--sf-c6)); }

.scroll-pb-c6 {
  scroll-padding-bottom: var(--sf-c6); }

.-scroll-pb-c6 {
  scroll-padding-bottom: calc(0rem - var(--sf-c6)); }

.scroll-pl-c6 {
  scroll-padding-left: var(--sf-c6); }

.-scroll-pl-c6 {
  scroll-padding-left: calc(0rem - var(--sf-c6)); }

.scroll-p-c7 {
  scroll-padding: var(--sf-c7); }

.-scroll-p-c7 {
  scroll-padding: calc(0rem - var(--sf-c7)); }

.scroll-pt-c7 {
  scroll-padding-top: var(--sf-c7); }

.-scroll-pt-c7 {
  scroll-padding-top: calc(0rem - var(--sf-c7)); }

.scroll-pr-c7 {
  scroll-padding-right: var(--sf-c7); }

.-scroll-pr-c7 {
  scroll-padding-right: calc(0rem - var(--sf-c7)); }

.scroll-pb-c7 {
  scroll-padding-bottom: var(--sf-c7); }

.-scroll-pb-c7 {
  scroll-padding-bottom: calc(0rem - var(--sf-c7)); }

.scroll-pl-c7 {
  scroll-padding-left: var(--sf-c7); }

.-scroll-pl-c7 {
  scroll-padding-left: calc(0rem - var(--sf-c7)); }

.scroll-p-c8 {
  scroll-padding: var(--sf-c8); }

.-scroll-p-c8 {
  scroll-padding: calc(0rem - var(--sf-c8)); }

.scroll-pt-c8 {
  scroll-padding-top: var(--sf-c8); }

.-scroll-pt-c8 {
  scroll-padding-top: calc(0rem - var(--sf-c8)); }

.scroll-pr-c8 {
  scroll-padding-right: var(--sf-c8); }

.-scroll-pr-c8 {
  scroll-padding-right: calc(0rem - var(--sf-c8)); }

.scroll-pb-c8 {
  scroll-padding-bottom: var(--sf-c8); }

.-scroll-pb-c8 {
  scroll-padding-bottom: calc(0rem - var(--sf-c8)); }

.scroll-pl-c8 {
  scroll-padding-left: var(--sf-c8); }

.-scroll-pl-c8 {
  scroll-padding-left: calc(0rem - var(--sf-c8)); }

.scroll-p-c9 {
  scroll-padding: var(--sf-c9); }

.-scroll-p-c9 {
  scroll-padding: calc(0rem - var(--sf-c9)); }

.scroll-pt-c9 {
  scroll-padding-top: var(--sf-c9); }

.-scroll-pt-c9 {
  scroll-padding-top: calc(0rem - var(--sf-c9)); }

.scroll-pr-c9 {
  scroll-padding-right: var(--sf-c9); }

.-scroll-pr-c9 {
  scroll-padding-right: calc(0rem - var(--sf-c9)); }

.scroll-pb-c9 {
  scroll-padding-bottom: var(--sf-c9); }

.-scroll-pb-c9 {
  scroll-padding-bottom: calc(0rem - var(--sf-c9)); }

.scroll-pl-c9 {
  scroll-padding-left: var(--sf-c9); }

.-scroll-pl-c9 {
  scroll-padding-left: calc(0rem - var(--sf-c9)); }

.scroll-p-d0 {
  scroll-padding: var(--sf-d0); }

.-scroll-p-d0 {
  scroll-padding: calc(0rem - var(--sf-d0)); }

.scroll-pt-d0 {
  scroll-padding-top: var(--sf-d0); }

.-scroll-pt-d0 {
  scroll-padding-top: calc(0rem - var(--sf-d0)); }

.scroll-pr-d0 {
  scroll-padding-right: var(--sf-d0); }

.-scroll-pr-d0 {
  scroll-padding-right: calc(0rem - var(--sf-d0)); }

.scroll-pb-d0 {
  scroll-padding-bottom: var(--sf-d0); }

.-scroll-pb-d0 {
  scroll-padding-bottom: calc(0rem - var(--sf-d0)); }

.scroll-pl-d0 {
  scroll-padding-left: var(--sf-d0); }

.-scroll-pl-d0 {
  scroll-padding-left: calc(0rem - var(--sf-d0)); }

.scroll-p-d1 {
  scroll-padding: var(--sf-d1); }

.-scroll-p-d1 {
  scroll-padding: calc(0rem - var(--sf-d1)); }

.scroll-pt-d1 {
  scroll-padding-top: var(--sf-d1); }

.-scroll-pt-d1 {
  scroll-padding-top: calc(0rem - var(--sf-d1)); }

.scroll-pr-d1 {
  scroll-padding-right: var(--sf-d1); }

.-scroll-pr-d1 {
  scroll-padding-right: calc(0rem - var(--sf-d1)); }

.scroll-pb-d1 {
  scroll-padding-bottom: var(--sf-d1); }

.-scroll-pb-d1 {
  scroll-padding-bottom: calc(0rem - var(--sf-d1)); }

.scroll-pl-d1 {
  scroll-padding-left: var(--sf-d1); }

.-scroll-pl-d1 {
  scroll-padding-left: calc(0rem - var(--sf-d1)); }

.scroll-p-d2 {
  scroll-padding: var(--sf-d2); }

.-scroll-p-d2 {
  scroll-padding: calc(0rem - var(--sf-d2)); }

.scroll-pt-d2 {
  scroll-padding-top: var(--sf-d2); }

.-scroll-pt-d2 {
  scroll-padding-top: calc(0rem - var(--sf-d2)); }

.scroll-pr-d2 {
  scroll-padding-right: var(--sf-d2); }

.-scroll-pr-d2 {
  scroll-padding-right: calc(0rem - var(--sf-d2)); }

.scroll-pb-d2 {
  scroll-padding-bottom: var(--sf-d2); }

.-scroll-pb-d2 {
  scroll-padding-bottom: calc(0rem - var(--sf-d2)); }

.scroll-pl-d2 {
  scroll-padding-left: var(--sf-d2); }

.-scroll-pl-d2 {
  scroll-padding-left: calc(0rem - var(--sf-d2)); }

.scroll-p-d3 {
  scroll-padding: var(--sf-d3); }

.-scroll-p-d3 {
  scroll-padding: calc(0rem - var(--sf-d3)); }

.scroll-pt-d3 {
  scroll-padding-top: var(--sf-d3); }

.-scroll-pt-d3 {
  scroll-padding-top: calc(0rem - var(--sf-d3)); }

.scroll-pr-d3 {
  scroll-padding-right: var(--sf-d3); }

.-scroll-pr-d3 {
  scroll-padding-right: calc(0rem - var(--sf-d3)); }

.scroll-pb-d3 {
  scroll-padding-bottom: var(--sf-d3); }

.-scroll-pb-d3 {
  scroll-padding-bottom: calc(0rem - var(--sf-d3)); }

.scroll-pl-d3 {
  scroll-padding-left: var(--sf-d3); }

.-scroll-pl-d3 {
  scroll-padding-left: calc(0rem - var(--sf-d3)); }

.scroll-p-d4 {
  scroll-padding: var(--sf-d4); }

.-scroll-p-d4 {
  scroll-padding: calc(0rem - var(--sf-d4)); }

.scroll-pt-d4 {
  scroll-padding-top: var(--sf-d4); }

.-scroll-pt-d4 {
  scroll-padding-top: calc(0rem - var(--sf-d4)); }

.scroll-pr-d4 {
  scroll-padding-right: var(--sf-d4); }

.-scroll-pr-d4 {
  scroll-padding-right: calc(0rem - var(--sf-d4)); }

.scroll-pb-d4 {
  scroll-padding-bottom: var(--sf-d4); }

.-scroll-pb-d4 {
  scroll-padding-bottom: calc(0rem - var(--sf-d4)); }

.scroll-pl-d4 {
  scroll-padding-left: var(--sf-d4); }

.-scroll-pl-d4 {
  scroll-padding-left: calc(0rem - var(--sf-d4)); }

.scroll-p-d5 {
  scroll-padding: var(--sf-d5); }

.-scroll-p-d5 {
  scroll-padding: calc(0rem - var(--sf-d5)); }

.scroll-pt-d5 {
  scroll-padding-top: var(--sf-d5); }

.-scroll-pt-d5 {
  scroll-padding-top: calc(0rem - var(--sf-d5)); }

.scroll-pr-d5 {
  scroll-padding-right: var(--sf-d5); }

.-scroll-pr-d5 {
  scroll-padding-right: calc(0rem - var(--sf-d5)); }

.scroll-pb-d5 {
  scroll-padding-bottom: var(--sf-d5); }

.-scroll-pb-d5 {
  scroll-padding-bottom: calc(0rem - var(--sf-d5)); }

.scroll-pl-d5 {
  scroll-padding-left: var(--sf-d5); }

.-scroll-pl-d5 {
  scroll-padding-left: calc(0rem - var(--sf-d5)); }

.scroll-p-d6 {
  scroll-padding: var(--sf-d6); }

.-scroll-p-d6 {
  scroll-padding: calc(0rem - var(--sf-d6)); }

.scroll-pt-d6 {
  scroll-padding-top: var(--sf-d6); }

.-scroll-pt-d6 {
  scroll-padding-top: calc(0rem - var(--sf-d6)); }

.scroll-pr-d6 {
  scroll-padding-right: var(--sf-d6); }

.-scroll-pr-d6 {
  scroll-padding-right: calc(0rem - var(--sf-d6)); }

.scroll-pb-d6 {
  scroll-padding-bottom: var(--sf-d6); }

.-scroll-pb-d6 {
  scroll-padding-bottom: calc(0rem - var(--sf-d6)); }

.scroll-pl-d6 {
  scroll-padding-left: var(--sf-d6); }

.-scroll-pl-d6 {
  scroll-padding-left: calc(0rem - var(--sf-d6)); }

.scroll-p-d7 {
  scroll-padding: var(--sf-d7); }

.-scroll-p-d7 {
  scroll-padding: calc(0rem - var(--sf-d7)); }

.scroll-pt-d7 {
  scroll-padding-top: var(--sf-d7); }

.-scroll-pt-d7 {
  scroll-padding-top: calc(0rem - var(--sf-d7)); }

.scroll-pr-d7 {
  scroll-padding-right: var(--sf-d7); }

.-scroll-pr-d7 {
  scroll-padding-right: calc(0rem - var(--sf-d7)); }

.scroll-pb-d7 {
  scroll-padding-bottom: var(--sf-d7); }

.-scroll-pb-d7 {
  scroll-padding-bottom: calc(0rem - var(--sf-d7)); }

.scroll-pl-d7 {
  scroll-padding-left: var(--sf-d7); }

.-scroll-pl-d7 {
  scroll-padding-left: calc(0rem - var(--sf-d7)); }

.scroll-p-d8 {
  scroll-padding: var(--sf-d8); }

.-scroll-p-d8 {
  scroll-padding: calc(0rem - var(--sf-d8)); }

.scroll-pt-d8 {
  scroll-padding-top: var(--sf-d8); }

.-scroll-pt-d8 {
  scroll-padding-top: calc(0rem - var(--sf-d8)); }

.scroll-pr-d8 {
  scroll-padding-right: var(--sf-d8); }

.-scroll-pr-d8 {
  scroll-padding-right: calc(0rem - var(--sf-d8)); }

.scroll-pb-d8 {
  scroll-padding-bottom: var(--sf-d8); }

.-scroll-pb-d8 {
  scroll-padding-bottom: calc(0rem - var(--sf-d8)); }

.scroll-pl-d8 {
  scroll-padding-left: var(--sf-d8); }

.-scroll-pl-d8 {
  scroll-padding-left: calc(0rem - var(--sf-d8)); }

.scroll-p-d9 {
  scroll-padding: var(--sf-d9); }

.-scroll-p-d9 {
  scroll-padding: calc(0rem - var(--sf-d9)); }

.scroll-pt-d9 {
  scroll-padding-top: var(--sf-d9); }

.-scroll-pt-d9 {
  scroll-padding-top: calc(0rem - var(--sf-d9)); }

.scroll-pr-d9 {
  scroll-padding-right: var(--sf-d9); }

.-scroll-pr-d9 {
  scroll-padding-right: calc(0rem - var(--sf-d9)); }

.scroll-pb-d9 {
  scroll-padding-bottom: var(--sf-d9); }

.-scroll-pb-d9 {
  scroll-padding-bottom: calc(0rem - var(--sf-d9)); }

.scroll-pl-d9 {
  scroll-padding-left: var(--sf-d9); }

.-scroll-pl-d9 {
  scroll-padding-left: calc(0rem - var(--sf-d9)); }

.scroll-p-e0 {
  scroll-padding: var(--sf-e0); }

.-scroll-p-e0 {
  scroll-padding: calc(0rem - var(--sf-e0)); }

.scroll-pt-e0 {
  scroll-padding-top: var(--sf-e0); }

.-scroll-pt-e0 {
  scroll-padding-top: calc(0rem - var(--sf-e0)); }

.scroll-pr-e0 {
  scroll-padding-right: var(--sf-e0); }

.-scroll-pr-e0 {
  scroll-padding-right: calc(0rem - var(--sf-e0)); }

.scroll-pb-e0 {
  scroll-padding-bottom: var(--sf-e0); }

.-scroll-pb-e0 {
  scroll-padding-bottom: calc(0rem - var(--sf-e0)); }

.scroll-pl-e0 {
  scroll-padding-left: var(--sf-e0); }

.-scroll-pl-e0 {
  scroll-padding-left: calc(0rem - var(--sf-e0)); }

.scroll-p-e1 {
  scroll-padding: var(--sf-e1); }

.-scroll-p-e1 {
  scroll-padding: calc(0rem - var(--sf-e1)); }

.scroll-pt-e1 {
  scroll-padding-top: var(--sf-e1); }

.-scroll-pt-e1 {
  scroll-padding-top: calc(0rem - var(--sf-e1)); }

.scroll-pr-e1 {
  scroll-padding-right: var(--sf-e1); }

.-scroll-pr-e1 {
  scroll-padding-right: calc(0rem - var(--sf-e1)); }

.scroll-pb-e1 {
  scroll-padding-bottom: var(--sf-e1); }

.-scroll-pb-e1 {
  scroll-padding-bottom: calc(0rem - var(--sf-e1)); }

.scroll-pl-e1 {
  scroll-padding-left: var(--sf-e1); }

.-scroll-pl-e1 {
  scroll-padding-left: calc(0rem - var(--sf-e1)); }

.scroll-p-e2 {
  scroll-padding: var(--sf-e2); }

.-scroll-p-e2 {
  scroll-padding: calc(0rem - var(--sf-e2)); }

.scroll-pt-e2 {
  scroll-padding-top: var(--sf-e2); }

.-scroll-pt-e2 {
  scroll-padding-top: calc(0rem - var(--sf-e2)); }

.scroll-pr-e2 {
  scroll-padding-right: var(--sf-e2); }

.-scroll-pr-e2 {
  scroll-padding-right: calc(0rem - var(--sf-e2)); }

.scroll-pb-e2 {
  scroll-padding-bottom: var(--sf-e2); }

.-scroll-pb-e2 {
  scroll-padding-bottom: calc(0rem - var(--sf-e2)); }

.scroll-pl-e2 {
  scroll-padding-left: var(--sf-e2); }

.-scroll-pl-e2 {
  scroll-padding-left: calc(0rem - var(--sf-e2)); }

.scroll-p-e3 {
  scroll-padding: var(--sf-e3); }

.-scroll-p-e3 {
  scroll-padding: calc(0rem - var(--sf-e3)); }

.scroll-pt-e3 {
  scroll-padding-top: var(--sf-e3); }

.-scroll-pt-e3 {
  scroll-padding-top: calc(0rem - var(--sf-e3)); }

.scroll-pr-e3 {
  scroll-padding-right: var(--sf-e3); }

.-scroll-pr-e3 {
  scroll-padding-right: calc(0rem - var(--sf-e3)); }

.scroll-pb-e3 {
  scroll-padding-bottom: var(--sf-e3); }

.-scroll-pb-e3 {
  scroll-padding-bottom: calc(0rem - var(--sf-e3)); }

.scroll-pl-e3 {
  scroll-padding-left: var(--sf-e3); }

.-scroll-pl-e3 {
  scroll-padding-left: calc(0rem - var(--sf-e3)); }

.scroll-p-e4 {
  scroll-padding: var(--sf-e4); }

.-scroll-p-e4 {
  scroll-padding: calc(0rem - var(--sf-e4)); }

.scroll-pt-e4 {
  scroll-padding-top: var(--sf-e4); }

.-scroll-pt-e4 {
  scroll-padding-top: calc(0rem - var(--sf-e4)); }

.scroll-pr-e4 {
  scroll-padding-right: var(--sf-e4); }

.-scroll-pr-e4 {
  scroll-padding-right: calc(0rem - var(--sf-e4)); }

.scroll-pb-e4 {
  scroll-padding-bottom: var(--sf-e4); }

.-scroll-pb-e4 {
  scroll-padding-bottom: calc(0rem - var(--sf-e4)); }

.scroll-pl-e4 {
  scroll-padding-left: var(--sf-e4); }

.-scroll-pl-e4 {
  scroll-padding-left: calc(0rem - var(--sf-e4)); }

.scroll-p-e5 {
  scroll-padding: var(--sf-e5); }

.-scroll-p-e5 {
  scroll-padding: calc(0rem - var(--sf-e5)); }

.scroll-pt-e5 {
  scroll-padding-top: var(--sf-e5); }

.-scroll-pt-e5 {
  scroll-padding-top: calc(0rem - var(--sf-e5)); }

.scroll-pr-e5 {
  scroll-padding-right: var(--sf-e5); }

.-scroll-pr-e5 {
  scroll-padding-right: calc(0rem - var(--sf-e5)); }

.scroll-pb-e5 {
  scroll-padding-bottom: var(--sf-e5); }

.-scroll-pb-e5 {
  scroll-padding-bottom: calc(0rem - var(--sf-e5)); }

.scroll-pl-e5 {
  scroll-padding-left: var(--sf-e5); }

.-scroll-pl-e5 {
  scroll-padding-left: calc(0rem - var(--sf-e5)); }

.scroll-p-e6 {
  scroll-padding: var(--sf-e6); }

.-scroll-p-e6 {
  scroll-padding: calc(0rem - var(--sf-e6)); }

.scroll-pt-e6 {
  scroll-padding-top: var(--sf-e6); }

.-scroll-pt-e6 {
  scroll-padding-top: calc(0rem - var(--sf-e6)); }

.scroll-pr-e6 {
  scroll-padding-right: var(--sf-e6); }

.-scroll-pr-e6 {
  scroll-padding-right: calc(0rem - var(--sf-e6)); }

.scroll-pb-e6 {
  scroll-padding-bottom: var(--sf-e6); }

.-scroll-pb-e6 {
  scroll-padding-bottom: calc(0rem - var(--sf-e6)); }

.scroll-pl-e6 {
  scroll-padding-left: var(--sf-e6); }

.-scroll-pl-e6 {
  scroll-padding-left: calc(0rem - var(--sf-e6)); }

.scroll-p-e7 {
  scroll-padding: var(--sf-e7); }

.-scroll-p-e7 {
  scroll-padding: calc(0rem - var(--sf-e7)); }

.scroll-pt-e7 {
  scroll-padding-top: var(--sf-e7); }

.-scroll-pt-e7 {
  scroll-padding-top: calc(0rem - var(--sf-e7)); }

.scroll-pr-e7 {
  scroll-padding-right: var(--sf-e7); }

.-scroll-pr-e7 {
  scroll-padding-right: calc(0rem - var(--sf-e7)); }

.scroll-pb-e7 {
  scroll-padding-bottom: var(--sf-e7); }

.-scroll-pb-e7 {
  scroll-padding-bottom: calc(0rem - var(--sf-e7)); }

.scroll-pl-e7 {
  scroll-padding-left: var(--sf-e7); }

.-scroll-pl-e7 {
  scroll-padding-left: calc(0rem - var(--sf-e7)); }

.scroll-p-e8 {
  scroll-padding: var(--sf-e8); }

.-scroll-p-e8 {
  scroll-padding: calc(0rem - var(--sf-e8)); }

.scroll-pt-e8 {
  scroll-padding-top: var(--sf-e8); }

.-scroll-pt-e8 {
  scroll-padding-top: calc(0rem - var(--sf-e8)); }

.scroll-pr-e8 {
  scroll-padding-right: var(--sf-e8); }

.-scroll-pr-e8 {
  scroll-padding-right: calc(0rem - var(--sf-e8)); }

.scroll-pb-e8 {
  scroll-padding-bottom: var(--sf-e8); }

.-scroll-pb-e8 {
  scroll-padding-bottom: calc(0rem - var(--sf-e8)); }

.scroll-pl-e8 {
  scroll-padding-left: var(--sf-e8); }

.-scroll-pl-e8 {
  scroll-padding-left: calc(0rem - var(--sf-e8)); }

.scroll-p-e9 {
  scroll-padding: var(--sf-e9); }

.-scroll-p-e9 {
  scroll-padding: calc(0rem - var(--sf-e9)); }

.scroll-pt-e9 {
  scroll-padding-top: var(--sf-e9); }

.-scroll-pt-e9 {
  scroll-padding-top: calc(0rem - var(--sf-e9)); }

.scroll-pr-e9 {
  scroll-padding-right: var(--sf-e9); }

.-scroll-pr-e9 {
  scroll-padding-right: calc(0rem - var(--sf-e9)); }

.scroll-pb-e9 {
  scroll-padding-bottom: var(--sf-e9); }

.-scroll-pb-e9 {
  scroll-padding-bottom: calc(0rem - var(--sf-e9)); }

.scroll-pl-e9 {
  scroll-padding-left: var(--sf-e9); }

.-scroll-pl-e9 {
  scroll-padding-left: calc(0rem - var(--sf-e9)); }

.scroll-p-f0 {
  scroll-padding: var(--sf-f0); }

.-scroll-p-f0 {
  scroll-padding: calc(0rem - var(--sf-f0)); }

.scroll-pt-f0 {
  scroll-padding-top: var(--sf-f0); }

.-scroll-pt-f0 {
  scroll-padding-top: calc(0rem - var(--sf-f0)); }

.scroll-pr-f0 {
  scroll-padding-right: var(--sf-f0); }

.-scroll-pr-f0 {
  scroll-padding-right: calc(0rem - var(--sf-f0)); }

.scroll-pb-f0 {
  scroll-padding-bottom: var(--sf-f0); }

.-scroll-pb-f0 {
  scroll-padding-bottom: calc(0rem - var(--sf-f0)); }

.scroll-pl-f0 {
  scroll-padding-left: var(--sf-f0); }

.-scroll-pl-f0 {
  scroll-padding-left: calc(0rem - var(--sf-f0)); }

.scroll-p-f1 {
  scroll-padding: var(--sf-f1); }

.-scroll-p-f1 {
  scroll-padding: calc(0rem - var(--sf-f1)); }

.scroll-pt-f1 {
  scroll-padding-top: var(--sf-f1); }

.-scroll-pt-f1 {
  scroll-padding-top: calc(0rem - var(--sf-f1)); }

.scroll-pr-f1 {
  scroll-padding-right: var(--sf-f1); }

.-scroll-pr-f1 {
  scroll-padding-right: calc(0rem - var(--sf-f1)); }

.scroll-pb-f1 {
  scroll-padding-bottom: var(--sf-f1); }

.-scroll-pb-f1 {
  scroll-padding-bottom: calc(0rem - var(--sf-f1)); }

.scroll-pl-f1 {
  scroll-padding-left: var(--sf-f1); }

.-scroll-pl-f1 {
  scroll-padding-left: calc(0rem - var(--sf-f1)); }

.scroll-p-f2 {
  scroll-padding: var(--sf-f2); }

.-scroll-p-f2 {
  scroll-padding: calc(0rem - var(--sf-f2)); }

.scroll-pt-f2 {
  scroll-padding-top: var(--sf-f2); }

.-scroll-pt-f2 {
  scroll-padding-top: calc(0rem - var(--sf-f2)); }

.scroll-pr-f2 {
  scroll-padding-right: var(--sf-f2); }

.-scroll-pr-f2 {
  scroll-padding-right: calc(0rem - var(--sf-f2)); }

.scroll-pb-f2 {
  scroll-padding-bottom: var(--sf-f2); }

.-scroll-pb-f2 {
  scroll-padding-bottom: calc(0rem - var(--sf-f2)); }

.scroll-pl-f2 {
  scroll-padding-left: var(--sf-f2); }

.-scroll-pl-f2 {
  scroll-padding-left: calc(0rem - var(--sf-f2)); }

.scroll-p-f3 {
  scroll-padding: var(--sf-f3); }

.-scroll-p-f3 {
  scroll-padding: calc(0rem - var(--sf-f3)); }

.scroll-pt-f3 {
  scroll-padding-top: var(--sf-f3); }

.-scroll-pt-f3 {
  scroll-padding-top: calc(0rem - var(--sf-f3)); }

.scroll-pr-f3 {
  scroll-padding-right: var(--sf-f3); }

.-scroll-pr-f3 {
  scroll-padding-right: calc(0rem - var(--sf-f3)); }

.scroll-pb-f3 {
  scroll-padding-bottom: var(--sf-f3); }

.-scroll-pb-f3 {
  scroll-padding-bottom: calc(0rem - var(--sf-f3)); }

.scroll-pl-f3 {
  scroll-padding-left: var(--sf-f3); }

.-scroll-pl-f3 {
  scroll-padding-left: calc(0rem - var(--sf-f3)); }

.scroll-p-f4 {
  scroll-padding: var(--sf-f4); }

.-scroll-p-f4 {
  scroll-padding: calc(0rem - var(--sf-f4)); }

.scroll-pt-f4 {
  scroll-padding-top: var(--sf-f4); }

.-scroll-pt-f4 {
  scroll-padding-top: calc(0rem - var(--sf-f4)); }

.scroll-pr-f4 {
  scroll-padding-right: var(--sf-f4); }

.-scroll-pr-f4 {
  scroll-padding-right: calc(0rem - var(--sf-f4)); }

.scroll-pb-f4 {
  scroll-padding-bottom: var(--sf-f4); }

.-scroll-pb-f4 {
  scroll-padding-bottom: calc(0rem - var(--sf-f4)); }

.scroll-pl-f4 {
  scroll-padding-left: var(--sf-f4); }

.-scroll-pl-f4 {
  scroll-padding-left: calc(0rem - var(--sf-f4)); }

.scroll-p-f5 {
  scroll-padding: var(--sf-f5); }

.-scroll-p-f5 {
  scroll-padding: calc(0rem - var(--sf-f5)); }

.scroll-pt-f5 {
  scroll-padding-top: var(--sf-f5); }

.-scroll-pt-f5 {
  scroll-padding-top: calc(0rem - var(--sf-f5)); }

.scroll-pr-f5 {
  scroll-padding-right: var(--sf-f5); }

.-scroll-pr-f5 {
  scroll-padding-right: calc(0rem - var(--sf-f5)); }

.scroll-pb-f5 {
  scroll-padding-bottom: var(--sf-f5); }

.-scroll-pb-f5 {
  scroll-padding-bottom: calc(0rem - var(--sf-f5)); }

.scroll-pl-f5 {
  scroll-padding-left: var(--sf-f5); }

.-scroll-pl-f5 {
  scroll-padding-left: calc(0rem - var(--sf-f5)); }

.scroll-p-f6 {
  scroll-padding: var(--sf-f6); }

.-scroll-p-f6 {
  scroll-padding: calc(0rem - var(--sf-f6)); }

.scroll-pt-f6 {
  scroll-padding-top: var(--sf-f6); }

.-scroll-pt-f6 {
  scroll-padding-top: calc(0rem - var(--sf-f6)); }

.scroll-pr-f6 {
  scroll-padding-right: var(--sf-f6); }

.-scroll-pr-f6 {
  scroll-padding-right: calc(0rem - var(--sf-f6)); }

.scroll-pb-f6 {
  scroll-padding-bottom: var(--sf-f6); }

.-scroll-pb-f6 {
  scroll-padding-bottom: calc(0rem - var(--sf-f6)); }

.scroll-pl-f6 {
  scroll-padding-left: var(--sf-f6); }

.-scroll-pl-f6 {
  scroll-padding-left: calc(0rem - var(--sf-f6)); }

.scroll-p-f7 {
  scroll-padding: var(--sf-f7); }

.-scroll-p-f7 {
  scroll-padding: calc(0rem - var(--sf-f7)); }

.scroll-pt-f7 {
  scroll-padding-top: var(--sf-f7); }

.-scroll-pt-f7 {
  scroll-padding-top: calc(0rem - var(--sf-f7)); }

.scroll-pr-f7 {
  scroll-padding-right: var(--sf-f7); }

.-scroll-pr-f7 {
  scroll-padding-right: calc(0rem - var(--sf-f7)); }

.scroll-pb-f7 {
  scroll-padding-bottom: var(--sf-f7); }

.-scroll-pb-f7 {
  scroll-padding-bottom: calc(0rem - var(--sf-f7)); }

.scroll-pl-f7 {
  scroll-padding-left: var(--sf-f7); }

.-scroll-pl-f7 {
  scroll-padding-left: calc(0rem - var(--sf-f7)); }

.scroll-p-f8 {
  scroll-padding: var(--sf-f8); }

.-scroll-p-f8 {
  scroll-padding: calc(0rem - var(--sf-f8)); }

.scroll-pt-f8 {
  scroll-padding-top: var(--sf-f8); }

.-scroll-pt-f8 {
  scroll-padding-top: calc(0rem - var(--sf-f8)); }

.scroll-pr-f8 {
  scroll-padding-right: var(--sf-f8); }

.-scroll-pr-f8 {
  scroll-padding-right: calc(0rem - var(--sf-f8)); }

.scroll-pb-f8 {
  scroll-padding-bottom: var(--sf-f8); }

.-scroll-pb-f8 {
  scroll-padding-bottom: calc(0rem - var(--sf-f8)); }

.scroll-pl-f8 {
  scroll-padding-left: var(--sf-f8); }

.-scroll-pl-f8 {
  scroll-padding-left: calc(0rem - var(--sf-f8)); }

.scroll-p-f9 {
  scroll-padding: var(--sf-f9); }

.-scroll-p-f9 {
  scroll-padding: calc(0rem - var(--sf-f9)); }

.scroll-pt-f9 {
  scroll-padding-top: var(--sf-f9); }

.-scroll-pt-f9 {
  scroll-padding-top: calc(0rem - var(--sf-f9)); }

.scroll-pr-f9 {
  scroll-padding-right: var(--sf-f9); }

.-scroll-pr-f9 {
  scroll-padding-right: calc(0rem - var(--sf-f9)); }

.scroll-pb-f9 {
  scroll-padding-bottom: var(--sf-f9); }

.-scroll-pb-f9 {
  scroll-padding-bottom: calc(0rem - var(--sf-f9)); }

.scroll-pl-f9 {
  scroll-padding-left: var(--sf-f9); }

.-scroll-pl-f9 {
  scroll-padding-left: calc(0rem - var(--sf-f9)); }

.scroll-p-g0 {
  scroll-padding: var(--sf-g0); }

.-scroll-p-g0 {
  scroll-padding: calc(0rem - var(--sf-g0)); }

.scroll-pt-g0 {
  scroll-padding-top: var(--sf-g0); }

.-scroll-pt-g0 {
  scroll-padding-top: calc(0rem - var(--sf-g0)); }

.scroll-pr-g0 {
  scroll-padding-right: var(--sf-g0); }

.-scroll-pr-g0 {
  scroll-padding-right: calc(0rem - var(--sf-g0)); }

.scroll-pb-g0 {
  scroll-padding-bottom: var(--sf-g0); }

.-scroll-pb-g0 {
  scroll-padding-bottom: calc(0rem - var(--sf-g0)); }

.scroll-pl-g0 {
  scroll-padding-left: var(--sf-g0); }

.-scroll-pl-g0 {
  scroll-padding-left: calc(0rem - var(--sf-g0)); }

.scroll-p-g1 {
  scroll-padding: var(--sf-g1); }

.-scroll-p-g1 {
  scroll-padding: calc(0rem - var(--sf-g1)); }

.scroll-pt-g1 {
  scroll-padding-top: var(--sf-g1); }

.-scroll-pt-g1 {
  scroll-padding-top: calc(0rem - var(--sf-g1)); }

.scroll-pr-g1 {
  scroll-padding-right: var(--sf-g1); }

.-scroll-pr-g1 {
  scroll-padding-right: calc(0rem - var(--sf-g1)); }

.scroll-pb-g1 {
  scroll-padding-bottom: var(--sf-g1); }

.-scroll-pb-g1 {
  scroll-padding-bottom: calc(0rem - var(--sf-g1)); }

.scroll-pl-g1 {
  scroll-padding-left: var(--sf-g1); }

.-scroll-pl-g1 {
  scroll-padding-left: calc(0rem - var(--sf-g1)); }

.scroll-p-g2 {
  scroll-padding: var(--sf-g2); }

.-scroll-p-g2 {
  scroll-padding: calc(0rem - var(--sf-g2)); }

.scroll-pt-g2 {
  scroll-padding-top: var(--sf-g2); }

.-scroll-pt-g2 {
  scroll-padding-top: calc(0rem - var(--sf-g2)); }

.scroll-pr-g2 {
  scroll-padding-right: var(--sf-g2); }

.-scroll-pr-g2 {
  scroll-padding-right: calc(0rem - var(--sf-g2)); }

.scroll-pb-g2 {
  scroll-padding-bottom: var(--sf-g2); }

.-scroll-pb-g2 {
  scroll-padding-bottom: calc(0rem - var(--sf-g2)); }

.scroll-pl-g2 {
  scroll-padding-left: var(--sf-g2); }

.-scroll-pl-g2 {
  scroll-padding-left: calc(0rem - var(--sf-g2)); }

.scroll-p-g3 {
  scroll-padding: var(--sf-g3); }

.-scroll-p-g3 {
  scroll-padding: calc(0rem - var(--sf-g3)); }

.scroll-pt-g3 {
  scroll-padding-top: var(--sf-g3); }

.-scroll-pt-g3 {
  scroll-padding-top: calc(0rem - var(--sf-g3)); }

.scroll-pr-g3 {
  scroll-padding-right: var(--sf-g3); }

.-scroll-pr-g3 {
  scroll-padding-right: calc(0rem - var(--sf-g3)); }

.scroll-pb-g3 {
  scroll-padding-bottom: var(--sf-g3); }

.-scroll-pb-g3 {
  scroll-padding-bottom: calc(0rem - var(--sf-g3)); }

.scroll-pl-g3 {
  scroll-padding-left: var(--sf-g3); }

.-scroll-pl-g3 {
  scroll-padding-left: calc(0rem - var(--sf-g3)); }

.scroll-p-g4 {
  scroll-padding: var(--sf-g4); }

.-scroll-p-g4 {
  scroll-padding: calc(0rem - var(--sf-g4)); }

.scroll-pt-g4 {
  scroll-padding-top: var(--sf-g4); }

.-scroll-pt-g4 {
  scroll-padding-top: calc(0rem - var(--sf-g4)); }

.scroll-pr-g4 {
  scroll-padding-right: var(--sf-g4); }

.-scroll-pr-g4 {
  scroll-padding-right: calc(0rem - var(--sf-g4)); }

.scroll-pb-g4 {
  scroll-padding-bottom: var(--sf-g4); }

.-scroll-pb-g4 {
  scroll-padding-bottom: calc(0rem - var(--sf-g4)); }

.scroll-pl-g4 {
  scroll-padding-left: var(--sf-g4); }

.-scroll-pl-g4 {
  scroll-padding-left: calc(0rem - var(--sf-g4)); }

.scroll-p-g5 {
  scroll-padding: var(--sf-g5); }

.-scroll-p-g5 {
  scroll-padding: calc(0rem - var(--sf-g5)); }

.scroll-pt-g5 {
  scroll-padding-top: var(--sf-g5); }

.-scroll-pt-g5 {
  scroll-padding-top: calc(0rem - var(--sf-g5)); }

.scroll-pr-g5 {
  scroll-padding-right: var(--sf-g5); }

.-scroll-pr-g5 {
  scroll-padding-right: calc(0rem - var(--sf-g5)); }

.scroll-pb-g5 {
  scroll-padding-bottom: var(--sf-g5); }

.-scroll-pb-g5 {
  scroll-padding-bottom: calc(0rem - var(--sf-g5)); }

.scroll-pl-g5 {
  scroll-padding-left: var(--sf-g5); }

.-scroll-pl-g5 {
  scroll-padding-left: calc(0rem - var(--sf-g5)); }

.scroll-p-g6 {
  scroll-padding: var(--sf-g6); }

.-scroll-p-g6 {
  scroll-padding: calc(0rem - var(--sf-g6)); }

.scroll-pt-g6 {
  scroll-padding-top: var(--sf-g6); }

.-scroll-pt-g6 {
  scroll-padding-top: calc(0rem - var(--sf-g6)); }

.scroll-pr-g6 {
  scroll-padding-right: var(--sf-g6); }

.-scroll-pr-g6 {
  scroll-padding-right: calc(0rem - var(--sf-g6)); }

.scroll-pb-g6 {
  scroll-padding-bottom: var(--sf-g6); }

.-scroll-pb-g6 {
  scroll-padding-bottom: calc(0rem - var(--sf-g6)); }

.scroll-pl-g6 {
  scroll-padding-left: var(--sf-g6); }

.-scroll-pl-g6 {
  scroll-padding-left: calc(0rem - var(--sf-g6)); }

.scroll-p-g7 {
  scroll-padding: var(--sf-g7); }

.-scroll-p-g7 {
  scroll-padding: calc(0rem - var(--sf-g7)); }

.scroll-pt-g7 {
  scroll-padding-top: var(--sf-g7); }

.-scroll-pt-g7 {
  scroll-padding-top: calc(0rem - var(--sf-g7)); }

.scroll-pr-g7 {
  scroll-padding-right: var(--sf-g7); }

.-scroll-pr-g7 {
  scroll-padding-right: calc(0rem - var(--sf-g7)); }

.scroll-pb-g7 {
  scroll-padding-bottom: var(--sf-g7); }

.-scroll-pb-g7 {
  scroll-padding-bottom: calc(0rem - var(--sf-g7)); }

.scroll-pl-g7 {
  scroll-padding-left: var(--sf-g7); }

.-scroll-pl-g7 {
  scroll-padding-left: calc(0rem - var(--sf-g7)); }

.scroll-p-g8 {
  scroll-padding: var(--sf-g8); }

.-scroll-p-g8 {
  scroll-padding: calc(0rem - var(--sf-g8)); }

.scroll-pt-g8 {
  scroll-padding-top: var(--sf-g8); }

.-scroll-pt-g8 {
  scroll-padding-top: calc(0rem - var(--sf-g8)); }

.scroll-pr-g8 {
  scroll-padding-right: var(--sf-g8); }

.-scroll-pr-g8 {
  scroll-padding-right: calc(0rem - var(--sf-g8)); }

.scroll-pb-g8 {
  scroll-padding-bottom: var(--sf-g8); }

.-scroll-pb-g8 {
  scroll-padding-bottom: calc(0rem - var(--sf-g8)); }

.scroll-pl-g8 {
  scroll-padding-left: var(--sf-g8); }

.-scroll-pl-g8 {
  scroll-padding-left: calc(0rem - var(--sf-g8)); }

.scroll-p-g9 {
  scroll-padding: var(--sf-g9); }

.-scroll-p-g9 {
  scroll-padding: calc(0rem - var(--sf-g9)); }

.scroll-pt-g9 {
  scroll-padding-top: var(--sf-g9); }

.-scroll-pt-g9 {
  scroll-padding-top: calc(0rem - var(--sf-g9)); }

.scroll-pr-g9 {
  scroll-padding-right: var(--sf-g9); }

.-scroll-pr-g9 {
  scroll-padding-right: calc(0rem - var(--sf-g9)); }

.scroll-pb-g9 {
  scroll-padding-bottom: var(--sf-g9); }

.-scroll-pb-g9 {
  scroll-padding-bottom: calc(0rem - var(--sf-g9)); }

.scroll-pl-g9 {
  scroll-padding-left: var(--sf-g9); }

.-scroll-pl-g9 {
  scroll-padding-left: calc(0rem - var(--sf-g9)); }

.scroll-p-h0 {
  scroll-padding: var(--sf-h0); }

.-scroll-p-h0 {
  scroll-padding: calc(0rem - var(--sf-h0)); }

.scroll-pt-h0 {
  scroll-padding-top: var(--sf-h0); }

.-scroll-pt-h0 {
  scroll-padding-top: calc(0rem - var(--sf-h0)); }

.scroll-pr-h0 {
  scroll-padding-right: var(--sf-h0); }

.-scroll-pr-h0 {
  scroll-padding-right: calc(0rem - var(--sf-h0)); }

.scroll-pb-h0 {
  scroll-padding-bottom: var(--sf-h0); }

.-scroll-pb-h0 {
  scroll-padding-bottom: calc(0rem - var(--sf-h0)); }

.scroll-pl-h0 {
  scroll-padding-left: var(--sf-h0); }

.-scroll-pl-h0 {
  scroll-padding-left: calc(0rem - var(--sf-h0)); }

.scroll-p-h1 {
  scroll-padding: var(--sf-h1); }

.-scroll-p-h1 {
  scroll-padding: calc(0rem - var(--sf-h1)); }

.scroll-pt-h1 {
  scroll-padding-top: var(--sf-h1); }

.-scroll-pt-h1 {
  scroll-padding-top: calc(0rem - var(--sf-h1)); }

.scroll-pr-h1 {
  scroll-padding-right: var(--sf-h1); }

.-scroll-pr-h1 {
  scroll-padding-right: calc(0rem - var(--sf-h1)); }

.scroll-pb-h1 {
  scroll-padding-bottom: var(--sf-h1); }

.-scroll-pb-h1 {
  scroll-padding-bottom: calc(0rem - var(--sf-h1)); }

.scroll-pl-h1 {
  scroll-padding-left: var(--sf-h1); }

.-scroll-pl-h1 {
  scroll-padding-left: calc(0rem - var(--sf-h1)); }

.scroll-p-h2 {
  scroll-padding: var(--sf-h2); }

.-scroll-p-h2 {
  scroll-padding: calc(0rem - var(--sf-h2)); }

.scroll-pt-h2 {
  scroll-padding-top: var(--sf-h2); }

.-scroll-pt-h2 {
  scroll-padding-top: calc(0rem - var(--sf-h2)); }

.scroll-pr-h2 {
  scroll-padding-right: var(--sf-h2); }

.-scroll-pr-h2 {
  scroll-padding-right: calc(0rem - var(--sf-h2)); }

.scroll-pb-h2 {
  scroll-padding-bottom: var(--sf-h2); }

.-scroll-pb-h2 {
  scroll-padding-bottom: calc(0rem - var(--sf-h2)); }

.scroll-pl-h2 {
  scroll-padding-left: var(--sf-h2); }

.-scroll-pl-h2 {
  scroll-padding-left: calc(0rem - var(--sf-h2)); }

.scroll-p-h3 {
  scroll-padding: var(--sf-h3); }

.-scroll-p-h3 {
  scroll-padding: calc(0rem - var(--sf-h3)); }

.scroll-pt-h3 {
  scroll-padding-top: var(--sf-h3); }

.-scroll-pt-h3 {
  scroll-padding-top: calc(0rem - var(--sf-h3)); }

.scroll-pr-h3 {
  scroll-padding-right: var(--sf-h3); }

.-scroll-pr-h3 {
  scroll-padding-right: calc(0rem - var(--sf-h3)); }

.scroll-pb-h3 {
  scroll-padding-bottom: var(--sf-h3); }

.-scroll-pb-h3 {
  scroll-padding-bottom: calc(0rem - var(--sf-h3)); }

.scroll-pl-h3 {
  scroll-padding-left: var(--sf-h3); }

.-scroll-pl-h3 {
  scroll-padding-left: calc(0rem - var(--sf-h3)); }

.scroll-p-h4 {
  scroll-padding: var(--sf-h4); }

.-scroll-p-h4 {
  scroll-padding: calc(0rem - var(--sf-h4)); }

.scroll-pt-h4 {
  scroll-padding-top: var(--sf-h4); }

.-scroll-pt-h4 {
  scroll-padding-top: calc(0rem - var(--sf-h4)); }

.scroll-pr-h4 {
  scroll-padding-right: var(--sf-h4); }

.-scroll-pr-h4 {
  scroll-padding-right: calc(0rem - var(--sf-h4)); }

.scroll-pb-h4 {
  scroll-padding-bottom: var(--sf-h4); }

.-scroll-pb-h4 {
  scroll-padding-bottom: calc(0rem - var(--sf-h4)); }

.scroll-pl-h4 {
  scroll-padding-left: var(--sf-h4); }

.-scroll-pl-h4 {
  scroll-padding-left: calc(0rem - var(--sf-h4)); }

.scroll-p-h5 {
  scroll-padding: var(--sf-h5); }

.-scroll-p-h5 {
  scroll-padding: calc(0rem - var(--sf-h5)); }

.scroll-pt-h5 {
  scroll-padding-top: var(--sf-h5); }

.-scroll-pt-h5 {
  scroll-padding-top: calc(0rem - var(--sf-h5)); }

.scroll-pr-h5 {
  scroll-padding-right: var(--sf-h5); }

.-scroll-pr-h5 {
  scroll-padding-right: calc(0rem - var(--sf-h5)); }

.scroll-pb-h5 {
  scroll-padding-bottom: var(--sf-h5); }

.-scroll-pb-h5 {
  scroll-padding-bottom: calc(0rem - var(--sf-h5)); }

.scroll-pl-h5 {
  scroll-padding-left: var(--sf-h5); }

.-scroll-pl-h5 {
  scroll-padding-left: calc(0rem - var(--sf-h5)); }

.scroll-p-h6 {
  scroll-padding: var(--sf-h6); }

.-scroll-p-h6 {
  scroll-padding: calc(0rem - var(--sf-h6)); }

.scroll-pt-h6 {
  scroll-padding-top: var(--sf-h6); }

.-scroll-pt-h6 {
  scroll-padding-top: calc(0rem - var(--sf-h6)); }

.scroll-pr-h6 {
  scroll-padding-right: var(--sf-h6); }

.-scroll-pr-h6 {
  scroll-padding-right: calc(0rem - var(--sf-h6)); }

.scroll-pb-h6 {
  scroll-padding-bottom: var(--sf-h6); }

.-scroll-pb-h6 {
  scroll-padding-bottom: calc(0rem - var(--sf-h6)); }

.scroll-pl-h6 {
  scroll-padding-left: var(--sf-h6); }

.-scroll-pl-h6 {
  scroll-padding-left: calc(0rem - var(--sf-h6)); }

.scroll-p-h7 {
  scroll-padding: var(--sf-h7); }

.-scroll-p-h7 {
  scroll-padding: calc(0rem - var(--sf-h7)); }

.scroll-pt-h7 {
  scroll-padding-top: var(--sf-h7); }

.-scroll-pt-h7 {
  scroll-padding-top: calc(0rem - var(--sf-h7)); }

.scroll-pr-h7 {
  scroll-padding-right: var(--sf-h7); }

.-scroll-pr-h7 {
  scroll-padding-right: calc(0rem - var(--sf-h7)); }

.scroll-pb-h7 {
  scroll-padding-bottom: var(--sf-h7); }

.-scroll-pb-h7 {
  scroll-padding-bottom: calc(0rem - var(--sf-h7)); }

.scroll-pl-h7 {
  scroll-padding-left: var(--sf-h7); }

.-scroll-pl-h7 {
  scroll-padding-left: calc(0rem - var(--sf-h7)); }

.scroll-p-h8 {
  scroll-padding: var(--sf-h8); }

.-scroll-p-h8 {
  scroll-padding: calc(0rem - var(--sf-h8)); }

.scroll-pt-h8 {
  scroll-padding-top: var(--sf-h8); }

.-scroll-pt-h8 {
  scroll-padding-top: calc(0rem - var(--sf-h8)); }

.scroll-pr-h8 {
  scroll-padding-right: var(--sf-h8); }

.-scroll-pr-h8 {
  scroll-padding-right: calc(0rem - var(--sf-h8)); }

.scroll-pb-h8 {
  scroll-padding-bottom: var(--sf-h8); }

.-scroll-pb-h8 {
  scroll-padding-bottom: calc(0rem - var(--sf-h8)); }

.scroll-pl-h8 {
  scroll-padding-left: var(--sf-h8); }

.-scroll-pl-h8 {
  scroll-padding-left: calc(0rem - var(--sf-h8)); }

.scroll-p-h9 {
  scroll-padding: var(--sf-h9); }

.-scroll-p-h9 {
  scroll-padding: calc(0rem - var(--sf-h9)); }

.scroll-pt-h9 {
  scroll-padding-top: var(--sf-h9); }

.-scroll-pt-h9 {
  scroll-padding-top: calc(0rem - var(--sf-h9)); }

.scroll-pr-h9 {
  scroll-padding-right: var(--sf-h9); }

.-scroll-pr-h9 {
  scroll-padding-right: calc(0rem - var(--sf-h9)); }

.scroll-pb-h9 {
  scroll-padding-bottom: var(--sf-h9); }

.-scroll-pb-h9 {
  scroll-padding-bottom: calc(0rem - var(--sf-h9)); }

.scroll-pl-h9 {
  scroll-padding-left: var(--sf-h9); }

.-scroll-pl-h9 {
  scroll-padding-left: calc(0rem - var(--sf-h9)); }

.scroll-p-i0 {
  scroll-padding: var(--sf-i0); }

.-scroll-p-i0 {
  scroll-padding: calc(0rem - var(--sf-i0)); }

.scroll-pt-i0 {
  scroll-padding-top: var(--sf-i0); }

.-scroll-pt-i0 {
  scroll-padding-top: calc(0rem - var(--sf-i0)); }

.scroll-pr-i0 {
  scroll-padding-right: var(--sf-i0); }

.-scroll-pr-i0 {
  scroll-padding-right: calc(0rem - var(--sf-i0)); }

.scroll-pb-i0 {
  scroll-padding-bottom: var(--sf-i0); }

.-scroll-pb-i0 {
  scroll-padding-bottom: calc(0rem - var(--sf-i0)); }

.scroll-pl-i0 {
  scroll-padding-left: var(--sf-i0); }

.-scroll-pl-i0 {
  scroll-padding-left: calc(0rem - var(--sf-i0)); }

.scroll-p-i1 {
  scroll-padding: var(--sf-i1); }

.-scroll-p-i1 {
  scroll-padding: calc(0rem - var(--sf-i1)); }

.scroll-pt-i1 {
  scroll-padding-top: var(--sf-i1); }

.-scroll-pt-i1 {
  scroll-padding-top: calc(0rem - var(--sf-i1)); }

.scroll-pr-i1 {
  scroll-padding-right: var(--sf-i1); }

.-scroll-pr-i1 {
  scroll-padding-right: calc(0rem - var(--sf-i1)); }

.scroll-pb-i1 {
  scroll-padding-bottom: var(--sf-i1); }

.-scroll-pb-i1 {
  scroll-padding-bottom: calc(0rem - var(--sf-i1)); }

.scroll-pl-i1 {
  scroll-padding-left: var(--sf-i1); }

.-scroll-pl-i1 {
  scroll-padding-left: calc(0rem - var(--sf-i1)); }

.scroll-p-i2 {
  scroll-padding: var(--sf-i2); }

.-scroll-p-i2 {
  scroll-padding: calc(0rem - var(--sf-i2)); }

.scroll-pt-i2 {
  scroll-padding-top: var(--sf-i2); }

.-scroll-pt-i2 {
  scroll-padding-top: calc(0rem - var(--sf-i2)); }

.scroll-pr-i2 {
  scroll-padding-right: var(--sf-i2); }

.-scroll-pr-i2 {
  scroll-padding-right: calc(0rem - var(--sf-i2)); }

.scroll-pb-i2 {
  scroll-padding-bottom: var(--sf-i2); }

.-scroll-pb-i2 {
  scroll-padding-bottom: calc(0rem - var(--sf-i2)); }

.scroll-pl-i2 {
  scroll-padding-left: var(--sf-i2); }

.-scroll-pl-i2 {
  scroll-padding-left: calc(0rem - var(--sf-i2)); }

.scroll-p-i3 {
  scroll-padding: var(--sf-i3); }

.-scroll-p-i3 {
  scroll-padding: calc(0rem - var(--sf-i3)); }

.scroll-pt-i3 {
  scroll-padding-top: var(--sf-i3); }

.-scroll-pt-i3 {
  scroll-padding-top: calc(0rem - var(--sf-i3)); }

.scroll-pr-i3 {
  scroll-padding-right: var(--sf-i3); }

.-scroll-pr-i3 {
  scroll-padding-right: calc(0rem - var(--sf-i3)); }

.scroll-pb-i3 {
  scroll-padding-bottom: var(--sf-i3); }

.-scroll-pb-i3 {
  scroll-padding-bottom: calc(0rem - var(--sf-i3)); }

.scroll-pl-i3 {
  scroll-padding-left: var(--sf-i3); }

.-scroll-pl-i3 {
  scroll-padding-left: calc(0rem - var(--sf-i3)); }

.scroll-p-i4 {
  scroll-padding: var(--sf-i4); }

.-scroll-p-i4 {
  scroll-padding: calc(0rem - var(--sf-i4)); }

.scroll-pt-i4 {
  scroll-padding-top: var(--sf-i4); }

.-scroll-pt-i4 {
  scroll-padding-top: calc(0rem - var(--sf-i4)); }

.scroll-pr-i4 {
  scroll-padding-right: var(--sf-i4); }

.-scroll-pr-i4 {
  scroll-padding-right: calc(0rem - var(--sf-i4)); }

.scroll-pb-i4 {
  scroll-padding-bottom: var(--sf-i4); }

.-scroll-pb-i4 {
  scroll-padding-bottom: calc(0rem - var(--sf-i4)); }

.scroll-pl-i4 {
  scroll-padding-left: var(--sf-i4); }

.-scroll-pl-i4 {
  scroll-padding-left: calc(0rem - var(--sf-i4)); }

.scroll-p-i5 {
  scroll-padding: var(--sf-i5); }

.-scroll-p-i5 {
  scroll-padding: calc(0rem - var(--sf-i5)); }

.scroll-pt-i5 {
  scroll-padding-top: var(--sf-i5); }

.-scroll-pt-i5 {
  scroll-padding-top: calc(0rem - var(--sf-i5)); }

.scroll-pr-i5 {
  scroll-padding-right: var(--sf-i5); }

.-scroll-pr-i5 {
  scroll-padding-right: calc(0rem - var(--sf-i5)); }

.scroll-pb-i5 {
  scroll-padding-bottom: var(--sf-i5); }

.-scroll-pb-i5 {
  scroll-padding-bottom: calc(0rem - var(--sf-i5)); }

.scroll-pl-i5 {
  scroll-padding-left: var(--sf-i5); }

.-scroll-pl-i5 {
  scroll-padding-left: calc(0rem - var(--sf-i5)); }

.scroll-p-i6 {
  scroll-padding: var(--sf-i6); }

.-scroll-p-i6 {
  scroll-padding: calc(0rem - var(--sf-i6)); }

.scroll-pt-i6 {
  scroll-padding-top: var(--sf-i6); }

.-scroll-pt-i6 {
  scroll-padding-top: calc(0rem - var(--sf-i6)); }

.scroll-pr-i6 {
  scroll-padding-right: var(--sf-i6); }

.-scroll-pr-i6 {
  scroll-padding-right: calc(0rem - var(--sf-i6)); }

.scroll-pb-i6 {
  scroll-padding-bottom: var(--sf-i6); }

.-scroll-pb-i6 {
  scroll-padding-bottom: calc(0rem - var(--sf-i6)); }

.scroll-pl-i6 {
  scroll-padding-left: var(--sf-i6); }

.-scroll-pl-i6 {
  scroll-padding-left: calc(0rem - var(--sf-i6)); }

.scroll-p-i7 {
  scroll-padding: var(--sf-i7); }

.-scroll-p-i7 {
  scroll-padding: calc(0rem - var(--sf-i7)); }

.scroll-pt-i7 {
  scroll-padding-top: var(--sf-i7); }

.-scroll-pt-i7 {
  scroll-padding-top: calc(0rem - var(--sf-i7)); }

.scroll-pr-i7 {
  scroll-padding-right: var(--sf-i7); }

.-scroll-pr-i7 {
  scroll-padding-right: calc(0rem - var(--sf-i7)); }

.scroll-pb-i7 {
  scroll-padding-bottom: var(--sf-i7); }

.-scroll-pb-i7 {
  scroll-padding-bottom: calc(0rem - var(--sf-i7)); }

.scroll-pl-i7 {
  scroll-padding-left: var(--sf-i7); }

.-scroll-pl-i7 {
  scroll-padding-left: calc(0rem - var(--sf-i7)); }

.scroll-p-i8 {
  scroll-padding: var(--sf-i8); }

.-scroll-p-i8 {
  scroll-padding: calc(0rem - var(--sf-i8)); }

.scroll-pt-i8 {
  scroll-padding-top: var(--sf-i8); }

.-scroll-pt-i8 {
  scroll-padding-top: calc(0rem - var(--sf-i8)); }

.scroll-pr-i8 {
  scroll-padding-right: var(--sf-i8); }

.-scroll-pr-i8 {
  scroll-padding-right: calc(0rem - var(--sf-i8)); }

.scroll-pb-i8 {
  scroll-padding-bottom: var(--sf-i8); }

.-scroll-pb-i8 {
  scroll-padding-bottom: calc(0rem - var(--sf-i8)); }

.scroll-pl-i8 {
  scroll-padding-left: var(--sf-i8); }

.-scroll-pl-i8 {
  scroll-padding-left: calc(0rem - var(--sf-i8)); }

.scroll-p-i9 {
  scroll-padding: var(--sf-i9); }

.-scroll-p-i9 {
  scroll-padding: calc(0rem - var(--sf-i9)); }

.scroll-pt-i9 {
  scroll-padding-top: var(--sf-i9); }

.-scroll-pt-i9 {
  scroll-padding-top: calc(0rem - var(--sf-i9)); }

.scroll-pr-i9 {
  scroll-padding-right: var(--sf-i9); }

.-scroll-pr-i9 {
  scroll-padding-right: calc(0rem - var(--sf-i9)); }

.scroll-pb-i9 {
  scroll-padding-bottom: var(--sf-i9); }

.-scroll-pb-i9 {
  scroll-padding-bottom: calc(0rem - var(--sf-i9)); }

.scroll-pl-i9 {
  scroll-padding-left: var(--sf-i9); }

.-scroll-pl-i9 {
  scroll-padding-left: calc(0rem - var(--sf-i9)); }

