@media (min-width: 1140px) {
  .xl\:bg-repeat {
    background-repeat: repeat; }
  .xl\:bg-repeat-none {
    background-repeat: no-repeat; }
  .xl\:bg-repeat-x {
    background-repeat: repeat-x; }
  .xl\:bg-repeat-y {
    background-repeat: repeat-y; }
  .xl\:bg-repeat-round {
    background-repeat: round; }
  .xl\:bg-repeat-space {
    background-repeat: space; } }

