@media (min-width: 960px) {
  .lg\:max-w-full {
    max-width: 100%; }
  .lg\:max-w-screen {
    max-width: 100vw; }
  .lg\:max-w-min {
    max-width: min-content; }
  .lg\:max-w-max {
    max-width: max-content; }
  .lg\:max-w-fit {
    max-width: fit-content; }
  .lg\:max-w-prose {
    max-width: 65ch; }
  .lg\:max-w-0 {
    max-width: 0; }
  .lg\:max-w-none {
    max-width: none; }
  .lg\:max-w-sm {
    max-width: 540px; }
  .lg\:max-w-md {
    max-width: 720px; }
  .lg\:max-w-lg {
    max-width: 960px; }
  .lg\:max-w-xl {
    max-width: 1140px; }
  .lg\:max-w-xxl {
    max-width: 1320px; } }

