.divider-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid; }

.divider-dashed > :not([hidden]) ~ :not([hidden]) {
  border-style: dashed; }

.divider-dotted > :not([hidden]) ~ :not([hidden]) {
  border-style: dotted; }

.divider-double > :not([hidden]) ~ :not([hidden]) {
  border-style: double; }

.divider-none > :not([hidden]) ~ :not([hidden]) {
  border-style: none; }

