@media (min-width: 1140px) {
  .xl\:object-contain {
    object-fit: contain; }
  .xl\:object-cover {
    object-fit: cover; }
  .xl\:object-fill {
    object-fit: fill; }
  .xl\:object-none {
    object-fit: none; }
  .xl\:object-scale-down {
    object-fit: scale-down; } }

