@media (min-width: 960px) {
  .lg\:auto-cols {
    grid-auto-columns: auto; }
  .lg\:auto-cols-min {
    grid-auto-columns: min-content; }
  .lg\:auto-cols-max {
    grid-auto-columns: max-content; }
  .lg\:auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr); } }

