@media (min-width: 576px) {
  .sm\:sepia, .sm\:sepia-none {
    --sf-blur: ;
    --sf-brightness: ;
    --sf-contrast: ;
    --sf-grayscale: ;
    --sf-hue-rotate: ;
    --sf-invert: ;
    --sf-saturate: ;
    --sf-sepia: ;
    --sf-drop-shadow: ;
    filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
  }
  .sm\:sepia {
    --sf-sepia: sepia(1);
  }
  .sm\:sepia-none {
    --sf-sepia: sepia(0);
  }
}
