@media (min-width: 992px) {
  .lg\:blur-1, .lg\:blur-2, .lg\:blur-3, .lg\:blur-4, .lg\:blur-5, .lg\:blur-6, .lg\:blur-7, .lg\:blur-0 {
    --sf-blur: ;
    --sf-brightness: ;
    --sf-contrast: ;
    --sf-grayscale: ;
    --sf-hue-rotate: ;
    --sf-invert: ;
    --sf-saturate: ;
    --sf-sepia: ;
    --sf-drop-shadow: ;
    filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
  }
  .lg\:blur-1 {
    --sf-blur: blur(var(--sf-a1));
  }
  .lg\:blur-2 {
    --sf-blur: blur(var(--sf-a2));
  }
  .lg\:blur-3 {
    --sf-blur: blur(var(--sf-a4));
  }
  .lg\:blur-4 {
    --sf-blur: blur(var(--sf-a8));
  }
  .lg\:blur-5 {
    --sf-blur: blur(var(--sf-b6));
  }
  .lg\:blur-6 {
    --sf-blur: blur(var(--sf-c2));
  }
  .lg\:blur-7 {
    --sf-blur: blur(var(--sf-c6));
  }
  .lg\:blur-0 {
    --sf-blur: blur(var(--sf-0));
  }
}
