@media (min-width: 540px) {
  .sm\:items-start {
    place-items: start; }
  .sm\:items-end {
    place-items: end; }
  .sm\:items-center {
    place-items: center; }
  .sm\:items-stretch {
    place-items: stretch; } }

