@media (min-width: 720px) {
  .md\:basis-1 {
    flex-basis: 1%; }
  .md\:basis-2 {
    flex-basis: 2%; }
  .md\:basis-3 {
    flex-basis: 3%; }
  .md\:basis-4 {
    flex-basis: 4%; }
  .md\:basis-5 {
    flex-basis: 5%; }
  .md\:basis-6 {
    flex-basis: 6%; }
  .md\:basis-7 {
    flex-basis: 7%; }
  .md\:basis-8 {
    flex-basis: 8%; }
  .md\:basis-9 {
    flex-basis: 9%; }
  .md\:basis-10 {
    flex-basis: 10%; }
  .md\:basis-11 {
    flex-basis: 11%; }
  .md\:basis-12 {
    flex-basis: 12%; }
  .md\:basis-13 {
    flex-basis: 13%; }
  .md\:basis-14 {
    flex-basis: 14%; }
  .md\:basis-15 {
    flex-basis: 15%; }
  .md\:basis-16 {
    flex-basis: 16%; }
  .md\:basis-17 {
    flex-basis: 17%; }
  .md\:basis-18 {
    flex-basis: 18%; }
  .md\:basis-19 {
    flex-basis: 19%; }
  .md\:basis-20 {
    flex-basis: 20%; }
  .md\:basis-21 {
    flex-basis: 21%; }
  .md\:basis-22 {
    flex-basis: 22%; }
  .md\:basis-23 {
    flex-basis: 23%; }
  .md\:basis-24 {
    flex-basis: 24%; }
  .md\:basis-25 {
    flex-basis: 25%; }
  .md\:basis-26 {
    flex-basis: 26%; }
  .md\:basis-27 {
    flex-basis: 27%; }
  .md\:basis-28 {
    flex-basis: 28%; }
  .md\:basis-29 {
    flex-basis: 29%; }
  .md\:basis-30 {
    flex-basis: 30%; }
  .md\:basis-31 {
    flex-basis: 31%; }
  .md\:basis-32 {
    flex-basis: 32%; }
  .md\:basis-33 {
    flex-basis: 33%; }
  .md\:basis-34 {
    flex-basis: 34%; }
  .md\:basis-35 {
    flex-basis: 35%; }
  .md\:basis-36 {
    flex-basis: 36%; }
  .md\:basis-37 {
    flex-basis: 37%; }
  .md\:basis-38 {
    flex-basis: 38%; }
  .md\:basis-39 {
    flex-basis: 39%; }
  .md\:basis-40 {
    flex-basis: 40%; }
  .md\:basis-41 {
    flex-basis: 41%; }
  .md\:basis-42 {
    flex-basis: 42%; }
  .md\:basis-43 {
    flex-basis: 43%; }
  .md\:basis-44 {
    flex-basis: 44%; }
  .md\:basis-45 {
    flex-basis: 45%; }
  .md\:basis-46 {
    flex-basis: 46%; }
  .md\:basis-47 {
    flex-basis: 47%; }
  .md\:basis-48 {
    flex-basis: 48%; }
  .md\:basis-49 {
    flex-basis: 49%; }
  .md\:basis-50 {
    flex-basis: 50%; }
  .md\:basis-51 {
    flex-basis: 51%; }
  .md\:basis-52 {
    flex-basis: 52%; }
  .md\:basis-53 {
    flex-basis: 53%; }
  .md\:basis-54 {
    flex-basis: 54%; }
  .md\:basis-55 {
    flex-basis: 55%; }
  .md\:basis-56 {
    flex-basis: 56%; }
  .md\:basis-57 {
    flex-basis: 57%; }
  .md\:basis-58 {
    flex-basis: 58%; }
  .md\:basis-59 {
    flex-basis: 59%; }
  .md\:basis-60 {
    flex-basis: 60%; }
  .md\:basis-61 {
    flex-basis: 61%; }
  .md\:basis-62 {
    flex-basis: 62%; }
  .md\:basis-63 {
    flex-basis: 63%; }
  .md\:basis-64 {
    flex-basis: 64%; }
  .md\:basis-65 {
    flex-basis: 65%; }
  .md\:basis-66 {
    flex-basis: 66%; }
  .md\:basis-67 {
    flex-basis: 67%; }
  .md\:basis-68 {
    flex-basis: 68%; }
  .md\:basis-69 {
    flex-basis: 69%; }
  .md\:basis-70 {
    flex-basis: 70%; }
  .md\:basis-71 {
    flex-basis: 71%; }
  .md\:basis-72 {
    flex-basis: 72%; }
  .md\:basis-73 {
    flex-basis: 73%; }
  .md\:basis-74 {
    flex-basis: 74%; }
  .md\:basis-75 {
    flex-basis: 75%; }
  .md\:basis-76 {
    flex-basis: 76%; }
  .md\:basis-77 {
    flex-basis: 77%; }
  .md\:basis-78 {
    flex-basis: 78%; }
  .md\:basis-79 {
    flex-basis: 79%; }
  .md\:basis-80 {
    flex-basis: 80%; }
  .md\:basis-81 {
    flex-basis: 81%; }
  .md\:basis-82 {
    flex-basis: 82%; }
  .md\:basis-83 {
    flex-basis: 83%; }
  .md\:basis-84 {
    flex-basis: 84%; }
  .md\:basis-85 {
    flex-basis: 85%; }
  .md\:basis-86 {
    flex-basis: 86%; }
  .md\:basis-87 {
    flex-basis: 87%; }
  .md\:basis-88 {
    flex-basis: 88%; }
  .md\:basis-89 {
    flex-basis: 89%; }
  .md\:basis-90 {
    flex-basis: 90%; }
  .md\:basis-91 {
    flex-basis: 91%; }
  .md\:basis-92 {
    flex-basis: 92%; }
  .md\:basis-93 {
    flex-basis: 93%; }
  .md\:basis-94 {
    flex-basis: 94%; }
  .md\:basis-95 {
    flex-basis: 95%; }
  .md\:basis-96 {
    flex-basis: 96%; }
  .md\:basis-97 {
    flex-basis: 97%; }
  .md\:basis-98 {
    flex-basis: 98%; }
  .md\:basis-99 {
    flex-basis: 99%; }
  .md\:basis-100 {
    flex-basis: 100%; } }

