.table-stripe > tbody > tr:nth-of-type(odd) > * {
  --sf-table-accent-bg: var(--sf-table-stripe-bg);
  color: var(--sf-table-stripe-color); }

.table-stripe-col > :not(caption) > tr > :nth-child(2n) {
  --sf-table-accent-bg: var(--sf-table-stripe-bg);
  color: var(--sf-table-stripe-color); }

