@media (min-width: 960px) {
  .lg\:drop-shadow-surface-highest, .lg\:drop-shadow-surface-high, .lg\:drop-shadow-surface-default, .lg\:drop-shadow-surface-low, .lg\:drop-shadow-surface-lowest, .lg\:drop-shadow-surface-inverse, .lg\:drop-shadow-surface-variant, .lg\:drop-shadow-primary-default, .lg\:drop-shadow-primary-tonal, .lg\:drop-shadow-primary-inverse, .lg\:drop-shadow-primary-contrast, .lg\:drop-shadow-secondary-default, .lg\:drop-shadow-secondary-tonal, .lg\:drop-shadow-secondary-inverse, .lg\:drop-shadow-secondary-contrast, .lg\:drop-shadow-tertiary-default, .lg\:drop-shadow-tertiary-tonal, .lg\:drop-shadow-tertiary-inverse, .lg\:drop-shadow-tertiary-contrast, .lg\:drop-shadow-info-default, .lg\:drop-shadow-info-tonal, .lg\:drop-shadow-info-inverse, .lg\:drop-shadow-info-contrast, .lg\:drop-shadow-success-default, .lg\:drop-shadow-success-tonal, .lg\:drop-shadow-success-inverse, .lg\:drop-shadow-success-contrast, .lg\:drop-shadow-warning-default, .lg\:drop-shadow-warning-tonal, .lg\:drop-shadow-warning-inverse, .lg\:drop-shadow-warning-contrast, .lg\:drop-shadow-danger-default, .lg\:drop-shadow-danger-tonal, .lg\:drop-shadow-danger-inverse, .lg\:drop-shadow-danger-contrast, .lg\:drop-shadow-transparent, .lg\:drop-shadow-current, .lg\:drop-shadow-inherit {
    --sf-shadow: 0 0 #0000;
    --sf-shadow-colored: 0 0 #0000; }
  .lg\:drop-shadow-surface-highest, .lg\:drop-shadow-surface-high, .lg\:drop-shadow-surface-default, .lg\:drop-shadow-surface-low, .lg\:drop-shadow-surface-lowest, .lg\:drop-shadow-surface-inverse, .lg\:drop-shadow-surface-variant, .lg\:drop-shadow-primary-default, .lg\:drop-shadow-primary-tonal, .lg\:drop-shadow-primary-inverse, .lg\:drop-shadow-primary-contrast, .lg\:drop-shadow-secondary-default, .lg\:drop-shadow-secondary-tonal, .lg\:drop-shadow-secondary-inverse, .lg\:drop-shadow-secondary-contrast, .lg\:drop-shadow-tertiary-default, .lg\:drop-shadow-tertiary-tonal, .lg\:drop-shadow-tertiary-inverse, .lg\:drop-shadow-tertiary-contrast, .lg\:drop-shadow-info-default, .lg\:drop-shadow-info-tonal, .lg\:drop-shadow-info-inverse, .lg\:drop-shadow-info-contrast, .lg\:drop-shadow-success-default, .lg\:drop-shadow-success-tonal, .lg\:drop-shadow-success-inverse, .lg\:drop-shadow-success-contrast, .lg\:drop-shadow-warning-default, .lg\:drop-shadow-warning-tonal, .lg\:drop-shadow-warning-inverse, .lg\:drop-shadow-warning-contrast, .lg\:drop-shadow-danger-default, .lg\:drop-shadow-danger-tonal, .lg\:drop-shadow-danger-inverse, .lg\:drop-shadow-danger-contrast, .lg\:drop-shadow-transparent, .lg\:drop-shadow-current, .lg\:drop-shadow-inherit {
    filter: var(--sf-drop-shadow); }
  .lg\:drop-shadow-surface-highest {
    --sf-drop-shadow-color: --sf-color--surface-highest; }
  .lg\:drop-shadow-surface-high {
    --sf-drop-shadow-color: --sf-color--surface-high; }
  .lg\:drop-shadow-surface-default {
    --sf-drop-shadow-color: --sf-color--surface-default; }
  .lg\:drop-shadow-surface-low {
    --sf-drop-shadow-color: --sf-color--surface-low; }
  .lg\:drop-shadow-surface-lowest {
    --sf-drop-shadow-color: --sf-color--surface-lowest; }
  .lg\:drop-shadow-surface-inverse {
    --sf-drop-shadow-color: --sf-color--surface-inverse; }
  .lg\:drop-shadow-surface-variant {
    --sf-drop-shadow-color: --sf-color--surface-variant; }
  .lg\:drop-shadow-primary-default {
    --sf-drop-shadow-color: --sf-color--primary-default; }
  .lg\:drop-shadow-primary-tonal {
    --sf-drop-shadow-color: --sf-color--primary-tonal; }
  .lg\:drop-shadow-primary-inverse {
    --sf-drop-shadow-color: --sf-color--primary-inverse; }
  .lg\:drop-shadow-primary-contrast {
    --sf-drop-shadow-color: --sf-color--primary-text; }
  .lg\:drop-shadow-secondary-default {
    --sf-drop-shadow-color: --sf-color--secondary-default; }
  .lg\:drop-shadow-secondary-tonal {
    --sf-drop-shadow-color: --sf-color--secondary-tonal; }
  .lg\:drop-shadow-secondary-inverse {
    --sf-drop-shadow-color: --sf-color--secondary-inverse; }
  .lg\:drop-shadow-secondary-contrast {
    --sf-drop-shadow-color: --sf-color--secondary-text; }
  .lg\:drop-shadow-tertiary-default {
    --sf-drop-shadow-color: --sf-color--tertiary-default; }
  .lg\:drop-shadow-tertiary-tonal {
    --sf-drop-shadow-color: --sf-color--tertiary-tonal; }
  .lg\:drop-shadow-tertiary-inverse {
    --sf-drop-shadow-color: --sf-color--tertiary-inverse; }
  .lg\:drop-shadow-tertiary-contrast {
    --sf-drop-shadow-color: --sf-color--tertiary-text; }
  .lg\:drop-shadow-info-default {
    --sf-drop-shadow-color: --sf-color--info-primary; }
  .lg\:drop-shadow-info-tonal {
    --sf-drop-shadow-color: --sf-color--info-tonal; }
  .lg\:drop-shadow-info-inverse {
    --sf-drop-shadow-color: --sf-color--info-inverse; }
  .lg\:drop-shadow-info-contrast {
    --sf-drop-shadow-color: --sf-color--info-text; }
  .lg\:drop-shadow-success-default {
    --sf-drop-shadow-color: --sf-color--success-primary; }
  .lg\:drop-shadow-success-tonal {
    --sf-drop-shadow-color: --sf-color--success-tonal; }
  .lg\:drop-shadow-success-inverse {
    --sf-drop-shadow-color: --sf-color--success-inverse; }
  .lg\:drop-shadow-success-contrast {
    --sf-drop-shadow-color: --sf-color--success-text; }
  .lg\:drop-shadow-warning-default {
    --sf-drop-shadow-color: --sf-color--warning-primary; }
  .lg\:drop-shadow-warning-tonal {
    --sf-drop-shadow-color: --sf-color--warning-tonal; }
  .lg\:drop-shadow-warning-inverse {
    --sf-drop-shadow-color: --sf-color--warning-inverse; }
  .lg\:drop-shadow-warning-contrast {
    --sf-drop-shadow-color: --sf-color--warning-text; }
  .lg\:drop-shadow-danger-default {
    --sf-drop-shadow-color: --sf-color--danger-primary; }
  .lg\:drop-shadow-danger-tonal {
    --sf-drop-shadow-color: --sf-color--danger-tonal; }
  .lg\:drop-shadow-danger-inverse {
    --sf-drop-shadow-color: --sf-color--danger-inverse; }
  .lg\:drop-shadow-danger-contrast {
    --sf-drop-shadow-color: --sf-color--danger-text; }
  .lg\:drop-shadow-transparent {
    --sf-drop-shadow-color: --sf-transparent; }
  .lg\:drop-shadow-current {
    --sf-drop-shadow-color: --sf-current; }
  .lg\:drop-shadow-inherit {
    --sf-drop-shadow-color: --sf-inherit; } }

