@media (min-width: 720px) {
  .md\:bg-clip-border {
    background-clip: border-box; }
  .md\:bg-clip-padding {
    background-clip: padding-box; }
  .md\:bg-clip-content {
    background-clip: content-box; }
  .md\:bg-clip-text {
    -webkit-background-clip: text;
            background-clip: text; } }

