// SIMAI Framework
// https://simai.io

// GRADIENT

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        // Gradient Type Width Color Count
        // Line Gradient
        .#{$infix}gr-line-2{background-image: linear-gradient(var(--sf-gradient--angle), var(--sf-gradient--color-1), var(--sf-gradient--color-2));}
        .#{$infix}gr-line-3{background-image: linear-gradient(var(--sf-gradient--angle), var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3));}

        // Radial Gradient
        .#{$infix}gr-radial-2{background-image: radial-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2));}
        .#{$infix}gr-radial-3{background-image: radial-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3));}

        // Conic Gradient
        .#{$infix}gr-conic-2{background-image: conic-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2));}
        .#{$infix}gr-conic-3{background-image: conic-gradient(var(--sf-gradient--color-1), var(--sf-gradient--color-2), var(--sf-gradient--color-3));}

    }
// }