.theme-light, .theme-light ::after, .theme-light ::before {
  --sf-primary: var(--sf-primary-40);
  --sf-primary-hover: var(--sf-primary-35);
  --sf-primary-active: var(--sf-primary-30);
  --sf-primary-container: var(--sf-primary-90);
  --sf-primary-container-hover: var(--sf-primary-85);
  --sf-primary-container-active: var(--sf-primary-80);
  --sf-primary-transparent-hover: var(--sf-primary-50--alfa-4);
  --sf-primary-transparent-select: var(--sf-primary-50--alfa-8);
  --sf-primary-transparent-active: var(--sf-primary-50--alfa-12);
  --sf-primary-transparent-overlay: var(--sf-primary-50--alfa-24);
  --sf-on-primary: var(--sf-white);
  --sf-on-primary-container: var(--sf-primary-10);
  --sf-on-primary-container-graphic: var(--sf-primary-50);
  --sf-outline-primary: var(--sf-primary-50);
  --sf-secondary: var(--sf-secondary-40);
  --sf-secondary-hover: var(--sf-secondary-35);
  --sf-secondary-active: var(--sf-secondary-30);
  --sf-secondary-container: var(--sf-secondary-90);
  --sf-secondary-container-hover: var(--sf-secondary-85);
  --sf-secondary-container-active: var(--sf-secondary-80);
  --sf-secondary-transparent-hover: var(--sf-secondary-50--alfa-4);
  --sf-secondary-transparent-select: var(--sf-secondary-50--alfa-8);
  --sf-secondary-transparent-active: var(--sf-secondary-50--alfa-12);
  --sf-secondary-transparent-overlay: var(--sf-secondary-50--alfa-24);
  --sf-on-secondary: var(--sf-white);
  --sf-on-secondary-container: var(--sf-secondary-10);
  --sf-on-secondary-container-graphic: var(--sf-secondary-50);
  --sf-outline-secondary: var(--sf-secondary-50);
  --sf-tertiary: var(--sf-tertiary-40);
  --sf-tertiary-hover: var(--sf-tertiary-35);
  --sf-tertiary-active: var(--sf-tertiary-30);
  --sf-tertiary-container: var(--sf-tertiary-90);
  --sf-tertiary-container-hover: var(--sf-tertiary-85);
  --sf-tertiary-container-active: var(--sf-tertiary-80);
  --sf-tertiary-transparent-hover: var(--sf-tertiary-50--alfa-4);
  --sf-tertiary-transparent-select: var(--sf-tertiary-50--alfa-8);
  --sf-tertiary-transparent-active: var(--sf-tertiary-50--alfa-12);
  --sf-tertiary-transparent-overlay: var(--sf-tertiary-50--alfa-24);
  --sf-on-tertiary: var(--sf-white);
  --sf-on-tertiary-container: var(--sf-tertiary-10);
  --sf-on-tertiary-container-graphic: var(--sf-tertiary-50);
  --sf-outline-tertiary: var(--sf-tertiary-50);
  --sf-error: var(--sf-error-40);
  --sf-error-hover: var(--sf-error-35);
  --sf-error-active: var(--sf-error-30);
  --sf-error-container: var(--sf-error-90);
  --sf-error-container-hover: var(--sf-error-85);
  --sf-error-container-active: var(--sf-error-80);
  --sf-error-transparent-hover: var(--sf-error-50--alfa-4);
  --sf-error-transparent-select: var(--sf-error-50--alfa-8);
  --sf-error-transparent-active: var(--sf-error-50--alfa-12);
  --sf-error-transparent-overlay: var(--sf-error-50--alfa-24);
  --sf-on-error: var(--sf-white);
  --sf-on-error-container: var(--sf-error-10);
  --sf-on-error-container-graphic: var(--sf-error-50);
  --sf-outline-error: var(--sf-error-50);
  --sf-warning: var(--sf-warning-40);
  --sf-warning-hover: var(--sf-warning-35);
  --sf-warning-active: var(--sf-warning-30);
  --sf-warning-container: var(--sf-warning-90);
  --sf-warning-container-hover: var(--sf-warning-85);
  --sf-warning-container-active: var(--sf-warning-80);
  --sf-warning-transparent-hover: var(--sf-warning-50--alfa-4);
  --sf-warning-transparent-select: var(--sf-warning-50--alfa-8);
  --sf-warning-transparent-active: var(--sf-warning-50--alfa-12);
  --sf-warning-transparent-overlay: var(--sf-warning-50--alfa-24);
  --sf-on-warning: var(--sf-white);
  --sf-on-warning-container: var(--sf-warning-10);
  --sf-on-warning-container-graphic: var(--sf-warning-50);
  --sf-outline-warning: var(--sf-warning-50);
  --sf-success: var(--sf-success-40);
  --sf-success-hover: var(--sf-success-35);
  --sf-success-active: var(--sf-success-30);
  --sf-success-container: var(--sf-success-90);
  --sf-success-container-hover: var(--sf-success-85);
  --sf-success-container-active: var(--sf-success-80);
  --sf-success-transparent-hover: var(--sf-success-50--alfa-4);
  --sf-success-transparent-select: var(--sf-success-50--alfa-8);
  --sf-success-transparent-active: var(--sf-success-50--alfa-12);
  --sf-success-transparent-overlay: var(--sf-success-50--alfa-24);
  --sf-on-success: var(--sf-white);
  --sf-on-success-container: var(--sf-success-10);
  --sf-on-success-container-graphic: var(--sf-success-50);
  --sf-outline-success: var(--sf-success-50);
  --sf-surface-0: var(--sf-white);
  --sf-surface-1: var(--sf-neutral-98);
  --sf-surface-2: var(--sf-neutral-95);
  --sf-surface-3: var(--sf-neutral-90);
  --sf-surface-4: var(--sf-neutral-85);
  --sf-surface-inverse: var(--sf-neutral-20);
  --sf-surface-inverse-fixed: var(--sf-neutral-20);
  --sf-surface-container: var(--sf-neutral-90);
  --sf-surface-container-hover: var(--sf-neutral-85);
  --sf-surface-container-active: var(--sf-neutral-80);
  --sf-on-surface: var(--sf-neutral-10);
  --sf-on-surface-fixed: var(--sf-neutral-10);
  --sf-on-surface-hover: var(--sf-neutral-15);
  --sf-on-surface-active: var(--sf-neutral-20);
  --sf-on-surface-variant: var(--sf-neutral-40);
  --sf-on-surface-inverse: var(--sf-neutral-90);
  --sf-on-surface-inverse-fixed: var(--sf-neutral-90);
  --sf-surface-transparent-hover: var(--sf-neutral-50--alfa-4);
  --sf-surface-transparent-select: var(--sf-neutral-50--alfa-8);
  --sf-surface-transparent-active: var(--sf-neutral-50--alfa-12);
  --sf-surface-transparent-overlay: var(--sf-neutral-50--alfa-24);
  --sf-disable: var(--sf-neutral-50--alfa-12);
  --sf-on-disable: var(--sf-neutral-50--alfa-24);
  --sf-outline-disable: var(--sf-neutral-50--alfa-24);
  --sf-outline: var(--sf-neutral-50);
  --sf-outline-variant: var(--sf-neutral-50--alfa-24);
  --sf-link: var(--sf-primary-40);
  --sf-link-hover: var(--sf-primary-35);
  --sf-link-active: var(--sf-primary-30);
  --sf-link-visited: var(--sf-tertiaty-40);
  --sf-focus--color: var(--sf-primary-50--alfa-24);
  --sf-mark: var(--sf-warning-50--alfa-24); }

.theme-dark, .theme-dark ::after, .theme-dark ::before {
  --sf-primary: var(--sf-primary-80);
  --sf-primary-hover: var(--sf-primary-85);
  --sf-primary-active: var(--sf-primary-90);
  --sf-primary-container: var(--sf-primary-30);
  --sf-primary-container-hover: var(--sf-primary-35);
  --sf-primary-container-active: var(--sf-primary-40);
  --sf-primary-transparent-hover: var(--sf-primary-90--alfa-4);
  --sf-primary-transparent-select: var(--sf-primary-90--alfa-8);
  --sf-primary-transparent-active: var(--sf-primary-90--alfa-12);
  --sf-primary-transparent-overlay: var(--sf-primary-90--alfa-24);
  --sf-on-primary: var(--sf-primary-20);
  --sf-on-primary-container: var(--sf-primary-90);
  --sf-on-primary-container-graphic: var(--sf-primary-60);
  --sf-outline-primary: var(--sf-primary-60);
  --sf-secondary: var(--sf-secondary-80);
  --sf-secondary-hover: var(--sf-secondary-85);
  --sf-secondary-active: var(--sf-secondary-90);
  --sf-secondary-container: var(--sf-secondary-30);
  --sf-secondary-container-hover: var(--sf-secondary-35);
  --sf-secondary-container-active: var(--sf-secondary-40);
  --sf-secondary-transparent-hover: var(--sf-secondary-90--alfa-4);
  --sf-secondary-transparent-select: var(--sf-secondary-90--alfa-8);
  --sf-secondary-transparent-active: var(--sf-secondary-90--alfa-12);
  --sf-secondary-transparent-overlay: var(--sf-secondary-90--alfa-24);
  --sf-on-secondary: var(--sf-secondary-20);
  --sf-on-secondary-container: var(--sf-secondary-90);
  --sf-on-secondary-container-graphic: var(--sf-secondary-60);
  --sf-outline-secondary: var(--sf-secondary-60);
  --sf-tertiary: var(--sf-tertiary-80);
  --sf-tertiary-hover: var(--sf-tertiary-85);
  --sf-tertiary-active: var(--sf-tertiary-90);
  --sf-tertiary-container: var(--sf-tertiary-30);
  --sf-tertiary-container-hover: var(--sf-tertiary-35);
  --sf-tertiary-container-active: var(--sf-tertiary-40);
  --sf-tertiary-transparent-hover: var(--sf-tertiary-90--alfa-4);
  --sf-tertiary-transparent-select: var(--sf-tertiary-90--alfa-8);
  --sf-tertiary-transparent-active: var(--sf-tertiary-90--alfa-12);
  --sf-tertiary-transparent-overlay: var(--sf-tertiary-90--alfa-24);
  --sf-on-tertiary: var(--sf-tertiary-20);
  --sf-on-tertiary-container: var(--sf-tertiary-90);
  --sf-on-tertiary-container-graphic: var(--sf-tertiary-60);
  --sf-outline-tertiary: var(--sf-tertiary-60);
  --sf-error: var(--sf-error-80);
  --sf-error-hover: var(--sf-error-85);
  --sf-error-active: var(--sf-error-90);
  --sf-error-container: var(--sf-error-30);
  --sf-error-container-hover: var(--sf-error-35);
  --sf-error-container-active: var(--sf-error-40);
  --sf-error-transparent-hover: var(--sf-error-90--alfa-4);
  --sf-error-transparent-select: var(--sf-error-90--alfa-8);
  --sf-error-transparent-active: var(--sf-error-90--alfa-12);
  --sf-error-transparent-overlay: var(--sf-error-90--alfa-24);
  --sf-on-error: var(--sf-error-20);
  --sf-on-error-container: var(--sf-error-90);
  --sf-on-error-container-graphic: var(--sf-error-60);
  --sf-outline-error: var(--sf-error-60);
  --sf-warning: var(--sf-warning-80);
  --sf-warning-hover: var(--sf-warning-85);
  --sf-warning-active: var(--sf-warning-90);
  --sf-warning-container: var(--sf-warning-30);
  --sf-warning-container-hover: var(--sf-warning-35);
  --sf-warning-container-active: var(--sf-warning-40);
  --sf-warning-transparent-hover: var(--sf-warning-90--alfa-4);
  --sf-warning-transparent-select: var(--sf-warning-90--alfa-8);
  --sf-warning-transparent-active: var(--sf-warning-90--alfa-12);
  --sf-warning-transparent-overlay: var(--sf-warning-90--alfa-24);
  --sf-on-warning: var(--sf-warning-20);
  --sf-on-warning-container: var(--sf-warning-90);
  --sf-on-warning-container-graphic: var(--sf-warning-60);
  --sf-outline-warning: var(--sf-warning-60);
  --sf-success: var(--sf-success-80);
  --sf-success-hover: var(--sf-success-85);
  --sf-success-active: var(--sf-success-90);
  --sf-success-container: var(--sf-success-30);
  --sf-success-container-hover: var(--sf-success-35);
  --sf-success-container-active: var(--sf-success-40);
  --sf-success-transparent-hover: var(--sf-success-90--alfa-4);
  --sf-success-transparent-select: var(--sf-success-90--alfa-8);
  --sf-success-transparent-active: var(--sf-success-90--alfa-12);
  --sf-success-transparent-overlay: var(--sf-success-90--alfa-24);
  --sf-on-success: var(--sf-success-20);
  --sf-on-success-container: var(--sf-success-90);
  --sf-on-success-container-graphic: var(--sf-success-60);
  --sf-outline-success: var(--sf-success-60);
  --sf-surface-0: var(--sf-neutral-5);
  --sf-surface-1: var(--sf-neutral-10);
  --sf-surface-2: var(--sf-neutral-15);
  --sf-surface-3: var(--sf-neutral-20);
  --sf-surface-4: var(--sf-neutral-25);
  --sf-surface-inverse: var(--sf-neutral-90);
  --sf-surface-inverse-fixed: var(--sf-neutral-20);
  --sf-surface-container: var(--sf-neutral-30);
  --sf-surface-container-hover: var(--sf-neutral-35);
  --sf-surface-container-active: var(--sf-neutral-40);
  --sf-on-surface: var(--sf-neutral-90);
  --sf-on-surface-fixed: var(--sf-neutral-10);
  --sf-on-surface-hover: var(--sf-neutral-85);
  --sf-on-surface-active: var(--sf-neutral-80);
  --sf-on-surface-variant: var(--sf-neutral-60);
  --sf-on-surface-inverse: var(--sf-neutral-10);
  --sf-on-surface-inverse-fixed: var(--sf-neutral-90);
  --sf-surface-transparent-hover: var(--sf-neutral-90--alfa-4);
  --sf-surface-transparent-select: var(--sf-neutral-90--alfa-8);
  --sf-surface-transparent-active: var(--sf-neutral-90--alfa-12);
  --sf-surface-transparent-overlay: var(--sf-neutral-90--alfa-24);
  --sf-disable: var(--sf-neutral-90--alfa-12);
  --sf-on-disable: var(--sf-neutral-90--alfa-24);
  --sf-outline-disable: var(--sf-neutral-90--alfa-24);
  --sf-outline: var(--sf-neutral-60);
  --sf-outline-variant: var(--sf-neutral-90--alfa-24);
  --sf-link: var(--sf-primary-80);
  --sf-link-hover: var(--sf-primary-85);
  --sf-link-active: var(--sf-primary-90);
  --sf-link-visited: var(--sf-tertiaty-80);
  --sf-focus--color: var(--sf-primary-90--alfa-24);
  --sf-mark: var(--sf-warning-90--alfa-24); }

