// SIMAI Framework
// https://simai.io

// TRANSFORM

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        // Transform Skew
        @each $transform-skew-name, $transform-skew-value in $transform-skew-array {
            .#{$infix}skew-x-#{$transform-skew-name} {
                transform: skewX(#{$transform-skew-value}deg);
            }

            .#{$infix}skew-y-#{$transform-skew-name} {
                transform: skewY(#{$transform-skew-value}deg);
            }
        }
    }
// }