// SIMAI Framework
// https://simai.io

// BACKGROUND

$infix: md;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        @each $bg-position-name, $bg-position-value in $bg-position-array {
            .#{$infix}bg-#{$bg-position-name} {
                background-position: #{$bg-position-value};
            }
        }
    }
// }