// SIMAI Framework
// https://simai.io

// FLEXBOX

// Place Content
$place-content-array: (
    center: center,
    start: start,
    end: end,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
    stretch: stretch,
);