@media (min-width: 960px) {
  .lg\:items-start {
    place-items: start; }
  .lg\:items-end {
    place-items: end; }
  .lg\:items-center {
    place-items: center; }
  .lg\:items-stretch {
    place-items: stretch; } }

