.hover\:backdrop-saturate-0:hover, .hover\:backdrop-saturate-1\/4:hover, .hover\:backdrop-saturate-1\/3:hover, .hover\:backdrop-saturate-1\/2:hover, .hover\:backdrop-saturate-1:hover, .hover\:backdrop-saturate-2:hover, .hover\:backdrop-saturate-3:hover, .hover\:backdrop-saturate-4:hover {
  --sf-backdrop-blur: ;
  --sf-backdrop-brightness: ;
  --sf-backdrop-contrast: ;
  --sf-backdrop-grayscale: ;
  --sf-backdrop-hue-rotate: ;
  --sf-backdrop-invert: ;
  --sf-backdrop-opacity: ;
  --sf-backdrop-saturate: ;
  --sf-backdrop-sepia: ;
  backdrop-filter: var(--sf-backdrop-blur) var(--sf-backdrop-brightness) var(--sf-backdrop-contrast) var(--sf-backdrop-grayscale) var(--sf-backdrop-hue-rotate) var(--sf-backdrop-invert) var(--sf-backdrop-opacity) var(--sf-backdrop-saturate) var(--sf-backdrop-sepia); }

.hover\:backdrop-saturate-0:hover {
  --sf-backdrop-saturate: saturate(0); }

.hover\:backdrop-saturate-1\/4:hover {
  --sf-backdrop-saturate: saturate(0.25); }

.hover\:backdrop-saturate-1\/3:hover {
  --sf-backdrop-saturate: saturate(0.5); }

.hover\:backdrop-saturate-1\/2:hover {
  --sf-backdrop-saturate: saturate(0.75); }

.hover\:backdrop-saturate-1:hover {
  --sf-backdrop-saturate: saturate(1); }

.hover\:backdrop-saturate-2:hover {
  --sf-backdrop-saturate: saturate(1.25); }

.hover\:backdrop-saturate-3:hover {
  --sf-backdrop-saturate: saturate(1.5); }

.hover\:backdrop-saturate-4:hover {
  --sf-backdrop-saturate: saturate(1.75); }

