.caret-transparent {
  caret-color: var(--sf-transparent); }

.caret-current {
  caret-color: var(--sf-current); }

.caret-on-surface {
  caret-color: var(--sf-on-surface); }

.caret-primary {
  caret-color: var(--sf-primary); }

.caret-secondary {
  caret-color: var(--sf-secondary); }

.caret-tertiary {
  caret-color: var(--sf-tertiary); }

.caret-error {
  caret-color: var(--sf-error); }

.caret-warning {
  caret-color: var(--sf-warning); }

.caret-success {
  caret-color: var(--sf-success); }

