.saturate-0, .saturate-1\/4, .saturate-1\/3, .saturate-1\/2, .saturate-1, .saturate-2, .saturate-3, .saturate-4 {
  --sf-blur: ;
  --sf-brightness: ;
  --sf-contrast: ;
  --sf-grayscale: ;
  --sf-hue-rotate: ;
  --sf-invert: ;
  --sf-saturate: ;
  --sf-sepia: ;
  --sf-drop-shadow: ;
  filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow); }

.saturate-0 {
  --sf-saturate: saturate(0); }

.saturate-1\/4 {
  --sf-saturate: saturate(0.25); }

.saturate-1\/3 {
  --sf-saturate: saturate(0.5); }

.saturate-1\/2 {
  --sf-saturate: saturate(0.75); }

.saturate-1 {
  --sf-saturate: saturate(1); }

.saturate-2 {
  --sf-saturate: saturate(1.25); }

.saturate-3 {
  --sf-saturate: saturate(1.5); }

.saturate-4 {
  --sf-saturate: saturate(1.75); }

