@media (min-width: 720px) {
  .md\:measure {
    max-width: var(--sf-text--measure); }
  .md\:measure-wide {
    max-width: var(--sf-text--measure-wide); }
  .md\:measure-narrow {
    max-width: var(--sf-text--measure-narrow); } }

