@media (min-width: 960px) {
  .lg\:grid-row-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr)); }
  .lg\:grid-row-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr)); }
  .lg\:grid-row-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr)); }
  .lg\:grid-row-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr)); }
  .lg\:grid-row-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr)); }
  .lg\:grid-row-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr)); }
  .lg\:grid-row-none {
    grid-template-rows: none; } }

