@media (min-width: 960px) {
  .lg\:start-start {
    justify-content: flex-start;
    align-items: flex-start; }
  .lg\:start-center {
    justify-content: flex-start;
    align-items: center; }
  .lg\:start-end {
    justify-content: flex-start;
    align-items: flex-end; }
  .lg\:center-start {
    justify-content: center;
    align-items: flex-start; }
  .lg\:center-center {
    justify-content: center;
    align-items: center; }
  .lg\:center-end {
    justify-content: center;
    align-items: flex-end; }
  .lg\:end-start {
    justify-content: flex-end;
    align-items: flex-start; }
  .lg\:end-center {
    justify-content: flex-end;
    align-items: center; }
  .lg\:end-end {
    justify-content: flex-end;
    align-items: flex-end; } }

