.delay-1 {
  transition-delay: 75ms; }

.delay-2 {
  transition-delay: 100ms; }

.delay-3 {
  transition-delay: 150ms; }

.delay-4 {
  transition-delay: 200ms; }

.delay-5 {
  transition-delay: 300ms; }

.delay-6 {
  transition-delay: 500ms; }

.delay-7 {
  transition-delay: 700ms; }

.delay-8 {
  transition-delay: 1s; }

.delay-9 {
  transition-delay: 2s; }

.delay-0 {
  transition-delay: 0s; }

