// SIMAI Framework
// https://simai.io

// SCROLL MARGIN

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);
        
        // Padding size
        // For size use text size variables
        // Atention! Text variables have different size for mobile and destop devices
        @each $size-range-name, $range-array in $size-array {
            @each $size-name, $size-value in $range-array {

                // MARGIN SETTINGS
                // for all sides
                .#{$infix}scroll-m-#{$size-range-name}#{$size-name} {
                    scroll-margin: var(--sf-#{$size-range-name}#{$size-name});
                }
                .-#{$infix}scroll-m-#{$size-range-name}#{$size-name} {
                    scroll-margin: calc(0rem - var(--sf-#{$size-range-name}#{$size-name}));
                }

                // for top sides
                .#{$infix}scroll-mt-#{$size-range-name}#{$size-name} {
                    scroll-margin-top: var(--sf-#{$size-range-name}#{$size-name});
                }
                .-#{$infix}scroll-mt-#{$size-range-name}#{$size-name} {
                    scroll-margin-top: calc(0rem - var(--sf-#{$size-range-name}#{$size-name}));
                }

                // for right sides
                .#{$infix}scroll-mr-#{$size-range-name}#{$size-name} {
                    scroll-margin-right: var(--sf-#{$size-range-name}#{$size-name});
                }
                .-#{$infix}scroll-mr-#{$size-range-name}#{$size-name} {
                    scroll-margin-right: calc(0rem - var(--sf-#{$size-range-name}#{$size-name}));
                }

                // for bottom sides
                .#{$infix}scroll-mb-#{$size-range-name}#{$size-name} {
                    scroll-margin-bottom: var(--sf-#{$size-range-name}#{$size-name});
                }
                .-#{$infix}scroll-mb-#{$size-range-name}#{$size-name} {
                    scroll-margin-bottom: calc(0rem - var(--sf-#{$size-range-name}#{$size-name}));
                }

                // for left sides
                .#{$infix}scroll-ml-#{$size-range-name}#{$size-name} {
                    scroll-margin-left: var(--sf-#{$size-range-name}#{$size-name});
                }
                .-#{$infix}scroll-ml-#{$size-range-name}#{$size-name} {
                    scroll-margin-left: calc(0rem - var(--sf-#{$size-range-name}#{$size-name}));
                }
            }
        }
    }
// }