.border-dotted {
  border-style: dotted; }

.border-dashed {
  border-style: dashed; }

.border-solid {
  border-style: solid; }

.border-double {
  border-style: double; }

.border-hidden {
  border-style: hidden; }

.border-inset {
  border-style: inset; }

.border-none {
  border-style: none; }

.border-left-dotted {
  border-left-style: dotted; }

.border-left-dashed {
  border-left-style: dashed; }

.border-left-solid {
  border-left-style: solid; }

.border-left-double {
  border-left-style: double; }

.border-left-hidden {
  border-left-style: hidden; }

.border-left-inset {
  border-left-style: inset; }

.border-left-none {
  border-left-style: none; }

.border-right-dotted {
  border-right-style: dotted; }

.border-right-dashed {
  border-right-style: dashed; }

.border-right-solid {
  border-right-style: solid; }

.border-right-double {
  border-right-style: double; }

.border-right-hidden {
  border-right-style: hidden; }

.border-right-inset {
  border-right-style: inset; }

.border-right-none {
  border-right-style: none; }

.border-top-dotted {
  border-top-style: dotted; }

.border-top-dashed {
  border-top-style: dashed; }

.border-top-solid {
  border-top-style: solid; }

.border-top-double {
  border-top-style: double; }

.border-top-hidden {
  border-top-style: hidden; }

.border-top-inset {
  border-top-style: inset; }

.border-top-none {
  border-top-style: none; }

.border-bottom-dotted {
  border-bottom-style: dotted; }

.border-bottom-dashed {
  border-bottom-style: dashed; }

.border-bottom-solid {
  border-bottom-style: solid; }

.border-bottom-double {
  border-bottom-style: double; }

.border-bottom-hidden {
  border-bottom-style: hidden; }

.border-bottom-inset {
  border-bottom-style: inset; }

.border-bottom-none {
  border-bottom-style: none; }

.border-x-dotted {
  border-left-style: dotted;
  border-right-style: dotted; }

.border-x-dashed {
  border-left-style: dashed;
  border-right-style: dashed; }

.border-x-solid {
  border-left-style: solid;
  border-right-style: solid; }

.border-x-double {
  border-left-style: double;
  border-right-style: double; }

.border-x-hidden {
  border-left-style: hidden;
  border-right-style: hidden; }

.border-x-inset {
  border-left-style: inset;
  border-right-style: inset; }

.border-x-none {
  border-left-style: none;
  border-right-style: none; }

.border-y-dotted {
  border-top-style: dotted;
  border-bottom-style: dotted; }

.border-y-dashed {
  border-top-style: dashed;
  border-bottom-style: dashed; }

.border-y-solid {
  border-top-style: solid;
  border-bottom-style: solid; }

.border-y-double {
  border-top-style: double;
  border-bottom-style: double; }

.border-y-hidden {
  border-top-style: hidden;
  border-bottom-style: hidden; }

.border-y-inset {
  border-top-style: inset;
  border-bottom-style: inset; }

.border-y-none {
  border-top-style: none;
  border-bottom-style: none; }

