// SIMAI Framework
// https://simai.io

// SIZE

// Max Width Array
$with-max-array: (
	full : 100%,
    screen : 100vw,
	min : min-content,
	max : max-content,
	fit : fit-content,
    prose : 65ch,
	0 : 0,
	none : none,
);