@media (min-width: 1200px) {
  .xl\:backdrop-grayscale, .xl\:backdrop-grayscale-none {
    --sf-backdrop-blur: ;
    --sf-backdrop-brightness: ;
    --sf-backdrop-contrast: ;
    --sf-backdrop-grayscale: ;
    --sf-backdrop-hue-rotate: ;
    --sf-backdrop-invert: ;
    --sf-backdrop-opacity: ;
    --sf-backdrop-saturate: ;
    --sf-backdrop-sepia: ;
    backdrop-filter: var(--sf-backdrop-blur) var(--sf-backdrop-brightness) var(--sf-backdrop-contrast) var(--sf-backdrop-grayscale) var(--sf-backdrop-hue-rotate) var(--sf-backdrop-invert) var(--sf-backdrop-opacity) var(--sf-backdrop-saturate) var(--sf-backdrop-sepia);
  }
  .xl\:backdrop-grayscale {
    --sf-backdrop-grayscale: grayscale(1);
  }
  .xl\:backdrop-grayscale-none {
    --sf-backdrop-grayscale: grayscale(0);
  }
}
