// SIMAI Framework
// https://simai.io

// BACKGROUND

$infix: md;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);
        
        // Background Clip
        // Utilities for controlling the bounding box of an element's background.
        @each $bg-clip-name,$bg-clip-value in $bg-clip-array {
            .#{$infix}bg-clip-#{$bg-clip-name} {
                background-clip: #{$bg-clip-value};
            }
        }
    }
// }