@media (min-width: 960px) {
  .lg\:grid-col-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .lg\:grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)); }
  .lg\:grid-col-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .lg\:grid-col-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .lg\:grid-col-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)); }
  .lg\:grid-col-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr)); }
  .lg\:grid-col-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr)); }
  .lg\:grid-col-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr)); }
  .lg\:grid-col-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr)); }
  .lg\:grid-col-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr)); }
  .lg\:grid-col-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr)); }
  .lg\:grid-col-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr)); }
  .lg\:grid-col-none {
    grid-template-columns: none; } }

