@media (min-width: 1140px) {
  .xl\:gap-0 {
    gap: var(--sf-space-0); }
  .xl\:gap-x-0 {
    column-gap: var(--sf-space-0); }
  .xl\:gap-y-0 {
    row-gap: var(--sf-space-0); }
  .xl\:gap-1\/4 {
    gap: var(--sf-space-1\/4); }
  .xl\:gap-x-1\/4 {
    column-gap: var(--sf-space-1\/4); }
  .xl\:gap-y-1\/4 {
    row-gap: var(--sf-space-1\/4); }
  .xl\:gap-1\/3 {
    gap: var(--sf-space-1\/3); }
  .xl\:gap-x-1\/3 {
    column-gap: var(--sf-space-1\/3); }
  .xl\:gap-y-1\/3 {
    row-gap: var(--sf-space-1\/3); }
  .xl\:gap-1\/2 {
    gap: var(--sf-space-1\/2); }
  .xl\:gap-x-1\/2 {
    column-gap: var(--sf-space-1\/2); }
  .xl\:gap-y-1\/2 {
    row-gap: var(--sf-space-1\/2); }
  .xl\:gap-1 {
    gap: var(--sf-space-1); }
  .xl\:gap-x-1 {
    column-gap: var(--sf-space-1); }
  .xl\:gap-y-1 {
    row-gap: var(--sf-space-1); }
  .xl\:gap-2 {
    gap: var(--sf-space-2); }
  .xl\:gap-x-2 {
    column-gap: var(--sf-space-2); }
  .xl\:gap-y-2 {
    row-gap: var(--sf-space-2); }
  .xl\:gap-3 {
    gap: var(--sf-space-3); }
  .xl\:gap-x-3 {
    column-gap: var(--sf-space-3); }
  .xl\:gap-y-3 {
    row-gap: var(--sf-space-3); }
  .xl\:gap-4 {
    gap: var(--sf-space-4); }
  .xl\:gap-x-4 {
    column-gap: var(--sf-space-4); }
  .xl\:gap-y-4 {
    row-gap: var(--sf-space-4); }
  .xl\:gap-5 {
    gap: var(--sf-space-5); }
  .xl\:gap-x-5 {
    column-gap: var(--sf-space-5); }
  .xl\:gap-y-5 {
    row-gap: var(--sf-space-5); }
  .xl\:gap-6 {
    gap: var(--sf-space-6); }
  .xl\:gap-x-6 {
    column-gap: var(--sf-space-6); }
  .xl\:gap-y-6 {
    row-gap: var(--sf-space-6); }
  .xl\:gap-7 {
    gap: var(--sf-space-7); }
  .xl\:gap-x-7 {
    column-gap: var(--sf-space-7); }
  .xl\:gap-y-7 {
    row-gap: var(--sf-space-7); }
  .xl\:gap-8 {
    gap: var(--sf-space-8); }
  .xl\:gap-x-8 {
    column-gap: var(--sf-space-8); }
  .xl\:gap-y-8 {
    row-gap: var(--sf-space-8); } }

