@media (min-width: 1140px) {
  .xl\:self-auto {
    place-self: auto; }
  .xl\:self-start {
    place-self: start; }
  .xl\:self-end {
    place-self: end; }
  .xl\:self-center {
    place-self: center; }
  .xl\:self-stretch {
    place-self: stretch; } }

