@media (min-width: 540px) {
  .sm\:break-before-auto {
    break-before: auto; }
  .sm\:break-before-avoid {
    break-before: avoid; }
  .sm\:break-before-all {
    break-before: all; }
  .sm\:break-before-avoid-page {
    break-before: avoid-page; }
  .sm\:break-before-page {
    break-before: page; }
  .sm\:break-before-left {
    break-before: left; }
  .sm\:break-before-right {
    break-before: right; }
  .sm\:break-before-column {
    break-before: column; } }

