.focus\:border-transparent:focus {
  border-color: var(--sf-transparent); }

.focus\:border-current:focus {
  border-color: var(--sf-current); }

.focus\:border-outline:focus {
  border-color: var(--sf-outline); }

.focus\:border-outline-variant:focus {
  border-color: var(--sf-outline-variant); }

.focus\:border-primary:focus {
  border-color: var(--sf-outline-primary); }

.focus\:border-secondary:focus {
  border-color: var(--sf-outline-secondary); }

.focus\:border-tertiary:focus {
  border-color: var(--sf-outline-tertiary); }

.focus\:border-error:focus {
  border-color: var(--sf-outline-error); }

.focus\:border-warning:focus {
  border-color: var(--sf-outline-warning); }

.focus\:border-success:focus {
  border-color: var(--sf-outline-success); }

