@media (min-width: 992px) {
  .lg\:backdrop-opacity-1.lg\:backdrop-opacity-2.lg\:backdrop-opacity-3.lg\:backdrop-opacity-4.lg\:backdrop-opacity-5.lg\:backdrop-opacity-6.lg\:backdrop-opacity-7.lg\:backdrop-opacity-8.lg\:backdrop-opacity-9.lg\:backdrop-opacity-0.lg\:backdrop-opacity-full {
    --sf-backdrop-blur: ;
    --sf-backdrop-brightness: ;
    --sf-backdrop-contrast: ;
    --sf-backdrop-grayscale: ;
    --sf-backdrop-hue-rotate: ;
    --sf-backdrop-invert: ;
    --sf-backdrop-opacity: ;
    --sf-backdrop-saturate: ;
    --sf-backdrop-sepia: ;
    backdrop-filter: var(--sf-backdrop-blur) var(--sf-backdrop-brightness) var(--sf-backdrop-contrast) var(--sf-backdrop-grayscale) var(--sf-backdrop-hue-rotate) var(--sf-backdrop-invert) var(--sf-backdrop-opacity) var(--sf-backdrop-saturate) var(--sf-backdrop-sepia);
  }
  .lg\:backdrop-opacity-1 {
    --sf-backdrop-opacity: opacity(0.1);
  }
  .lg\:backdrop-opacity-2 {
    --sf-backdrop-opacity: opacity(0.2);
  }
  .lg\:backdrop-opacity-3 {
    --sf-backdrop-opacity: opacity(0.3);
  }
  .lg\:backdrop-opacity-4 {
    --sf-backdrop-opacity: opacity(0.4);
  }
  .lg\:backdrop-opacity-5 {
    --sf-backdrop-opacity: opacity(0.5);
  }
  .lg\:backdrop-opacity-6 {
    --sf-backdrop-opacity: opacity(0.6);
  }
  .lg\:backdrop-opacity-7 {
    --sf-backdrop-opacity: opacity(0.7);
  }
  .lg\:backdrop-opacity-8 {
    --sf-backdrop-opacity: opacity(0.8);
  }
  .lg\:backdrop-opacity-9 {
    --sf-backdrop-opacity: opacity(0.9);
  }
  .lg\:backdrop-opacity-0 {
    --sf-backdrop-opacity: opacity(0);
  }
  .lg\:backdrop-opacity-full {
    --sf-backdrop-opacity: opacity(1);
  }
}
