.focus\:outline-transparent:focus {
  outline-color: var(--sf-transparent); }

.focus\:outline-current:focus {
  outline-color: var(--sf-current); }

.focus\:outline-outline:focus {
  outline-color: var(--sf-outline); }

.focus\:outline-outline-variant:focus {
  outline-color: var(--sf-outline-variant); }

.focus\:outline-primary:focus {
  outline-color: var(--sf-outline-primary); }

.focus\:outline-secondary:focus {
  outline-color: var(--sf-outline-secondary); }

.focus\:outline-tertiary:focus {
  outline-color: var(--sf-outline-tertiary); }

.focus\:outline-error:focus {
  outline-color: var(--sf-outline-error); }

.focus\:outline-warning:focus {
  outline-color: var(--sf-outline-warning); }

.focus\:outline-success:focus {
  outline-color: var(--sf-outline-success); }

