@media (min-width: 1200px) {
  .xl\:gr1-opacity-1 {
    --sf-gradient--alfa-1:0.1;
  }
  .xl\:gr1-opacity-2 {
    --sf-gradient--alfa-1:0.2;
  }
  .xl\:gr1-opacity-3 {
    --sf-gradient--alfa-1:0.3;
  }
  .xl\:gr1-opacity-4 {
    --sf-gradient--alfa-1:0.4;
  }
  .xl\:gr1-opacity-5 {
    --sf-gradient--alfa-1:0.5;
  }
  .xl\:gr1-opacity-6 {
    --sf-gradient--alfa-1:0.6;
  }
  .xl\:gr1-opacity-7 {
    --sf-gradient--alfa-1:0.7;
  }
  .xl\:gr1-opacity-8 {
    --sf-gradient--alfa-1:0.8;
  }
  .xl\:gr1-opacity-9 {
    --sf-gradient--alfa-1:0.9;
  }
  .xl\:gr1-opacity-full {
    --sf-gradient--alfa-1:1;
  }
  .xl\:gr1-opacity-0 {
    --sf-gradient--alfa-1:0;
  }
  .xl\:gr2-opacity-1 {
    --sf-gradient--alfa-2:0.1;
  }
  .xl\:gr2-opacity-2 {
    --sf-gradient--alfa-2:0.2;
  }
  .xl\:gr2-opacity-3 {
    --sf-gradient--alfa-2:0.3;
  }
  .xl\:gr2-opacity-4 {
    --sf-gradient--alfa-2:0.4;
  }
  .xl\:gr2-opacity-5 {
    --sf-gradient--alfa-2:0.5;
  }
  .xl\:gr2-opacity-6 {
    --sf-gradient--alfa-2:0.6;
  }
  .xl\:gr2-opacity-7 {
    --sf-gradient--alfa-2:0.7;
  }
  .xl\:gr2-opacity-8 {
    --sf-gradient--alfa-2:0.8;
  }
  .xl\:gr2-opacity-9 {
    --sf-gradient--alfa-2:0.9;
  }
  .xl\:gr2-opacity-full {
    --sf-gradient--alfa-2:1;
  }
  .xl\:gr2-opacity-0 {
    --sf-gradient--alfa-2:0;
  }
  .xl\:gr3-opacity-1 {
    --sf-gradient--alfa-3:0.1;
  }
  .xl\:gr3-opacity-2 {
    --sf-gradient--alfa-3:0.2;
  }
  .xl\:gr3-opacity-3 {
    --sf-gradient--alfa-3:0.3;
  }
  .xl\:gr3-opacity-4 {
    --sf-gradient--alfa-3:0.4;
  }
  .xl\:gr3-opacity-5 {
    --sf-gradient--alfa-3:0.5;
  }
  .xl\:gr3-opacity-6 {
    --sf-gradient--alfa-3:0.6;
  }
  .xl\:gr3-opacity-7 {
    --sf-gradient--alfa-3:0.7;
  }
  .xl\:gr3-opacity-8 {
    --sf-gradient--alfa-3:0.8;
  }
  .xl\:gr3-opacity-9 {
    --sf-gradient--alfa-3:0.9;
  }
  .xl\:gr3-opacity-full {
    --sf-gradient--alfa-3:1;
  }
  .xl\:gr3-opacity-0 {
    --sf-gradient--alfa-3:0;
  }
}
