@media (min-width: 720px) {
  .md\:bg-bottom {
    background-position: bottom; }
  .md\:bg-center {
    background-position: center; }
  .md\:bg-center-top {
    background-position: center top; }
  .md\:bg-center-bottom {
    background-position: center bottom; }
  .md\:bg-left {
    background-position: left; }
  .md\:bg-left-bottom {
    background-position: left bottom; }
  .md\:bg-left-top {
    background-position: left top; }
  .md\:bg-left-center {
    background-position: left center; }
  .md\:bg-right {
    background-position: right; }
  .md\:bg-right-bottom {
    background-position: right bottom; }
  .md\:bg-right-top {
    background-position: right top; }
  .md\:bg-top {
    background-position: top; } }

