@media (min-width: 1200px) {
  .xl\:brightness-1\/4, .xl\:brightness-1\/2, .xl\:brightness-1, .xl\:brightness-2, .xl\:brightness-3, .xl\:brightness-4, .xl\:brightness-5, .xl\:brightness-0 {
    --sf-blur: ;
    --sf-brightness: ;
    --sf-contrast: ;
    --sf-grayscale: ;
    --sf-hue-rotate: ;
    --sf-invert: ;
    --sf-saturate: ;
    --sf-sepia: ;
    --sf-drop-shadow: ;
    filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
  }
  .xl\:brightness-1\/4 {
    --sf-brightness: brightness(1\/4);
  }
  .xl\:brightness-1\/2 {
    --sf-brightness: brightness(1\/2);
  }
  .xl\:brightness-1 {
    --sf-brightness: brightness(1);
  }
  .xl\:brightness-2 {
    --sf-brightness: brightness(2);
  }
  .xl\:brightness-3 {
    --sf-brightness: brightness(3);
  }
  .xl\:brightness-4 {
    --sf-brightness: brightness(4);
  }
  .xl\:brightness-5 {
    --sf-brightness: brightness(5);
  }
  .xl\:brightness-0 {
    --sf-brightness: brightness(0);
  }
}
