// SIMAI Framework
// https://simai.io

// PADDING

$infix: xs;

// @include layer-priority(utility,default) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);
        
        // Margin and padding size
        // For size use text size variables
        // Atention! Text variables have different size for mobile and destop devices
        @each $size in $space-size-array {

            // PADDING SETTINGS
            // for all sides
            .#{$infix}scroll-p-#{$size} {
                scroll-padding: var(--sf-space-#{$size});
            }

            // for top sides
            .#{$infix}scroll-pt-#{$size} {
                scroll-padding-top: var(--sf-space-#{$size});
            }

            // for right sides
            .#{$infix}scroll-pr-#{$size} {
                scroll-padding-right: var(--sf-space-#{$size});
            }

            // for bottom sides
            .#{$infix}scroll-pb-#{$size} {
                scroll-padding-bottom: var(--sf-space-#{$size});
            }    
            
            // for left sides
            .#{$infix}scroll-pl-#{$size} {
                scroll-padding-left: var(--sf-space-#{$size});
            }

            // for left sides
            .#{$infix}scroll-px-#{$size} {
                scroll-padding-right: var(--sf-space-#{$size});
                scroll-padding-left: var(--sf-space-#{$size});
            }

            // for left sides
            .#{$infix}scroll-py-#{$size} {
                scroll-padding-top: var(--sf-space-#{$size});
                scroll-padding-bottom: var(--sf-space-#{$size});
            }
        }	
    }
// }