// SIMAI Framework
// https://simai.io

// BACKGROUND

$bg-position-array: (
    bottom: bottom,
    center: center,
    center-top: center top,
    center-bottom: center bottom,
    left: left,
    left-bottom: left bottom,
    left-top: left top,
    left-center: left center,
    right: right,
    right-bottom: right bottom,
    right-top: right top,
    top: top
);