.hover\:backdrop-invert:hover, .hover\:backdrop-invert-none:hover {
  --sf-backdrop-blur: ;
  --sf-backdrop-brightness: ;
  --sf-backdrop-contrast: ;
  --sf-backdrop-grayscale: ;
  --sf-backdrop-hue-rotate: ;
  --sf-backdrop-invert: ;
  --sf-backdrop-opacity: ;
  --sf-backdrop-saturate: ;
  --sf-backdrop-sepia: ;
  backdrop-filter: var(--sf-backdrop-blur) var(--sf-backdrop-brightness) var(--sf-backdrop-contrast) var(--sf-backdrop-grayscale) var(--sf-backdrop-hue-rotate) var(--sf-backdrop-invert) var(--sf-backdrop-opacity) var(--sf-backdrop-saturate) var(--sf-backdrop-sepia); }

.hover\:backdrop-invert:hover {
  --sf-backdrop-invert: invert(1); }

.hover\:backdrop-invert-none:hover {
  --sf-backdrop-invert: invert(0); }

