// SIMAI Framework
// https://simai.io

// BACKGROUND

$infix: sm;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        @each $bg-origin-name, $bg-origin-value in $bg-origin-array {
            .#{$infix}bg-origin-#{$bg-origin-name} {
                background-origin: #{$bg-origin-value};
            }
        }
    }
// }