.mask-repeat {
  -webkit-mask-repeat: repeat;
          mask-repeat: repeat; }

.mask-repeat-none {
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat; }

.mask-repeat-x {
  -webkit-mask-repeat: repeat-x;
          mask-repeat: repeat-x; }

.mask-repeat-y {
  -webkit-mask-repeat: repeat-y;
          mask-repeat: repeat-y; }

.mask-repeat-round {
  -webkit-mask-repeat: round;
          mask-repeat: round; }

.mask-repeat-space {
  -webkit-mask-repeat: space;
          mask-repeat: space; }

