.drop-shadow-primary, .drop-shadow-secondary, .drop-shadow-tertiary, .drop-shadow-error, .drop-shadow-warning, .drop-shadow-success, .drop-shadow-on-surface {
  --sf-shadow: 0 0 #0000;
  --sf-shadow-colored: 0 0 #0000; }

.drop-shadow-primary, .drop-shadow-secondary, .drop-shadow-tertiary, .drop-shadow-error, .drop-shadow-warning, .drop-shadow-success, .drop-shadow-on-surface {
  filter: var(--sf-drop-shadow); }

.drop-shadow-primary {
  --sf-drop-shadow-color: var(--sf-primary); }

.drop-shadow-secondary {
  --sf-drop-shadow-color: var(--sf-secondary); }

.drop-shadow-tertiary {
  --sf-drop-shadow-color: var(--sf-tertiary); }

.drop-shadow-error {
  --sf-drop-shadow-color: var(--sf-error); }

.drop-shadow-warning {
  --sf-drop-shadow-color: var(--sf-warning); }

.drop-shadow-success {
  --sf-drop-shadow-color: var(--sf-success); }

.drop-shadow-on-surface {
  --sf-drop-shadow-color: var(--sf-on-surface); }

