@media (min-width: 1140px) {
  .xl\:grid-row-start-1 {
    grid-row-start: 1; }
  .xl\:grid-row-start-2 {
    grid-row-start: 2; }
  .xl\:grid-row-start-3 {
    grid-row-start: 3; }
  .xl\:grid-row-start-4 {
    grid-row-start: 4; }
  .xl\:grid-row-start-5 {
    grid-row-start: 5; }
  .xl\:grid-row-start-6 {
    grid-row-start: 6; }
  .xl\:grid-row-start-7 {
    grid-row-start: 7; }
  .xl\:grid-row-start-auto {
    grid-row-start: auto; } }

