@media (min-width: 1200px) {
  .xl\:grayscale, .xl\:grayscale-none {
    --sf-blur: ;
    --sf-brightness: ;
    --sf-contrast: ;
    --sf-grayscale: ;
    --sf-hue-rotate: ;
    --sf-invert: ;
    --sf-saturate: ;
    --sf-sepia: ;
    --sf-drop-shadow: ;
    filter: var(--sf-blur) var(--sf-brightness) var(--sf-contrast) var(--sf-grayscale) var(--sf-hue-rotate) var(--sf-invert) var(--sf-saturate) var(--sf-sepia) var(--sf-drop-shadow);
  }
  .xl\:grayscale {
    --sf-grayscale: grayscale(1);
  }
  .xl\:grayscale-none {
    --sf-grayscale: grayscale(0);
  }
}
