@media (min-width: 720px) {
  .md\:min-h-full {
    min-height: 100%; }
  .md\:min-h-screen {
    min-height: 100vh; }
  .md\:min-h-min {
    min-height: min-content; }
  .md\:min-h-max {
    min-height: max-content; }
  .md\:min-h-fit {
    min-height: fit-content; }
  .md\:min-h-0 {
    min-height: 0; } }

