@media (min-width: 540px) {
  .sm\:start-start {
    justify-content: flex-start;
    align-items: flex-start; }
  .sm\:start-center {
    justify-content: flex-start;
    align-items: center; }
  .sm\:start-end {
    justify-content: flex-start;
    align-items: flex-end; }
  .sm\:center-start {
    justify-content: center;
    align-items: flex-start; }
  .sm\:center-center {
    justify-content: center;
    align-items: center; }
  .sm\:center-end {
    justify-content: center;
    align-items: flex-end; }
  .sm\:end-start {
    justify-content: flex-end;
    align-items: flex-start; }
  .sm\:end-center {
    justify-content: flex-end;
    align-items: center; }
  .sm\:end-end {
    justify-content: flex-end;
    align-items: flex-end; } }

