@media (min-width: 960px) {
  .lg\:items-cross-start {
    align-items: start; }
  .lg\:items-cross-end {
    align-items: end; }
  .lg\:items-cross-center {
    align-items: center; }
  .lg\:items-cross-baseline {
    align-items: baseline; }
  .lg\:items-cross-stretch {
    align-items: stretch; } }

