.active\:border-transparent:active {
  border-color: var(--sf-transparent); }

.active\:border-current:active {
  border-color: var(--sf-current); }

.active\:border-outline:active {
  border-color: var(--sf-outline); }

.active\:border-outline-variant:active {
  border-color: var(--sf-outline-variant); }

.active\:border-primary:active {
  border-color: var(--sf-outline-primary); }

.active\:border-secondary:active {
  border-color: var(--sf-outline-secondary); }

.active\:border-tertiary:active {
  border-color: var(--sf-outline-tertiary); }

.active\:border-error:active {
  border-color: var(--sf-outline-error); }

.active\:border-warning:active {
  border-color: var(--sf-outline-warning); }

.active\:border-success:active {
  border-color: var(--sf-outline-success); }

