@media (min-width: 576px) {
  .sm\:backdrop-blur-1, .sm\:backdrop-blur-2, .sm\:backdrop-blur-3, .sm\:backdrop-blur-4, .sm\:backdrop-blur-5, .sm\:backdrop-blur-6, .sm\:backdrop-blur-7, .sm\:backdrop-blur-0 {
    --sf-backdrop-blur: ;
    --sf-backdrop-brightness: ;
    --sf-backdrop-contrast: ;
    --sf-backdrop-grayscale: ;
    --sf-backdrop-hue-rotate: ;
    --sf-backdrop-invert: ;
    --sf-backdrop-opacity: ;
    --sf-backdrop-saturate: ;
    --sf-backdrop-sepia: ;
    backdrop-filter: var(--sf-backdrop-blur) var(--sf-backdrop-brightness) var(--sf-backdrop-contrast) var(--sf-backdrop-grayscale) var(--sf-backdrop-hue-rotate) var(--sf-backdrop-invert) var(--sf-backdrop-opacity) var(--sf-backdrop-saturate) var(--sf-backdrop-sepia);
  }
  .sm\:backdrop-blur-1 {
    --sf-backdrop-blur: blur(var(--sf-a1));
  }
  .sm\:backdrop-blur-2 {
    --sf-backdrop-blur: blur(var(--sf-a2));
  }
  .sm\:backdrop-blur-3 {
    --sf-backdrop-blur: blur(var(--sf-a4));
  }
  .sm\:backdrop-blur-4 {
    --sf-backdrop-blur: blur(var(--sf-a8));
  }
  .sm\:backdrop-blur-5 {
    --sf-backdrop-blur: blur(var(--sf-b6));
  }
  .sm\:backdrop-blur-6 {
    --sf-backdrop-blur: blur(var(--sf-c2));
  }
  .sm\:backdrop-blur-7 {
    --sf-backdrop-blur: blur(var(--sf-c6));
  }
  .sm\:backdrop-blur-0 {
    --sf-backdrop-blur: blur(var(--sf-0));
  }
}
