@media (min-width: 1140px) {
  .xl\:top-a0 {
    top: var(--sf-a0); }
  .-xl\:top-a0 {
    top: calc(0rem - var(--sf-a0)); }
  .xl\:right-a0 {
    right: var(--sf-a0); }
  .-xl\:right-a0 {
    right: calc(0rem - var(--sf-a0)); }
  .xl\:bottom-a0 {
    bottom: var(--sf-a0); }
  .-xl\:bottom-a0 {
    bottom: calc(0rem - var(--sf-a0)); }
  .xl\:left-a0 {
    left: var(--sf-a0); }
  .-xl\:left-a0 {
    left: calc(0rem - var(--sf-a0)); }
  .xl\:top-a1 {
    top: var(--sf-a1); }
  .-xl\:top-a1 {
    top: calc(0rem - var(--sf-a1)); }
  .xl\:right-a1 {
    right: var(--sf-a1); }
  .-xl\:right-a1 {
    right: calc(0rem - var(--sf-a1)); }
  .xl\:bottom-a1 {
    bottom: var(--sf-a1); }
  .-xl\:bottom-a1 {
    bottom: calc(0rem - var(--sf-a1)); }
  .xl\:left-a1 {
    left: var(--sf-a1); }
  .-xl\:left-a1 {
    left: calc(0rem - var(--sf-a1)); }
  .xl\:top-a2 {
    top: var(--sf-a2); }
  .-xl\:top-a2 {
    top: calc(0rem - var(--sf-a2)); }
  .xl\:right-a2 {
    right: var(--sf-a2); }
  .-xl\:right-a2 {
    right: calc(0rem - var(--sf-a2)); }
  .xl\:bottom-a2 {
    bottom: var(--sf-a2); }
  .-xl\:bottom-a2 {
    bottom: calc(0rem - var(--sf-a2)); }
  .xl\:left-a2 {
    left: var(--sf-a2); }
  .-xl\:left-a2 {
    left: calc(0rem - var(--sf-a2)); }
  .xl\:top-a3 {
    top: var(--sf-a3); }
  .-xl\:top-a3 {
    top: calc(0rem - var(--sf-a3)); }
  .xl\:right-a3 {
    right: var(--sf-a3); }
  .-xl\:right-a3 {
    right: calc(0rem - var(--sf-a3)); }
  .xl\:bottom-a3 {
    bottom: var(--sf-a3); }
  .-xl\:bottom-a3 {
    bottom: calc(0rem - var(--sf-a3)); }
  .xl\:left-a3 {
    left: var(--sf-a3); }
  .-xl\:left-a3 {
    left: calc(0rem - var(--sf-a3)); }
  .xl\:top-a4 {
    top: var(--sf-a4); }
  .-xl\:top-a4 {
    top: calc(0rem - var(--sf-a4)); }
  .xl\:right-a4 {
    right: var(--sf-a4); }
  .-xl\:right-a4 {
    right: calc(0rem - var(--sf-a4)); }
  .xl\:bottom-a4 {
    bottom: var(--sf-a4); }
  .-xl\:bottom-a4 {
    bottom: calc(0rem - var(--sf-a4)); }
  .xl\:left-a4 {
    left: var(--sf-a4); }
  .-xl\:left-a4 {
    left: calc(0rem - var(--sf-a4)); }
  .xl\:top-a5 {
    top: var(--sf-a5); }
  .-xl\:top-a5 {
    top: calc(0rem - var(--sf-a5)); }
  .xl\:right-a5 {
    right: var(--sf-a5); }
  .-xl\:right-a5 {
    right: calc(0rem - var(--sf-a5)); }
  .xl\:bottom-a5 {
    bottom: var(--sf-a5); }
  .-xl\:bottom-a5 {
    bottom: calc(0rem - var(--sf-a5)); }
  .xl\:left-a5 {
    left: var(--sf-a5); }
  .-xl\:left-a5 {
    left: calc(0rem - var(--sf-a5)); }
  .xl\:top-a6 {
    top: var(--sf-a6); }
  .-xl\:top-a6 {
    top: calc(0rem - var(--sf-a6)); }
  .xl\:right-a6 {
    right: var(--sf-a6); }
  .-xl\:right-a6 {
    right: calc(0rem - var(--sf-a6)); }
  .xl\:bottom-a6 {
    bottom: var(--sf-a6); }
  .-xl\:bottom-a6 {
    bottom: calc(0rem - var(--sf-a6)); }
  .xl\:left-a6 {
    left: var(--sf-a6); }
  .-xl\:left-a6 {
    left: calc(0rem - var(--sf-a6)); }
  .xl\:top-a7 {
    top: var(--sf-a7); }
  .-xl\:top-a7 {
    top: calc(0rem - var(--sf-a7)); }
  .xl\:right-a7 {
    right: var(--sf-a7); }
  .-xl\:right-a7 {
    right: calc(0rem - var(--sf-a7)); }
  .xl\:bottom-a7 {
    bottom: var(--sf-a7); }
  .-xl\:bottom-a7 {
    bottom: calc(0rem - var(--sf-a7)); }
  .xl\:left-a7 {
    left: var(--sf-a7); }
  .-xl\:left-a7 {
    left: calc(0rem - var(--sf-a7)); }
  .xl\:top-a8 {
    top: var(--sf-a8); }
  .-xl\:top-a8 {
    top: calc(0rem - var(--sf-a8)); }
  .xl\:right-a8 {
    right: var(--sf-a8); }
  .-xl\:right-a8 {
    right: calc(0rem - var(--sf-a8)); }
  .xl\:bottom-a8 {
    bottom: var(--sf-a8); }
  .-xl\:bottom-a8 {
    bottom: calc(0rem - var(--sf-a8)); }
  .xl\:left-a8 {
    left: var(--sf-a8); }
  .-xl\:left-a8 {
    left: calc(0rem - var(--sf-a8)); }
  .xl\:top-a9 {
    top: var(--sf-a9); }
  .-xl\:top-a9 {
    top: calc(0rem - var(--sf-a9)); }
  .xl\:right-a9 {
    right: var(--sf-a9); }
  .-xl\:right-a9 {
    right: calc(0rem - var(--sf-a9)); }
  .xl\:bottom-a9 {
    bottom: var(--sf-a9); }
  .-xl\:bottom-a9 {
    bottom: calc(0rem - var(--sf-a9)); }
  .xl\:left-a9 {
    left: var(--sf-a9); }
  .-xl\:left-a9 {
    left: calc(0rem - var(--sf-a9)); }
  .xl\:top-b0 {
    top: var(--sf-b0); }
  .-xl\:top-b0 {
    top: calc(0rem - var(--sf-b0)); }
  .xl\:right-b0 {
    right: var(--sf-b0); }
  .-xl\:right-b0 {
    right: calc(0rem - var(--sf-b0)); }
  .xl\:bottom-b0 {
    bottom: var(--sf-b0); }
  .-xl\:bottom-b0 {
    bottom: calc(0rem - var(--sf-b0)); }
  .xl\:left-b0 {
    left: var(--sf-b0); }
  .-xl\:left-b0 {
    left: calc(0rem - var(--sf-b0)); }
  .xl\:top-b1 {
    top: var(--sf-b1); }
  .-xl\:top-b1 {
    top: calc(0rem - var(--sf-b1)); }
  .xl\:right-b1 {
    right: var(--sf-b1); }
  .-xl\:right-b1 {
    right: calc(0rem - var(--sf-b1)); }
  .xl\:bottom-b1 {
    bottom: var(--sf-b1); }
  .-xl\:bottom-b1 {
    bottom: calc(0rem - var(--sf-b1)); }
  .xl\:left-b1 {
    left: var(--sf-b1); }
  .-xl\:left-b1 {
    left: calc(0rem - var(--sf-b1)); }
  .xl\:top-b2 {
    top: var(--sf-b2); }
  .-xl\:top-b2 {
    top: calc(0rem - var(--sf-b2)); }
  .xl\:right-b2 {
    right: var(--sf-b2); }
  .-xl\:right-b2 {
    right: calc(0rem - var(--sf-b2)); }
  .xl\:bottom-b2 {
    bottom: var(--sf-b2); }
  .-xl\:bottom-b2 {
    bottom: calc(0rem - var(--sf-b2)); }
  .xl\:left-b2 {
    left: var(--sf-b2); }
  .-xl\:left-b2 {
    left: calc(0rem - var(--sf-b2)); }
  .xl\:top-b3 {
    top: var(--sf-b3); }
  .-xl\:top-b3 {
    top: calc(0rem - var(--sf-b3)); }
  .xl\:right-b3 {
    right: var(--sf-b3); }
  .-xl\:right-b3 {
    right: calc(0rem - var(--sf-b3)); }
  .xl\:bottom-b3 {
    bottom: var(--sf-b3); }
  .-xl\:bottom-b3 {
    bottom: calc(0rem - var(--sf-b3)); }
  .xl\:left-b3 {
    left: var(--sf-b3); }
  .-xl\:left-b3 {
    left: calc(0rem - var(--sf-b3)); }
  .xl\:top-b4 {
    top: var(--sf-b4); }
  .-xl\:top-b4 {
    top: calc(0rem - var(--sf-b4)); }
  .xl\:right-b4 {
    right: var(--sf-b4); }
  .-xl\:right-b4 {
    right: calc(0rem - var(--sf-b4)); }
  .xl\:bottom-b4 {
    bottom: var(--sf-b4); }
  .-xl\:bottom-b4 {
    bottom: calc(0rem - var(--sf-b4)); }
  .xl\:left-b4 {
    left: var(--sf-b4); }
  .-xl\:left-b4 {
    left: calc(0rem - var(--sf-b4)); }
  .xl\:top-b5 {
    top: var(--sf-b5); }
  .-xl\:top-b5 {
    top: calc(0rem - var(--sf-b5)); }
  .xl\:right-b5 {
    right: var(--sf-b5); }
  .-xl\:right-b5 {
    right: calc(0rem - var(--sf-b5)); }
  .xl\:bottom-b5 {
    bottom: var(--sf-b5); }
  .-xl\:bottom-b5 {
    bottom: calc(0rem - var(--sf-b5)); }
  .xl\:left-b5 {
    left: var(--sf-b5); }
  .-xl\:left-b5 {
    left: calc(0rem - var(--sf-b5)); }
  .xl\:top-b6 {
    top: var(--sf-b6); }
  .-xl\:top-b6 {
    top: calc(0rem - var(--sf-b6)); }
  .xl\:right-b6 {
    right: var(--sf-b6); }
  .-xl\:right-b6 {
    right: calc(0rem - var(--sf-b6)); }
  .xl\:bottom-b6 {
    bottom: var(--sf-b6); }
  .-xl\:bottom-b6 {
    bottom: calc(0rem - var(--sf-b6)); }
  .xl\:left-b6 {
    left: var(--sf-b6); }
  .-xl\:left-b6 {
    left: calc(0rem - var(--sf-b6)); }
  .xl\:top-b7 {
    top: var(--sf-b7); }
  .-xl\:top-b7 {
    top: calc(0rem - var(--sf-b7)); }
  .xl\:right-b7 {
    right: var(--sf-b7); }
  .-xl\:right-b7 {
    right: calc(0rem - var(--sf-b7)); }
  .xl\:bottom-b7 {
    bottom: var(--sf-b7); }
  .-xl\:bottom-b7 {
    bottom: calc(0rem - var(--sf-b7)); }
  .xl\:left-b7 {
    left: var(--sf-b7); }
  .-xl\:left-b7 {
    left: calc(0rem - var(--sf-b7)); }
  .xl\:top-b8 {
    top: var(--sf-b8); }
  .-xl\:top-b8 {
    top: calc(0rem - var(--sf-b8)); }
  .xl\:right-b8 {
    right: var(--sf-b8); }
  .-xl\:right-b8 {
    right: calc(0rem - var(--sf-b8)); }
  .xl\:bottom-b8 {
    bottom: var(--sf-b8); }
  .-xl\:bottom-b8 {
    bottom: calc(0rem - var(--sf-b8)); }
  .xl\:left-b8 {
    left: var(--sf-b8); }
  .-xl\:left-b8 {
    left: calc(0rem - var(--sf-b8)); }
  .xl\:top-b9 {
    top: var(--sf-b9); }
  .-xl\:top-b9 {
    top: calc(0rem - var(--sf-b9)); }
  .xl\:right-b9 {
    right: var(--sf-b9); }
  .-xl\:right-b9 {
    right: calc(0rem - var(--sf-b9)); }
  .xl\:bottom-b9 {
    bottom: var(--sf-b9); }
  .-xl\:bottom-b9 {
    bottom: calc(0rem - var(--sf-b9)); }
  .xl\:left-b9 {
    left: var(--sf-b9); }
  .-xl\:left-b9 {
    left: calc(0rem - var(--sf-b9)); }
  .xl\:top-c0 {
    top: var(--sf-c0); }
  .-xl\:top-c0 {
    top: calc(0rem - var(--sf-c0)); }
  .xl\:right-c0 {
    right: var(--sf-c0); }
  .-xl\:right-c0 {
    right: calc(0rem - var(--sf-c0)); }
  .xl\:bottom-c0 {
    bottom: var(--sf-c0); }
  .-xl\:bottom-c0 {
    bottom: calc(0rem - var(--sf-c0)); }
  .xl\:left-c0 {
    left: var(--sf-c0); }
  .-xl\:left-c0 {
    left: calc(0rem - var(--sf-c0)); }
  .xl\:top-c1 {
    top: var(--sf-c1); }
  .-xl\:top-c1 {
    top: calc(0rem - var(--sf-c1)); }
  .xl\:right-c1 {
    right: var(--sf-c1); }
  .-xl\:right-c1 {
    right: calc(0rem - var(--sf-c1)); }
  .xl\:bottom-c1 {
    bottom: var(--sf-c1); }
  .-xl\:bottom-c1 {
    bottom: calc(0rem - var(--sf-c1)); }
  .xl\:left-c1 {
    left: var(--sf-c1); }
  .-xl\:left-c1 {
    left: calc(0rem - var(--sf-c1)); }
  .xl\:top-c2 {
    top: var(--sf-c2); }
  .-xl\:top-c2 {
    top: calc(0rem - var(--sf-c2)); }
  .xl\:right-c2 {
    right: var(--sf-c2); }
  .-xl\:right-c2 {
    right: calc(0rem - var(--sf-c2)); }
  .xl\:bottom-c2 {
    bottom: var(--sf-c2); }
  .-xl\:bottom-c2 {
    bottom: calc(0rem - var(--sf-c2)); }
  .xl\:left-c2 {
    left: var(--sf-c2); }
  .-xl\:left-c2 {
    left: calc(0rem - var(--sf-c2)); }
  .xl\:top-c3 {
    top: var(--sf-c3); }
  .-xl\:top-c3 {
    top: calc(0rem - var(--sf-c3)); }
  .xl\:right-c3 {
    right: var(--sf-c3); }
  .-xl\:right-c3 {
    right: calc(0rem - var(--sf-c3)); }
  .xl\:bottom-c3 {
    bottom: var(--sf-c3); }
  .-xl\:bottom-c3 {
    bottom: calc(0rem - var(--sf-c3)); }
  .xl\:left-c3 {
    left: var(--sf-c3); }
  .-xl\:left-c3 {
    left: calc(0rem - var(--sf-c3)); }
  .xl\:top-c4 {
    top: var(--sf-c4); }
  .-xl\:top-c4 {
    top: calc(0rem - var(--sf-c4)); }
  .xl\:right-c4 {
    right: var(--sf-c4); }
  .-xl\:right-c4 {
    right: calc(0rem - var(--sf-c4)); }
  .xl\:bottom-c4 {
    bottom: var(--sf-c4); }
  .-xl\:bottom-c4 {
    bottom: calc(0rem - var(--sf-c4)); }
  .xl\:left-c4 {
    left: var(--sf-c4); }
  .-xl\:left-c4 {
    left: calc(0rem - var(--sf-c4)); }
  .xl\:top-c5 {
    top: var(--sf-c5); }
  .-xl\:top-c5 {
    top: calc(0rem - var(--sf-c5)); }
  .xl\:right-c5 {
    right: var(--sf-c5); }
  .-xl\:right-c5 {
    right: calc(0rem - var(--sf-c5)); }
  .xl\:bottom-c5 {
    bottom: var(--sf-c5); }
  .-xl\:bottom-c5 {
    bottom: calc(0rem - var(--sf-c5)); }
  .xl\:left-c5 {
    left: var(--sf-c5); }
  .-xl\:left-c5 {
    left: calc(0rem - var(--sf-c5)); }
  .xl\:top-c6 {
    top: var(--sf-c6); }
  .-xl\:top-c6 {
    top: calc(0rem - var(--sf-c6)); }
  .xl\:right-c6 {
    right: var(--sf-c6); }
  .-xl\:right-c6 {
    right: calc(0rem - var(--sf-c6)); }
  .xl\:bottom-c6 {
    bottom: var(--sf-c6); }
  .-xl\:bottom-c6 {
    bottom: calc(0rem - var(--sf-c6)); }
  .xl\:left-c6 {
    left: var(--sf-c6); }
  .-xl\:left-c6 {
    left: calc(0rem - var(--sf-c6)); }
  .xl\:top-c7 {
    top: var(--sf-c7); }
  .-xl\:top-c7 {
    top: calc(0rem - var(--sf-c7)); }
  .xl\:right-c7 {
    right: var(--sf-c7); }
  .-xl\:right-c7 {
    right: calc(0rem - var(--sf-c7)); }
  .xl\:bottom-c7 {
    bottom: var(--sf-c7); }
  .-xl\:bottom-c7 {
    bottom: calc(0rem - var(--sf-c7)); }
  .xl\:left-c7 {
    left: var(--sf-c7); }
  .-xl\:left-c7 {
    left: calc(0rem - var(--sf-c7)); }
  .xl\:top-c8 {
    top: var(--sf-c8); }
  .-xl\:top-c8 {
    top: calc(0rem - var(--sf-c8)); }
  .xl\:right-c8 {
    right: var(--sf-c8); }
  .-xl\:right-c8 {
    right: calc(0rem - var(--sf-c8)); }
  .xl\:bottom-c8 {
    bottom: var(--sf-c8); }
  .-xl\:bottom-c8 {
    bottom: calc(0rem - var(--sf-c8)); }
  .xl\:left-c8 {
    left: var(--sf-c8); }
  .-xl\:left-c8 {
    left: calc(0rem - var(--sf-c8)); }
  .xl\:top-c9 {
    top: var(--sf-c9); }
  .-xl\:top-c9 {
    top: calc(0rem - var(--sf-c9)); }
  .xl\:right-c9 {
    right: var(--sf-c9); }
  .-xl\:right-c9 {
    right: calc(0rem - var(--sf-c9)); }
  .xl\:bottom-c9 {
    bottom: var(--sf-c9); }
  .-xl\:bottom-c9 {
    bottom: calc(0rem - var(--sf-c9)); }
  .xl\:left-c9 {
    left: var(--sf-c9); }
  .-xl\:left-c9 {
    left: calc(0rem - var(--sf-c9)); }
  .xl\:top-d0 {
    top: var(--sf-d0); }
  .-xl\:top-d0 {
    top: calc(0rem - var(--sf-d0)); }
  .xl\:right-d0 {
    right: var(--sf-d0); }
  .-xl\:right-d0 {
    right: calc(0rem - var(--sf-d0)); }
  .xl\:bottom-d0 {
    bottom: var(--sf-d0); }
  .-xl\:bottom-d0 {
    bottom: calc(0rem - var(--sf-d0)); }
  .xl\:left-d0 {
    left: var(--sf-d0); }
  .-xl\:left-d0 {
    left: calc(0rem - var(--sf-d0)); }
  .xl\:top-d1 {
    top: var(--sf-d1); }
  .-xl\:top-d1 {
    top: calc(0rem - var(--sf-d1)); }
  .xl\:right-d1 {
    right: var(--sf-d1); }
  .-xl\:right-d1 {
    right: calc(0rem - var(--sf-d1)); }
  .xl\:bottom-d1 {
    bottom: var(--sf-d1); }
  .-xl\:bottom-d1 {
    bottom: calc(0rem - var(--sf-d1)); }
  .xl\:left-d1 {
    left: var(--sf-d1); }
  .-xl\:left-d1 {
    left: calc(0rem - var(--sf-d1)); }
  .xl\:top-d2 {
    top: var(--sf-d2); }
  .-xl\:top-d2 {
    top: calc(0rem - var(--sf-d2)); }
  .xl\:right-d2 {
    right: var(--sf-d2); }
  .-xl\:right-d2 {
    right: calc(0rem - var(--sf-d2)); }
  .xl\:bottom-d2 {
    bottom: var(--sf-d2); }
  .-xl\:bottom-d2 {
    bottom: calc(0rem - var(--sf-d2)); }
  .xl\:left-d2 {
    left: var(--sf-d2); }
  .-xl\:left-d2 {
    left: calc(0rem - var(--sf-d2)); }
  .xl\:top-d3 {
    top: var(--sf-d3); }
  .-xl\:top-d3 {
    top: calc(0rem - var(--sf-d3)); }
  .xl\:right-d3 {
    right: var(--sf-d3); }
  .-xl\:right-d3 {
    right: calc(0rem - var(--sf-d3)); }
  .xl\:bottom-d3 {
    bottom: var(--sf-d3); }
  .-xl\:bottom-d3 {
    bottom: calc(0rem - var(--sf-d3)); }
  .xl\:left-d3 {
    left: var(--sf-d3); }
  .-xl\:left-d3 {
    left: calc(0rem - var(--sf-d3)); }
  .xl\:top-d4 {
    top: var(--sf-d4); }
  .-xl\:top-d4 {
    top: calc(0rem - var(--sf-d4)); }
  .xl\:right-d4 {
    right: var(--sf-d4); }
  .-xl\:right-d4 {
    right: calc(0rem - var(--sf-d4)); }
  .xl\:bottom-d4 {
    bottom: var(--sf-d4); }
  .-xl\:bottom-d4 {
    bottom: calc(0rem - var(--sf-d4)); }
  .xl\:left-d4 {
    left: var(--sf-d4); }
  .-xl\:left-d4 {
    left: calc(0rem - var(--sf-d4)); }
  .xl\:top-d5 {
    top: var(--sf-d5); }
  .-xl\:top-d5 {
    top: calc(0rem - var(--sf-d5)); }
  .xl\:right-d5 {
    right: var(--sf-d5); }
  .-xl\:right-d5 {
    right: calc(0rem - var(--sf-d5)); }
  .xl\:bottom-d5 {
    bottom: var(--sf-d5); }
  .-xl\:bottom-d5 {
    bottom: calc(0rem - var(--sf-d5)); }
  .xl\:left-d5 {
    left: var(--sf-d5); }
  .-xl\:left-d5 {
    left: calc(0rem - var(--sf-d5)); }
  .xl\:top-d6 {
    top: var(--sf-d6); }
  .-xl\:top-d6 {
    top: calc(0rem - var(--sf-d6)); }
  .xl\:right-d6 {
    right: var(--sf-d6); }
  .-xl\:right-d6 {
    right: calc(0rem - var(--sf-d6)); }
  .xl\:bottom-d6 {
    bottom: var(--sf-d6); }
  .-xl\:bottom-d6 {
    bottom: calc(0rem - var(--sf-d6)); }
  .xl\:left-d6 {
    left: var(--sf-d6); }
  .-xl\:left-d6 {
    left: calc(0rem - var(--sf-d6)); }
  .xl\:top-d7 {
    top: var(--sf-d7); }
  .-xl\:top-d7 {
    top: calc(0rem - var(--sf-d7)); }
  .xl\:right-d7 {
    right: var(--sf-d7); }
  .-xl\:right-d7 {
    right: calc(0rem - var(--sf-d7)); }
  .xl\:bottom-d7 {
    bottom: var(--sf-d7); }
  .-xl\:bottom-d7 {
    bottom: calc(0rem - var(--sf-d7)); }
  .xl\:left-d7 {
    left: var(--sf-d7); }
  .-xl\:left-d7 {
    left: calc(0rem - var(--sf-d7)); }
  .xl\:top-d8 {
    top: var(--sf-d8); }
  .-xl\:top-d8 {
    top: calc(0rem - var(--sf-d8)); }
  .xl\:right-d8 {
    right: var(--sf-d8); }
  .-xl\:right-d8 {
    right: calc(0rem - var(--sf-d8)); }
  .xl\:bottom-d8 {
    bottom: var(--sf-d8); }
  .-xl\:bottom-d8 {
    bottom: calc(0rem - var(--sf-d8)); }
  .xl\:left-d8 {
    left: var(--sf-d8); }
  .-xl\:left-d8 {
    left: calc(0rem - var(--sf-d8)); }
  .xl\:top-d9 {
    top: var(--sf-d9); }
  .-xl\:top-d9 {
    top: calc(0rem - var(--sf-d9)); }
  .xl\:right-d9 {
    right: var(--sf-d9); }
  .-xl\:right-d9 {
    right: calc(0rem - var(--sf-d9)); }
  .xl\:bottom-d9 {
    bottom: var(--sf-d9); }
  .-xl\:bottom-d9 {
    bottom: calc(0rem - var(--sf-d9)); }
  .xl\:left-d9 {
    left: var(--sf-d9); }
  .-xl\:left-d9 {
    left: calc(0rem - var(--sf-d9)); }
  .xl\:top-e0 {
    top: var(--sf-e0); }
  .-xl\:top-e0 {
    top: calc(0rem - var(--sf-e0)); }
  .xl\:right-e0 {
    right: var(--sf-e0); }
  .-xl\:right-e0 {
    right: calc(0rem - var(--sf-e0)); }
  .xl\:bottom-e0 {
    bottom: var(--sf-e0); }
  .-xl\:bottom-e0 {
    bottom: calc(0rem - var(--sf-e0)); }
  .xl\:left-e0 {
    left: var(--sf-e0); }
  .-xl\:left-e0 {
    left: calc(0rem - var(--sf-e0)); }
  .xl\:top-e1 {
    top: var(--sf-e1); }
  .-xl\:top-e1 {
    top: calc(0rem - var(--sf-e1)); }
  .xl\:right-e1 {
    right: var(--sf-e1); }
  .-xl\:right-e1 {
    right: calc(0rem - var(--sf-e1)); }
  .xl\:bottom-e1 {
    bottom: var(--sf-e1); }
  .-xl\:bottom-e1 {
    bottom: calc(0rem - var(--sf-e1)); }
  .xl\:left-e1 {
    left: var(--sf-e1); }
  .-xl\:left-e1 {
    left: calc(0rem - var(--sf-e1)); }
  .xl\:top-e2 {
    top: var(--sf-e2); }
  .-xl\:top-e2 {
    top: calc(0rem - var(--sf-e2)); }
  .xl\:right-e2 {
    right: var(--sf-e2); }
  .-xl\:right-e2 {
    right: calc(0rem - var(--sf-e2)); }
  .xl\:bottom-e2 {
    bottom: var(--sf-e2); }
  .-xl\:bottom-e2 {
    bottom: calc(0rem - var(--sf-e2)); }
  .xl\:left-e2 {
    left: var(--sf-e2); }
  .-xl\:left-e2 {
    left: calc(0rem - var(--sf-e2)); }
  .xl\:top-e3 {
    top: var(--sf-e3); }
  .-xl\:top-e3 {
    top: calc(0rem - var(--sf-e3)); }
  .xl\:right-e3 {
    right: var(--sf-e3); }
  .-xl\:right-e3 {
    right: calc(0rem - var(--sf-e3)); }
  .xl\:bottom-e3 {
    bottom: var(--sf-e3); }
  .-xl\:bottom-e3 {
    bottom: calc(0rem - var(--sf-e3)); }
  .xl\:left-e3 {
    left: var(--sf-e3); }
  .-xl\:left-e3 {
    left: calc(0rem - var(--sf-e3)); }
  .xl\:top-e4 {
    top: var(--sf-e4); }
  .-xl\:top-e4 {
    top: calc(0rem - var(--sf-e4)); }
  .xl\:right-e4 {
    right: var(--sf-e4); }
  .-xl\:right-e4 {
    right: calc(0rem - var(--sf-e4)); }
  .xl\:bottom-e4 {
    bottom: var(--sf-e4); }
  .-xl\:bottom-e4 {
    bottom: calc(0rem - var(--sf-e4)); }
  .xl\:left-e4 {
    left: var(--sf-e4); }
  .-xl\:left-e4 {
    left: calc(0rem - var(--sf-e4)); }
  .xl\:top-e5 {
    top: var(--sf-e5); }
  .-xl\:top-e5 {
    top: calc(0rem - var(--sf-e5)); }
  .xl\:right-e5 {
    right: var(--sf-e5); }
  .-xl\:right-e5 {
    right: calc(0rem - var(--sf-e5)); }
  .xl\:bottom-e5 {
    bottom: var(--sf-e5); }
  .-xl\:bottom-e5 {
    bottom: calc(0rem - var(--sf-e5)); }
  .xl\:left-e5 {
    left: var(--sf-e5); }
  .-xl\:left-e5 {
    left: calc(0rem - var(--sf-e5)); }
  .xl\:top-e6 {
    top: var(--sf-e6); }
  .-xl\:top-e6 {
    top: calc(0rem - var(--sf-e6)); }
  .xl\:right-e6 {
    right: var(--sf-e6); }
  .-xl\:right-e6 {
    right: calc(0rem - var(--sf-e6)); }
  .xl\:bottom-e6 {
    bottom: var(--sf-e6); }
  .-xl\:bottom-e6 {
    bottom: calc(0rem - var(--sf-e6)); }
  .xl\:left-e6 {
    left: var(--sf-e6); }
  .-xl\:left-e6 {
    left: calc(0rem - var(--sf-e6)); }
  .xl\:top-e7 {
    top: var(--sf-e7); }
  .-xl\:top-e7 {
    top: calc(0rem - var(--sf-e7)); }
  .xl\:right-e7 {
    right: var(--sf-e7); }
  .-xl\:right-e7 {
    right: calc(0rem - var(--sf-e7)); }
  .xl\:bottom-e7 {
    bottom: var(--sf-e7); }
  .-xl\:bottom-e7 {
    bottom: calc(0rem - var(--sf-e7)); }
  .xl\:left-e7 {
    left: var(--sf-e7); }
  .-xl\:left-e7 {
    left: calc(0rem - var(--sf-e7)); }
  .xl\:top-e8 {
    top: var(--sf-e8); }
  .-xl\:top-e8 {
    top: calc(0rem - var(--sf-e8)); }
  .xl\:right-e8 {
    right: var(--sf-e8); }
  .-xl\:right-e8 {
    right: calc(0rem - var(--sf-e8)); }
  .xl\:bottom-e8 {
    bottom: var(--sf-e8); }
  .-xl\:bottom-e8 {
    bottom: calc(0rem - var(--sf-e8)); }
  .xl\:left-e8 {
    left: var(--sf-e8); }
  .-xl\:left-e8 {
    left: calc(0rem - var(--sf-e8)); }
  .xl\:top-e9 {
    top: var(--sf-e9); }
  .-xl\:top-e9 {
    top: calc(0rem - var(--sf-e9)); }
  .xl\:right-e9 {
    right: var(--sf-e9); }
  .-xl\:right-e9 {
    right: calc(0rem - var(--sf-e9)); }
  .xl\:bottom-e9 {
    bottom: var(--sf-e9); }
  .-xl\:bottom-e9 {
    bottom: calc(0rem - var(--sf-e9)); }
  .xl\:left-e9 {
    left: var(--sf-e9); }
  .-xl\:left-e9 {
    left: calc(0rem - var(--sf-e9)); }
  .xl\:top-f0 {
    top: var(--sf-f0); }
  .-xl\:top-f0 {
    top: calc(0rem - var(--sf-f0)); }
  .xl\:right-f0 {
    right: var(--sf-f0); }
  .-xl\:right-f0 {
    right: calc(0rem - var(--sf-f0)); }
  .xl\:bottom-f0 {
    bottom: var(--sf-f0); }
  .-xl\:bottom-f0 {
    bottom: calc(0rem - var(--sf-f0)); }
  .xl\:left-f0 {
    left: var(--sf-f0); }
  .-xl\:left-f0 {
    left: calc(0rem - var(--sf-f0)); }
  .xl\:top-f1 {
    top: var(--sf-f1); }
  .-xl\:top-f1 {
    top: calc(0rem - var(--sf-f1)); }
  .xl\:right-f1 {
    right: var(--sf-f1); }
  .-xl\:right-f1 {
    right: calc(0rem - var(--sf-f1)); }
  .xl\:bottom-f1 {
    bottom: var(--sf-f1); }
  .-xl\:bottom-f1 {
    bottom: calc(0rem - var(--sf-f1)); }
  .xl\:left-f1 {
    left: var(--sf-f1); }
  .-xl\:left-f1 {
    left: calc(0rem - var(--sf-f1)); }
  .xl\:top-f2 {
    top: var(--sf-f2); }
  .-xl\:top-f2 {
    top: calc(0rem - var(--sf-f2)); }
  .xl\:right-f2 {
    right: var(--sf-f2); }
  .-xl\:right-f2 {
    right: calc(0rem - var(--sf-f2)); }
  .xl\:bottom-f2 {
    bottom: var(--sf-f2); }
  .-xl\:bottom-f2 {
    bottom: calc(0rem - var(--sf-f2)); }
  .xl\:left-f2 {
    left: var(--sf-f2); }
  .-xl\:left-f2 {
    left: calc(0rem - var(--sf-f2)); }
  .xl\:top-f3 {
    top: var(--sf-f3); }
  .-xl\:top-f3 {
    top: calc(0rem - var(--sf-f3)); }
  .xl\:right-f3 {
    right: var(--sf-f3); }
  .-xl\:right-f3 {
    right: calc(0rem - var(--sf-f3)); }
  .xl\:bottom-f3 {
    bottom: var(--sf-f3); }
  .-xl\:bottom-f3 {
    bottom: calc(0rem - var(--sf-f3)); }
  .xl\:left-f3 {
    left: var(--sf-f3); }
  .-xl\:left-f3 {
    left: calc(0rem - var(--sf-f3)); }
  .xl\:top-f4 {
    top: var(--sf-f4); }
  .-xl\:top-f4 {
    top: calc(0rem - var(--sf-f4)); }
  .xl\:right-f4 {
    right: var(--sf-f4); }
  .-xl\:right-f4 {
    right: calc(0rem - var(--sf-f4)); }
  .xl\:bottom-f4 {
    bottom: var(--sf-f4); }
  .-xl\:bottom-f4 {
    bottom: calc(0rem - var(--sf-f4)); }
  .xl\:left-f4 {
    left: var(--sf-f4); }
  .-xl\:left-f4 {
    left: calc(0rem - var(--sf-f4)); }
  .xl\:top-f5 {
    top: var(--sf-f5); }
  .-xl\:top-f5 {
    top: calc(0rem - var(--sf-f5)); }
  .xl\:right-f5 {
    right: var(--sf-f5); }
  .-xl\:right-f5 {
    right: calc(0rem - var(--sf-f5)); }
  .xl\:bottom-f5 {
    bottom: var(--sf-f5); }
  .-xl\:bottom-f5 {
    bottom: calc(0rem - var(--sf-f5)); }
  .xl\:left-f5 {
    left: var(--sf-f5); }
  .-xl\:left-f5 {
    left: calc(0rem - var(--sf-f5)); }
  .xl\:top-f6 {
    top: var(--sf-f6); }
  .-xl\:top-f6 {
    top: calc(0rem - var(--sf-f6)); }
  .xl\:right-f6 {
    right: var(--sf-f6); }
  .-xl\:right-f6 {
    right: calc(0rem - var(--sf-f6)); }
  .xl\:bottom-f6 {
    bottom: var(--sf-f6); }
  .-xl\:bottom-f6 {
    bottom: calc(0rem - var(--sf-f6)); }
  .xl\:left-f6 {
    left: var(--sf-f6); }
  .-xl\:left-f6 {
    left: calc(0rem - var(--sf-f6)); }
  .xl\:top-f7 {
    top: var(--sf-f7); }
  .-xl\:top-f7 {
    top: calc(0rem - var(--sf-f7)); }
  .xl\:right-f7 {
    right: var(--sf-f7); }
  .-xl\:right-f7 {
    right: calc(0rem - var(--sf-f7)); }
  .xl\:bottom-f7 {
    bottom: var(--sf-f7); }
  .-xl\:bottom-f7 {
    bottom: calc(0rem - var(--sf-f7)); }
  .xl\:left-f7 {
    left: var(--sf-f7); }
  .-xl\:left-f7 {
    left: calc(0rem - var(--sf-f7)); }
  .xl\:top-f8 {
    top: var(--sf-f8); }
  .-xl\:top-f8 {
    top: calc(0rem - var(--sf-f8)); }
  .xl\:right-f8 {
    right: var(--sf-f8); }
  .-xl\:right-f8 {
    right: calc(0rem - var(--sf-f8)); }
  .xl\:bottom-f8 {
    bottom: var(--sf-f8); }
  .-xl\:bottom-f8 {
    bottom: calc(0rem - var(--sf-f8)); }
  .xl\:left-f8 {
    left: var(--sf-f8); }
  .-xl\:left-f8 {
    left: calc(0rem - var(--sf-f8)); }
  .xl\:top-f9 {
    top: var(--sf-f9); }
  .-xl\:top-f9 {
    top: calc(0rem - var(--sf-f9)); }
  .xl\:right-f9 {
    right: var(--sf-f9); }
  .-xl\:right-f9 {
    right: calc(0rem - var(--sf-f9)); }
  .xl\:bottom-f9 {
    bottom: var(--sf-f9); }
  .-xl\:bottom-f9 {
    bottom: calc(0rem - var(--sf-f9)); }
  .xl\:left-f9 {
    left: var(--sf-f9); }
  .-xl\:left-f9 {
    left: calc(0rem - var(--sf-f9)); }
  .xl\:top-g0 {
    top: var(--sf-g0); }
  .-xl\:top-g0 {
    top: calc(0rem - var(--sf-g0)); }
  .xl\:right-g0 {
    right: var(--sf-g0); }
  .-xl\:right-g0 {
    right: calc(0rem - var(--sf-g0)); }
  .xl\:bottom-g0 {
    bottom: var(--sf-g0); }
  .-xl\:bottom-g0 {
    bottom: calc(0rem - var(--sf-g0)); }
  .xl\:left-g0 {
    left: var(--sf-g0); }
  .-xl\:left-g0 {
    left: calc(0rem - var(--sf-g0)); }
  .xl\:top-g1 {
    top: var(--sf-g1); }
  .-xl\:top-g1 {
    top: calc(0rem - var(--sf-g1)); }
  .xl\:right-g1 {
    right: var(--sf-g1); }
  .-xl\:right-g1 {
    right: calc(0rem - var(--sf-g1)); }
  .xl\:bottom-g1 {
    bottom: var(--sf-g1); }
  .-xl\:bottom-g1 {
    bottom: calc(0rem - var(--sf-g1)); }
  .xl\:left-g1 {
    left: var(--sf-g1); }
  .-xl\:left-g1 {
    left: calc(0rem - var(--sf-g1)); }
  .xl\:top-g2 {
    top: var(--sf-g2); }
  .-xl\:top-g2 {
    top: calc(0rem - var(--sf-g2)); }
  .xl\:right-g2 {
    right: var(--sf-g2); }
  .-xl\:right-g2 {
    right: calc(0rem - var(--sf-g2)); }
  .xl\:bottom-g2 {
    bottom: var(--sf-g2); }
  .-xl\:bottom-g2 {
    bottom: calc(0rem - var(--sf-g2)); }
  .xl\:left-g2 {
    left: var(--sf-g2); }
  .-xl\:left-g2 {
    left: calc(0rem - var(--sf-g2)); }
  .xl\:top-g3 {
    top: var(--sf-g3); }
  .-xl\:top-g3 {
    top: calc(0rem - var(--sf-g3)); }
  .xl\:right-g3 {
    right: var(--sf-g3); }
  .-xl\:right-g3 {
    right: calc(0rem - var(--sf-g3)); }
  .xl\:bottom-g3 {
    bottom: var(--sf-g3); }
  .-xl\:bottom-g3 {
    bottom: calc(0rem - var(--sf-g3)); }
  .xl\:left-g3 {
    left: var(--sf-g3); }
  .-xl\:left-g3 {
    left: calc(0rem - var(--sf-g3)); }
  .xl\:top-g4 {
    top: var(--sf-g4); }
  .-xl\:top-g4 {
    top: calc(0rem - var(--sf-g4)); }
  .xl\:right-g4 {
    right: var(--sf-g4); }
  .-xl\:right-g4 {
    right: calc(0rem - var(--sf-g4)); }
  .xl\:bottom-g4 {
    bottom: var(--sf-g4); }
  .-xl\:bottom-g4 {
    bottom: calc(0rem - var(--sf-g4)); }
  .xl\:left-g4 {
    left: var(--sf-g4); }
  .-xl\:left-g4 {
    left: calc(0rem - var(--sf-g4)); }
  .xl\:top-g5 {
    top: var(--sf-g5); }
  .-xl\:top-g5 {
    top: calc(0rem - var(--sf-g5)); }
  .xl\:right-g5 {
    right: var(--sf-g5); }
  .-xl\:right-g5 {
    right: calc(0rem - var(--sf-g5)); }
  .xl\:bottom-g5 {
    bottom: var(--sf-g5); }
  .-xl\:bottom-g5 {
    bottom: calc(0rem - var(--sf-g5)); }
  .xl\:left-g5 {
    left: var(--sf-g5); }
  .-xl\:left-g5 {
    left: calc(0rem - var(--sf-g5)); }
  .xl\:top-g6 {
    top: var(--sf-g6); }
  .-xl\:top-g6 {
    top: calc(0rem - var(--sf-g6)); }
  .xl\:right-g6 {
    right: var(--sf-g6); }
  .-xl\:right-g6 {
    right: calc(0rem - var(--sf-g6)); }
  .xl\:bottom-g6 {
    bottom: var(--sf-g6); }
  .-xl\:bottom-g6 {
    bottom: calc(0rem - var(--sf-g6)); }
  .xl\:left-g6 {
    left: var(--sf-g6); }
  .-xl\:left-g6 {
    left: calc(0rem - var(--sf-g6)); }
  .xl\:top-g7 {
    top: var(--sf-g7); }
  .-xl\:top-g7 {
    top: calc(0rem - var(--sf-g7)); }
  .xl\:right-g7 {
    right: var(--sf-g7); }
  .-xl\:right-g7 {
    right: calc(0rem - var(--sf-g7)); }
  .xl\:bottom-g7 {
    bottom: var(--sf-g7); }
  .-xl\:bottom-g7 {
    bottom: calc(0rem - var(--sf-g7)); }
  .xl\:left-g7 {
    left: var(--sf-g7); }
  .-xl\:left-g7 {
    left: calc(0rem - var(--sf-g7)); }
  .xl\:top-g8 {
    top: var(--sf-g8); }
  .-xl\:top-g8 {
    top: calc(0rem - var(--sf-g8)); }
  .xl\:right-g8 {
    right: var(--sf-g8); }
  .-xl\:right-g8 {
    right: calc(0rem - var(--sf-g8)); }
  .xl\:bottom-g8 {
    bottom: var(--sf-g8); }
  .-xl\:bottom-g8 {
    bottom: calc(0rem - var(--sf-g8)); }
  .xl\:left-g8 {
    left: var(--sf-g8); }
  .-xl\:left-g8 {
    left: calc(0rem - var(--sf-g8)); }
  .xl\:top-g9 {
    top: var(--sf-g9); }
  .-xl\:top-g9 {
    top: calc(0rem - var(--sf-g9)); }
  .xl\:right-g9 {
    right: var(--sf-g9); }
  .-xl\:right-g9 {
    right: calc(0rem - var(--sf-g9)); }
  .xl\:bottom-g9 {
    bottom: var(--sf-g9); }
  .-xl\:bottom-g9 {
    bottom: calc(0rem - var(--sf-g9)); }
  .xl\:left-g9 {
    left: var(--sf-g9); }
  .-xl\:left-g9 {
    left: calc(0rem - var(--sf-g9)); }
  .xl\:top-h0 {
    top: var(--sf-h0); }
  .-xl\:top-h0 {
    top: calc(0rem - var(--sf-h0)); }
  .xl\:right-h0 {
    right: var(--sf-h0); }
  .-xl\:right-h0 {
    right: calc(0rem - var(--sf-h0)); }
  .xl\:bottom-h0 {
    bottom: var(--sf-h0); }
  .-xl\:bottom-h0 {
    bottom: calc(0rem - var(--sf-h0)); }
  .xl\:left-h0 {
    left: var(--sf-h0); }
  .-xl\:left-h0 {
    left: calc(0rem - var(--sf-h0)); }
  .xl\:top-h1 {
    top: var(--sf-h1); }
  .-xl\:top-h1 {
    top: calc(0rem - var(--sf-h1)); }
  .xl\:right-h1 {
    right: var(--sf-h1); }
  .-xl\:right-h1 {
    right: calc(0rem - var(--sf-h1)); }
  .xl\:bottom-h1 {
    bottom: var(--sf-h1); }
  .-xl\:bottom-h1 {
    bottom: calc(0rem - var(--sf-h1)); }
  .xl\:left-h1 {
    left: var(--sf-h1); }
  .-xl\:left-h1 {
    left: calc(0rem - var(--sf-h1)); }
  .xl\:top-h2 {
    top: var(--sf-h2); }
  .-xl\:top-h2 {
    top: calc(0rem - var(--sf-h2)); }
  .xl\:right-h2 {
    right: var(--sf-h2); }
  .-xl\:right-h2 {
    right: calc(0rem - var(--sf-h2)); }
  .xl\:bottom-h2 {
    bottom: var(--sf-h2); }
  .-xl\:bottom-h2 {
    bottom: calc(0rem - var(--sf-h2)); }
  .xl\:left-h2 {
    left: var(--sf-h2); }
  .-xl\:left-h2 {
    left: calc(0rem - var(--sf-h2)); }
  .xl\:top-h3 {
    top: var(--sf-h3); }
  .-xl\:top-h3 {
    top: calc(0rem - var(--sf-h3)); }
  .xl\:right-h3 {
    right: var(--sf-h3); }
  .-xl\:right-h3 {
    right: calc(0rem - var(--sf-h3)); }
  .xl\:bottom-h3 {
    bottom: var(--sf-h3); }
  .-xl\:bottom-h3 {
    bottom: calc(0rem - var(--sf-h3)); }
  .xl\:left-h3 {
    left: var(--sf-h3); }
  .-xl\:left-h3 {
    left: calc(0rem - var(--sf-h3)); }
  .xl\:top-h4 {
    top: var(--sf-h4); }
  .-xl\:top-h4 {
    top: calc(0rem - var(--sf-h4)); }
  .xl\:right-h4 {
    right: var(--sf-h4); }
  .-xl\:right-h4 {
    right: calc(0rem - var(--sf-h4)); }
  .xl\:bottom-h4 {
    bottom: var(--sf-h4); }
  .-xl\:bottom-h4 {
    bottom: calc(0rem - var(--sf-h4)); }
  .xl\:left-h4 {
    left: var(--sf-h4); }
  .-xl\:left-h4 {
    left: calc(0rem - var(--sf-h4)); }
  .xl\:top-h5 {
    top: var(--sf-h5); }
  .-xl\:top-h5 {
    top: calc(0rem - var(--sf-h5)); }
  .xl\:right-h5 {
    right: var(--sf-h5); }
  .-xl\:right-h5 {
    right: calc(0rem - var(--sf-h5)); }
  .xl\:bottom-h5 {
    bottom: var(--sf-h5); }
  .-xl\:bottom-h5 {
    bottom: calc(0rem - var(--sf-h5)); }
  .xl\:left-h5 {
    left: var(--sf-h5); }
  .-xl\:left-h5 {
    left: calc(0rem - var(--sf-h5)); }
  .xl\:top-h6 {
    top: var(--sf-h6); }
  .-xl\:top-h6 {
    top: calc(0rem - var(--sf-h6)); }
  .xl\:right-h6 {
    right: var(--sf-h6); }
  .-xl\:right-h6 {
    right: calc(0rem - var(--sf-h6)); }
  .xl\:bottom-h6 {
    bottom: var(--sf-h6); }
  .-xl\:bottom-h6 {
    bottom: calc(0rem - var(--sf-h6)); }
  .xl\:left-h6 {
    left: var(--sf-h6); }
  .-xl\:left-h6 {
    left: calc(0rem - var(--sf-h6)); }
  .xl\:top-h7 {
    top: var(--sf-h7); }
  .-xl\:top-h7 {
    top: calc(0rem - var(--sf-h7)); }
  .xl\:right-h7 {
    right: var(--sf-h7); }
  .-xl\:right-h7 {
    right: calc(0rem - var(--sf-h7)); }
  .xl\:bottom-h7 {
    bottom: var(--sf-h7); }
  .-xl\:bottom-h7 {
    bottom: calc(0rem - var(--sf-h7)); }
  .xl\:left-h7 {
    left: var(--sf-h7); }
  .-xl\:left-h7 {
    left: calc(0rem - var(--sf-h7)); }
  .xl\:top-h8 {
    top: var(--sf-h8); }
  .-xl\:top-h8 {
    top: calc(0rem - var(--sf-h8)); }
  .xl\:right-h8 {
    right: var(--sf-h8); }
  .-xl\:right-h8 {
    right: calc(0rem - var(--sf-h8)); }
  .xl\:bottom-h8 {
    bottom: var(--sf-h8); }
  .-xl\:bottom-h8 {
    bottom: calc(0rem - var(--sf-h8)); }
  .xl\:left-h8 {
    left: var(--sf-h8); }
  .-xl\:left-h8 {
    left: calc(0rem - var(--sf-h8)); }
  .xl\:top-h9 {
    top: var(--sf-h9); }
  .-xl\:top-h9 {
    top: calc(0rem - var(--sf-h9)); }
  .xl\:right-h9 {
    right: var(--sf-h9); }
  .-xl\:right-h9 {
    right: calc(0rem - var(--sf-h9)); }
  .xl\:bottom-h9 {
    bottom: var(--sf-h9); }
  .-xl\:bottom-h9 {
    bottom: calc(0rem - var(--sf-h9)); }
  .xl\:left-h9 {
    left: var(--sf-h9); }
  .-xl\:left-h9 {
    left: calc(0rem - var(--sf-h9)); }
  .xl\:top-i0 {
    top: var(--sf-i0); }
  .-xl\:top-i0 {
    top: calc(0rem - var(--sf-i0)); }
  .xl\:right-i0 {
    right: var(--sf-i0); }
  .-xl\:right-i0 {
    right: calc(0rem - var(--sf-i0)); }
  .xl\:bottom-i0 {
    bottom: var(--sf-i0); }
  .-xl\:bottom-i0 {
    bottom: calc(0rem - var(--sf-i0)); }
  .xl\:left-i0 {
    left: var(--sf-i0); }
  .-xl\:left-i0 {
    left: calc(0rem - var(--sf-i0)); }
  .xl\:top-i1 {
    top: var(--sf-i1); }
  .-xl\:top-i1 {
    top: calc(0rem - var(--sf-i1)); }
  .xl\:right-i1 {
    right: var(--sf-i1); }
  .-xl\:right-i1 {
    right: calc(0rem - var(--sf-i1)); }
  .xl\:bottom-i1 {
    bottom: var(--sf-i1); }
  .-xl\:bottom-i1 {
    bottom: calc(0rem - var(--sf-i1)); }
  .xl\:left-i1 {
    left: var(--sf-i1); }
  .-xl\:left-i1 {
    left: calc(0rem - var(--sf-i1)); }
  .xl\:top-i2 {
    top: var(--sf-i2); }
  .-xl\:top-i2 {
    top: calc(0rem - var(--sf-i2)); }
  .xl\:right-i2 {
    right: var(--sf-i2); }
  .-xl\:right-i2 {
    right: calc(0rem - var(--sf-i2)); }
  .xl\:bottom-i2 {
    bottom: var(--sf-i2); }
  .-xl\:bottom-i2 {
    bottom: calc(0rem - var(--sf-i2)); }
  .xl\:left-i2 {
    left: var(--sf-i2); }
  .-xl\:left-i2 {
    left: calc(0rem - var(--sf-i2)); }
  .xl\:top-i3 {
    top: var(--sf-i3); }
  .-xl\:top-i3 {
    top: calc(0rem - var(--sf-i3)); }
  .xl\:right-i3 {
    right: var(--sf-i3); }
  .-xl\:right-i3 {
    right: calc(0rem - var(--sf-i3)); }
  .xl\:bottom-i3 {
    bottom: var(--sf-i3); }
  .-xl\:bottom-i3 {
    bottom: calc(0rem - var(--sf-i3)); }
  .xl\:left-i3 {
    left: var(--sf-i3); }
  .-xl\:left-i3 {
    left: calc(0rem - var(--sf-i3)); }
  .xl\:top-i4 {
    top: var(--sf-i4); }
  .-xl\:top-i4 {
    top: calc(0rem - var(--sf-i4)); }
  .xl\:right-i4 {
    right: var(--sf-i4); }
  .-xl\:right-i4 {
    right: calc(0rem - var(--sf-i4)); }
  .xl\:bottom-i4 {
    bottom: var(--sf-i4); }
  .-xl\:bottom-i4 {
    bottom: calc(0rem - var(--sf-i4)); }
  .xl\:left-i4 {
    left: var(--sf-i4); }
  .-xl\:left-i4 {
    left: calc(0rem - var(--sf-i4)); }
  .xl\:top-i5 {
    top: var(--sf-i5); }
  .-xl\:top-i5 {
    top: calc(0rem - var(--sf-i5)); }
  .xl\:right-i5 {
    right: var(--sf-i5); }
  .-xl\:right-i5 {
    right: calc(0rem - var(--sf-i5)); }
  .xl\:bottom-i5 {
    bottom: var(--sf-i5); }
  .-xl\:bottom-i5 {
    bottom: calc(0rem - var(--sf-i5)); }
  .xl\:left-i5 {
    left: var(--sf-i5); }
  .-xl\:left-i5 {
    left: calc(0rem - var(--sf-i5)); }
  .xl\:top-i6 {
    top: var(--sf-i6); }
  .-xl\:top-i6 {
    top: calc(0rem - var(--sf-i6)); }
  .xl\:right-i6 {
    right: var(--sf-i6); }
  .-xl\:right-i6 {
    right: calc(0rem - var(--sf-i6)); }
  .xl\:bottom-i6 {
    bottom: var(--sf-i6); }
  .-xl\:bottom-i6 {
    bottom: calc(0rem - var(--sf-i6)); }
  .xl\:left-i6 {
    left: var(--sf-i6); }
  .-xl\:left-i6 {
    left: calc(0rem - var(--sf-i6)); }
  .xl\:top-i7 {
    top: var(--sf-i7); }
  .-xl\:top-i7 {
    top: calc(0rem - var(--sf-i7)); }
  .xl\:right-i7 {
    right: var(--sf-i7); }
  .-xl\:right-i7 {
    right: calc(0rem - var(--sf-i7)); }
  .xl\:bottom-i7 {
    bottom: var(--sf-i7); }
  .-xl\:bottom-i7 {
    bottom: calc(0rem - var(--sf-i7)); }
  .xl\:left-i7 {
    left: var(--sf-i7); }
  .-xl\:left-i7 {
    left: calc(0rem - var(--sf-i7)); }
  .xl\:top-i8 {
    top: var(--sf-i8); }
  .-xl\:top-i8 {
    top: calc(0rem - var(--sf-i8)); }
  .xl\:right-i8 {
    right: var(--sf-i8); }
  .-xl\:right-i8 {
    right: calc(0rem - var(--sf-i8)); }
  .xl\:bottom-i8 {
    bottom: var(--sf-i8); }
  .-xl\:bottom-i8 {
    bottom: calc(0rem - var(--sf-i8)); }
  .xl\:left-i8 {
    left: var(--sf-i8); }
  .-xl\:left-i8 {
    left: calc(0rem - var(--sf-i8)); }
  .xl\:top-i9 {
    top: var(--sf-i9); }
  .-xl\:top-i9 {
    top: calc(0rem - var(--sf-i9)); }
  .xl\:right-i9 {
    right: var(--sf-i9); }
  .-xl\:right-i9 {
    right: calc(0rem - var(--sf-i9)); }
  .xl\:bottom-i9 {
    bottom: var(--sf-i9); }
  .-xl\:bottom-i9 {
    bottom: calc(0rem - var(--sf-i9)); }
  .xl\:left-i9 {
    left: var(--sf-i9); }
  .-xl\:left-i9 {
    left: calc(0rem - var(--sf-i9)); } }

