.stroke-transparent {
  stroke: var(--sf-transparent); }

.stroke-current {
  stroke: var(--sf-current); }

.stroke {
  stroke: var(--sf-outline-variant); }

.stroke-outline {
  stroke: var(--sf-outline); }

.stroke-outline-variant {
  stroke: var(--sf-outline-variant); }

.stroke-primary {
  stroke: var(--sf-outline-primary); }

.stroke-secondary {
  stroke: var(--sf-outline-secondary); }

.stroke-tertiary {
  stroke: var(--sf-outline-tertiary); }

.stroke-error {
  stroke: var(--sf-outline-error); }

.stroke-warning {
  stroke: var(--sf-outline-cation); }

.stroke-success {
  stroke: var(--sf-outline-success); }

