// SIMAI Framework
// https://simai.io

// SVG SIZE

$infix: sm;

// @include layer-priority(utility,$infix) {
	@include breakpoint-media($infix) {
		$infix: breakpoint-infix($infix, $breakpoint-array);

		@each $svg-size in $svg-size-array {
			.#{$infix}svg-#{$svg-size} {
				width: var(--sf-text--size-#{$svg-size});
				height: var(--sf-text--size-#{$svg-size});
				line-height: var(--sf-text--height-#{$svg-size});
			}
		}
	}
// }