@media (min-width: 1140px) {
  .xl\:break-after-auto {
    break-after: auto; }
  .xl\:break-after-avoid {
    break-after: avoid; }
  .xl\:break-after-all {
    break-after: all; }
  .xl\:break-after-avoid-page {
    break-after: avoid-page; }
  .xl\:break-after-page {
    break-after: page; }
  .xl\:break-after-left {
    break-after: left; }
  .xl\:break-after-right {
    break-after: right; }
  .xl\:break-after-column {
    break-after: column; } }

