// SIMAI Framework
// https://simai.io

// SIZE

// @include layer-priority(utility,lg) {
    @include breakpoint-media(lg) {
        $infix: breakpoint-infix(lg, $breakpoint-array);

        // Max Width Utilities
        @each $with-name, $with-value in $with-max-array {
            .#{$infix}max-w-#{$with-name}{
                max-width: #{$with-value}
            }
        }

        // Fixed Max Width: Use Breakpoints Utilities
        @each $breakpoint-name, $breakpoint-value in $breakpoint-array {
            @if $breakpoint-value != 0 {
                .#{$infix}max-w-#{$breakpoint-name} {
                    max-width: #{$breakpoint-value};
                }
            }
        }
    }
// }