// SIMAI Framework
// https://simai.io

// PATTERN

$infix: sm;

// @include layer-priority(utility,$infix) {
    @include breakpoint-media($infix) {
        $infix: breakpoint-infix($infix, $breakpoint-array);

        @each $pattern_number, $pattern_value in $background-pattern-array {
            .#{$infix}pattern-#{$pattern_number} {
                background: $pattern_value;
            }
        }
    }
// }